

<p>{{#t}}p1{{/t}}</p>

<ul>
  <li class="post">{{#t}}ex1{{/t}}</li>
  <li class="announcement">{{#t}}ex2{{/t}}</li>
  <li class="event">{{#t}}ex3{{/t}}</li>
  <li class="group">{{#t}}ex4{{/t}}</li>
</ul>

<p>{{#t}}p2{{/t}}</p>

<a class="end-tour">Get started!</a>
