{{#isEmpty}}
  <p class="wire-empty-message">{{emptyMessage}}</p>
{{/isEmpty}}
{{^isEmpty}}
  <ul class="wire-list">
  </ul>
{{/isEmpty}}
{{^allFetched}}
  <a class="more" href="{{fullWireLink}}">More</a>
{{/allFetched}}