<ul class="wire-list"></ul>
{{#isEmpty}}
  <p class="wire-empty-message">{{emptyMessage}}</p>
{{/isEmpty}}
{{#areMore}}
  <div class="end">
    <div class="loading">Loading more...</div>
  </div>
{{/areMore}}
