= include_javascripts :application
= javascript_include_tag "https://connect.facebook.net/en_US/all.js#xfbml=1"

= link_to(image_tag("https://www.ourcommonplace.com/images/join-commonplace.png"),"https://www.ourcommonplace.com/", :target => "_top", :id => "join")
#fb-root
