%li.business{"data-info" => render("businesses/business_info_box", :business => business), 'data-marker' => '{"info_html": "-71!!!", "lat": 40, "lng": -71}'}
  /= image_tag business.avatar.url, :width => 60, :height => 60
  %p #{business.name}