- content_tag(:li, :class => "business", "data-info" => render("businesses/business_info_box", :business => business), "data-marker" => business.lat && "{\"info_html\": \"#{business.name}\", \"lat\": \"#{business.lat}\", \"lng\": \"#{business.lng}\"}") do
  /= image_tag business.avatar.url, :width => 60, :height => 60
  %p #{business.name}