body.account
  margin: 0

  #main
    width: 800px
    margin: 0 auto
    position: relative

  #delete-account-form
    
    p 
      width: 600px
      padding: 20px
      margin: 20px
    .controls
      margin-bottom: 20px

        
  #account-edit
    margin-top: 50px
    margin-bottom: 70px
    height: 830px
    
    h1
      margin: 5px auto 20px

    .settings
      width: 219px
      float: right
      
      
      > li
        margin: 7px
        margin-bottom: 15px
        margin-top: 15px
          
      .get-posts
        margin-top: 10px
        li
          margin-bottom: 8px
          input 
            margin: 0
            width: 12px
            margin-right: 10px
      
      .avatar
        display: block
    
        img
          display: block
          margin: auto
    
        .avatar-controls 
          margin: 15px auto
    
          a 
    .password-redundant
      display: none
      
    .profile
      width: 460px
      
      label, input.normal, textarea
        margin: 10px
        height: 18px
        clear: both

      input.normal, textarea 
        width: 100%
        float: none !important
         
      textarea 
        height: 40px

      .list
        display: block
        width: 100%
        
      .chzn-choices
        margin: 10px
        margin-right: 0
        width: 100%
        height: 100px
        
    .controls
      margin-right: -10px
      
      button
        margin-top: 30px
        margin-bottom: 15px
        margin-right: 0
        
    .error, .success
      display: none
      margin-bottom: 20px
    
    
