body.faq #main
  width: 755px
  margin: 0 auto
  position: relative
  p
    margin: 10px 0

  #sections_picker
    position: absolute
    right: -135px
    top: 30px
    width: 170px
    z-index: 1
    h2
      margin: 0 0 10px
    li
      margin: 5px 0
      
  #content
    position: relative
    margin: 50px auto 70px
    width: 560px
    z-index: 2
    h2
      margin-bottom: 20px
    ul
      margin-bottom: 40px
      li
        margin: 10px 0
        ul
          margin: 5px 20px 5px


      
    .section_head
      margin: 50px 0
    .item_head
      margin: 0
  
    .answer
      p
        margin: 5px 0 20px

    form
      p.confirm
        margin: 15px auto 0
        display: none
      label
        margin: 5px 0
      input
        margin: 10px 0
      input[type="text"]
        width: 465px
      textarea
        margin: 10px 0 0
        width: 465px
      input[type="submit"]
        float: right
  .cleared
    clear: both
    height: 1px

         
