#header 
  z-index: 1000
  position: fixed
  top: 0 
  left: 0 
  right: 0
  #nav_wrapper
    height: 60px
    margin: 0 auto
  .community-name
    float: left
    img.cp_logo
      float: left
      margin: 0px


  &.about 
    height: 60px
    #nav_wrapper
      width: 76.5%
      position: relative
      #user_sign_in
        width: 410px 
        float: right
        margin-top: 14px
        .registration_right
          width: 410px
          h3
            margin-right: 10px
            float: left 
            margin-top: 6px
          .button
            width: 70px
            float: left
          .blue
            margin-right: 20px
          .dropdown
            width: 300px
            z-index: 9999
            display: none
            position: absolute
            right: 0px
            top: 61px
            .arrow
              width: 150px
              height: 20px
              position: absolute
              top: -19px 
              display: block
              right: 0
            input
              width: 253px
              height: auto
              float: none
              margin-top: 4px
              margin-bottom: 10px
              margin-right: 2px
            .email
              margin: 14px 2px 10px 0px
            button.signin
              float: right
              width: 110px
              margin-right: 15px
              margin-top: 5px
              height: auto
            button.signin.facebook
              width: 148px
              height: auto
              margin-right: 12px
            p 
              clear: both
              margin-left: 14px
              margin-bottom: 0
          #choose_town.dropdown
            right: 222px
            padding: 14px
            width: 250px
            .arrow
              width: 145px
            ul#town_list
              overflow-x: hidden
              padding-left: 0
              max-height: 286px
              li 
                width: 248px
              a
                display: block

      .community-name
        width: 286px
        margin-top: 12px

  &.app 
    height: 67px  
    #nav_wrapper
      width: 1000px
      height: 67px
      .community-name
        width: 260px
        height: 67px
      .button-wrapper
        overflow: hidden
        width: 195px
        height: 35px
        margin: 16px 15px 0px 0px
        float: right
        .red-button
          width: 170px
          float: right
          border-color: #8a2a23
          behavior: url("assets/PIE.htc")
          //&:after
            content: ""
            position: absolute
            top: 14px
            left: -12px
            -webkit-transform: rotate(90deg)

      h1
        margin-top: 21px
        float: left
        margin-left: 20px
        width: auto
        .cp_logo
          width: 25px

      .nav
        float: left
        width: 737px      
        #search-header
          margin-left: 15px
          margin-right: 10px
          margin-top: 16px
          width: 553px
          float: left
          behavior: url("assets/PIE.htc")
        a, .disabled_link
          .notif
            margin-left: 2px
        li
          margin-top: 5px
          height: 30px
          float: left
          margin-right: 16px
          display: block

        .avatar-container 
          height: 18px 
          width: 18px
          margin-right: 8px
          float: left
          margin-top: -1px

        li.account
          width: 100px
          height: 20px
          float: right
          margin-right: 16px
          top: 10px
          position: relative
          z-index: 800
          &:hover, &:focus
            z-index: 900
            height: 24px
            behavior: url("assets/PIE.htc")
            ul.account-sub
              display: block
              z-index: 100
          span.arrow
            position: absolute
            top: 9px
            right: 10px
          ul.account-sub
            position: absolute
            display: none
            width: 155px
            margin-top: 15px
            right: -1px
            z-index: 100
            behavior: url("assets/PIE.htc")
            li
              margin: 0
              height: auto
              float: none
              width: 155px
              a
                margin: 0
                display: block
                width: 135px
                height: 100%
                position: relative
                span.inbox_number
                  float: right
                  right: 10px
                  top: 7px
                  min-width: 15px
                  margin-right: 0px
                  position: absolute
