#main
  width: 1100px

#about
  width: 1100px
  margin: 0 auto
  position: relative
  top: 95px
  .header
    height: 37px
    h2
      float: left
    ul.nav
      position: relative
      left: 40px
      top: 13px
      li
        float: left
        margin-right: 15px
  
  .content
    min-height: 512px
    margin: 0px auto
    display: inline-block
  .about_border
    float: left
    .left
      width: 500px
      float: left
      overflow-y: auto
      height: 445px
      p
        margin-bottom: 15px
      .highlight
        margin-top: 15px
        margin-bottom: 15px
      div.section_list
        margin: 0px 0px 20px 0px
        float: left
        width: 460px
      div.section_list:last-child
        margin-bottom: 0px
      h4.headline
        margin-bottom: 20px
        width: 460px
      h4.headline_platform
        margin-bottom: 20px
        width: 460px
      .author
        margin-top: 0px
        margin-bottom: 15px
      .author_quote
        margin-top: 15px
        margin-bottom: 0px
      object
        margin-bottom: 15px
        float: left
      p:last-child
        margin-bottom: 0px
      p.read_more
        margin-bottom: 0px
      img.platform_thumb
        margin: 0px auto
        margin-bottom: 20px
        float: left
      ul.neighborhood_list
        float: left
        li
          float: left
          margin: 0px 0px 10px 0px
          background: url("shared/redesign/about-stars.png") no-repeat -420px 2px
          width: 440px
        li:last-child
          margin-bottom: 0px


    .right
      min-height: 445px
      width: 470px
      float: left
      #password, #full_name
        position: relative
        float: left
        width: 100%
      .input_wrapper
        position: relative
        float: left
        width: 100%
      .error
        max-width: 250px
        position: absolute
        bottom: 40px
        right: -10px
        display: none
      .registration
        margin-top: 25px
        width: 470px
      .your-name
        width: 215px
        float: left
      .your-email
        float: right
        width: 215px
      input
        width: 453px
        height: 20px
        margin-bottom: 10px
        &:last-child
          margin-bottom: 30px
      textarea
        width: 452px
        height: 100px
        margin-bottom: 10px
      button
        width: 470px
        margin-top: 12px
      .facebook, .leader-button
        margin: 0 auto
          top: 15px
        width: 345px
        a
          height: 32px
          display: block
          margin-left: 100px
          width: 245px
        p
          float: left
      .leader-button
        width: 97%
