#main.login
  width: 800px
  margin: auto
  form
    position: relative
    margin: 50px auto 40px
    width: 360px
    z-index: 2
    abbr[title=required]
      display: none
    .inline-errors
      width: 360px
      margin: 0px 0px 0px 0px
    .errors
      display: block
      width: 360px
      margin: 0px 0px 0px 0px
      padding: 0px
    h4
      margin-top: 10px
    fieldset.inputs
      li.hidden
        display: none
      li
        min-height: 60px
        margin: 10px auto 20px auto
        label
          display: block
          margin-bottom: 8px
        input
          width: 340px
          display: block
    fieldset.buttons
      #user_session_submit
        width: 377px
        margin-top: 10px
        margin-bottom: 10px
    .forgot-password
      float: left
      margin-top: 15px
    .facebook
      margin-top: 15px
      float: right
      margin-right: 6px
 
