.replies-area
  position: relative
  margin-top: 0
  .replies
    .comment
      //margin-top: 15px
      display: inline-block
      .avatar-container
        width: 32px
        height: 32px
        float: left
        margin-top: 0px
  .thanks-list
    margin: 0px 0px 0px 15px !important
    width: 535px !important
    .avatar
      display: none
    .reply-item
      margin-top: 0px !important
      .reply-info
        margin-left: 0px !important
        
  .replies-more
    display: block
    margin-top: 0px
    margin-left: 15px
    margin-right: 15px
    .small 
      margin-left: 4px


  .reply-list, .thanks-list
    width: 537px 
    margin-left: 13px
    float: left
    .reply-item
      margin: 0px
      &:first-child
        .avatar-container
          margin-top: 13px

          
      .avatar 
        float: left
        width: 32px
        height: 32px
        display: none
        
      .avatar-container
        width: 32px
        height: 32px
        float: left
        margin-top: 12px
        
      .reply-info
        margin-left: 45px

      .author, .body
        margin-left: 0

      .author
        margin-bottom: 0
        margin-right: 5px
        position: relative
        float: left

      .body, h1, h2, h3, h4, h5, h6
        margin-top: 0px
        margin-bottom: 0px
        p
          margin-top: 0px

      .controls
        margin-top: 0px
        float: left
        clear: none
        width: 100%
        .thank-divider
          margin: 0px 3px 0px 0px
        

      a.delete-reply, a.thank-reply, .thanked-reply, a.reply-message-link
        display: inline
        margin-left: 10px


.replies form.new-reply
  margin-left: 13px
  margin-top: 3px
  .avatar 
    float: left
    width: 32px
    height: 32px
    
  .reply-text
    float: left 
    margin-left: 13px
    textarea 
      height: 14px
      width: 471px
    .enter-hint
      display: none      

.submit-c
  display: block
  float: right
  display: none
  clear: both
  width: 55px
  margin: 0px 0px 10px 0px
