#tour-shadow
  position: fixed
  top: 0px 
  left: 0px
  bottom: 0px 
  right: 0px
  z-index: 1000

#tour
  position: fixed
  left: 0px
  top: 0px
  margin-top: 65px
  z-index: 1001

#current-tour-page, #next-tour-page
  display: none
  position: absolute
  z-index: 2000000

.welcome
  width: 460px
  height: 395px
  position: relative

.welcome-to
  height: 36px

  .community-name 
  margin-top: 10px

.welcome .inside 
  position: relative
  top: 125px
  width: 495px
  left: 15px 

.welcome h4 
  margin: 0
  position: relative
  top: 2px
  margin-left: -5px

.welcome h3 
  margin: 0
  margin-top: 12px

.welcome .white-box 
  width: 400px
  margin: 0 auto
  margin-top: 20px

p.welcome-divider
  width: 100%

.welcome .bottom 
  width: 430px
  margin: 0 auto
  margin-top: 30px

.welcome ul 
  margin: 15px auto 25px

.welcome ul li 
  margin-bottom: 5px
  
.welcome_button
  display: block
  width: 330px
  margin: 0px auto
  .next-button
    width: 100% !important
    
.registration_border
  float: left
  width: 544px

#findNeighbors 
  display: inline-block
  width: 610px
  z-index: 1000
  margin-top: 0px
  margin-right: 0px
  margin-left: 0px
  margin-bottom: 0px
  .find_title
    margin: -10px auto 20px auto
  span.divider
    margin-top: 0px
    width: 100%
    
#civicProfile, #norms
  width: 610px
  margin-top: 0px
  margin-right: auto
  margin-left: auto
  float: left
  position: relative
  span.divider
    margin-bottom: 30px
    float: left
    width: 100%
    height: 3px
  img.find_title 
    margin: 15px auto 0px 30px
  .civic_title, .norms_title
    margin: -10px auto 20px auto
  .civic_left
    float: left
    width: 122px
    margin-right: 24px
    img.profile_pic
      margin-bottom: 20px
      width: 122px
    .not-facebook
      height: 45px
  .civic_right
    float: right
    width: 396px
    input
      width: 378px
      margin-top: 0px
      margin-bottom: 20px
      height: auto
    textarea
      width: 378px
      height: 50px
      margin-top: 0px
      margin-bottom: 15px

#civicProfile div.civic_left div.not-facebook div a.avatar_file_browse
  display: block
  width: 121px
  margin-left: 1px
  margin-top: -3px

#civicProfile div.civic_left div.to-facebook img.facebook
  margin-top: 12px
  
#civic_button
  width: 200px
  margin: 0px auto
.next-button
  width: 200px !important
  margin-top: 8px
  display: inline-block
  
#find_left 
  width: 270px
  height: 412px
  float: left
  margin-left: 30px
  margin-right: 5px

#find_right 
  width: 270
  height: 412
  float: right
  margin-right: 30px
  margin-left: 5px

#buttons a 
  height: 17px
  display: block
  width: 97px
  float: right
  position: relative
  margin-left: 6px
  top: 10px

  img 
    position: relative
    top: 4px

#search 
  width: 226px
  margin-left: -14px
  margin-top: -13px

#invite_friends 
  width: 350px
  float: left
  margin: 0px

  ul 
    height: 23px
    position: relative
    bottom: 7px
    margin-bottom: 10px

    li 
      display: inline-block
      margin-left: 21px

      input 
        width: 25px
        height: 25px
        position: relative
        top: 5px

#neighbor_find 
  height: 300px
  margin-top: 57px

#findNeighbors ul.subscribe_categories
  margin: 0px auto
  margin-left: -1px

  li 
    display: inline-block
    margin-right: 7px
    &:last-child
      margin-right: 0px
    &:hover
      display: inline-block

#findNeighbors ul.subscribe_categories li a 
  top: 0px

#subscribe_pages
  width: 515px
  margin-right: auto
  margin-left: auto
  height: 320px
  margin-bottom: 5px
  div.page_category
    margin-bottom: 0px
  ul.subscribe_pages
    margin-bottom: 0px
    margin-right: 0px
    display: inline-block

#subscribe_pages ul.subscribe_pages li 
  width: 215px
  margin-right: 5px
  margin-left: 0px
  margin-bottom: 0px
  margin-top: 5px
  height: 65px
  
#subscribe_pages div.check
  height: 50px
  
#subscribe_pages ul.subscribe_pages li a 
  display: inline-block
  float: left

#subscribe_pages ul.subscribe_pages li img.avatar-container
  width: 32px
  height: 32px
  float: left
  margin-right: 12px
  margin-bottom: 25px

#subscribe_pages ul.subscribe_pages li h4 
  overflow: hidden
  margin-bottom: 3px

#subscribe_pages ul.subscribe_pages li span.page_text 
  display: block
  
#subscribe_pages ul.subscribe_pages li .description-container
  overflow: hidden
  width: 170px
  height: 70px

#subscribe_pages ul.subscribe_pages li.check
  input
    display: none

#invite_friends p
  margin-top: 25px

#registration1 div.redbox.address div#find_button a.blue-button.next-button
  position: relative
  top: 35px
  right: 25px


img.page_img
  width: 64px
  height: 64px
  float: left

#subscribe_pages a h2
  margin-bottom: 0px

.find_neighbors
  width: 380px
  float: right
  div.button
    float:left
    margin-left: 16px
  input.name, input.email
    float: left
    width: 130px
  input.search
    width: 371px
    display: block
  .know
    margin-top: 12px
    width: 367px
  .remove_search
    position: absolute
    top: 43px
    right: 30px
    width: 25px
    height: 25px
  
  .neighbor_finder, .search_finder
    margin-top: 10px
    width: 380px
    height: 285px
    .no_results, .initial_load
      margin-top: 10px
      margin-left: 10px
      margin-right: 10px
        
    .initial_load
      height: 120px
    
    table       
      td
        width: 150px
        padding: 10px
        margin-top: 14px
        img
          float: left
          margin-right: 10px
        .lName
          margin-top: 3px
        .on-commonplace
          margin-top: 12px
        input[type=checkbox]
          display: none

#RealFindNeighbors
  width: 670px
  z-index: 1000
  margin: 70px auto 30px
  right: 380px
  float: left

  #search 
    width: 585px
    height: 20px
    margin: 10px 0px 20px 0px
    float: left

  .find_known
    width: 600px
    margin: 0px auto 30px auto

  .find_steps
    width: 586px
    margin-left: 35px

  #buttons
    margin-bottom: 40px
    margin-top: 8px
    margin-left: -10px
    width: 271px
    a 
      display: block
      position: relative
      margin-left: 10px
      img 
        position: relative
        top: 5px

  #invite_friends
    p
      width: 450px
      margin-left: 0px
    ul
      margin-left: 0px
      li
        margin-right: 15px
        margin-left: 0px
        input
          top: 7px
          width: 20px

div#RealFindNeighbors div#find_bottom #invite_friends
  margin-left: 35px
  margin-top: 5px

div#RealFindNeighbors div#find_bottom
  margin-top: 0px

//div#find_button
  margin: 35px auto 0px auto
  width: 200px
  
//div#findNeighbors.container div#find_bottom #find_button a.blue-button.next-button
  width: auto
  position: relative
  top: 0px
  right: 0px
  margin: 25px 0px 0px 0px
  display: block

//div#RealFindNeighbors.container #find_button a.blue-button.next-button
  margin-top: 5px
  width: 170px
  float: right
  margin-right: -40px

#civicProfile div.civic_right ul.chzn-choices
  width: 394px
  margin-bottom: 15px
  margin-top: -5px
  li.search-field input
    margin: 0px

#civicProfile div.chzn-drop
  width: 394px !important
  margin-top: -15px

.chzn-container-multi .chzn-choices .search-choice
  margin-top: 7px
  margin-bottom: 0px

div#subscribe_pages ul.subscribe_pages div.page_item
  float: left
  width: 50%

  
/* Norms Page */

#norms
  p
    margin-bottom: 13px
  .norms_title
    margin-top: -5px
  span.divider
    margin-bottom: 20px
  ol#rules
    float: left
    width: 100%
    margin-top: 10px
    li
      float: left
      width: 100%
      margin-bottom: 15px
      &:last-child
        margin-bottom: 10px
      img
        float: left
        margin-top: 4px
      p
        float: right
        width: 465px
      strong
        margin-right: 2px
  #norms_button
    margin: 20px auto 0px auto
    display: block
    width: 200px
    .next-button
      display: block
      width: auto
