#main.app
  width: 1000px
  margin: 0 auto
    top: -34px

#wire-overlay 
  position: fixed
  overflow: hidden
  min-height: 4000px
  height: 100%
  width: 1000px
  z-index: 0

#right-column 
  margin-left: 277px 
  float: left 
  height: 100%
  position: relative
  #community-resources
    position: relative
    z-index: 50
    .resources 
      margin-top: 85px
      .posts
      .wire 
        width: 575px 
        margin: 0 auto 
        position: relative 
        .no-results 
          display: none 
        .wire-item 
          margin-bottom: 15px
          .wire-top
            top: 15px
            margin-top: 0px
            margin-right: 13px
            margin-left: 15px
            float: right
            width: auto
            position: relative
            z-index: 500
            .icon-container
              width: 20px
              height: 20px
              float: left
              margin: 2px 0px 0px 2px

            h3
              float: left
              max-width: 370px
              margin: 5px 6px
            p
              float: right
              width: auto
              display: block
              a 
                display: block
                width: 100%
          .post-content
            position: relative
            .image_container
              max-width: 250px
              float: right
              margin: 30px 0px 15px 15px
            .post_image
              max-width: 250px
            .price
              width: auto
              float: left
              margin: 7px 0px 15px 0px
            .body
              margin-top: 5px
            table.event-location
              margin-left: 0px
              margin-top: 10px
            h3 
              margin: 0px
                right: 95px
                left: 0px
              position: relative
              top: -2px
            p.author
              margin: 4px 0px 0px 0px
              position: relative
            .body p, pre, code, ol, ul
              margin: 0px 0px 10px 0px
              &:last-child
                margin-bottom: 10px
              ol, ul
                margin-left: 15px
            .avatar-container
              width: 80px
              height: 80px
              position: absolute
              right: -120px
              top: -5px
            p.venue, p.address
              margin-bottom: 5px
            .calendar 
              float: left
              width: 50px
              margin-right: 15px
          .post-action
            margin-left: 15px
            height: 32px
            margin-right: 15px
            margin-bottom: 0px
            p
              float: left
            p.how-many
              float: right
            .actions
              height: 32px
              li
                float: left
                height: 15px
                span  
                  float: left
                  display: block 
                  margin-left: 5px
                .icon
                  display: inline-block
                  float: left

              li.reply-link
                margin-left: 0
                .icon
                  width: 14px
                  height: 14px
                  margin-top: 2px
              li.message-link
                margin-left: 0
                .icon 
                  margin-top: 2px
                  width: 15px 
                  height: 10px

              li.share-link
                .icon
                  width: 15px 
                  height: 18px
                span 
                  margin-top: 1px
              li.thank-link
                .icon
                  width: 15px
                  margin-top: 1px
                  height: 13px

              li.flag-link
                .icon
                  width: 14px
                  height: 14px

        .post-interaction
          margin-right: 15px
          .interaction
            margin-left: 0
            margin-right: 0
            height: 1px
            .thanked
              height: 13px
              margin-bottom: 13px
            .publicized
              height: 15px

        .post-shadow
          width: 100%
          height: 5px
          position: relative !important
          bottom: -15px
        .shadow_left
          float: left
          width: 50%
          height: 15px
          position: absolute
          bottom: 0px
          left: 5px
        .shadow_right
          float: right
          width: 50%
          height: 15px
          position: absolute
          bottom: 0px
          right: 5px
        .wire-group
          width: 100%
          float: left
        .wire-header
          margin: 20px 20px 0px
          height: 40px
          .header-display
            margin: auto

