
- form_tag "/invites" do |f|
  %fieldset.inputs
    %ol
      %li.text.required
        = f.label_tag :emails
        = f.text_area :emails
  %fieldset.buttons
    %ol
      %li.commit
        = f.submit "Invite"
