/* line 2, ../../../app/stylesheets/admin/show_referrers.css.sass */
body.application.admin.show_referrers #referral_sources {
  text-align: center;
}
/* line 5, ../../../app/stylesheets/admin/show_referrers.css.sass */
body.application.admin.show_referrers table {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
/* line 13, ../../../app/stylesheets/admin/show_referrers.css.sass */
body.application.admin.show_referrers th, body.application.admin.show_referrers td {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
}
/* line 19, ../../../app/stylesheets/admin/show_referrers.css.sass */
body.application.admin.show_referrers th {
  font-weight: bold;
}
/* line 22, ../../../app/stylesheets/admin/show_referrers.css.sass */
body.application.admin.show_referrers h1 {
  margin: 20px auto;
  font-size: 28px;
  color: blue;
}
