- render :layout => 'shared/modal' do

  - semantic_form_for [parent,@message], :html => { :class => "new_entity", 'data-remote' => true } do |f|
    %hr.staple
    %h1 Send a message to #{parent.name}
    = f.inputs :subject, :body
    - f.buttons do
      #submit_wrapper= f.commit_button "Send"