#both_columns
  #left_col
    %h3 Write a new announcement
    = render 'form', :announcement => @announcement

  #right_col
    %h3 Your announcements
    %ul#wire
      - @announcements.each do |a|
        = render 'shared/item/', :item => a
        / - content_tag :li, :class => dom_class(a), :id => dom_id(a), "data-url" => url_for(a) do
        /   = render 'announcements/announcement', :announcement => a
      