- semantic_form_for announcement, :html => {'data-remote' => true} do |f|
  - f.inputs do
    %li
      %label{:for => "announcement_owner", :class => "select required"}
        Post as:
      = f.select :owner, options_for_select(creation_feeds_for(current_user), dom_id(f.object.owner || current_user))
    = f.input :subject
    = f.input :body, :input_html => { :rows => 5, :cols => 21 }
  - f.buttons do
    = f.commit_button :button_html => {:type => "image", :src => "/images/buttons/post-now.png"}

- if $rollout.active?(:wysiwyg_textarea, current_user)
  :javascript
    jQuery(document).ready(function() { $('#announcement_body').wymeditor({basePath: "/javascripts/jquery/"}); })