
- link_to_add(new_post_path) do
  = "&#x271a; Make an announcement to your community" 


- unless @subscribed_announcements.empty?
  %h3 Your Announcements (Announcements from organizations you've subscribed to)
  %ul#wire
    - @subscribed_announcements.each do |announcement|
      = render 'shared/item', :item => announcement

- unless @community_announcements.empty?
  %h3 All Announcements
  %ul#wire
    - @community_announcements.each do |announcement|
      = render 'shared/item', :item => announcement

