
- update_content "#information" do
  - case @announcement.owner
  - when Feed
    = render 'feeds/info_box', :feed => @announcement.owner
  - when User
    = render 'users/info_box', :user => @announcement.owner

= render 'shared/tooltip'

- unless xhr?
  - update_content "#syndicate" do
    #syndicate
      = render 'shared/items', :items => [@announcement]