
@mixin neutral-notification
  background-color: #fffceb
  text-align: center
  padding: 10px 0 15px
  font-family: Helvetica, sans-serif
  color: #626059
  font-size: 12px
  font-weight: normal

  a
    color: #ac322f
