.notification
  position: fixed
  top: 200px
  margin: 0 220px
  width: 500px
  background-color: white
  padding: 5px
  border: 5px solid #1B334A
  z-index: 3000
  +border-radius(5px)
  text-align: center
