@import core
@import shared/buttons
@import header
@import footer
@import date_picker
@import shared/replies
@import shared/wire
@import shared/form
@import shared/modal
@import shared/markdown
@import shared/dropkick_selects

body
  background-color: #eee
  margin: 0
  font-family: $heading !important
a
  text-decoration: none
  color: $red
#main
  width: 875px
  margin: auto
    top: 45px
  position: relative

//#feed-admin-bar
  margin: auto
  text-align: right
  font-family: Rokkitt, Rockwell, Helvetica, sans-serif
  li 
    display: inline
    float: left
  a
    background-color: #fff
    +border-bottom-radius(5px)
    text-decoration: none
    padding: 4px 8px 5px 8px
    margin: 0 0 0 5px
    display: block
    color: #555
    &:hover
      color: #AC322F
      text-decoration: underline
    &.current
      display: none

#feed-header
  font-family: Rokkitt, Rockwell, Helvetica, sans-serif
  font-weight: bold
  margin-top: 21px
  padding-bottom: 1px

  h1
    color: #333
    font-size: 42px
    display: inline
    padding-right: 10px

  a.subscribe,
  a.unsubscribe,
  a.edit
    color: #ac322f
    font-size: 18px
    text-decoration: none
    font-weight: bold
    &:hover
      color: #888

#left-column 
  width: 235px
  padding-right: 20px
  float: left

#center-column
  width: 620px
  //padding-right: 10px
  float: right

#right-column
  width: 240px
  float: left
  display: none

#feed-profile
  background-color: #fff
  border: 2px solid #bebebe
  +border-radius(3px)
  +box-shadow(#888 2px 2px 10px)
  margin-top: 15px

  h1
    +border-top-radius(1px)
    margin: 0px
    background-color: #e0e0e0
    font-family: Rokkitt, Rockwell, Helvetica, sans-serif
    font-size: 15px
    padding: 5px
    border-bottom: 1px solid #bebebe
    text-align: center
    color: #656565
    +text-shadow(#fafafa 0 1px 0)

  img.avatar
    display: block
    margin: 20px auto 0
    padding: 0
    border: 0

  dl.contact-info
    padding: 20px 20px 0
    dt
      color: $veryDarkBlue
      font-family: Helvetica, sans-serif
      font-size: 12px
      font-weight: bold
      padding-bottom: 5px
    dd
      color: #252525
      font-family: Helvetica, sans-serif
      font-size: 12px
      padding-bottom: 10px
      line-height: 15px
        
      a
        text-decoration: none
        color: #ac322f
        &:hover
          text-decoration: underline

  button, .button
    +blue-button
    display: block
    text-decoration: none
    font-size: 18px !important
    font-weight: normal !important
    letter-spacing: normal !important
    -webkit-font-smoothing: antialiased !important
    font-family: $heading !important
    padding: 15px 20px
    width: auto
    text-align: center
    margin-bottom: 20px
    margin-left: 15px
    margin-right: 15px
    a
      text-decoration: none
      font-size: 18px
      text-align: center
      color: white

#feed-nav
  font-family: Rokkitt, Rockwell, Helvetica, sans-serif
  font-size: 18px
  margin-top: 20px

  a 
    +border-radius(3px)
    display: block
    padding: 5px 20px
    color: $veryDarkBlue
    text-decoration: none
    
  a.current
    background-color: #ac322f
    color: white


#feeds-list
  font-family: Rokkitt, Rockwell, Helvetica, sans-serif
  margin-top: 15px

  h1
    border-bottom: 2px solid #e0e0e0
    font-size: 16px
    font-weight: bold
    margin-bottom: 14px
    margin-top: 0
    color: #1d334c

  ul
    overflow-y: auto
    height: 416px
    
    a
      text-decoration: none
      color: #333
      padding: 6px 6px 6px 37px
      display: block

    li
      +border-radius(3px)
      margin-bottom: 5px
      background-color: #e0e0e0
      line-height: 25px
      display: block
        
    li.current, li:hover
      background-color: #fff

    img.avatar
      vertical-align: top
      border: 0
      float: left
      margin-left: -31px
      display: block


#feed-actions
  margin-top: 15px
  #feed-action-nav
    a 
      display: block
      float: left
      width: 145px
      background-color: $veryDarkBlue
      height: 25px
      padding: 20px 10px 20px 50px
      color: #fff
      text-decoration: none
      font-family: Rokkitt, Rockwell, Helvetica, sans-serif
      font-size: 15px
      background-repeat: no-repeat
      background-position: 15px 22px
      +text-shadow(#000 0 1px 0)

    a.post-announcement
      +border-top-left-radius(3px)
      border-left: 1px solid #182e42
      border-right: 1px solid #192837
      background-image: image-url("feed_page/announcement-tab-icon.png")
    a.post-event
      border-right: 1px solid #192837
      border-left: 1px solid #3a4d5e
      background-image: image-url("feed_page/event-tab-icon.png")
    a.invite-subscribers
      +border-top-right-radius(3px)
      border-left: 1px solid #3a4d5e
      background-image: image-url("feed_page/invite-tab-icon.png")

    a.current 
      background-color: #2e4b67
    

  .tab
    clear: both
    +border-bottom-radius(3px)
    background-color: #ac322f
    padding-top: 10px
    border: 2px solid #9a2c2a
      top: 0px

    display: none

    &.current
      display: block
      
  


  img.avatar
    float: left
    margin-left: 10px
    margin-top: 16px

  .error
    background-color: #f4e15f
    border: 2px solid #ffe534
    +border-radius(3px)
    color: #363636
    display: none
    margin-right: 15px
    margin-left: 73px
    margin-top: 5px
    padding: 5px
    font-family: Helvetica, Arial, sans-serif
    font-size: 14px

  form
    +form
    display: block
    margin: 16px 15px 20px 73px
      
    input.date
      z-index: 10000
      position: relative
    
    input,
    textarea
      display: block
      width: 485px


    button
      +blue-button
      float: right
      font-size: 18px !important
      font-weight: normal !important
      letter-spacing: normal !important
      -webkit-font-smoothing: antialiased !important
      font-family: $heading !important
      padding: 15px 20px
      margin: 20px 0 

    label
      color: #fff
      margin-top: 15px
      font-size: 16px
      font-family: Rokkitt, Rockwell, Helvetica, sans-serif
      display: block

    label.time
      float: left
      margin-right: 30px
      padding-bottom: 15px
      margin-top: 5px
        
    .post-label-selector
      margin-top: 5px
      height: 125px
      overflow-y: scroll

      li
        &:hover
          cursor: pointer
        &:first-child
          margin-top: 0px
        
        margin-top: 10px
        margin-right: 10px
        padding: 7px 5px 3px
        background-color: #fff
        +border-radius(5px)
        background-image: image-url("feed_page/check-off.png")
        background-repeat: no-repeat
        background-position: 475px 8px

        &.checked
          background-image: image-url("feed_page/check-on.png")
          
        label
          display: block
          font-size: 18px
          font-family: Rokkitt, Rockwell, Helvetica, sans-serif
          color: #333
          margin: 0
          padding: 0
          &:hover
            cursor: pointer
        
        img 
          position: relative
          top: -3px
          vertical-align: middle
          margin-right: 5px
          border: 0

        input
          display: none

          
        
        

.invite-subscribers h1
  padding-left: 73px
  color: #fff
  font-family: Rokkitt, Rockwell, Helvetica, sans-serif
  height: 16px
  padding-top: 10px

.invite-subscribers div.invite-by-facebook
  margin: 20px 0 20px 73px
  
  button
    +blue-button

.invite-subscribers div.invite-by-hand
  margin: 16px 15px 20px 73px
  
  button
    margin-top: 20px
    +blue-button

.invite-subscribers .invite-by-hand a.download
  background-image: image-url("feed_page/doc-icon.png")
  background-position: 0 0
  background-repeat: no-repeat
  padding-top: 135px
  display: block
  float: left
  width: 100px
  text-decoration: none
    
  padding-right: 40px

  &.last
    padding-right: 0

  .description-text
    color: #fff
    font-family: Rokkitt, Rockwell, Helvetica, sans-serif
    font-size: 12px

  .download-pdf
    margin-top: 5px
    color: #5a1a19
    font-family: Rokkitt, Rockwell, Helvetica, sans-serif
    font-size: 12px
  
  


#feed-subresources, #feed-about
  //border: 2px solid #bebebe
  //+border-radius(4px)

  margin-top: 15px
  
  .feed-sub-header
    //background-color: #e0e0e0
    color: $blue
    //font-family: Rokkitt, Rockwell, Helvetica, sans-serif
    font-size: 20px
    //padding: 6px
    text-align: left
    margin-bottom: 15px

#feed-about
  .about
    padding: 15px
    border-radius: 5px
    background-color: #fff
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5)
  p
    margin-top: 5px
    font-family: Helvetica, sans-serif
    font-size: 0.8em
    line-height: 1.4
    color: $textColor


#feed-subresources    
  .tab
    display: none

  .tab.current
    display: block


  .replies textarea
    width: 360px
#main
  margin-bottom: 75px
