@import core
@import logged_out_header
@import footer

body
  font-family: Rockwell,Georgia,Times,"Times New Roman",serif
  background-image: url('/images/neighborhood-bg.png')
  background-repeat: repeat-x
  background-position: 0 100%
  background-color: #cee7fe

#wrapper
  #main
    margin: auto auto 150px
    position: relative
    z-index: 1000
    width: 1000px

    h1
      font-size: 50px
      color: $veryDarkBlue
      padding: 18px 0px 
      font-weight: bold
      text-align: center
      margin: 30px auto auto
      line-height: 1.2
      +text-shadow(#bfc8cf, 1px, 1px, 1px)
      background: url('/images/learn_more/plane.png') no-repeat 138px

    #smallbanner
      font-size: 22px
      color: #ac322f
      +text-shadow(none)
      margin-bottom: -12px

    h2
      font-size: 28px
      text-align: center
      clear: both
      color: $veryDarkBlue
      font-weight: bold
      margin: 40px auto 40px
      +text-shadow(#fff, 1px, 1px, 1px)

    li
      display: block
      margin: 40px auto 0
      width: 700px
      font-size: 15px

      h3
        color: #ac322f
        font-size: 22px
        padding-bottom: 15px
        font-weight: bold
        +text-shadow(#fff, 1px, 1px, 1px)

      p
        width: 340px
        line-height: 1.2
        color: $veryDarkBlue
        padding-bottom: 20px

      a 
        color: #ac322f
        text-decoration: none

      li
        width: 320px
        +starBullet
        padding-left: 30px 
        color: $veryDarkBlue
        margin-bottom: 5px

      img
        float: right
        position: relative
        border: 12px solid #fff
        +border-radius(5px)
        +single-box-shadow(#c3dbf3, -5px, 5px, 0, 0, false)

    #testimonial
      background-color: #fff
      font-family: Georgia,Times,"Times New Roman",serif
      font-weight: light
      margin: 30px auto
      width: 700px
      display: block
      border: 12px solid #fff
      +border-radius(5px)
      +single-box-shadow(#c3dbf3, -5px, 5px, 0, 0, false)
      color: #242424
      position: relative

      iframe
        float: left
        position: relative
        width: 330px
        height: 215px
        margin: 0 15px 0 0
  
      h3
        font-size: 33px
        color: $veryDarkBlue
        margin: 0 auto 10px

      blockquote
        font-size: 25px
        color: #242424
        margin: 0 auto 20px
        line-height: 1.2

      p
        font-family: Helvetica, sans-serif
        margin: 10px auto 15px
        line-height: 1.3
        font-size: 15px
        

      #more
        font-size: 12px
        font-family: Helvetica, sans-serif
        color: #ac322f
        position: absolute
        bottom: 0
        right: 0
        align: right

      #author
        font-size: 12px
        font-family: Helvetica, sans-serif
        color: $veryDarkBlue
        position: absolute
        bottom: 0
        right: 0
        align: right

.register_con
  width: 100%
  text-align: center
  a
    display: block
    padding: 4px
    height: 38px
    width: 275px
    color: white
    text-align: center
    +border-radius(5px)
    cursor: pointer
    text-decoration: none
    font-weight: bold
    font-size: 21px
    font-family: Rockwell, Georgia, Times, "Times New Roman", serif
    background: #8B2324
    +background-image(linear-gradient(#294D6F 0%,#1B334A 50%))
    +box-shadow(#254564 0 0 0 1px inset,#112130 0 0 0 1px,#070c12 0 5px 6px -4px)
    border: none
    text-shadow: #070C12 0 -1px 0
    letter-spacing: 1px
    line-height: 34px
    margin: 30px auto 0 auto
    &:hover
      +background-image(linear-gradient(#2D547B 0%,#1F3B55 50%))
    &:active
      +background-image(linear-gradient(#22405D 0%,#182E43 50%))
      +box-shadow(#1e3851 0 0 0 1px inset,#112130 0 0 0 1px)
