$blue-header: #1B334A
$blue-profile: #CEE7FE
$blue-hover: #1e2d40
$blue-text: #8FAAC2
$red-postbox: #AC322F
$grey-thanked: #BEBEBE
$grey-header: #F3F3F3

@mixin red-border
  border: 1px solid #702c29

@mixin grey-border
  border: 1px solid #CACACA

@mixin cp-text-shadow
  +text-shadow(1px 1px 0 black)

