
#main
  %h1 Crop your avatar
    
  = form_for @feed, :url => update_crop_feed_path(@feed), :method => :put, :html => { :class => "crop" } do |f|
    = image_tag @feed.avatar.url(:original), :id => "cropbox"


    - [:crop_x, :crop_y, :crop_w, :crop_h].each do |attribute|
      = f.hidden_field attribute, :id => attribute

    = f.submit :type => "image", :src => "/images/buttons/continue2.png"


