#list
  %h3 Results
  %ul#wire
    - @results.each do |feed|
      %li.styled_box
        - link_to url_for(feed), 'data-remote' => true, :class => "item_body" do
          = image_tag feed.avatar_url(:thumb), :width => 20, :height => 20, :class => 'graphix'
          = feed.name

#info