= update_content "#say-something" do
  #say-something
    %h2= t "group_posts.new.title"
    .wrap
      = render 'shared/say_something_nav', :current => :post
      = render 'form', :group_post => group_post