<form id="login">
    <input id="user" name="user" type="text" placeholder="Username"/>
    <input id="password" name="password" type="password" placeholder="Password"/>
    <input type="submit" name="submit" value="Login"/>
</form>
