<div id="message" style="display: none">
    Sorry, your email or password was incorrect. <a href="#" id="register">Click here</a> to register.
</div>
<div id="login_form">
<form id="login_form">
    <input name="email" type="text" placeholder="Email"/>
    <input name="password" type="password" placeholder="Password"/>
    <input type="submit" name="submit" value="Login"/>
</form>
</div>
<div id="facebook">or... <a id="fb_button" href="/users/auth/facebook">Log in with Facebook</a></div>
