<div id="message" style="display: none">
    Sorry, your email or password was incorrect. <a href="#" id="register">Click here</a> to register.
</div>
<form id="login">
    <input id="email" name="email" type="text" placeholder="Email"/>
    <input id="password" name="password" type="password" placeholder="Password"/>
    <input type="submit" name="submit" value="Login"/>
</form>
<div id="facebook">or... <a id="fb_button" href="/users/auth/facebook">Log in with Facebook</a></div>
