<div id="welcome">Welcome, {{user}}!</div>
<div id="header">Where are you?</div>
{{#recommendations}}
    <div class="recommendation">
    <div class="rec_title">{{title}}</div>
    <div class="rec_venue">{{venue}}</div>
    <div class="distance">{{distance}}</div>
    </div>
{{/recommendations}}
