<div id="errors"></div>
<div id="register_form">
<form id="register" name="register">
    <input type="text" name="full_name" id="full_name" placeholder="Full Name" />
    <input type="text" name="email" id="email" placeholder="Email" />
    <input type="text" name="address1" id="address1" placeholder="Street Address Line 1" />
    <input type="text" name="address2" id="address2" placeholder="Street Address Line 2" />
    <input type="password" name="password" id="password" placeholder="Password" />
    <input type="password" name="password2" id="password2" placeholder="Repeat Password" />
    <input type="submit" value="Register for CommonPlace" />
</form>
</div>
<div id="facebook">or... <a id="fb_button" href="/users/auth/facebook">Log in with Facebook</a></div>
