<div id="write_note_form">
<form id="write_note" name="write_note">
    <div id="message_box"><textarea id="message_box" name="message" placeholder="Leave a note..."></textarea></div>
    <input id="submit" type="submit" value="Post">
</form>
<div id="progress" style="display:none">Loading...</div>
</div>
<div id="thanks" style="display:none">Thanks for posting a note!</div>

