%li.reply
  = image_tag reply.user.avatar_url(:thumb)
  = link_to reply.user.name, reply.user, :class => 'author'
  %p.body= reply.body
  %br
  %time #{time_ago_in_words(reply.created_at, include_seconds = true)} ago
  