%li.reply
  = image_tag reply.user.avatar.url, :width => 50, :height => 50
  %div
    %span.reply_name #{reply.user.full_name}
    = reply.body
    %p.age #{time_ago_in_words(reply.created_at, include_seconds = true)} ago