%h1 Reset Your Password 

- form_tag password_resets_path, :method => :post, :id => "new_password_reset" do
  %p.subhead Please enter the email address associated with your account:
    
  %fieldset
    %ol
      %li
        = text_field_tag 'email',nil, :placeholder => "Email address"
  - if flash[:error]
    %p.fail= flash[:error]
  %fieldset
    %ol
      #submit_wrapper
        <input type="image" id = "submitimage" onclick="submit();" src="/images/buttons/continue.png">
        
