<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>

    <table id="body">
      {{< header}}
      <tr>
        <td>
          <p>Hi!</p>
          <p>{{inviter_name}} has invited you to subscribe to the community feed of <em>{{feed_name}}</em> on {{community_name}}'s CommonPlace, a web platform that makes it easy for neighbors and local leaders in {{community_name}} to connect and share information with each other. {{#message}}{{short_inviter_name}} added the following message: {{/message}}
          </p>

          {{#message}}
            <p class="quote">{{message}}</p>
          {{/message}}

          <p>{{community_name}}'s CommonPlace is like an online bulletin board for your town -- {{short_inviter_name}} and other neighbors in {{community_name}} have been using {{community_name}}'s CommonPlace to share events, needs, questions and announcements with the people who live right around them. Sign up once and start receiving important community announcements from your neighbors and local leaders here in {{community_name}}. To sign up, simply click the link below:</p>

          <p><a href="{{root_url}}"><span>{{root_url}}</span></a></p>

          <p>In addition to receiving information about <em>{{feed_name}}</em>, you can also use {{community_name}}'s CommonPlace to: notify your neighbors about a lost cat, or to ask to borrow a ladder; use it to keep up with local events happening in town, or to publicize your own; use it to get announcements from the city government and local organizations, or to start up you own group in the community.</p>

          <p>If you have any questions, feel free to contact {{organizer_name}}, the lead CommonPlace organizer for {{community_name}}, at {{organizer_email}} with any questions or concerns.</p>

          <p>Thanks,<br>
            {{community_name}}'s CommonPlace
          </p>
        </td>
      </tr>
      <tr>
        <td id="footer">
        {{< legal }}
        </td>
      </tr>
  </body>
</html>