
<a data-tab="showPosts"
  href="#posts"
  class="{{#classIfCurrent}}showPosts{{/classIfCurrent}}">All Posts
</a>

<a data-tab="showMembers"
  href="#members"
  class="{{#classIfCurrent}}showMembers{{/classIfCurrent}}">Members
</a>
