
<a data-tab="showGroupPosts"
  href="#posts"
  class="{{#classIfCurrent}}showGroupPosts{{/classIfCurrent}}">All Posts
</a>

<a data-tab="showGroupMembers"
  href="#members"
  class="{{#classIfCurrent}}showGroupMembers{{/classIfCurrent}}">Members
</a>
