<ul>
  <li>
    <div class="date-posted">september 2</div>
    <div class="avatar">
      <img src="http://robrimes.files.wordpress.com/2011/05/pig_may-2009-thumb-350x332.jpg" width="50" height="50">
      <p>this is a reply<p>
    </div>

    <h1>Post title</h1>

    <div class="author">aristotle</div>

    <p>saying stuff</p>
  </li>
</ul>
