
<div class="group-posts tab {{#classIfCurrent}}showGroupPosts{{/classIfCurrent}}">
  <div class="wire">
  </div>
</div>

<div class="group-members tab {{#classIfCurrent}}showGroupMembers{{/classIfCurrent}}">
  <div class="wire">
  </div>
</div>
