.vimrc
log/*.log
log/*.lck
tmp/**/*
tmp/*
doc/api
doc/app
config/database.yml
config/crypto.yml
**/**/#*
**/**/.#*
*~x
db/*.sqlite3
cp_textmate.tmproj
public/system
test
.DS_Store
coverage
coverage.data
rerun.txt
config/config.yml
public/stylesheets
public/assets
public/internal/network_health/*
development
development/*
log/exceptional.log
log/sendmail.log
config/exceptional.yml
.sass-cache
*.swp
.idea*
.bundle/*
log/*.log
.rvmrc
log/sunspot-solr-development.log.1
sunspot-solr.pid
*.pyc
neo4j
.env
coverage
chromedriver.log

Gemfile.lock
