log/cucumber.log
log/development.log
log/test.log
log/production.log
tmp/**/*
tmp/*
doc/api
doc/app
config/database.yml
**/**/#*
**/**/.#*
*~x
db/*.sqlite3
cp_textmate.tmproj
public/system
test
.DS_Store
coverage
coverage.data
rerun.txt
config/config.yml
public/stylesheets
development
development/*
log/exceptional.log
log/sendmail.log
config/exceptional.yml
.sass-cache
