<!doctype html>
%html
  %head
    %link{:href => "reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "index.css", :rel => "stylesheet", :type => "text/css"}/
  %body.home
    #wrap
      #top
        %header
        %h1 Commonplace West Roxbury
        %nav
        %a Home
        %a Inbox (8)
        %a Manage Profile
        %a Create an Organization
        %a Log Out
        %div{:style => "clear: both"}
        %nav#entities
        %a
          %span Neighborhood Posts
        %a
          %span Announcements
        %a
          %span Events
        %a
          %span People
        %a
          %span Organizations
        %a
          %span Goods & Skills
        %div{:style => "clear: both"}
      #main
        #listings
          %nav
          %a#create-entity POST TO YOUR NEIGHBORS
          #filters
            %a.selected YOU
            %a ALL
          %div{:style => "clear: both"}
          %ul
            %li.listing
              %a.post
                %img.avatar/
              .header
                %time 30 minutes ago
                .title Ladder?
                .author Max N.
                %div{:style => "clear: both"}
              %p.body
                Hey guys, I'm just trying to put this new satelite dish up on my roof, but I don't have a ladder! Anyone have one I can borrow for the afternoon? (You might end up with some cookies later)
              %span.reply-count 7 replies
              %div{:style => "clear: both"}
            %li.listing
              %a.post
                %img.avatar/
              .header
                %time 4 hours ago
                .title This is the hover state
                .author Mark M.
                %div{:style => "clear: both"}
              %p.body
                Hey guys, I'm just trying to put this new satelite dish up on my roof, but I don't have a ladder! Anyone have one I can borrow for the afternoon? (You might end up with some cookies later)
              %span.reply-count 14 replies
              %div{:style => "clear: both"}
            %li.listing
              %a.post
                %img.avatar/
              .header
                %time 4 hours ago
                .title This is the hover state
                .author Mark M.
                %div{:style => "clear: both"}
              %p.body
                Hey guys, I'm just trying to put this new satelite dish up on my roof, but I don't have a ladder! Anyone have one I can borrow for the afternoon? (You might end up with some cookies later)
              %span.reply-count 14 replies
              %div{:style => "clear: both"}
              .replies
                %ul
                  %li.reply
                    %img.avatar/
                    .author Ashley C.
                    %p.body Thanks Brian! See you there. I'll bring cookies
                    %time 4 hours ago
                  %li.reply
                    %img.avatar/
                    .author Ashley C.
                    %p.body Thanks Brian! See you there. I'll bring cookies
                    %time 4 hours ago
                  %li.reply
                    %img.avatar/
                    .author Ashley C.
                    %p.body Thanks Brian! See you there. I'll bring cookies
                    %time 4 hours ago
                  %li.reply
                    %img.avatar/
                    .author Ashley C.
                    %p.body I have a ladder you can use. But I won't be available until sometime tomorrow afternoon. Is that OK?
                    %time 4 hours ago
                %form.new_reply
                  %textarea{:cols => "40", :rows => "2"}
                  %input{:type => "submit", :value => "Reply"}/
        #tooltip
          Hi Brian! Welcome to West Roxbury's first community website.
        #information
          #history
            %h3 YOUR RECENT HISTORY
            %ul
              %li
                %img.icon/
                %p
                  You met
                  %a Ashley C.
                %time 30 minutes ago
              %li
              %li
                %img.icon/
                %p
                  You replied to
                  %a Ashley C.
                  on
                  = succeed "..." do
                    %em Selected
                %time 30 minutes ago
              %li
              %li
                %img.icon/
                %p
                  You met
                  %a Ashley C.
                %time 30 minutes ago
              %li
              %li
                %img.icon/
                %p
                  You met
                  %a Ashley C.
                %time 30 minutes ago
              %li
              %li
                %img.icon/
                %p
                  You met
                  %a Ashley C.
                %time 30 minutes ago
              %li
              %li
                %img.icon/
                %p
                  You met
                  %a Ashley C.
                %time 30 minutes ago
              %li
          #interests
            %h3 YOUR COMMUNITY INTERESTS
            %ul#current-interests
              %li
                %a Arts and Crafts
              %li
                %a ...add Running?
              %li
                %a Basketball
              %li
                %a ...add Pottery?
              %li
                %a
              %li
                %a ...add Writing?
              %li
                %a
              %li
                %a ...add Painting?
            %div{:style => "clear:both"}
            %a#view-all View all(2)
            %a#find-more FIND MORE
          %div{:style => "clear:both"}
          %hr/
          #neighborhood-activity
            %h3 MAP OF YOUR NEIGHBORHOOD ACTIVITY
            .map{"data-map" => ""}
          %hr/
          #community-sponsors
            %h3 COMMUNITY SPONSORS
