/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

/***** Begin Theme, feel free to edit in here! ******/

@import "compass/css3";

/* One container to bind them... */
.dk_container {
    width: auto;
}
.dk_container:focus {
    outline: 0;
}
.dk_container a {
    cursor: pointer;
    text-decoration: none;
  	font: 14px Arial, "Sans Serif";
}

/* Opens the dropdown and holds the menu label */
.dk_toggle {
    /**
     * Help: Arrow image not appearing
     * Try updating this property to your correct dk_arrows.png path
     */
    padding: 10px 0px 10px 8px;
    width: auto;
    display: block;
}

a.dk_toggle {
    display: block;
    background: white;
    border: none;
    width: 100%;
    @include border-radius(4px);
    margin: 0 0 15px 0;
    resize: none;
    position: relative;
    z-index: 9999;
  	 border: 1px solid #bcbbae; 
  	 font: 14px Helvetica, Arial, "Sans Serif";
    color: #333;
}

/* Applied when the dropdown is focused */
.dk_focus .dk_toggle {
    
}
.dk_focus .dk_toggle {
    
}

/* Applied whenever the dropdown is open */
.dk_open {
    /**
     * Help: Dropdown menu is covered by something
     * Try setting this value higher
     */
    z-index: 10;
}
.dk_open .dk_toggle {
    
}

/* The outer container of the options */
.dk_options {
    position: relative;
    z-index: 1;
    @include border-radius(0 0 4px 4px);
    background: white; 
    width: 100%;
    display: block;
    @include box-shadow(0 1px 2px #666);
    padding-top: 4px;
    font-size: 14px;
    font-family: Rokkitt, Rockwell;
    font-weight: bold;
    color: #1B334A;
    left: 1px
}
#dk_container_categorize .dk_toggle,
#dk_container_discussion_topic .dk_toggle {
   width: 405px !important;
}
.dk_options a {
    padding: 10px 8px;
}
.dk_options li:last-child a {
    @include border-radius(0 0 4px 4px);
}
.dk_options a:hover,
.dk_option_current a {
    background: #eee;
}

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
    max-height: 250px;
}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
    max-height: 250px;
}

/****** End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
    position: relative;
}
.dk_container a {
    outline: 0;
}

.dk_open {
    position: relative;
}
.dk_open .dk_options {
    display: block;
}
.dk_open .dk_label {
    color: inherit;
}

.dk_options {
    display: none;
    margin-top: -2px;
    position: absolute;
    left: 1px;
}
.dk_options a,
.dk_options a:link,
.dk_options a:visited {
    display: block;
}
.dk_options_inner {
    overflow: auto;
    position: relative;
}

.dk_touch .dk_options {
    overflow: hidden;
}

.dk_touch .dk_options_inner {
    max-height: none;
    overflow: visible;
}

.dk_fouc.dk select {
    position: relative;
    top: -99999em;
    visibility: hidden;
}

a.dk_toggle {
    span.dk_arrow {
        height: 17px;
		width: 17px;
        line-height: 27px;
        font-size: 13px;
        display: block;
        cursor: pointer;
        background: #1B334A;
        text-align: center;
        color: white;
        font-family: Rokkitt, Rockwell;
        line-height: 1em;
        border: none;
        text-indent: 3px;
        font-weight: bold;
        padding: 14px 13px 7px 10px;
        margin: 0px;
        position: relative;
        right: -1px;
        top: -1px;
        @include background-image(linear-gradient(#294d6f 0%, $cp-blue 50%));
        border-radius: 0px 4px 4px 0px;
        text-decoration: none;
        position: absolute;
    }
}

a.dk_toggle span.dk_arrow:hover {
   @include background-image(linear-gradient(#3e6b96 0%, $cp-blue 50%));
}
a.dk_toggle span.dk_arrow:active {
   @include background-image(linear-gradient($cp-blue 0%, #294d6f 50%));
}

/** Critical to the continued enjoyment of working dropdowns ******/
