/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"

/* Woo colors */

$blue: #1b334a
$dark-blue: #151f28
$light-blue: #32485c
$red: #ac322f
$dark-red: darken($red, 20%)
$black: #333
$dark-grey: #888
$light-grey: #e8e8e8
$off-grey: #eeecdf
$search-box: #b7c3cf


/* Woo Fonts */
$heading: RockwellSTD, Rockwell, sans-serif
$body: Helvetica Neue, Helvetica, Tahoma, serif

/* Woo Shadows */
$black-shadow: 0px 2px 1px black

/* Woo Buttons */
.red-button
  background: $red
  border-radius: 4px
  color: white
  text-shadow: 1px 1px 1px black
  font-weight: bold
  font-family: $heading
  display: block
  font-size: 20px
  text-decoration: none
  border: 1px solid
  border-color: darken($red, 15%)
  box-shadow: inset 0px 1px 0px 0px #d56360
  padding: 15px
    top: 13px
    bottom: 13px
    
/* Overall Styles */
.right
  float: right
.left
  float: left
.clear
  clear: both
#main
  width: 1000px
  margin: 0 auto

html
  background: url(../images/bg.jpg) no-repeat center center fixed
  background-size: cover
  -webkit-background-size: cover 

#header
  height: 60px
  width: 100%
  background: $blue
  position: fixed
  z-index: 9999
  box-shadow: 0px 1px 10px #434343
  border: 2px solid $light-blue
    left: none
    right: none
  .community-name
    width: 269px
    float: left
    padding-left: 15px
    padding-left: 60px
    height: 60px
    background-position: 20px 14px
    position: relative
    border-right: 1px solid $dark-blue
    border-left: 1px solid $dark-blue
    box-shadow: inset 1px 0 0 $light-blue
    h1
      color: white
      font-weight: bold
      text-shadow: $black-shadow
      font-size: 21px
      margin-top: 22px
      font-family: $heading
  .right
    width: 280px    
  .top-bar
    width: 667px
    float: right
    border-left: 1px solid $light-blue
    height: 60px
    border-right: 1px solid $light-blue
    box-shadow: inset -1px 0px 0px 0px $dark-blue
    h2
      float: left
      margin-top: 21px
      color: white
      font-weight: bold
      text-shadow: $black-shadow
      font-size: 21px
      font-family: $heading
      margin-left: 20px
    .right
      input[type=text]
        font-size: 12px
        width: 150px
        box-shadow: inset 0 1px 1px black
        margin-top: 13px
        font-weight: bold
        float: left
        border: 1px solid $dark-blue
        border-radius: 5px
        padding: 7px
        background-color: $search-box
        outline: none
      input::-webkit-input-placeholder
        color: $blue
      
      .messages
        background: url(../images/mail-icon.png) no-repeat
        width: 29px
        height: 22px
        float: left
        display: block
        text-indent: -9999px
        margin-top: 17px
        margin-left: 20px
      .settings
        background: url(../images/settings-icon.png) no-repeat
        height: 24px
        margin-left: 20px
        margin-top: 17px
        width: 24px
        float: left
        display: block
        text-indent: -9999px


@import 'starter-site'
