@import "compass/reset"
@import base.sass

input.neighbors_search
  font-size: 9px
  width: 180px
  box-shadow: inset 0 1px 1px black
  margin-bottom: 25px
  font-weight: bold
  float: left
  border: 1px solid $dark-tan
  border-radius: 5px
  padding: 7px
  background: $off-grey image-url("shared/redesign/search.png") no-repeat right
  outline: none
  background-position-x: 163px
  input::-webkit-input-placeholder
    color: $dark-tan

#your-pages-list div.page a img
  width: 32px
  margin-bottom: 30px

#your-pages-list div.page a p
  height: 27px
  overflow: hidden
