@import community_resources_navigation

#community-resources
  +box-shadow(#bcd4eb 2px 2px 0)
  .resources
    border: 2px solid #bcbcbc
      top: 0
      
    .sub-navigation
      background-color: #e0e0e0
      border: 1px solid #bcbcbc
        left: 0
        right: 0

      padding: 5px 10px

      &:first-child 
        border-top: 0

      a 
        color: #515151
        font-size: 13px
        +text-shadow(#fff 1px 1px 0)
          
        &:hover, &.current
          color: #b53f3c

  