
#info-box
  margin-top: 12px
  background: #2e4b67
  color: white
  font-family: Helvetica, Arial, sans-serif
  font-size: 12px
  padding: 15px
  padding-bottom: 5px
  +border-radius(4px)
  +box-shadow(4px 4px 2px rgba(46, 75, 103, 0.1), 0 0 0 1px #1b334a, 0 1px 0 rgba(70, 117, 161, 0.7) inset)
  h1, h2, h3, h4, h5, h6, p
    margin: 0
  
  ul, li
    margin: 0
    padding: 0
    list-style: none

  #info-upper
    +border-radius(4px)
    +box-shadow(2px 2px 6px rgba(0, 0, 0, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.24))
    overflow: hidden
    margin: 3px 0 15px
    height: 400px

    .search
      height: 20px
      padding: 5px
        right: 20px
      color: white
      background-color: #1c2e40
      background-image: image-url("search-blue.png") 
      background-position: 95% center
      background-repeat: no-repeat
      border: 0
      border-top: 1px solid #28394a
      width: 128px
      &:focus
        outline: 0
    
    #info-list-area
      width: 153px
      float: left
      
      &.searching
        ul
          height: 350px
      ul
        height: 370px
        overflow-x: hidden
        overflow-y: auto
        border-bottom: 1px solid #101f30
        background-color: #1c2e40
        border-right: 5px solid #1c2e40

      .remove-search
        text-align: center
        font-weight: bold
        text-transform: none
        color: #cee7fe
        text-decoration: none
        padding: 4px 8px
        +text-shadow(black 1px 1px 0)
        +border-radius(4px)
        display: none
        background-image: image-url("delete_grey.png")
        background-position: center right
        background-repeat: no-repeat

      .empty
        background-color: #888
        +box-shadow(0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 #888 inset, 0 2px 1px rgba(255, 255, 255, 0.2) inset)

      .not-empty
        background-color: #ac322f
        +box-shadow(0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 #ac322f inset, 0 2px 1px rgba(255, 255, 255, 0.2) inset)
        
      .none
        width: 133px
        background-color: #1c2e40
        position: absolute
        display: none
        padding: 10px
        text-align: center
      
      li
        padding: 8px
        overflow: hidden
        
        
        &:hover, &.current
          background-color: rgba(#385a7e,.3) 
          cursor:pointer

        a
          color: #738392
          text-decoration: none
          img
            float: left
            margin-right: 5px
          p
            float: right
            width: 80px
          strong
            color: white
            display: block

    #profile-area
      width: 307px
      float: right
      background: white
      overflow: auto
      color: #444
      height: 100%
      
      .none
        display: none
      a
        text-decoration: none
        h3
          &:hover
            text-decoration: underline
      img
        float: left
        margin: 0 15px 15px 0
      .profile-main
        overflow: hidden
      .profile-top
        width: 47%
        padding-right: 1px
        margin-bottom: 25px
        margin-left: 138px
      .profile-data > li
        margin-bottom: 10px
      h3
        color: #333
        font-family: Rokkitt, Rockwell
        font-size: 24px
        font-weight: bold
        //line-height: 1em
        margin-bottom: 10px
      h4
        color: #2e4b67
        text-transform: uppercase
        font-size: 11px
        font-weight: bold
        float: left
        margin-right: 5px
        position: relative
        top: 1px
        line-height: 1.4
        clear: left
      .about
        font-size: 12px
        margin-bottom: 10px
        p 
          line-height: 1.4
      li.interest
        display: inline
        font-weight: bold
        font-size: 12px
        color: #888
        margin-left: 4px
        line-height: 1.4
  ul.filter
    margin: 10px 0
    &:after
      content: "."
      display: block
      height: 0
      clear: both
      visibility: hidden
    li
      text-transform: uppercase
      font-weight: bold
      float: left
      margin-right: 5px
      &:first-child
        margin-right: 8px
      a
        text-transform: none
        color: #cee7fe
        text-decoration: none
        padding: 4px 8px
        +text-shadow(black 1px 1px 0)
        &.current, &:hover
          background: #ac322f
          +border-radius(4px)
          +box-shadow(0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 #ac322f inset, 0 2px 1px rgba(255, 255, 255, 0.2) inset)

      span
        padding: 0 10px
  a.gray-button
    display: block
    line-height: 20px
    text-align: center
    margin-top: 10px
    +border-radius(4px)
    background: #cfcfcf
    color: #1b334a
    text-transform: uppercase
    font-weight: bold
    text-decoration: none
    font-size: 10px
    +text-shadow(1px 1px 0 rgba(255, 255, 255, 0.9))
    +box-shadow(0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 #cfcfcf inset, 0 2px 0 rgba(255, 255, 255, 0.7) inset)
  .spacing
    padding: 15px

body.fixedLayout

  .contentBlinder
    position: absolute
    top: 15px
    bottom: 15px
    overflow: hidden
    left: 15px
    right: 15px

  #info-upper
    position: relative

    #info-list-area
      height: auto
      position: absolute
      top: 0
      bottom: 0

    #profile-area
      overflow-y: scroll
      overflow-x: hidden
      position: absolute
      top: 0
      bottom: 0
      right: 0

      .profile-top
        width: 120px
        
#info-list::-webkit-scrollbar
  width: 6px
  
#info-list::-webkit-scrollbar-button
  height: 5px
  
#info-list::-webkit-scrollbar-thumb:vertical
  width: 6px
  background-color: #738392
  -webkit-border-radius: 3px

