#info-box
  +border-radius(5px)

  background-color: #fff
    
  margin-top: 15px

  border: 1px solid #ccc

  padding-bottom: 15px

  h1
    color: #3b6085
    border-bottom: 1px solid #ccc
    background-color: #eaeaea

    text-align: center
    +border-top-radius(3px)
    padding: 8px 0 5px


  .left-column, .right-column
    float: left
    margin-top: 15px
    margin-left: 15px

  .left-column
    width: 120px

  .right-column
    width: 320px

  table
    width: 100%

    th
      padding: 5px 10px 5px 0
  +border-radius(5px)