@mixin input
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px
  color: #888
  background: white
  border: none
  width: 94%
  @include border-radius(4px)
  padding: 10px 3% 9px
  margin: 0 0 3% 0
  resize: none
  @include box-shadow(0 0 0 1px #8b2324, 2px 2px 5px #ccc inset)
  
  &:focus
    outline: none
    color: #333

#post-box
  +border-radius(5px)
  +box-shadow(#bcd4eb 3px 3px 0)

  background-color: #AC322F

  border: 1px solid #8F2927

  padding-bottom: 15px

  h1
    background-color: #8b2324
    text-align: center
    color: #fff
    +border-top-radius(5px)
    font-size: 12px
    padding: 13px
    font-weight: bold
    font-family: Helvetica, Arial, sans-serif
    +text-shadow(rgba(0, 0, 0, 0.75) 1px 1px 0 )
    +box-shadow(#b53a37 0 1px 0 inset)

  .navigation
    float: left
    margin-left: 15px
    width: 140px

    a.tab-button
      display: block
      cursor: pointer
      color: white
      font-family: Rokkitt, Rockwell
      text-decoration: none
      padding: 10px 0 10px 6px
      font-size: 15px
      margin-top: 15px
      line-height: 1em
      border: none
      font-weight: bold
      +border-radius(5px)

      background: #8B2324
      +background-image(linear-gradient(#b42d2f 0%, #8b2324 50%))
      +text-shadow(#4e1414 0 -1px 0)
      +box-shadow(#a82a2b 0 0 0 1px inset, #6e1c1d 0 0 0 1px, #4e1414 0 5px 6px -4px)

      &.current
        background: #1B334A
        +background-image(linear-gradient(#294d6f 0%, #1b334a 50%))
      
        +text-shadow(#070C12 0 -1px 0)
        +box-shadow(#254564 0 0 0 1px inset, #112130 0 0 0 1px, #070c12 0 5px 6px -4px)
        &:hover
          +background-image(linear-gradient(#2d547b 0%, #1f3b55 50%))

        &:active
          +background-image(linear-gradient(#22405d 0%, #182e43 50%))
          +box-shadow(#1e3851 0 0 0 1px inset, #112130 0 0 0 1px)

      img 
        float: left
        margin-right: 6px

      &:hover
        +background-image(linear-gradient(#c03032 0%, #972627 50%))

      &:active
        position: relative
        top: 2px
        +background-image(linear-gradient(#9f2829 0%, #832122 50%))
        +box-shadow(#932526 0 0 0 1px inset, #6e1c1d 0 0 0 1px)
        
  .form-container
    float: left
    margin-left: 15px
    margin-top: 15px
    width: 305px

    form
      +form
      display: none

      .incomplete
        background-color: #f4e15f
        border: 2px solid #ffe534
        +border-radius(3px)
        color: #363636
        display: none
        padding: 5px
        font-family: Helvetica, Arial, sans-serif
        font-size: 14px

      &.current
        display: block

      input[type=text]
        width: 285px
        +input()

      textarea
        margin-top: 15px
        width: 285px
        height: 105px
        margin-bottom: 0
        +input()


      label.radio
        display: inline

      p.warning
        display: none
        color: #fff
        font-size: 13px

      .post-label-selector
        margin-top: 15px
        height: 125px
        overflow-y: scroll
    
        li 
          &:first-child
            margin-top: 0px
          
          margin-top: 10px
          margin-right: 10px
          padding: 7px 5px 3px
          background-color: #fff
          +border-radius(5px)
          background-image: image-url("feed_page/check-off.png")
          background-repeat: no-repeat
          background-position: 252px 7px
    
          &.checked
            background-image: image-url("feed_page/check-on.png")
            
          label
            display: block
            font-size: 18px
            font-family: Rokkitt, Rockwell, Helvetica, sans-serif
            color: #333
            margin: 0
            padding: 0
          
          img 
            position: relative
            top: -3px
            vertical-align: middle
            margin-right: 5px
            border: 0
    
          input
            display: none

      button
        margin-top: 15px
        font-size: 18px
        padding: 15px 15px
      
      .on-focus
        display: none
        margin-top: 15px

      input.date
        position: relative
        z-index: 10000
        
      .spinner
        display: none

    form.create-group-post

      .group-select
        background-color: #fff
        height: 210px
        overflow-y: scroll
        +border-radius(5px)
        li a
          display: block
          padding: 10px 0 10px 10px
          height: 50px
          font-size: 16px
          font-family: Rokkitt, Rockwell
          font-weight: bold
          color: #1B334A
          text-decoration: none
          background-position: 10px center
          background-repeat: no-repeat

          &.odd
            background-color: #EEE
            
          &.even


          &:hover
            background-color: #DEDEDE

          img
            +border-radius(5px)
            margin-right: 10px
            float: left
          span
            display: block
            width: 230px
            margin-top: 10px
            
      .group-post-inputs
        display: none

      


