
#post-box
  +border-radius(5px)

  background-color: #AC322F

  border: 1px solid #8F2927

  padding-bottom: 15px

  h1
    background-color: #8F2927
    text-align: center
    color: #fff
    +border-top-radius(5px)
    font-size: 13px
    padding: 10px 0 5px

  .navigation
    float: left
    margin-left: 15px
    width: 140px

    a.tab-button
      margin-top: 15px
      display: block
      color: #fff
      font-size: 13px

      height: 30px
      padding: 10px

      background-color: #8F2927

      &.current, &:hover
        background-color: #1d334c
          

  .form-container
    float: left
    margin-left: 30px
    margin-top: 15px
      
