

%ul#addresses
  - @addresses.each do |address|
    %li= address.name


= render_map do |map|
  - @addresses.each do |address|
    - map.center :lat => 42.283285, :lng => -71.157144
    - map.marker :lat => address.lat, :lng => address.lng
