<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>
    <table id="body">

      <tr>
        <td>
          <p>Question Sender: {{sender}}</p>

          <p>Question Text: {{question}}</p>
        </td>

      </tr>

    </table>

  </body>
</html>
