<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{community_name}} Daily Bulletin</title>
    <style>
      {{styles}}
    </style>
  </head>

  <body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" bgcolor="#f5f4e8">
     <table id="page-wrapper">
        <tbody>
          <tr>
            <td>
              <center>
                <table id="email-wrapper">
                  <tbody>
                    <tr>
                      <td>
                        <table width="650" cellpadding="0" cellspacing="0" border="0" align="center">
                          <tr>
                            <td width="100%">
                              <!-- NEW HEADER -->
                              <table id="header-wrapper" width="100%" height="82" border="0" cellpadding="0" cellspacing="0">
                              	<tr>
                              		<td class="header" width="530" height="65" rowspan="2" bgcolor="#1b334a">
                                    <a href="{{community_home_url}}"><img class="logo" src="{{header_image_url}}" alt="OurCommonPlace {{community_name}} Daily Bulletin" /></a>
                              		</td>
                              		<td class="month" width="90" height="30" bgcolor="#aa211d"><strong>{{month_short}}</strong></td>
                              		<td class="header-side" width="20" height="65" rowspan="2" bgcolor="#1b334a" valign="top">&nbsp;</td>
                              	</tr>
                              	<tr height="40">
                              		<td class="day" width="90" height="50" rowspan="3" bgcolor="#fff">{{day_of_month}}</td>
                              	</tr>
                              	<tr>
                              		<td class="shadow" width="530" height="5" bgcolor="#f5f4e8">&nbsp;</td>
                              		<td class="shadow" width="20" height="5" bgcolor="#f5f4e8">&nbsp;</td>
                              	</tr>
                              </table>
                              <!-- END NEW HEADER -->

                              <!--
                              (Old Header)
                              <table width="650" style="color:#1b334b;font:14px Helvetica, sans-serif;margin-bottom:0px;" cellpadding="0" cellspacing="0" border="0" class="table">
                                <tr bgcolor="#1b334a">
                                  <td width="30px" style="padding-left:15px;position:relative;bottom:9px;"><img src="{{logo_url}}" alt="CommonPlace Logo"><a href="{{root_url}}"></a></td>
                                  <td class="town_name" width="450px" style="font:20px Rokkitt, 'Rockwell STD', Rockwell, serif;padding-left: 5px;position:relative;bottom:7px;">
                                    <a href="{{root_url}}">{{community_name}}</a>
                                  </td>
                                  <td width="120px">
                                    <table class="date" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td class="month">{{month_short}}</td>
                                      </tr>
                                      <tr>
                                        <td class="day">{{day_of_month}}</td>
                                      </tr>					
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              (End Old Header)
                           -->

                              <!--INTRODUCTION-->
                              <table id="introduction" width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                  <td>
                                    <h1><strong>Happy {{day_of_week}}!</strong></h1>
                                    <p>{{message_text}}</p>
                                  </td>
                                </tr>
                              </table>
                              <!--END INTRO-->

                              {{#posts_present}}
                              <table width="650" cellpadding="25" cellspacing="0" border="0" class="section_container">
                                <tr>
                                  <td width="100%">                      
                                    <img src="{{post_icon_url}}" width="20" height="20" alt="&#9733;" class="section_icon"> &nbsp; <span class="section_header"><strong>{{#t}}posts-section-title{{/t}}</strong></span>	
                                  </td>
                                </tr>
                              </table>	

                              {{#posts}}
                              <table width="100%" cellpadding="0" cellspacing="0" border="0" class="posts">
                                <tr>
                                  <td width="100%" bgcolor="#ffffff">
                                    <table width="100%" cellpadding="20" cellspacing="0" border="0">
                                      <tr>
                                        <td bgcolor="#ffffff" class="contentblock">
                                          <table>
                                            <tr class="post"><!--A Post-->
                                              <td class="avatar" height="110" valign="top"><img src={{avatar_url}} alt="User Avatar" width="50" height="50"></td>
                                              <td class="post_content">
                                                <a href="{{url}}"><p class="title"><strong>{{title}}</strong></p></a>
                                                <p class="author" style="color:#1b334a;"><strong>{{author}}</strong></p>
                                                <p class="body">{{body}}</p>
                                                {{#replies}}
                                                <div class="reply-separator"></div>
                                                <table class="reply">
                                                  <tr>
                                                    <td class="avatar" rowspan="2">
                                                      <img src="{{avatar_url}}" width="25" height="25">
                                                    </td>
                                                    <td class="author" style="font-weight: bold;">
                                                      <strong>{{author}}</strong>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td class="body">
                                                      <p>{{body}}</p>
                                                    </td>
                                                  </tr>
                                                </table>
                                                {{/replies}}
                                                <table width="100%" class="links">
                                                  <tr>
                                                    <td width="340px">
                                                      <a href="{{new_message_url}}">
                                                        <span class="viewall">Send a Private Message</span>
                                                      </a>
                                                    </td>
                                                    <td class="view_post_td">
                                                      <a href="{{url}}"class="reply-now"><img src="{{view_post_button_url}}" width="90" height="25" alt="View Post" />
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td><div class="post-separator"></div></td>
                                </tr>
                              </table>  
                              {{/posts}}
                              {{/posts_present}}

                              {{#events_present}}
                              <table width="100%" cellpadding="25" cellspacing="0" border="0" class="section_container">
                                <tr>
                                  <td><div class="post-separator"></div></td>
                                  <td width="100%">                      
                                    <img src="{{event_icon_url}}" width="20" height="20" alt="&#9733;" class="section_icon"> &nbsp; <span class="section_header"><strong>{{#t}}events-section-title{{/t}}</strong></span>	
                                  </td>
                                </tr>
                              </table>	

                              {{#events}}
                              <table width="100%" cellpadding="0" cellspacing="0" border="0" class="posts">
                                <tr>
                                  <td width="100%" bgcolor="#ffffff">
                                    <table width="100%" cellpadding="20" cellspacing="0" border="0">
                                      <tr>
                                        <td bgcolor="#ffffff" class="contentblock">
                                          <table>
                                            <tr class="post event"><!--A Post-->
                                              <td class="avatar" height="110" valign="top">
                                                <div class="calendar">
                                                  <div class="short-month">{{short_month}}</div>
                                                  <div class="day">{{day}}</div>
                                                </div>
                                                <span class="time">{{starts_at}}</span>
                                                -
                                                <span class="time">{{ends_at}}</span>
                                              </td>
                                              <td class="post_content">
                                                <a href="{{url}}"><p class="title"><strong>{{title}}</strong></p></a>
                                                <p class="author" style="color:#1b334a; font-weight: bold;"><strong>{{author}}</strong></p>
                                                <p class="body">{{body}}</p>
                                                <p>
                                                  {{#venue}}<span class="info">Venue:</span> {{venue}}<br>{{/venue}}
                                                  {{#address}}<span class="info">Address:</span> {{address}}{{/address}}
                                                </p>

                                                {{#replies}}
                                                <div class="reply-separator"></div>
                                                <table class="reply">
                                                  <tr>
                                                    <td class="avatar" rowspan="2">
                                                      <img src="{{avatar_url}}" width="25" height="25">
                                                    </td>
                                                    <td class="author" style="font-weight: bold;">
                                                      {{author}}
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td class="body">
                                                      <p>{{body}}</p>
                                                    </td>
                                                  </tr>
                                                </table>
                                                {{/replies}}

                                                <table width="100%" class="links">
                                                  <tr>
                                                      <td width="340px">
                                                        <a href="{{new_message_url}}">
                                                          <span class="viewall">Send a Private Message</span>
                                                        </a>
                                                      </td>
                                                    <td class="view_post_td">
                                                      <a href="{{url}}"class="reply-now"><img src="{{view_post_button_url}}" width="90" height="25" alt="View Post" />
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td><div class="post-separator"></div></td>
                                </tr>
                              </table>  
                              {{/events}}
                              {{/events_present}}

                              {{#announcements_present}}
                              <table width="100%" cellpadding="25" cellspacing="0" border="0" class="section_container">
                                <tr>
                                  <td><div class="post-separator"></div></td>
                                  <td width="100%">                      
                                    <img src="{{announcement_icon_url}}" width="20" height="20" alt="&#9733;" class="section_icon"> &nbsp; <span class="section_header"><strong>{{#t}}announcements-section-title{{/t}}</strong></span>	
                                  </td>
                                </tr>
                              </table>	

                              {{#announcements}}
                              <table width="100%" cellpadding="0" cellspacing="0" border="0" class="posts">
                                <tr>
                                  <td width="100%" bgcolor="#ffffff">
                                    <table width="100%" cellpadding="20" cellspacing="0" border="0">
                                      <tr>
                                        <td bgcolor="#ffffff" class="contentblock">
                                          <table>
                                            <tr class="post"><!--A Post-->
                                              <td class="avatar" height="110" valign="top"><img src={{avatar_url}} alt="User Avatar" width="50" height="50"></td>
                                              <td class="post_content">
                                                <a href="{{url}}"><p class="title"><strong>{{title}}</strong></p></a>
                                                <p class="author" style="color:#1b334a; font-weight: bold;"><strong>{{author}}</strong></p>
                                                <p class="body">{{body}}</p>

                                                {{#replies}}
                                                <div class="reply-separator"></div>
                                                <table class="reply">
                                                  <tr>
                                                    <td class="avatar" rowspan="2">
                                                      <img src="{{avatar_url}}" width="25" height="25">
                                                    </td>
                                                    <td class="author" style="font-weight: bold;">
                                                      {{author}}
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td class="body">
                                                      <p>{{body}}</p>
                                                    </td>
                                                  </tr>
                                                </table>
                                                {{/replies}}
                                                <table width="100%" class="links">
                                                  <tr>
                                                      <td width="340px">
                                                        <a href="{{new_message_url}}">
                                                          <span class="viewall">Send a Private Message</span>
                                                        </a>
                                                      </td>
                                                    <td class="view_post_td">
                                                      <a href="{{url}}"class="reply-now"><img src="{{view_post_button_url}}" width="90" height="25" alt="View Post" />
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td><div class="post-separator"></div></td>
                                </tr>
                              </table>  
                              {{/announcements}}
                              {{/announcements_present}}
                            </td>
                          </tr>
                        </table>
                        <div class="post-separator"></div>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                          <tr>
                            <td width="100%" nowrap align="center">
                              <!--footer-->
                              <table width="100%" cellpadding="0" cellspacing="0" border="0" class="footer">
                                <tr>
                                  <td width="100%" nowrap align="center">
                                    <!--footer-->
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="footer">
                                      <tr>
                                        <td valign="top" class="footershow">
                                        <div class="post-separator"></div>
                                        <p class="website"><a href="{{settings_url}}"><span>Change my email settings</span></a> | <a href="{{root_url}}"><span>{{community_slug}}.OurCommonPlace.com</span></a></p>
                                        <p class="social-media">Follow us: <img src="{{facebook_icon_url}}" width="20" height="20" alt="Facebook" /> <img src="{{twitter_icon_url}}" width="20" height="20" alt="Twitter" /></span>
                                    </td></tr>
                                  </table><!--End footer-->
                                </td>
                              </tr>	
                      </td>
                    </tr>
                  </tbody>
                </table>
             </center>
           </td>
         </tr>
      </tbody>
    </table>
  </body>
</html>
