<!DOCTYPE PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>{{community_name}} CommonPlace Daily Bulletin</title>
    <link href='http://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css' rel="stylesheet" type="text/css">
    <style>
{{styles}}
    </style>
  </head>
  <body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" bgcolor="#cee7fe">
    <table cellspacing="0" cellpadding="0" border="11" align="center" width="621" bgcolor="#f7f3e6" style="border-width:11px; border-color:#ffffff; border-style:solid; background-color:#fafafa;">
      <tbody>
        <tr>
          <td valign="top" border="0" style="border: none; ">

            <!-- Header Block -->
            <table cellspacing="0" cellpadding="0" border="0" align="center" style="padding-bottom: 10px;">
              <tbody>

                <tr bgcolor="#1b334a">

                  <td width="" align="left" valign="middle" bgcolor="#1b334a" style="padding: 15px 8px 10px 10px; margin: 0px;">

                    <h1 style="margin: 0; font-size: 42px; color:#33384f;">

                      <img src="{{logo_url}}" alt="CommonPlace" width="221" height="38" align="top">

                    </h1>
                  </td>
                  <td width="366" align="left" valign="middle">
                    <h3 style="margin-top: 19px; padding-bottom: 0; font-size: 22px; font-family: Rockwell, Helvetica, Arial; text-align:left;font-weight: normal; color: #ac322f; margin-bottom: 8px;">{{community_name}}</h3>
                  </td>
                </tr>
              </tbody>
            </table>

            <table cellspacing="0" cellpadding="0" border="0" align="center" style="padding-left: 10px; padding-right: 10px;" id="header">
              <tbody>
                <tr>
                  <td valign="top" style="padding-top: 10px; padding-bottom: 19px;">
                    <table cellspacing="0" cellpadding="0" border="0" align="center">
                      <tbody>
                        <!--- H2 header --->
                        <tr>
                          <td valign="top">

                            <h2 style="margin: 0; padding-bottom: 5px; font-size: 24px; font-family: Rockwell, Helvetica, Arial;font-weight: normal; color: #ac322f;">{{community_name}} CommonPlace Daily Bulletin</h2>

                            <h3 class="date">{{header_text}}</h3>

                          </td>
                        </tr>

                        <!--- Recent Neighborhood Posts ---->

                        {{#posts_present}}

                          <tr>
                            <td valign="top" style="padding-top: 10px; padding-bottom: 10px;">
                              <table cellspacing="0" cellpadding="0" border="0" align="center">
                                <tbody>
                                  <tr>
                                    <td valign="top" class="section-header">


                                      <h2>Recent Neighborhood Posts</h2>

                                      <p class="sub-head">Posts on CommonPlace today</p>
                                    </td>
                                  </tr>

                                  {{#posts}}
                                    <tr>
                                      <td valign="top">
                                        <table class="post"
                                          bgcolor="#fafafa" cellspacing="0" width="100%" cellpadding="0" border="0" align="left">

                                          <tbody>

                                            <!--- Helpful Diagram
                                            +--------+---------------------+
                                            | Avatar | Author              |
                                            |        |---------------------|
                                            |        | Title               |
                                            |        |---------------------|
                                            |        | Body                |
                                            |        |---------------------|
                                            |        | Replies (sub-table) |
                                            |        |---------------------|
                                            |        | Reply Button        |
                                            +--------+---------------------+
                                            -->

                                            <tr>

                                              <td class="avatar" rowspan="5" align="left" valign="top">
                                                <img src="{{avatar_url}}" width="50" height="50" />
                                              </td>

                                              <td width="335" valign="top" class="author">
                                                <div>{{author}}</div>
                                              </td>


                                            </tr>

                                            <tr>
                                              <td valign="top"  class="title">
                                                <span>{{title}}</span>
                                              </td>
                                            </tr>

                                            <tr>
                                              <td class="body" valign="top">
                                                <p>{{body}}</p>
                                              </td>
                                            </tr>

                                            <tr>
                                              <td class="replies">
                                                <!--
                                                +--------+--------+------+
                                                | Avatar | Author | Time |
                                                |        +--------+------+
                                                |        | Body          |
                                                +--------+---------------+
                                                -->
                                                {{#replies}}
                                                  <div class="reply-separator"></div>
                                                  <table class="reply">
                                                    <tr>
                                                      <td class="avatar" rowspan="2">
                                                        <img src="{{avatar_url}}" width="25" height="25">
                                                      </td>
                                                      <td class="author">
                                                        {{author}}
                                                      </td>

                                                      <td class="time">
                                                        {{published_at}}
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td class="body" colspan="2">
                                                        <p>{{body}}</p>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                {{/replies}}
                                              </td>
                                            </tr>


                                            <tr>
                                              <td class="respond">
                                                <div class="reply-separator"></div>
                                                <a href="{{url}}"><img src="{{reply_button_url}}"></a>
                                              </td>
                                            </tr>

                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><div class="post-separator"></div></td>
                                    </tr>
                                  {{/posts}}
                                </tbody>
                              </table>
                            </td>
                          </tr>

                        {{/posts_present}}
                        <!--- Recent Community Announcements ---->
                        {{#announcements_present}}
                          <tr>
                            <td valign="top" style="padding-top: 10px; padding-bottom: 10px;">
                              <table cellspacing="0" cellpadding="0" border="0" align="center">
                                <tbody>
                                  <tr>
                                    <td valign="top" class="section-header">


                                      <h2>Recent Community Announcements</h2>

                                      <p class="sub-head">Announcements on CommonPlace today</p>
                                    </td>
                                  </tr>

                                  {{#announcements}}
                                    <tr>
                                      <td valign="top">
                                        <table class="post"
                                          bgcolor="#fafafa" cellspacing="0" width="100%" cellpadding="0" border="0" align="left">

                                          <tbody>

                                            <!--- Helpful Diagram
                                            +--------+---------------------+
                                            | Avatar | Author              |
                                            |        |---------------------|
                                            |        | Title               |
                                            |        |---------------------|
                                            |        | Body                |
                                            |        |---------------------|
                                            |        | Subscribe           |
                                            |        |---------------------|
                                            |        | Replies (sub-table) |
                                            |        |---------------------|
                                            |        | Reply Button        |
                                            +--------+---------------------+
                                            -->

                                            <tr>

                                              <td class="avatar" rowspan="6" align="left" valign="top">
                                                <img src="{{avatar_url}}" width="50" height="50" />
                                              </td>

                                              <td width="335" valign="top" class="author">
                                                <div>{{author}}</div>
                                              </td>


                                            </tr>

                                            <tr>
                                              <td valign="top"  class="title">
                                                <span>{{title}}</span>
                                              </td>
                                            </tr>

                                            <tr>
                                              <td class="body" valign="top">
                                                <p>{{body}}</p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td class="subscribe">
                                                {{#feed_id}}
                                                  <div>
                                                    <a href="{{author_url}}">
                                                      <span>Subscribe to {{author}}
                                                      </span>
                                                    </a>
                                                  </div>
                                                {{/feed_id}}
                                              </td>
                                            </tr>

                                            <tr>
                                              <td class="replies">
                                                <!--
                                                +--------+--------+------+
                                                | Avatar | Author | Time |
                                                |        +--------+------+
                                                |        | Body          |
                                                +--------+---------------+
                                                -->
                                                {{#replies}}
                                                  <div class="reply-separator"></div>
                                                  <table class="reply">
                                                    <tr>
                                                      <td class="avatar" rowspan="2">
                                                        <img src="{{avatar_url}}" width="25" height="25">
                                                      </td>
                                                      <td class="author">
                                                        {{author}}
                                                      </td>

                                                      <td class="time">
                                                        {{published_at}}
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td class="body" colspan="2">
                                                        <p>{{body}}</p>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                {{/replies}}
                                              </td>
                                            </tr>


                                            <tr>
                                              <td class="respond">
                                                <div class="reply-separator"></div>
                                                <a href="{{url}}"><img src="{{reply_button_url}}"></a>
                                              </td>
                                            </tr>

                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><div class="post-separator"></div></td>
                                    </tr>
                                  {{/announcements}}
                                </tbody>
                              </table>
                            </td>
                          </tr>

                        {{/announcements_present}}
                        <!--- Upcomming Community Events---->

                        {{#events_present}}
                          <tr>
                            <td valign="top" style="padding-top: 10px; padding-bottom: 10px;">
                              <table cellspacing="0" cellpadding="0" border="0" align="center">
                                <tbody>
                                  <tr>
                                    <td valign="top" class="section-header">


                                      <h2>Upcoming Community Events</h2>

                                      <p class="sub-head">Events happening in the next week in your community.</p>
                                    </td>
                                  </tr>

                                  {{#events}}
                                    <tr>
                                      <td valign="top">
                                        <table class="post event"
                                          bgcolor="#fafafa" cellspacing="0" width="100%" cellpadding="0" border="0" align="left">

                                          <tbody>

                                            <!--- Helpful Diagram
                                            +--------+---------------------+
                                            | Avatar | Author              |
                                            |        |---------------------|
                                            |        | Title               |
                                            |        |---------------------|
                                            |        | Body                |
                                            |        |---------------------|
                                            |        | Replies (sub-table) |
                                            |        |---------------------|
                                            |        | Reply Button        |
                                            +--------+---------------------+
                                            -->

                                            <tr>

                                              <td class="avatar" rowspan="5" align="left" valign="top">
                                                <div class="calendar">
                                                  <div class="short-month">{{short_month}}</div>
                                                  <div class="day">{{day}}</div>
                                                </div>

                                                <span class="time">{{starts_at}}</span>
                                                -
                                                <span class="time">{{ends_at}}</span>
                                              </td>

                                              <td width="335" valign="top" class="author">
                                                <div>{{author}}</div>
                                              </td>


                                            </tr>

                                            <tr>
                                              <td valign="top"  class="title">
                                                <span>{{title}}</span>
                                              </td>
                                            </tr>

                                            <tr>
                                              <td class="body" valign="top">
                                                <p>{{body}}</p>
                                              </td>
                                            </tr>

                                            <tr>
                                              <td class="replies">
                                                <!--
                                                +--------+--------+------+
                                                | Avatar | Author | Time |
                                                |        +--------+------+
                                                |        | Body          |
                                                +--------+---------------+
                                                -->
                                                {{#replies}}
                                                  <div class="reply-separator"></div>
                                                  <table class="reply">
                                                    <tr>
                                                      <td class="avatar" rowspan="2">
                                                        <img src="{{avatar_url}}" width="25" height="25">
                                                      </td>
                                                      <td class="author">
                                                        {{author}}
                                                      </td>

                                                      <td class="time">
                                                        {{published_at}}
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td class="body" colspan="2">
                                                        <p>{{body}}</p>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                {{/replies}}
                                              </td>
                                            </tr>


                                            <tr>
                                              <td class="respond">
                                                <div class="reply-separator"></div>
                                                <a href="{{url}}"><img src="{{reply_button_url}}"></a>
                                              </td>
                                            </tr>

                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><div class="post-separator"></div></td>
                                    </tr>
                                  {{/events}}
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        {{/events_present}}
                      </tbody>
                    </table>
                  </td>

                  <!--- sidebar -->

                  <td id="sidebar"
                    valign="top" style="border-left: 1px; border-left-style: solid; border-left-color: #ddd;">
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="175" style="border-left: 15px solid #fafafa;">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding:0px;">
                            <table cellspacing="0" cellpadding="0" border="0" align="center" width="165" style="font-family: Helvetica, Arial, sans-serif;">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding-bottom:23px">
                                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="165">
                                      <tbody>
                                        <tr>
                                          <td valign="top" width="122" style="padding: 0; text-align:left;">


                                            <h4>Invite your Neighbors!</h4>
                                            <p>Know anyone in {{community_name}} <em>not</em> on CommonPlace?</p>
                                            <a href="{{new_invites_url}}">
                                              <img src="{{invite_them_now_button_url}}">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="top" style="padding-bottom:23px">
                                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="165">
                                      <tbody>
                                        <tr>
                                          <td valign="top" width="122" style="padding: 0; text-align:left;">

                                            <h4>Post to a Discussion Group</h4>

                                            <p>Lorem ipsum dolor sit amet. Consecetetuir adipiscing elit.</p>

                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="top" style="padding-bottom:23px">
                                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="165">
                                      <tbody>
                                        <tr>
                                          <td valign="top" width="122" style="padding: 0; text-align:left;">
                                            <h4>Post to Your Neighborhood</h4>
                                            <p>Lorem ipsum dolor sit amet. Consecetetuir adipiscing elit.</p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--/content-->
          </td>
        </tr>

        <!--- footer --->
        <tr>

          <td id="footer">
            <div class="posting-links">
              <a href="{{new_post_url}}">Post to Your Neighborhood</a>

              <span class="separator">&middot;</span>

              <a href="{{new_announcement_url}}">Post an Announcement</a>

              <span class="separator">&middot;</span>

              <a href="{{new_event_url}}">Post an Event</a>
            </div>

            <div class="settings">
              <p>Want to change your email settings? Click <a href="{{settings_url}}">here</a> to manage your subscriptions.</p>
            </div>

            <div class="legal">
              <a href="{{root_url}}">OURCOMMONPLACE.COM</a>
              <br>
              &copy; 2011 CommonPlace.
          </td>

        </tr>
      </tbody>
    </table>
    <!--/container-->
  </body>
</html>
