<tr>
  <td id="header">
    <table>
      <tr>
        <td id="logo">
          <a href="{{community_home_url}}">
            <img src="{{logo_url}}" alt="CommonPlace">
          </a>
        </td>
        <td id="community_name">
          {{community_name}}
        </td>
        <td id="header-text">
          {{header_text}}
        </td>
      </tr>
    </table>
  </td>
</tr>
