<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>

    <table id="body">
      {{< header}}
      <tr>
        <td>
          {{#t}}body{{/t}}
        </td>
      </tr>
      <tr>
        <td id="footer">
        {{< legal }}
        </td>
      </tr>
    </table>
  </body>
</html>
