<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>
    <table id="body">

      {{< header }}

      <tr>
        <td>
          <p>Follow this link to reset your password: <a href="{{reset_url}}">{{reset_url}}</a></p>
        </td>
      </tr>

      <tr>
        <td id="footer">
          {{< legal }}
        </td>
      </tr>
    </table>

  </body>
</html>
