<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>

    <table id="page-wrapper">
      <tbody>
        <tr>
          <td>
            <center>
              <table id="email-wrapper">
                <tbody>
                  <tr>
                    <td>
                      <table id="header">
                        <tr><td>
                            <a href="{{community_home_url}}"><img src="{{header_image_url}}" alt="OurCommonPlace {{community_name}}" /></a>
                        </td></tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td id="content-td">
                      <table id="content">
                        <tbody>
                          <tr>
                            <td>
                              <table id="greeting">
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="p">Hi {{short_user_name}},</div>

                                      <div class="p">{{subject}}</div>

                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                            </td>
                          </tr>

                          <tr>
                            <td>
                              <table id="email-message-body">
                                <tbody>
                                  <tr>
                                    {{#has_avatar}}
                                      <td id="email-author-avatar-td" rowspan="2">
                                      <img src="{{author_avatar_url}}" width="50" height="50">

                                      </td>
                                    {{/has_avatar}}

                                    <td id="email-message-body-td">
                                      <p class="message-title"><a href="{{post_url}}">{{title}}</a></p>

                                      <div class="message-body">
                                        {{#markdown}}{{body}}{{/markdown}}
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td id="email-reply-methods-td">
                                      <table>
                                        <tbody>
                                          <tr>
                                            <td id="reply-button-td">
                                              <a href="{{post_url}}"class="reply-now"><img src="{{view_post_button_url}}" width="90" height="25" alt="View Post" />
                                            </td>
                                            <td id="reply-or-td">
                                              or <a href="{{new_message_url}}"><span>Send a Private Message</span></a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table id="reminder">
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="p">You can also reply to {{short_author_name}} by replying to this email.</div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table id="legal-footer" width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                           <td valign="top">
                             <div class="p copy"><a href="{{settings_url}}"><span>Change my email settings</span></a> | <a href="{{root_url}}"><span>{{community_slug}}.OurCommonPlace.com</span></a></div>
                            <p class="social-media">Follow us: <a href="{{facebook_url}}"><img src="{{facebook_icon_url}}" width="20" height="20" alt="Facebook" /></a> <a href="{{twitter_url}}"><img src="{{twitter_icon_url}}" width="20" height="20" alt="Twitter" /></a></span>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
