<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>

    <table id="page-wrapper">
      <tbody>
        <tr>
          <td>
            <center>
              <table id="email-wrapper">
                <tbody>
                  <tr>
                    <td>
                      <table id="header">
                        <tr><td>
                            <a href="{{community_home_url}}"><img src="{{header_image_url}}" alt"OurCommonPlace {{community_name}}"></a>
                        </td></tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td id="content-td">
                      <table id="content">
                        <tbody>
                          <tr>
                            <td>
                              <table id="greeting">
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="p">Dear {{short_user_name}},</div>

                                      <div class="p">One of the most important roles of <a href="{{community_home_url}}">OurCommonPlace {{community_name}}</a> is to help residents stay safe.</div>

                                      <div class="p">During Hurricane Irene last year, we saw Mayors, community centers, and awesome citizens stand up and use the platform to help their neighbors get vital information about power outages, building closings and safe drinking water.</div>

                                      <div class="p">This year, we want to help people stay up-to-date on Hurricane Sandy. But we need your help!</div>

                                      <div class="p"><b>Please consider taking a few minutes to help your community by posting important news about the storm and answering your neighbors' questions on <a href="{{community_home_url}}">www.{{community_slug}}.OurCommonPlace.com</a></b>. We have commitments from a few local officials to do the same. We hope that many more join us in the next 24 hours.</div>

                                      <div class="p">Also, we hope you'll each remind concerned families that they can stay immediately informed about storm issues by joining OurCommonPlace {{community_name}} here: <a href={{community_home_url}}>www.{{community_slug}}.OurCommonPlace.com</a></div>


                                      <div class="p">Thanks for being great neighbors.</div>

                                      <div class="p">Warmly,<br>Max<br>Co-Founder<br>max@ourcommonplace.com</div>

                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table id="legal-footer" width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                           <td valign="top">
                             <div class="p copy"><a href="{{settings_url}}"><span>Change my email settings</span></a> | <a href="{{root_url}}"><span>{{community_slug}}.OurCommonPlace.com</span></a></div>
                            <p class="social-media">Follow us: <a href="{{facebook_url}}"><img src="{{facebook_icon_url}}" width="20" height="20" alt="Facebook" /></a> <a href="{{twitter_url}}"><img src="{{twitter_icon_url}}" width="20" height="20" alt="Twitter" /></a></span>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
