<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{community_name}} Daily Bulletin</title>
    <style>
      {{styles}}
    </style>
  </head>

  <body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" bgcolor="#e8e6da">

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#e8e6da" style="background-color:#e8e6da;">
      <tr><td width="5%"></td><td width="90%">
          <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#e8e6da" style="background-color:#e8e6da;">
            <tr>
              <td width="100%">

                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
                  <tr>
                    <td width="600" class="cell">

                      <!--Header-->
                      <table width="600" style="color:#1b334b;font:14px Helvetica, sans-serif;margin-bottom:0px;" cellpadding="0" cellspacing="0" border="0" class="table">
                        <tr bgcolor="#1b334a">
                          <td width="30px" style="padding-left:15px;position:relative;bottom:9px;"><img src="{{logo_url}}" alt="CommonPlace Logo"><a href="{{root_url}}"></a></td>
                          <td class="town_name" width="450px" style="font:20px Rokkitt, 'Rockwell STD', Rockwell, serif;padding-left: 5px;position:relative;bottom:7px;">
                            <a href="{{root_url}}">{{community_name}}</a>
                          </td>
                          <td width="120px">
                            <table class="date" cellpadding="0" cellspacing="0" border="0">
                              <tr>
                                <td class="month">{{month_short}}</td>
                              </tr>
                              <tr>
                                <td class="day">{{day_of_month}}</td>
                              </tr>					
                            </table>
                          </td>
                        </tr>
                      </table>
                      <!--End Header-->

                      <!--Introduction-->
                      <table width="600" cellpadding="0" cellspacing="0" border="0" class="promotable">
                        <tr>
                          <td width="600" class="promocell intro">                      
                            {{#header_title}}<h1>{{header_title}}</h1>{{/header_title}}
                            <p>{{header_text}}</p>
                          </td>
                        </tr>
                      </table>
                      <!--End Intro-->

                      {{#posts_present}}
                      {{#posts}}
                      <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td width="100%" bgcolor="#ffffff">
                            <table width="100%" cellpadding="20" cellspacing="0" border="0">
                              <tr>
                                <td bgcolor="#ffffff" class="contentblock">
                                  <table>
                                    <tr class="post"><!--A Post-->
                                      <td class="avatar" height="110" valign="top"><img src={{avatar_url}} alt="User Avatar" width="50" height="50"></td>
                                      <td class="post_content">
                                        <a href="{{url}}"><p class="title" style="color:#1b334a;">{{title}}</p></a>
                                        <h4 class="author" style="color:#1b334a;">{{author}}</h4>
                                        <p class="body">{{body}}</p>

                                        {{#replies}}
                                        <div class="reply-separator"></div>
                                        <table class="reply">
                                          <tr>
                                            <td class="avatar" rowspan="2">
                                              <img src="{{avatar_url}}" width="25" height="25">
                                            </td>
                                            <td class="author">
                                              {{author}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td class="body">
                                              <p>{{body}}</p>
                                            </td>
                                          </tr>
                                        </table>
                                        {{/replies}}
                                        <table width="100%" class="links">
                                          <tr>
                                            <td width="220px">&nbsp;</td>
                                            <td width="140px" class="viewalltd">
                                              <a href="{{new_message_url}}">
                                                <span class="viewall">Send a Private Message</span>
                                              </a>
                                            </td>
                                            <td width="5px">&nbsp;</td>
                                            <td class="view_post_td">
                                              <a href="{{url}}" class="viewpost">View Post</a>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td><div class="post-separator"></div></td>
                        </tr>
                      </table>  
                      {{/posts}}
                      {{/posts_present}}
                    </td>
                  </tr>
                </table>

                <table width="100%" cellpadding="0" cellspacing="0" border="0" >
                  <tr>
                    <td>
                      <div class="post-separator"></div>
                      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
                        <tr>
                          <td width="600" nowrap align="center" class="cell" style="position: relative; bottom: 30px;">
                            <!--footer-->
                            <table width="600" cellpadding="0" cellspacing="0" border="0" class="table footer">
                              <tr>
                                <tdvalign="top" class="footershow">
                                <div class="post-separator"></div>
                                <p class="email_settings">Want to change your email settings? <a href="{{settings_url}}">Click here</a> to manage your subscriptions.</p>
                                <p class="website"><a href="{{root_url}}">OurCommonPlace.com</a></p>
                            </td></tr>
                          </table><!--End footer-->
                        </td>
                      </tr>	
                    </table>
                    <div class="post-separator"></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table> 
    </td><td width="5%"></td></tr>
  </table>  	   			     	 
</body>
</html>
