<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>

    <table id="page-wrapper">
      <tbody>
        <tr>
          <td>
            <center>
              <table id="email-wrapper">
                <tbody>
                  <tr>
                    <td>
                      <table id="header">
                        <tr><td>
                          <a href="{{community_home_url}}"><img src="{{header_image_url}}"></a>
                        </td></tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td id="content-td">
                      <table id="content">
                        <tbody>
                          <tr>
                            <td>
                              <table id="greeting">
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="p">Good news!</div>

                                      <div class="p">Your neighbor {{thanker_name}} just thanked you on CommonPlace for your post {{thanked_for}}</div>

                                      <div class="p">To view {{short_thanker_name}}'s community profile, <a href="{{message_thanker_url}}"><span>click here</span></a>.</div>
                                      <div class="p">To message {{thanker_name}}, <a href="{{thanker_profile_url}}"><span>click here</span></a>.</div>

                                      <div class="p">Regards,<br>The CommonPlace Team</div>

                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table id="footer">
                        <tbody>
                          <tr>
                            <td>
                              <div class="p">Improve the {{community_name}} CommonPlace: Click <a href="{{new_invites_url}}"><span>HERE</span></a> to invite more neighbors.</div>
                              <div class="p">Click <a href="{{settings_url}}"><span>here</span></a> to manage your email settings.</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table id="legal-footer">
                        <tbody>
                          <tr>
                            <td>
                              <div class="p"><a href="{{root_url}}"><span>{{community_slug}}.OurCommonPlace.com</span></a></p>
                              <div class="p copy">&copy; 2011 CommonPlace</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
