<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>

  <body>
    <table id="body">
      {{< header}}

      <tr>
        <td>

          <p>Hi, <br>
            You recently emailed a post in to CommonPlace.  We were not able to post it because the email address from which you emailed is not registered with CommonPlace.</p>

          <p>If you have not signed up for CommonPlace yet, sign up at [YourTown'sName].OurCommonPlace.com (for example, FallsChurch.OurCommonPlace.com or Williamsburg.OurCommonPlace.com) to begin sharing with your neighborhood.</p>

          <p>If you have already signed up with CommonPlace, it is possible that your post did not go through because you originally registered with a different email address. If that is not the case, email us at Pete@CommonPlaceUSA.com and we will quickly work out the problem.</p>

          <p>Thanks for being a great neighbor,

            CommonPlace</p>
        </td>
      </tr>

      <tr>
        <td id="footer">
          {{< legal}}
        </td>
      </tr>
    </table>
  </body>
</html>