<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>
    <table id="body">

      {{< header }}

      <tr>
        <td>
          <p>Hi {{short_user_name}},</p>

          <p>{{#t}}intro{{/t}}</p>

          <p>{{#t}}list-intro{{/t}}</p>

          <ul>
            <li>
              <h3>{{#t}}post-feature-title{{/t}}:</h3>
              <p>{{#t}}post-feature-desc{{/t}}</p>
            </li>

            <li>
              <h3>{{#t}}announcement-feature-title{{/t}}:</h3>
              <p>{{#t}}announcement-feature-desc{{/t}}</p>
            </li>

            <li>
              <h3>{{#t}}event-feature-title{{/t}}:</h3>
              <p>{{#t}}event-feature-desc{{/t}}</p>
            </li>

            <li>
              <h3>{{#t}}feed-feature-title{{/t}}:</h3>
              <p>{{#t}}feed-feature-desc{{/t}}</p>
            </li>

            <li>
              <h3>{{#t}}directory-feature-title{{/t}}:</h3>
              <p>{{#t}}directory-feature-desc{{/t}}</p>
            </li>

          </ul>

          <p>If you have any questions about CommonPlace, consider checking out the <a href="{{faq_url}}"><span>Frequently Asked Questions page</span></a>, and feel free to email {{organizer_email}} anytime.  Also, please email us if you are interested in helping out with signing your neighbors up with CommonPlace. The more people in {{community_name}} that are on CommonPlace, the better a tool it is for neighbors in {{community_name}} to connect, so make sure to tell your neighbors to sign up at <a href="{{root_url}}"><span>{{root_url}}</span></a>.</p>

          <p>Thanks again for joining {{community_name}}'s CommonPlace and thanks for being a great neighbor!</p>

          <p>Cheers, <br> The {{community_name}} CommonPlace</p>          

        </td>

      </tr>

      <tr>
        <td id="footer">
          {{< legal }}
        </td>
      </tr>
    </table>

  </body>
</html>
