<html>
  <head>
    <style>
      {{styles}}
    </style>
  </head>
  <body>
    <table id="body">

      {{< header }}

      <tr>
        <td>
          <p>Hi {{short_user_name}},</p>

          <p>{{#t}}intro{{/t}}</p>

          <p>{{#t}}list-intro{{/t}}</p>

          <ul>
            <li>
              <h3>{{#t}}post-feature-title{{/t}}:</h3>
              <p>{{#t}}post-feature-desc{{/t}}</p>
            </li>

            <li>
              <h3>{{#t}}announcement-feature-title{{/t}}:</h3>
              <p>{{#t}}announcement-feature-desc{{/t}}</p>
            </li>

            <li>
              <h3>{{#t}}event-feature-title{{/t}}:</h3>
              <p>{{#t}}event-feature-desc{{/t}}</p>
            </li>

            <li>
              <h3>{{#t}}feed-feature-title{{/t}}:</h3>
              <p>{{#t}}feed-feature-desc{{/t}}</p>
            </li>

            <li>
              <h3>{{#t}}directory-feature-title{{/t}}:</h3>
              <p>{{#t}}directory-feature-desc{{/t}}</p>
            </li>

          </ul>

          <p>{{#t}}outro{{/t}}</p>
          <p>{{#t}}thanks{{/t}}</p>

          <p>Cheers, <br> The {{community_name}} CommonPlace</p>

        </td>

      </tr>

      <tr>
        <td id="footer">
          {{< legal }}
        </td>
      </tr>
    </table>

  </body>
</html>
