<div class="full-width">
  <div class="community-name">
    <h1>HerpDerp</h1>
  </div>
  <div class="top-bar">
    <h2>All Recent Posts</h2>
    <div class="right">
      <input type="text" id="search" class="search" placeholder="Search">
      <a href="#" class="messages">Messages</a>
      <a href="#" class="settings">Settings</a>
    </div>
  </div>
</div>
