<div class="your-neighbors">
  <h3>Your Neighbors</h3>
  <div class="neighbor">
    <img src="../images/profile.png" />
    <h4>George Costanza</h4>
    <p>The Jerk Store called..they're running out of you!</p>
  </div>
  <div class="neighbor">
    <img src="../images/profile.png" />
    <h4>Elaine Benes</h4>
    <p>Top of the muffin to ya!</p>
  </div>
  <div class="neighbor">
    <img src="../images/profile.png" />
    <h4>J. Peterman</h4>
    <p>Pellentesque elit luctus porta.</p>
  </div>
</div>
