<div class="container">
  <div class="navigation">
    <h1>Choose a Post Type:</h1>

    <div class="links">
      <a
        href="create-post"
        class="conversation"
        data-remote>Conversation Topic
      </a>
      <a
        href="create-request"
        class="request"
        data-remote>Request or Offer
      </a>
      <a
        href="create-event"
        class="event"
        data-remote>Event or Meetup
      </a>
    </div>

    <div class="help conversation">
      A Conversation Topic is like posting to your community bulletin board.
      Choose a topic and discuss it with the rest of your Upper West Side
      neighbors!
    </div>

    <div class="help request">
      request help
    </div>

    <div class="help event">
      event help
    </div>

  </div>

  <div class="tabs">

    <div class="form-container conversation">
      <form>
        <input placeholder="Post Title">
        <textarea placeholder="Post Message"></textarea>

        <button>POST NOW</button>

        <label><input type="checkbox">I am not advertising on behalf of
          any business or organization</label>
      </form>
    </div>

    <div class="form-container request">
      <form>
        <input placeholder="Request Title">
        <textarea placeholder="Request Message"></textarea>

        <button>POST NOW</button>

      </form>

    </div>

    <div class="form-container event">
      <form>
        <input placeholder="Event Title">
        <textarea placeholder="Event Message"></textarea>

        <button>POST NOW</button>

      </form>

    </div>


</div>
