<div id="newPost" class="container rounded_corners">
  <div class="navigation">
    <h1>Choose a Post Type:</h1>

    <div class="links">
      <ul>
		<li><a
        href="create-conversation"
        class="conversation"
        data-remote>Conversation Topic
      </a></li>
      <li><a
        href="create-request"
        class="request"
        data-remote>Request or Offer
      </a></li>
      <li><a
        href="create-event"
        class="event"
        data-remote>Event or Meetup
      </a></li>
    </div>

    <div class="help conversation rounded_corners">
      A <strong>Conversation Topic</strong> is like posting to your community bulletin board.
      Choose a topic and discuss it with the rest of your Upper West Side
      neighbors!
    </div>

    <div class="help request rounded_corners">
      request help
    </div>

    <div class="help event rounded_corners">
      event help
    </div>

  </div>

  <div class="tabs">
    <div class="form-container default">
      <form>
        <input disabled="disabled" placeholder="Post Title" class="rounded_corners">
        <textarea placeholder="Post Message" rows="15" cols="55" class="rounded_corners"></textarea>

        <button disabled="disabled" class="red-button">POST NOW</button>

        <label class="disclaimerLabel"><input disabled="disabled" type="checkbox"><div id="disclaimer">I am not ilasjdfpoijaspdofj on behalf of
            any business or organization</div></label>
      </form>
    </div>

    <div class="form-container conversation">
      <form>
        <input placeholder="Post Title" class="rounded_corners">
        <textarea placeholder="Post Message" rows="15" cols="55" class="rounded_corners"></textarea>

        <button class="red-button">POST NOW</button>

        <label class="disclaimerLabel"><input type="checkbox"><div id="disclaimer">I am not advertising on behalf of
          any business or organization</div></label>
      </form>
    </div>

    <div class="form-container request">
      <form>
        <input placeholder="Request Title" class="rounded_corners">
        <textarea placeholder="Request Message" class="rounded_corners"></textarea>

        <button class="red-button">POST NOW</button>

      </form>

    </div>

    <div class="form-container event">
      <form>
        <input placeholder="Event Title" class="rounded_corners">
        <textarea placeholder="Event Message" class="rounded_corners"></textarea>

        <button class="red-button">POST NOW</button>

      </form>

    </div>


</div>
