<div class="wire-top">
  <h3 class="sports">Food & Dining</h3>
  <p>35 minutes ago</p>
</div>
<div class="post-content">
  <img src="../images/profile.png" />
  <h3>What's the deal with 5-on-5 Basketball?</h3>
  <p class="author">Jerry Seinfeld</p>
  <p class="post-text">Hey guys, I'm just trying to put this new satellite dish up on my roof, but I don't have a ladder! Can someone help me?</p>
</div>
<div class="post-replies">
  <img src="../images/profile.png" />
  <p class="author">Jeane Doe</p>
  <p class="reply-text">Lalalala This is a derp reply.</p>
  <p class="reply-time">30 minutes ago</p>        
</div>
<div class="post-action">
  <p>Reply &nbsp; <span class="thank">You're Welcome</span> &nbsp; Share</p>
  <p class="how-many">2 people thanked you</p>
</div>
<div class="reply clear">
  <input class="reply-box" placeholder="Give a Reply" type="text">
</div>

