<div class="wire-top">
  <h3 class="{{wireCategory}}">{{wireCategoryName}}</h3>
  <p>{{timeAgo}}</p>
</div>
<div class="post-content">
  <img src="{{avatar_url}}" />
  <h3>{{title}}</h3>
  <p class="author">{{author}}</p>
  <p class="post-text">{{body}}</p>
</div>
<div class="post-replies">
  <img src="../images/profile.png" />
  <p class="author">Jeane Doe</p>
  <p class="reply-text">Lalalala This is a derp reply.</p>
  <p class="reply-time">30 minutes ago</p>        
</div>
<div class="post-action clear">
  <ul class="actions">
    <li>Reply</li>
    <li>Help Publicize</li>
    <li>Thank</li>
    <li>Flag</li>
  </ul>
</div>
<div class="clear">
</div>