<aside>
<a href="#" class="red-button post">Post To Your Neighbors!</a>
<h3>Your Town</h3>
<ul class="post-box">
  <li><a href="#">Town Topics <span class="number-of">(23)</span></a></li>
  <li><a href="#">Requests & Offers <span class="number-of">(45)</span></a></li>
  <li><a href="#">Things to Do <span class="number-of">(2)</span></a></li>
  <li><a href="#">Announcements <span class="number-of">(53)</span></a></li>
</ul>

<div id="your-pages"></div>

<div id="neighbors"></div>

<div class="town-map">
  <h3>Town Map</h3>
  <img src="http://maps.googleapis.com/maps/api/staticmap?center=Falls+Church, Virginia&zoom=14&size=280x200&maptype=roadmap
  &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&sensor=false" />
</div>    
</aside>
