<h3>Your Town</h3>
<ul class="your-town">
  <li><a href="#">Things to Do <span class="number-of">(2)</span></a></li>
  <li><a href="#">Announcements <span class="number-of">(53)</span></a></li>
</ul>
