@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Woo colors */
/* Woo Fonts */
/* Woo Shadows */
/* Woo Buttons */
/* line 33, ../../../app/stylesheets/home/base.sass */
.red-button {
  background: #ac322f;
  border-radius: 4px;
  color: #eeecdf;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  height: 18px;
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0413d), color-stop(100%, #ac322f));
  background-image: -webkit-linear-gradient(top, #d0413d, #ac322f);
  background-image: -moz-linear-gradient(top, #d0413d, #ac322f);
  background-image: -o-linear-gradient(top, #d0413d, #ac322f);
  background-image: -ms-linear-gradient(top, #d0413d, #ac322f);
  background-image: linear-gradient(top, #d0413d, #ac322f);
  display: block;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid;
  border-color: #ac322f;
  box-shadow: inset 0px 1px 1px #e28986;
  padding: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
}

/* Overall Styles */
/* line 53, ../../../app/stylesheets/home/base.sass */
.right {
  float: right;
}

/* line 55, ../../../app/stylesheets/home/base.sass */
.left {
  float: left;
}

/* line 57, ../../../app/stylesheets/home/base.sass */
.clear {
  clear: both;
}

/* line 59, ../../../app/stylesheets/home/base.sass */
.full-width {
  width: 1000px;
  margin: 0 auto;
}

/* line 63, ../../../app/stylesheets/home/base.sass */
html {
  background: url('/images/shared/redesign/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
}

/* line 68, ../../../app/stylesheets/home/base.sass */
header {
  height: 60px;
  width: 100%;
  background: #1b334a;
  position: fixed;
  z-index: 9999;
  box-shadow: 0px 1px 10px #434343;
  border: 2px solid #32485c;
  border-left: none;
  border-right: none;
}
/* line 78, ../../../app/stylesheets/home/base.sass */
header .community-name {
  width: 270px;
  float: left;
  padding-left: 15px;
  background: url('/images/shared/redesign/commonplace-icon.png') no-repeat;
  padding-left: 60px;
  height: 60px;
  background-position: 20px 14px;
  position: relative;
  border-right: 1px solid #151f28;
  border-left: 1px solid #151f28;
  box-shadow: inset 1px 0 0 #32485c;
}
/* line 90, ../../../app/stylesheets/home/base.sass */
header .community-name h1 {
  color: white;
  text-shadow: 0px 2px 1px black;
  font-size: 20px;
  margin-top: 22px;
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
}
/* line 96, ../../../app/stylesheets/home/base.sass */
header .right {
  width: 280px;
}
/* line 98, ../../../app/stylesheets/home/base.sass */
header .top-bar {
  width: 666px;
  float: right;
  border-left: 1px solid #32485c;
  height: 60px;
  border-right: 1px solid #32485c;
  box-shadow: inset -1px 0px 0px 0px #151f28;
}
/* line 105, ../../../app/stylesheets/home/base.sass */
header .top-bar h2 {
  float: left;
  margin-top: 21px;
  color: white;
  text-shadow: 0px 2px 1px black;
  font-size: 20px;
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
  margin-left: 20px;
}
/* line 114, ../../../app/stylesheets/home/base.sass */
header .top-bar .right input[type=text] {
  font-size: 12px;
  width: 150px;
  box-shadow: inset 0 1px 1px black;
  margin-top: 13px;
  font-weight: bold;
  float: left;
  border: 1px solid #151f28;
  border-radius: 5px;
  padding: 7px;
  background: #b7c3cf url('/images/shared/redesign/search.png') no-repeat right;
  outline: none;
  background-position-x: 143px;
}
/* line 127, ../../../app/stylesheets/home/base.sass */
header .top-bar .right input::-webkit-input-placeholder {
  color: #1b334a;
}
/* line 130, ../../../app/stylesheets/home/base.sass */
header .top-bar .right .messages {
  background: url('/images/shared/redesign/mail-icon.png') no-repeat;
  width: 29px;
  height: 22px;
  float: left;
  display: block;
  text-indent: -9999px;
  margin-top: 17px;
  margin-left: 20px;
}
/* line 139, ../../../app/stylesheets/home/base.sass */
header .top-bar .right .settings {
  background: url('/images/shared/redesign/settings-icon.png') no-repeat;
  height: 24px;
  margin-left: 20px;
  margin-top: 17px;
  width: 24px;
  float: left;
  display: block;
  text-indent: -9999px;
}

/* line 148, ../../../app/stylesheets/home/base.sass */
aside {
  width: 330px;
  background: #eeecdf url('/images/shared/redesign/background.gif') center;
  position: fixed;
  display: block;
  height: 100%;
  margin-top: 64px;
  z-index: 999;
}
/* line 156, ../../../app/stylesheets/home/base.sass */
aside .red-button {
  width: 77%;
  text-align: center;
  vertical-align: center;
  font-weight: normal;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 25px;
}
/* line 164, ../../../app/stylesheets/home/base.sass */
aside ul.post-box {
  margin: 0;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
/* line 170, ../../../app/stylesheets/home/base.sass */
aside ul.post-box li {
  margin-bottom: 5px;
  background: url(../images/topics-icon-lrg.png) no-repeat;
  height: 26px;
  padding-left: 35px;
  padding-top: 6px;
}
/* line 176, ../../../app/stylesheets/home/base.sass */
aside ul.post-box li a {
  text-decoration: none;
  color: #1b334a;
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 1px white;
}
/* line 183, ../../../app/stylesheets/home/base.sass */
aside ul.post-box li .number-of {
  font-weight: normal;
  font-size: 14px;
}
/* line 186, ../../../app/stylesheets/home/base.sass */
aside #your-town {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}
/* line 190, ../../../app/stylesheets/home/base.sass */
aside #your-town h3 {
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
  font-size: 15px;
  color: #1b334a;
  text-shadow: 1px 1px 1px white;
  border-bottom: 1px solid #c5c2b5;
  padding-bottom: 5px;
}
/* line 197, ../../../app/stylesheets/home/base.sass */
aside #your-town .your-town {
  padding-top: 15px;
  border-top: 1px solid white;
}
/* line 200, ../../../app/stylesheets/home/base.sass */
aside #your-town .your-town li {
  padding: 8px 0;
}
/* line 202, ../../../app/stylesheets/home/base.sass */
aside #your-town .your-town li a {
  text-decoration: none;
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
  color: #1b334a;
  text-shadow: 1px 1px 1px white;
  font-size: 15px;
  padding-top: 2px;
  padding-left: 26px;
  background: url('/images/shared/redesign/sidebar-icon.png') no-repeat left;
  line-height: 16px;
}
/* line 214, ../../../app/stylesheets/home/base.sass */
aside #your-pages {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}
/* line 218, ../../../app/stylesheets/home/base.sass */
aside #your-pages .your-pages {
  padding-top: 15px;
  border-top: 1px solid white;
}
/* line 221, ../../../app/stylesheets/home/base.sass */
aside #your-pages .your-pages li {
  padding: 8px 0;
}
/* line 223, ../../../app/stylesheets/home/base.sass */
aside #your-pages .your-pages li a {
  text-decoration: none;
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
  color: #1b334a;
  text-shadow: 1px 1px 1px white;
  padding-left: 26px;
  padding-top: 2px;
  background: url('/images/shared/redesign/sidebar-icon.png') no-repeat left;
  font-size: 15px;
  line-height: 16px;
}
/* line 234, ../../../app/stylesheets/home/base.sass */
aside #your-pages h3 {
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
  font-size: 15px;
  color: #1b334a;
  text-shadow: 1px 1px 1px white;
  border-bottom: 1px solid #c5c2b5;
  padding-bottom: 5px;
}
/* line 242, ../../../app/stylesheets/home/base.sass */
aside .your-neighbors {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}
/* line 246, ../../../app/stylesheets/home/base.sass */
aside .your-neighbors h3 {
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
  font-size: 15px;
  color: #1b334a;
  text-shadow: 1px 1px 1px white;
  border-bottom: 1px solid #c5c2b5;
  padding-bottom: 5px;
}
/* line 253, ../../../app/stylesheets/home/base.sass */
aside .your-neighbors .list {
  border-top: 1px solid white;
}
/* line 255, ../../../app/stylesheets/home/base.sass */
aside .your-neighbors .neighbor {
  border-bottom: 1px solid;
  border-color: #d5d5d5;
  padding-bottom: 10px;
  padding-top: 15px;
  height: 45px;
}
/* line 261, ../../../app/stylesheets/home/base.sass */
aside .your-neighbors .neighbor:last-child {
  border-bottom: none;
}
/* line 263, ../../../app/stylesheets/home/base.sass */
aside .your-neighbors .neighbor h4 {
  font-family: Helvetica Neue, Helvetica, Tahoma, serif;
  color: #1b334a;
  font-weight: bold;
  font-size: 13px;
}
/* line 268, ../../../app/stylesheets/home/base.sass */
aside .your-neighbors .neighbor p {
  font-family: Helvetica Neue, Helvetica, Tahoma, serif;
  font-size: 13px;
  color: #4d4d4d;
  margin-top: 5px;
}
/* line 273, ../../../app/stylesheets/home/base.sass */
aside .your-neighbors .neighbor img {
  height: 40px;
  width: 40px;
  padding-right: 8px;
  float: left;
}
/* line 278, ../../../app/stylesheets/home/base.sass */
aside .town-map {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}
/* line 282, ../../../app/stylesheets/home/base.sass */
aside .town-map h3 {
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
  font-size: 15px;
  color: #1b334a;
  text-shadow: 1px 1px 1px white;
  border-bottom: 1px solid #c5c2b5;
  padding-bottom: 5px;
}
/* line 289, ../../../app/stylesheets/home/base.sass */
aside .town-map img {
  margin-top: 15px;
  border: 1px solid;
  border-color: #bbbbbb;
}

/* line 294, ../../../app/stylesheets/home/base.sass */
.main {
  overflow: hidden;
  position: relative;
  height: auto;
  width: 670px;
  left: 330px;
  top: 64px;
  background-color: rgba(27, 51, 74, 0.4);
}
/* line 302, ../../../app/stylesheets/home/base.sass */
.main .wire {
  min-height: 100px;
  background: white;
  border-radius: 4px;
  margin: 20px;
}
/* line 307, ../../../app/stylesheets/home/base.sass */
.main .wire .wire-top {
  height: 30px;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #e8e8e8 url('/images/shared/redesign/background.gif');
  box-shadow: inset 0px 1px 0px 0px white;
  border-bottom: 1px solid;
  border-color: #bbbbbb;
}
/* line 316, ../../../app/stylesheets/home/base.sass */
.main .wire .wire-top h3 {
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
  float: left;
  color: #1b334a;
  font-size: 14px;
  padding-left: 30px;
  background: url('/images/shared/redesign/wire-icon.png') left no-repeat;
  background-position: 5px 5px;
  padding-top: 11px;
}
/* line 325, ../../../app/stylesheets/home/base.sass */
.main .wire .wire-top p {
  font-family: "Rokkitt", RockwellSTD, Rockwell, sans-serif;
  font-size: 12px;
  color: #6f6f6f;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
  float: right;
  padding-top: 11px;
  padding-right: 10px;
}
/* line 334, ../../../app/stylesheets/home/base.sass */
.main .wire .post-content {
  padding: 15px;
}
/* line 336, ../../../app/stylesheets/home/base.sass */
.main .wire .post-content h3, .main .wire .post-content p {
  margin-left: 60px;
  font-family: Helvetica Neue, Helvetica, Tahoma, serif;
  color: #333333;
}
/* line 340, ../../../app/stylesheets/home/base.sass */
.main .wire .post-content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
/* line 344, ../../../app/stylesheets/home/base.sass */
.main .wire .post-content p.author {
  font-size: 12px;
  color: #1b334a;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 349, ../../../app/stylesheets/home/base.sass */
.main .wire .post-content p.post-text {
  font-size: 14px;
  line-height: 18px;
}
/* line 352, ../../../app/stylesheets/home/base.sass */
.main .wire .post-content img {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  float: left;
}
/* line 357, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 60px;
  font-family: Helvetica Neue, Helvetica, Tahoma, serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ac322f;
  margin-top: 5px;
  height: 40px;
}
/* line 369, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action span.thank {
  color: #888888;
}
/* line 371, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action p {
  float: left;
}
/* line 373, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action p.how-many {
  float: right;
  color: #888888;
  text-shadow: 1px 1px 1px white;
  text-transform: none;
  font-size: 11px;
}
/* line 379, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action .actions {
  border-top: 1px solid;
  border-bottom: 1px solid;
  height: 40px;
  border-color: #e6e6e6;
}
/* line 384, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action .actions li {
  border-right: 1px solid;
  border-color: #e6e6e6;
  float: left;
  font-size: 12px;
  text-transform: capitalize;
  padding: 14px 10px 14px 10px;
}
/* line 391, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action .actions li:first-child {
  padding-left: 0;
}
/* line 393, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action .actions li:last-child {
  border-right: none;
}
/* line 395, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action .actions li.reply {
  margin-left: 0;
  background: url('/images/shared/redesign/convo.png') no-repeat;
  padding-left: 21px;
  background-position: 0 14px;
}
/* line 400, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action .actions li.help {
  background: url('/images/shared/redesign/publicize.png') no-repeat;
  padding-left: 31px;
  background-position: 10px 12px;
}
/* line 404, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action .actions li.thank {
  background: url('/images/shared/redesign/thank.png') no-repeat;
  padding-left: 33px;
  background-position: 11px 15px;
}
/* line 408, ../../../app/stylesheets/home/base.sass */
.main .wire .post-action .actions li.flag {
  background: url('/images/shared/redesign/flag.png') no-repeat;
  padding-left: 31px;
  background-position: 11px 14px;
}
/* line 412, ../../../app/stylesheets/home/base.sass */
.main .wire .post-interaction {
  margin-left: 60px;
  font-size: 11px;
}
/* line 415, ../../../app/stylesheets/home/base.sass */
.main .wire .post-interaction .interaction {
  padding: 14px 0;
  border-bottom: 1px solid;
  border-color: #e6e6e6;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Helvetica Neue, Helvetica, Tahoma, serif;
  color: #555555;
}
/* line 423, ../../../app/stylesheets/home/base.sass */
.main .wire .post-interaction .interaction .blue {
  color: #1b334a;
  font-weight: bold;
}
/* line 426, ../../../app/stylesheets/home/base.sass */
.main .wire .post-interaction .interaction .thanked {
  padding-left: 22px;
  padding-top: 2px;
  background: url('/images/shared/redesign/thanked.png') no-repeat;
  height: 13px;
  background-position-y: 2px;
}
/* line 432, ../../../app/stylesheets/home/base.sass */
.main .wire .post-interaction .interaction .publicized {
  margin-top: 10px;
  padding-left: 22px;
  background: url('/images/shared/redesign/publicized.png') no-repeat;
  height: 15px;
  padding-top: 3px;
}
/* line 438, ../../../app/stylesheets/home/base.sass */
.main .wire .post-replies {
  padding: 10px;
  padding-bottom: 20px;
}
/* line 441, ../../../app/stylesheets/home/base.sass */
.main .wire .post-replies p {
  margin-left: 60px;
  padding-top: 10px;
}
/* line 444, ../../../app/stylesheets/home/base.sass */
.main .wire .post-replies p.author {
  font-size: 12px;
  color: #1b334a;
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, Tahoma, serif;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: bottom;
}
/* line 453, ../../../app/stylesheets/home/base.sass */
.main .wire .post-replies p.reply-text {
  font-size: 13px;
  font-family: Helvetica Neue, Helvetica, Tahoma, serif;
}
/* line 456, ../../../app/stylesheets/home/base.sass */
.main .wire .post-replies p.reply-actions {
  margin-top: 5px;
  font-size: 12px;
  font-family: Helvetica Neue, Helvetica, Tahoma, serif;
  padding-top: 0;
  color: #aeaeae;
}
/* line 462, ../../../app/stylesheets/home/base.sass */
.main .wire .post-replies p.reply-actions span.reply-thank {
  color: #ac322f;
}
/* line 464, ../../../app/stylesheets/home/base.sass */
.main .wire .post-replies p.reply-actions span.reply-thanked {
  color: #aeaeae;
}
/* line 466, ../../../app/stylesheets/home/base.sass */
.main .wire .post-replies img {
  width: 25px;
  padding-top: 10px;
  height: 25px;
  float: left;
  margin-left: 25px;
}
/* line 472, ../../../app/stylesheets/home/base.sass */
.main .wire .reply {
  margin-left: 60px;
  padding: 10px;
  padding-top: 0;
}
/* line 476, ../../../app/stylesheets/home/base.sass */
.main .wire .reply .reply-box {
  outline: none;
  width: 534px;
  padding: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid;
  border-color: #bbbbbb;
}
/* line 486, ../../../app/stylesheets/home/base.sass */
.main .wire .reply .reply-box:focus {
  box-shadow: 0 0 5px #ac322f;
  -webkit-transition: box-shadow 150ms ease-in;
}
