- content_for :syndicate_navigation do
  - link_to new_post_path, 'data-remote' => true, :id => "create-entity" do 
    %span
      %img
      POST TO YOUR NEIGHBORS

  #filters
    - winnow_button "POSTS", neighborhood_posts_path
    - winnow_button "NEIGHBORS", neighborhood_people_path

