%h2 Here are some people who might be interested in your organization
%ul 
  %li Interested Person 1
  %li Interested Person 2

%h2 Here are the people subscribed to your announcements and events

%ul
  - @subscriptions.each do |sub|
    %li= sub.user.full_name
  
  