<div id="register" class="register_email container">
<div class="registration_border">
  <h2>Sign Up</h2>
  <span class="divider"></span>
  <p class="intro">We need to verify that you live in {{community_name}}! Sign up now to share goods, services and events with your neighbors and connect with local organizations. To learn more, <a href="{{community_name}}/about" target="_blank">click here</a>.</p>
  <form class="registration" id="registration1">
    <div id="full_name">
      <input name="full_name" class="name" type="text" placeholder="Full Name" />
      <span class="error full_name"></span>
    </div>
    <div id="email">
      <input class="email" type="email" name="email" placeholder="Email Address" />
      <span class="error email"></span>
    </div>
    <div id="password">
      <input class="password" type="password" name="password" placeholder="Create Password" /><br />
      <span class="error password"></span>
    </div>
    <button class="next-button">Register Now!</button></form>
    <div class="facebook">
      <p>Or you can:</p>
      <a href="#">Facebook</a>
    </div>
  </form>
</div>
<div class="close">X</div>
</div>
