<li class="check">
  <img class="avatar-container" src="{{avatar_url}}" />
  <div class="description-container">
     <h4>{{feed_name}}</h4>
     <span class="page_text">{{feed_about}}</span>
  </div>
  <input type="checkbox" name="feeds_list" value="{{feed_id}}">
</li>
