<li class="check">
  <div class="avatar-container" style="background-image:url('{{avatar_url}}');">
  </div>
  <h4>{{feed_name}}</h4>
  <span class="page_text">{{feed_about}}</span>
  <input type="checkbox" name="feeds_list" value="{{feed_id}}">
</li>
