<li class="check">
  <img class="avatar-container" src="{{avatar_url}}" />
  <div class="description-container">
     <h4>{{group_name}}</h4>
     <span class="page_text">{{group_about}}</span>
  </div>
  <input type="checkbox" name="groups_list" value="{{group_id}}">
</li>
