<li class="check">
  <div class="avatar-container" style="background-image:url('{{avatar_url}}');">
  </div>
  <div class="description-container">
     <h4>{{group_name}}</h4>
     <span class="page_text">{{group_about}}</span>
  </div>
  <input type="checkbox" name="groups_list" value="{{group_id}}">
</li>
