<div id="RealFindNeighbors" class="container">
  <div class="registration_border">
     <h2 class="find_title">How Many Neighbors Do You Know?</h2>

     <div class="find_known">You currently know 4 neighbors in {{community_name}}</div>

     <div class="find_steps">
       <p>1. Use Facebook or Gmail to add your friends from {{community_name}} to CommonPlace:</p>
       <div id="buttons">
         <a href="#"><img src="/assets/shared/redesign/fb.png">&nbsp;&nbsp;Facebook</a>
         <a href="#"><img src="/assets/shared/redesign/gmail.png">&nbsp;&nbsp;Gmail</a>		
       </div>
       <br /><br />
       <p>2. Name some people you know that live around Highland Avenue</p>
       <input type="text" id="search" class="findneighbors_search">
       <br /><br />
       <p>3. Name some people you know that are part of The Rotary Club of {{community_name}}</p>
       <input type="text" id="search" class="findneighbors_search">	
       <br /><br />
       <p>4. Name some people you know that are part of The {{community_name}} Beekeeper's Society</p>
         <input type="text" id="search" class="findneighbors_search">	
     </div>	

     <div id="find_bottom">
       <div id="invite_friends">
         <p>Can we invite your friends to join CommonPlace?</p>
           <ul>
             <li><input type="radio" name="business" value="yes">Yes</li>
             <li><input type="radio" name="business" value="no">No</li>
           </ul>
       </div>
       <div id="find_button">
         <a href="#" class="blue-button next-button">Continue</a>
       </div>
     </div>
  </div>
</div>
