<div id="civicProfile" class="container">
  <div class="registration_border">
    <h2 class="civic_title">Fill Out Your Profile</h2>
    <span class="divider"></span>
    <div class="civic">
      <img class="profile_pic" src="{{avatar_url}}" alt="This is your profile photo" />
      <input type="text" class="name" name="name" placeholder="Full Name">
      <div class="not-facebook">
        <a href="#" class="avatar_file_browse">Upload a Photo</a>
        <a href="#"><img class="facebook" src="/assets/shared/redesign/use_facebook.png" alt="Connect with Facebook" /></a>
      </div>

      <textarea rows="2" cols="20" name="about" placeholder="Tell your neighbors something about yourself..." class="civic_profile"></textarea>
      <br />
      <input type="text" name="organizations" placeholder="What organizations are you part of?" class="civic_orgs">
      <br />

      {{^isHarvardNeighbors}}
      <div class="org">
        <p>Would you like to promote your business, organization, or service on CommonPlace?</p>
        <input type="radio" name="org" id="yes">
        <label class="org_yes" for="yes">Yes</label>
        <input type="radio" name="org" id="no">
        <label class="org_no" for="no">No</label>
      </div>
      {{/isHarvardNeighbors}}
    </div>
    <div class="controls">
       <div class="spinner">
          <img src='/assets/loading-post.gif' />
       </div>
       <div id="civic_button">
          <a href="#" class="blue-button next-button">Continue</a>
       </div>
     </div>
  </div>
</div>
