<div id="civicProfile" class="container">
  <div class="registration_border">
    <div class="civic_title">Say Hello to Your Neighbors</div>
    <ol id="rules">
      <li>
        <p><b>Be yourself.</b> You are your real self on OurCommonPlace. Community works because you're accountable for what you say, and you can't be accountable if you're hiding behind anonymity</p>
      </li>
      <li>
        <p><b>Give, don't take.</b> This is about getting connected with your neighbors, not using your neighbors. Don't just take -- give as well. If you want to get more people to buy your products and services, go through the appropriate channels by "Registering a Community Feed." Save other sections for authentic, non-commercial neighborhood connection.</p>
      </li>
      <li>
        <p><b>Stay neighborly.</b> Town debates might get heated and you might feel like some of your neighbors are a bit kooky. Be as passionate as you want about town issues -- speak your mind -- but we simply can't have personal attacts or mean-spirittedness on OurCommonPlace.</p>
      </li>
    </ol>

    <p><b>A good rule of thumb is:</b> <i>don't say anything you wouldn't feel comfortable saying to someone's face, in front of everyone else in town.</i></p>

    <div id="civic_button">
      <a href="#" class="blue-button next-button">Start Posting!</a>
    </div>
  </div>
</div>
