<div id="norms" class="container">
  <div class="registration_border">
    <div class="norms_title">Be Kind To Your Neighbors</div>
    <span class="divider"></span>
    <p>OurCommonPlace was built for great neighbors. It only works if everyone does their part to keep it friendly and fun.</p>
    <p>Here are three norms we encourage:</p>
    <ol id="rules">
      <li>
        <p><strong>1. Be yourself.</strong> Use your real name and add a nice photo so people can recognize you, thank you for your help, and feel comfortable helping you in turn.</p>
      </li>
      <li>
        <p><strong>2. Give, don't just take.</strong> Try to help people more than you ask for help! Give good answers, share relevant community news, and come up with ways to make the community stronger. If you want to use this site to grow your business, you must register a community page <a href="/feed_registrations/new" target="_blank">here</a>.</p>
      </li>
      <li>
        <p><strong>3. Stay neighborly.</strong> Please, please, please, be kind to your neighbors. As a rule of thumb, avoid saying anything you wouldn't feel comfortable saying to someone's face...in front of the whole town.</p>
      </li>
    </ol>

    <p>We're sure there won't be any problems! But if you're worried that anyone's violating these norms, we encourage you to click "Flag" next to their post.</p>

    <div id="norms_button">
      <a href="#" class="blue-button next-button">I Agree</a>
    </div>
  </div>
</div>
