<div id="norms" class="container">
  <div class="registration_border">
    <div class="norms_title">Our Community Culture</div>
    <span class="divider"></span>
    <p>To keep our community strong, we encourage three norms:</p>
    <ol id="rules">
      <li>
        <img src="../assets/shared/redesign/norms-1.png" alt="Be Yourself" title="Be Yourself" />
        <p><strong>1. Be yourself.</strong> Use your real name and add a nice photo so people can recognize you, thank you for your help, and feel comfortable helping you in turn.</p>
      </li>
      <li>
        <img src="../assets/shared/redesign/norms-2.png" alt="Give, don't just take" title="Give, don't just take" />
        <p><strong>2. Give, don't just take.</strong> Help people more than you ask for help! Give good answers, share relevant news, and come up with ways to make the community stronger. If you want to use this site to grow your business, you must register a community page <a href="/feed_registrations/new" target="_blank">here</a>.</p>
      </li>
      <li>
        <img src="../assets/shared/redesign/norms-3.png" alt="Stay neighborly" title="Stay neighborly" />
        <p><strong>3. Stay neighborly.</strong> Please, please be kind to your neighbors.<br/>As a rule of thumb, avoid saying anything you wouldn't feel comfortable saying to someone's face...in front of the whole town.</p>
      </li>
    </ol>

    <p>If you feel anyone is violating these norms, click "Flag" next to their post.</p>

    <div id="norms_button">
      <a href="#" class="blue-button next-button">I Agree</a>
    </div>
  </div>
</div>
