<div class="welcome">
  <h4>Welcome to</h4>
  <h3>{{community_name}}</h3>
  <div class="white-box">
    <p>Congratulations {{user_name}}! You're in.</p>
  </div>
  <div class="bottom">
     <p class="welcome-divider">Use OurCommonPlace to:</p>
     <ul>
       <li>Share needs and announcements with your neighbors</li>
       <li>Meet your neighbors and find great local organizations</li>
       <li>Discover great ways to get involved in the community</li>
     </ul>
     <div class="welcome_button">
      <input class="next-button blue-button" type="button" value="Fill Out Profile" />
     </div>
  </div>
</div>
