<div id="post-box" class="form modal">
	<div class="error"></div>

  <div class="form-container announcement">
    {{^hasFeeds}}
      <div class="new-announcement">
       <ul>
         <li>
           Promote Your Work
         </li>
       </ul>
       <span class="divider">
       </span>
      <p>You must first register a service or organization before you can promote it.</p>
      </div>
    <div class="controls wide">
         <a id="new_feed_button" class="red-button" href="/feed_registrations/new">Register a New Page</a>
         <a class="back" href="#">Back</a>
    </div>
    {{/hasFeeds}}
    {{#hasFeeds}}
    {{#hasBusinessFeeds}}
      <p>In order to publicize your business, please post a deal in the marketplace</p>
      <div class="controls wide">
        <button class="red-button transaction">Post to Marketplace</button>
        <a class="back" href="#">Back</a>
      </div>
    {{/hasBusinessFeeds}}
    {{^hasBusinessFeeds}}
    <div class="posting-header promote">
      <i class="icon"></i>
      <div class="left">
      <h1>Promote Your Work</h1>
      <span>Advertise your organization or business</span>
      </div>
    </div>
    <span class="divider">
    </span>
    <div class="post_category">
      <form>
        <select name="feed_selector" class="chzn-select" tabindex="1">
          <option value="">What organization do you want to promote?&nbsp;&nbsp;&nbsp;&nbsp;</option>
          {{#feeds}}
          <option value="{{id}}">{{name}}</option>
          {{/feeds}}
        </select>

        <input type="text" placeholder="Post Title" name="title" class="rounded_corners">
        <textarea placeholder="Write your post here!" name="body" rows="15" cols="55" class="rounded_corners"></textarea>

        <div class="controls">
          {{^isPostEdit}}
           <button class="red-button submit">POST NOW</button>
           <a class="back" href="#">Back</a>
           {{/isPostEdit}}
          {{#isPostEdit}}
           <button class="red-button submit">SUBMIT EDIT</button>
           <a class="delete" href="#">Delete</a>
           {{/isPostEdit}}
           <div class="spinner"><img src='/assets/loading-post.gif' /></div>
        </div>
      </form>
    </div>
    {{/hasBusinessFeeds}}
    {{/hasFeeds}}
  </div>
</div>
