<div id="post-box" class="form">
  <div class="error"></div>
  <div class="form-container event">
    <div class="posting-header event">
      <i class="icon"></i>
      <div class="left">
        <h1>Publicize an Event</h1>
        <span>Add to the community's events board</span>
      </div>
    </div>
    <span class="divider">
    </span>
    <form>
      <input type="text" placeholder="Event Name" name="title" class="rounded_corners">
      <textarea placeholder="Description of your event" name="body" class="rounded_corners"></textarea>
      
      <div id="event_date">
        <input class="date rounded_corners" id="date" placeholder="Date" name="date" value="{{date}}" type="text">
      </div>
      
      <div id="start_at_time">
        <select name="start" id="start_time" class="chzn-select" tabindex="1">
          <option value="">Starts</option>
          {{#time_values}}
            <option class="starting_times" value="{{.}}">{{.}}</option>
          {{/time_values}}
        </select>
      </div>
      
      <div id="end_at_time">
        <select name="end" id="end_time" class="chzn-select" tabindex="1">
          <option value="">Ends</option>
          {{#time_values}}
            <option class="ending_times" value="{{.}}">{{.}}</option>
          {{/time_values}}
        </select>
      </div>
      <input id="address" type="text" placeholder="Address" name="address" class="rounded_corners">
      <input id="venue" type="text" placeholder="Venue Name" name="venue" class="rounded_corners">
      <div class="controls">
          {{^isPostEdit}}
           <button class="red-button submit">POST NOW</button>
           <a class="back" href="#">Back</a>
           {{/isPostEdit}}
          {{#isPostEdit}}
           <button class="red-button submit">SUBMIT EDIT</button>
           <a class="delete" href="#">Delete</a>
           {{/isPostEdit}}
         <div class="spinner"><img src='/assets/loading-post.gif' /></div>
      </div>
      </form>
  </div>
</div>

