<div id="post-box">
  <div class="error"></div>
  <div class="form-container">
    <div class="posting-header discussion">
      <i class="icon"></i>
      <div class="left">
        <h1>Start a Discussion</h1>
        <span>
          {{#isHarvardNeighbors}} 
            Discuss a campus topic with your neighbors
          {{/isHarvardNeighbors}}    

          {{^isHarvardNeighbors}} 
            Discuss a town topic with your neighbors
          {{/isHarvardNeighbors}}    
        </span>
      </div>
    </div>
    <span class="divider">
    </span>
    <form>
        <select name="group_selector" class="chzn-select" tabindex="1">
          <option value="">What topic are you posting to?&nbsp;&nbsp;&nbsp;&nbsp;</option>
          {{#groups}}
          <option value="{{id}}">{{name}}</option>
          {{/groups}}
        </select>
        <input type="text" placeholder="Title" name="title" class="rounded_corners"></input>
        <textarea placeholder="Message" name="body" rows="15" cols="55" class="rounded_corners"></textarea>
      <div class="controls pie-element">
          {{^isPostEdit}}
           <button class="red-button submit">POST NOW</button>
           <a class="back" href="#">Back</a>
           {{/isPostEdit}}
          {{#isPostEdit}}
           <button class="red-button submit">SUBMIT EDIT</button>
           <a class="delete" href="#">Delete</a>
           {{/isPostEdit}}
         <div class="spinner"><img src='/assets/loading-post.gif' /></div>
      </div>      
    </form>
  </div>
</div>
