<div class="error"></div>

<input name="title" type="text" placeholder="Title">

<textarea name="body" placeholder="Organize a community group around an interest or activity"></textarea>

<div class="spinner"></div>
<div class="on-focus">

  <button>Post Now</button>


  <div style="clear: both"></div>
</div>
