<div class="error"></div>

<input name="title" type="text" placeholder="Post Title">

<textarea name="body" placeholder="Ask your neighborhood a question"></textarea>

<div class="on-focus">

  <button>Post Now</button>
  <div class="spinner"></div>

  <div style="clear: both"></div>
</div>
