<div class="error"></div>

<input name="title" type="text" placeholder="Title">

<textarea name="body" placeholder="Post a message to your neighbors"></textarea>

<div class="spinner"></div>
<div class="on-focus">

  <input type="checkbox" name="commercial" /> <span class="checkbox-label">Check here if this is commercial</div>
  <button>Post Now</button>


  <div style="clear: both"></div>
</div>
