<div id="post-box" class="question">
  <div class="error"></div>

  <div class="form-container">
    <div class="posting-header request">
      <i class="icon"></i>
      <div class="left">
        <h1>Ask A Question</h1>
        <span>Request help from your neighbors</span>
      </div>
    </div>
    <span class="divider">
    </span>
    <form>
      <input type="text" placeholder="Request Title" name="title" class="rounded_corners"></input>
      <textarea placeholder="Request Message" name="body" class="rounded_corners"></textarea>
      <div class="controls pie-element">
          {{^isPostEdit}}
           <button class="red-button submit">POST NOW</button>
           <a class="back" href="#">Back</a>
           {{/isPostEdit}}
          {{#isPostEdit}}
           <button class="red-button submit">SUBMIT EDIT</button>
           <a class="delete" href="#">Delete</a>
           {{/isPostEdit}}
         <div class="spinner"><img src='/assets/loading-post.gif' /></div>
      </div>      
    </form>
  </div>
</div>
