<div id="post-box" class="form">
  <div class="error"></div>

  <div class="form-container">
    <div class="posting-header transaction">
      <i class="icon"></i>
      <div class="left">
        <h1>Sell on the Marketplace</h1>
        <span>Sell something (or give it away for free!)</span>
      </div>  
    </div>
    <span class="divider">
    </span>
    <form>
      <input type="text" placeholder="Title" name="title" class="rounded_corners" >
      <textarea placeholder="Message" name="body" rows="15" cols="55" class="rounded_corners description"></textarea>
      {{#imageUploadSupported}}
      <div class="upload-section">
        <div class="box">
          <img class="item_pic" src="/assets/shared/redesign/upload-default.png" alt="This is a picture of the item for sale" />
        </div>
        <button class="image_file_browser">Upload Image</button>
      </div>
      {{/imageUploadSupported}}
      <input type="text" placeholder="Price" name="price" class="rounded_corners price" >

      <div class="controls">
          {{^isPostEdit}}
           <button class="red-button submit">POST NOW</button>
           <a class="back" href="#">Back</a>
           {{/isPostEdit}}
          {{#isPostEdit}}
           <button class="red-button submit">SUBMIT EDIT</button>
           <a class="delete" href="#">Delete</a>
           {{/isPostEdit}}
         <div class="spinner"><img src='/assets/loading-post.gif' /></div>
      </div>
    </form>
  </div>
</div>
