<div id="post-box" class="form">
  <div class="error"></div>

  <div class="form-container">
    <div class="posting-header transaction">
      <i class="icon"></i>
      <div class="left">
        <h1>Sell on the Marketplace</h1>
        <span>Sell something (or give it away for free!)</span>
      </div>
    </div>
    <span class="divider">
    </span>
    {{#hasFeeds}}
      <select name="feed_selector" class="chzn-select" tabindex="1">
        <option value="">Who would you like to post this as?&nbsp;&nbsp;&nbsp;&nbsp;</option>

        <option value="self">{{user}}</option>
        {{#feeds}}
        <option value="{{id}}">{{name}}</option>
        {{/feeds}}
      </select>
    {{/hasFeeds}}
    <form>
      <div class="inputs">
      <input type="text" placeholder="Title" name="title" class="rounded_corners" >
      <div class="form-left">
      <textarea placeholder="Message" name="body" rows="15" cols="55" class="rounded_corners description"></textarea>
      <input type="text" placeholder="Price" name="price" class="rounded_corners price">
      </div>
      </div>
      <div class="upload-section">
        <div class="box">
          <img class="item_pic one" id="1" src="/assets/shared/redesign/upload-default.png" alt="This is a picture of the item for sale" />
        </div>
        <div class="box">
          <img class="item_pic two" id="2" src="/assets/shared/redesign/upload-default.png" alt="This is a picture of the item for sale" />
        </div>
        <div class="box">
          <img class="item_pic three" id="3" src="/assets/shared/redesign/upload-default.png" alt="This is a picture of the item for sale" />
        </div>
      </div>

      <div class="controls">
          {{^isPostEdit}}
           <button class="red-button submit">POST NOW</button>
           <a class="back" href="#">Back</a>
           {{/isPostEdit}}
          {{#isPostEdit}}
           <button class="red-button submit">SUBMIT EDIT</button>
           <a class="delete" href="#">Delete</a>
           {{/isPostEdit}}
         <div class="spinner"><img src='/assets/loading-post.gif' /></div>
      </div>
    </form>
  </div>
</div>
