- render :layout => 'shared/modal' do

  - form_tag organization_claim_path(@organization) do
    = label_tag "Enter your claim code:"
    = text_field_tag :code
    = submit_tag "Submit"
  %p If you do not have a code, please email Max Novendstern at max@commonplace.in
