<form>
  <div class="error"></div>
  <h1>Crop {{name}} Avatar</h1>
  
  <img id="cropbox" src="{{avatar_url}}">

  <div class="controls">
    <a class="cancel" href="#">Cancel</a>
    <button>Crop</button>
  </div>
  
  <div style="clear: both;"></div>
</form>
