
<form>
  <div class="error"></div>
  <a class="delete" href="#">Delete</a>
  <h1>Edit your event</h1>
  <label for="title">Event name:</label>
  <input name="title" value="{{title}}" type="text">

  <label for="body">Event description:</label>
  <textarea name="body" rows="3">{{body}}</textarea>

  <label for="date">Event date:</label>
  <input class="date" name="date" value="{{date}}" type="text">

  <fieldset class="event-times">

    <label for="start" class="time">
      <!-- Dropkick wants the id --->
      <select name="start" class="time dk" id="event_edit_start">
        <option value="">Starts</option>
        {{#time_values}}
          <option value="{{.}}">{{.}}</option>
        {{/time_values}}
      </select>
    </label>
    <label for="end" class="time">
      <!-- Dropkick wants the id --->
      <select name="end" class="time dk" id="event_edit_end">
        <option value="">Ends</option>
        {{#time_values}}
          <option value="{{.}}">{{.}}</option>
        {{/time_values}}
      </select>
    </label>
    <div style="clear: both;"></div>

  </fieldset>

  <label for="venue">Venue:</label>
  <input name="venue" value="{{venue}}" type="text">

  <label for="address">Event address:</label>
  <input name="address" value="{{address}}" type="text">
  <div class="controls">
    <a class="cancel" href="#">Cancel</a>
    <button>Change Event</button>
  </div>
</form>
