
<form>
  <a class="delete" href="#">Delete</a>
  <h1>Edit your event</h1>
  <label for="title">Event name:</label>
  <input name="title" value="{{title}}" type="text">
  
  <label for="body">Event description:</label>
  <textarea name="body" rows="3">{{body}}</textarea>

  <label for="date">Event date:</label>
  <input class="date" name="date" value="{{date}}" type="text">

  <label for="start" class="time">Start time <br>
    <select name="start">
      {{#time_values}}
        <option value="{{.}}" {{#is_start}}selected="selected"{{/is_start}}>{{.}}</option>
      {{/time_values}}
    </select>
  </label>
  <label for="end" class="time">End time<br>
    <select name="end">
      {{#time_values}}
        <option value="{{.}}" {{#is_end}}selected="selected"{{/is_end}}>{{.}}</option>
      {{/time_values}}
    </select>
  </label>

  <label for="venue">Venue:</label>
  <input name="venue" value="{{venue}}" type="text">

  <label for="address">Event address:</label>
  <input name="address" value="{{address}}" type="text">
  <div class="controls">
    <a class="cancel" href="#">Cancel</a>
    <button>Change Event</button>
  </div>
</form>
