<form>
  <h1>Edit your post</h1>
  <label for="title">Subject:</label>
  <input name="title" value="{{title}}">

  <label for="body">Body:</label>
  <textarea name="body" rows="3">{{body}}</textarea>

  <div class="controls">
    <a class="cancel" href="#">Cancel</a>
    <button>Change Post</button>
  </div>
</form>
