<li>Have an Account?</li>
<li id="sign_in_button">Sign in</li>
<li id="sign_in_form">
  <!-- huuuuge amount of crud goes here -->
  <form>
    <label name="email">Email Address:
      <input name="email>
    </label>
    <label name="password">Enter your password:
      <input name="password">
    </label>
    <a class="submit" href="#">Log in</a>
    <a class="facebook" href="/users/auth/facebook">Log in with Facebook</a>
    <a class="forgot" href="/users/password/new">Forgot your password?</a>
  </form>
</li>
