<div id="nav_wrapper" class="pie-element">
  
  <div class="nav"></div>

  <a href="{{root_url}}" id="logo">
    <img src="/assets/logo2.png" alt="CommonPlace">
    {{#hasCommunity}}<span class="community">{{community_name}}</span>{{/hasCommunity}}
  </a>

</div>
