<div id="inbox-nav">
  <a
    href="/{{community_slug}}/inbox"
    class="inbox nav-tab"
    data-remote>
    Inbox
  </a>

  <a
    href="/{{community_slug}}/outbox"
    class="outbox nav-tab"
    data-remote>
    Sent
  </a>
  <a
    href="/{{community_slug}}/feed_inbox"
    class="feed_inbox nav-tab"
    data-remote>
    Feeds
  </a>
</div>
