<img src="<%= asset_path "reply-arrow-top.png" %>" class="reply-arrow">
<ul class="reply-list"></ul>

<form class="new-reply">
  <img class="avatar" src="{{accountAvatarUrl}}" height="30" width="30">
  <textarea name="body" placeholder="Write your reply here..."></textarea>
  <button>Reply</button>
  <div style="clear: both;"></div>
</form>
