<ul class="reply-list"></ul>

<form class="new-reply">
  <img class="avatar" src="{{accountAvatarUrl}}" height="30" width="30">
  <div class="reply-text">
    <textarea name="body" placeholder="Write your reply here..."></textarea>
    <div class="enter-hint">Press Enter to submit, and press Shift-Enter to start a new line</div>
  </div>
  <div style="clear: both;"></div>
</form>
