<div class="share">
	<ul class="share-nav">
		<li class="share-e">Email</li>
		<li class="share-f">Facebook</li>
		<li class="share-t">Twitter</li>
	</ul>
	<div id="share-email">
		<input name="body" placeholder="Enter Your Email Here"></input>
		<div class="email-button">
		Share
		</div>
	</div>
</div>
