<div class="share">
	<ul class="share-nav">
		<li class="share-e">Email</li>
		<li class="share-f"
      data-name="NAME"
      data-url="{{share_url}}"
      data-picture="PICTURE"
      data-caption="CAPTION"
      data-description="DESCRIPTION"
      data-message="MESSAGE">Facebook</li>
		<li class="share-t"
      data-url="{{share_url}}" 
      data-message="MESSAGE">Twitter</li>
	</ul>
	<div id="share-email" style="display: none;">
    <form class="share-email">
      <input name="share-email" placeholder="Enter Your Email Here"></input>
      <div class="email-button">
      Share
      </div>
    </form>
	</div>
	<div class="clear">
	</div>
</div>
