<aside>
  <div id="your-town"></div>

  <div id="directories">
    <div id="directory_nav">
      {{#tabs}}
        <h3 class="sidebar-links" title="{{title}}">{{text}}</h3>
      {{/tabs}}
    </div>

    <div id="directory_content" class="scroll"></div>
  </div>
</aside>
