<img src="{{avatar_url}}" class="avatar" height="30" width="30">
<div class="reply-info">
  <div class="reply-text">
    <span class="author">{{thanker}}</span>
    <span class="body">
      thanked {{thankable_author}} {{#isReply}}for their reply{{/isReply}}
    </span>
  </div>
</div>
<div style="clear:both"></div>
