<div class="thanks-list">
	<ul>
	  {{#users}}
	    <li>
	      <img src="{{avatar_url}}" height="30" width="30">
	      <span class="thanker">{{name}}</span> thanked this post
	    </li>
	  {{/users}}
	</ul>
</div>

<div style="clear:both"></div>
