{{#hiddenThanksCount}}
<a class="replies-more" href="#">View All Thanks <span class="small">&#x25BC;</span></a>
{{/hiddenThanksCount}}

<div class="thanks-list">
	<ul></ul>
</div>

<div style="clear:both"></div>
