%h2
  = conversation.subject

.messages
  .new_reply
    / - form_for [conversation, Message.new] do |f|
    /       = f.text_area :body
    /       = f.submit "Reply"
  %ol.replies
    - conversation.messages.each do |message|
      = render("messages/message", :message => message)
  .clear