#both_columns
  #left_col
    %h3 Invite new people to subscribe
    =# render 'form', :subscriber => @subscriber

  #right_col
    %h3 Your Current Subscribers
    %ul#wire
      - @subscriptions.each do |sub|
        - content_tag :li, :class => dom_class(sub.user), :id => dom_id(sub.user), "data-url" => url_for(sub.user) do
          = render 'users/user', :user => sub.user
