.message-modal, .modal-container
  position: absolute
  background-color: #AC322F
  border: 10px solid #fff
  +border-radius(15px)
  z-index: 2000000

  .error
    background-color: #f4e15f
    border: 2px solid #ffe534
    +border-radius(3px)
    color: #363636
    display: none
    margin-top: 5px
    margin-bottom: 15px
    padding: 5px
    font-family: Helvetica, Arial, sans-serif
    font-size: 14px
    text-align: center

  table
    width: 390px
    margin-top: 2px
    border: none
    +border-radius(5px)
    tr:nth-child(even)
      background-color: #ddd
    tr:nth-child(odd)
      background-color: white
    tr:first-child
      td:first-child
        +border-top-left-radius(5px)
      td:last-child
        +border-top-right-radius(5px)
    tr:last-child
      td:first-child
        +border-bottom-left-radius(5px)
      td:last-child
        +border-bottom-right-radius(5px)
    td
      padding: 10px 9px
      font-size: 13px
      font-family: Helvetica, sans-serif
      a
        color: #ac322f
        text-decoration: none
        &:hover
          text-decoration: underline
    .right
      text-align: right

  .unimportant
    color: #aaa
    
  .avatar
    text-align: center
    margin-top: 15px
    
    img
      vertical-align: middle
      margin-right: 5px
      +border-radius(2px)
      
    .avatar-controls 
      margin: 15px auto

      a 
        background-color: #555
        color: white
        font-weight: bold
        padding: 5px
        border-left: 1px solid #888
        margin: 0
        margin-left: -4px
        Helvetica, sans-serif
        text-decoration: none

        &:first-child
          border-left: 0px
          +border-left-radius(5px)

        &:last-child
          +border-right-radius(5px)

        &:hover
          background-color: #888
          text-decoration: underline

  form
    +form
    width: 392px
    padding: 15px
    display: block

    h1
      font-family: Rokkitt, Rockwell, Helvetica, sans-serif
      font-size: 16px
      color: #fff
      text-align: center

    label
      display: block
      margin-top: 20px
      font-family: Rokkitt, Rockwell, Helvetica, sans-serif
      font-size: 16px
      color: #fff

    input[type=text]
      margin-top: 2px
      width: 372px

    textarea
      margin-top: 2px
      width: 372px

    .controls
      margin-top: 20px
      text-align: right

      button
        +blue-button
        margin-left: 15px
        float: none

    a.cancel, a.delete
      color: #fff
      font-size: 15px
      font-family: Rokkitt, Rockwell, Helvetica, sans-serif
      text-decoration: none
      &:hover
        text-decoration: underline

    a.delete
      right: 15px
      position: absolute
      margin-top: 2px

#modal-shadow
  +opacity(0.8)
  background-color: #000
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: 1000000
