.message-modal, .modal-container
  position: absolute
  background-color: #AC322F
  border: 10px solid #fff
  +border-radius(15px)
  z-index: 2000

  form
    +form
    width: 392px
    padding: 15px
    display: block

    h1
      font-family: Rokkitt, Rockwell, Helvetica, sans-serif
      font-size: 16px
      color: #fff
      text-align: center

    label
      display: block
      margin-top: 20px
      font-family: Rokkitt, Rockwell, Helvetica, sans-serif
      font-size: 16px
      color: #fff

    input[type=text]
      margin-top: 2px
      width: 372px

    textarea
      margin-top: 2px
      width: 372px

    .controls
      margin-top: 20px
      text-align: right

      button
        +blue-button
        margin-left: 15px
        float: none

    a.cancel, a.delete
      color: #fff
      font-size: 15px
      font-family: Rokkitt, Rockwell, Helvetica, sans-serif
      text-decoration: none
      &:hover
        text-decoration: underline

    a.delete
      right: 15px
      position: absolute
      margin-top: 2px

#modal-shadow
  +opacity(0.8)
  background-color: #000
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: 1000
