.replies-area
  padding: 1px 0px 0 22px
  position: relative
  font-family: Helvetica, sans-serif
  margin-top: 0
  
  .replies-more
    display: block
    font-size: 11px
    text-transform: uppercase
    color: #B7403C
    font-weight: bold
    padding: 4px
    text-align: center
    color: #243248
    margin-top: 10px
    text-decoration: none
    background: #F8F8F8
    &:hover
      text-decoration: underline
    .small 
      font-size: 8px

.replies-area .reply-item
  margin-top: 12px
  padding: 0

  &:hover
    a.delete-reply, a.thank-reply, .thanked-reply
      color: #b7403c
    .thanked-reply
      color: #bebebe
      
  .avatar 
    float: left
    width: 30px
    height: 30px
    +border-radius(0)
    border: 0

  .reply-info
    padding-top: 5px
    margin-left: 40px
    border-top: 1px solid #efefef

  .author, .body
    margin-left: 0
    line-height: 18px
    font-size: 13px

  .author
    margin-bottom: 0
    margin-right: 5px
    position: relative
    font-weight: bold
    color: #1b334a
    float: left

  .body, h1, h2, h3, h4, h5, h6
    color: #444
    margin-top: 0px
    margin-bottom: 0px
    p
      margin-top: 0px

  h1, h2, h3, h4, h5, h6
    font-weight: bold

  .time
    color: #243248
    font-size: 12px
    margin-left: 5px
    white-space: nowrap
    
  .thanks_count:hover
    text-decoration: underline
    cursor: pointer
  


  a.delete-reply, a.thank-reply, .thanked-reply
    display: inline
    font-size: 10px
    margin-left: 5px
    padding-right: 10px
    text-decoration: none
    font-weight: bold
      
  a.delete-reply, a.thank-reply
    color: white
    &:hover
      text-decoration: underline
    
  .thanked-reply
    color: white
    
  .controls
    white-space: nowrap

.replies form.new-reply
  margin-top: 13px

  .avatar 
    float: left
    width: 30px
    height: 30px
    +border-radius(0)
    border: 0
    
  .reply-text
    float: right

    textarea 
      font-family: Helvetica, Arial, sans-serif
      font-size: 12px
      color: #888
      background: white
      border: 1px solid #c3c3c3
      padding: 8px 10px
      height: 12px
      width: 380px
      line-height: 14px
      
      &:focus
        outline: none
        color: #444
        
    .enter-hint
      display: none
      font-size: 12px
      color: #909090
      

.submit-c
  display: none
  padding: 7px
  background: #ac322f
  float: right
  font-size: 11px
  color: white
  text-transform: uppercase
  margin-top: 6px
  width: 31px
  &:hover
    cursor: pointer
.waiting
  background: white
  background-image: image-url("loading.gif")
  height: 20px
  width: 20px
  position: relative
  margin-right: 10px
  #submit_text
    display: none
