.replies 
  background-color: #efefef
  padding: 1px 10px 10px
  margin-top: 20px
  position: relative

  .reply-arrow
    position: absolute
    top: -10px
    left: 13px

  .replies-more
    display: block
    font-size: 14px
    color: #B7403C
    font-weight: bold
    padding: 4px
    font-family: Rokkitt, Rockwell, Helvetica, Arial, Verdana, sans-serif
    margin-top: 10px
    text-decoration: none
    &:hover
      text-decoration: underline
      background-color: #fafafa


.replies .reply-item
  margin-top: 10px
  padding: 0
  border-top: 0px
  &:hover
    background-color: #fafafa

    a.delete-reply
      display: inline
  .avatar 
    float: left
    width: 30px
    height: 30px
    +border-radius(0)
    border: 0

  .reply-info
    margin-left: 40px

  .author, .body
    margin-left: 0

  .author
    margin-bottom: 0
    margin-right: 5px
    font-size: 14px
    position: relative
    top: 1px
    color: #B7403C
    font-weight: bold
    float: left
    font-family: Rokkitt, Rockwell, Helvetica, Arial, Verdana, sans-serif

  .body, h1, h2, h3, h4, h5, h6
    font-size: 12px
    color: #000
    margin-top: 0px
    margin-bottom: 0px
    font-family: Helvetica, sans-serif
    p
      margin-top: 0px
      line-height: 1.4em

  h1, h2, h3, h4, h5, h6
    font-weight: bold

  .time
    color: #555
    font-size: 11px
    
  a.delete-reply
    display: none
    font-size: 10px
    float: right
    padding-right: 10px
    text-decoration: none
    color: #b7403c
    &:hover
      text-decoration: underline

.replies form.new-reply
  margin-top: 10px

  .avatar 
    float: left
    width: 30px
    height: 30px
    +border-radius(0)
    border: 0

  textarea 
    font-family: Helvetica, Arial, sans-serif
    font-size: 12px
    color: #888
    background: white
    border: none
    +border-radius(4px)
    padding: 9px 10px 10px 10px
    margin: 1px 0 0 0
    height: 10px
    width: 310px
    margin-left: 10px
    line-height: 1.4em
    +box-shadow(0 0 0 1px #ccc,1px 1px 3px #ddd inset)
    
    &:focus
      outline: none
      color: #333

  button
    margin-top: 0px
    +red-button
    float: right
    cursor: pointer
    display: block
    font-size: 14px
    padding: 7px 10px 8px
    
    
