.wire 
  background-color: white
  
  .end
    margin: 0px 10px 10px
    .loading
      display: none
      color: #333
      text-align: center
      background-image: image-url("loading.gif")
      background-position: bottom center
      background-repeat: no-repeat
      height: 50px

  a.more
    +blue-button
    display: block
    margin: 0px 10px 10px

  p.wire-empty-message
    text-align: center
    padding: 20px 0px 10px
    font-family: Helvetica, sans-serif
    color: #888

.wire-item
  position: relative
  border-top: 1px solid #bebebe
  padding: 13px
  .title, .author, .body, .message-user 
    margin-left: 62px
  .body
    font-family: Helvetica, sans-serif
    font-size: 0.8em
    line-height: 1.3
    color: $textColor
    word-wrap: break-word
    a
      color: #ac322f
      text-decoration: none
    p
      margin-top: 10px
  .title, h1, h2, h3, h4, h5, h6
    color: black
    font-size: 19px
    margin-bottom: 3px
    display: block
    text-decoration: none
    font-family: Helvetica, sans-serif

    a
      color: #ac322f
      text-decoration: underline

      
  .highlight
    background-color: #efefaa
  .author
    font-size: 14px
    color: #333
    line-height: 1.2
    margin-bottom: 5px
    font-weight: normal
    font-family: Helvetica, sans-serif
    a
      color: #1b334a
      font-weight: bold
      text-decoration: none
    
  .corner
    float: right
    color: #888
    font-family: Helvetica, sans-serif
    font-size: 12px
    font-weight: normal
    a
      color: #ac322f
      text-decoration: none
      font-weight: bold
  .avatar
    float: left
    width: 50px                           
    height: 50px
    display: block 
    border: 1px solid #aaa
    +border-radius(3px)                   

  .thank-share
    margin-left: 63px
    width: 220px
    font-family: helvetica, tahoma, sans-serif
    margin-top: 10px
    li
      display: inline
      font-size: 12px
      font-weight: bold
      color: #ac322f
      &:hover 
        text-decoration: underline
        cursor: pointer
      &.thanked-post
        color: #bebebe
    .dot 
      font-weight: bold
      font-size: 11px
      color: #666
    .current 
      text-decoration: underline
  
  #share-email
    input
      margin-top: 10px 
      font-family: Helvetica, Arial, sans-serif
      font-size: 12px
      color: #888
      background: white
      border: 1px solid #c3c3c3
      padding: 8px 10px
      height: 12px
      width: 377px
      line-height: 14px
      
      &:focus
        outline: none
        color: #333
    .email-button
      float: right
      padding: 7px
      background: #e5e5e5
      margin-top: 6px
      color: white
      text-transform: uppercase
      font-size: 11px
      background: #AC322F
      cursor: pointer
  .ts-text
    width: 200px
    font-size: 12px
    float: right
    margin-top: -12px
    text-align: right
    font-family: Helvetica
    text-decoration: none
    cursor: pointer
    color: #444
    &:hover
      text-decoration: underline
  .people-thanked
    color: #1B334A
    font-weight: bold
  
    
    

  .share
    margin-left: 41px
    margin-top: 15px
    li
      display: inline
      font-size: 12px
      font-weight: bold
      cursor: pointer
      margin-right: 18px
    .share-e
      background: image-url("icons/email.png") no-repeat
      padding-left: 20px
      background-position: 1px 2px
    .share-f
      background: image-url("icons/facebook.png") no-repeat
      padding-left: 17px
      background-position: 1px 1px
    .share-t
      background: image-url("icons/twitter.png") no-repeat
      padding-left: 23px
      background-position: 0px 1px
      
  .reply-count 
    float: left
    width: 50px
    margin-top: 5px
    text-align: center
    font-size: 10px
    clear: left
    font-family: Helvetica, sans-serif

  .avatar.calendar
    font-family: Rokkitt, Rockwell, Helvetica, Arial, Verdana, sans-serif
    border: 0

    .month
      background-color: #ac322f
      text-align: center
      color: #fff
      padding: 3px 0
      +border-top-radius(3px)

    .day-of-month
      background-color: #e0e0e0
      text-align: center
      padding: 3px 0
      font-size: 26px
      color: #081428
      +border-bottom-radius(3px)
      +box-shadow(0 0 0 1px #ccc inset)
      +text-shadow(1px 1px 0 white)

  .message-user
    +red-button
    display: block
    margin-top: 10px
    padding: 5px 
  

  button.subscribe, button.unsubscribe
    +blue-button
    display: block
    margin-top: 10px
    padding: 5px 
    float: right

.wire-item .event
  .event-time
    margin-top: 10px
    font-size: 13px
    float: left
    width: 50px
    color: #1B334A
    clear: left
    text-align: center

  .event-location
    margin-top: 10px
    margin-left: 60px
    font-size: 13px
    font-family: Helvetica, sans-serif
    th
      color: #B7403C
      padding-right: 10px
      padding-bottom: 5px
    td
      color: $textColor
      
group-post:first
  margin-top: 60px
