.wire 
  background-color: white
  li
    border-top: 1px solid #bebebe
    padding: 12px 10px 15px 10px

.wire-item
  .title, .author, .body                 
    margin-left: 62px
  .body
    font-family: Helvetica, sans-serif
    font-size: 0.8em
    line-height: 1.4
    color: $textColor
    p
      margin-top: 0.8em
  .title
    color: $titleColor
    font-size: 22px
    margin-bottom: 3px
    display: block
    text-decoration: none
    font-family: Rokkitt, Rockwell, Helvetica, Arial, Verdana, sans-serif
  .author
    font-size: 13px
    color: $subtitle
    line-height: 1.2
    margin-bottom: 5px
    font-weight: normal
    font-family: Helvetica, sans-serif
    
  .corner
    float: right
    color: #888
    font-family: Helvetica, sans-serif
    font-size: 11px
    font-weight: normal
    a
      color: #ac322f
      text-decoration: none
  .avatar
    float: left
    width: 50px                           
    height: 50px
    display: block 
    border: 1px solid #aaa
    +border-radius(5px)                   

  .reply-count 
    float: left
    width: 50px
    margin-top: 5px
    text-align: center
    font-size: 10px
    clear: left
    font-family: Helvetica, sans-serif

  .avatar.calendar
    font-family: Rokkitt, Rockwell, Helvetica, Arial, Verdana, sans-serif

    .month
      background-color: #ac322f
      text-align: center
      color: #fff
      padding: 3px 0
      +border-top-radius(3px)

    .day-of-month
      background-color: #e0e0e0
      text-align: center
      padding: 4px 0 8px
      +border-bottom-radius(3px)



      
      
  
