@mixin shiny-button
  position: relative
  padding: 15px 10px

  &:hover
    cursor: pointer
  &::-moz-focus-inner
    border: 0
  &[disabled]
    background: #999
    border: 0
    box-shadow: none
    -moz-box-shadow: none
    -webkit-box-shadow: none
    color: #aaa
    cursor: not-allowed
    text-shadow: none
    &:hover
      background: #999
      border: 0
      box-shadow: none
      -moz-box-shadow: none
      -webkit-box-shadow: none
      color: #aaa
      cursor: not-allowed
      text-shadow: none

@mixin red-button
  +shiny-button
  background: $red
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  color: #fff
  text-shadow: 0px -1px 0px #64100D
  font-weight: bold
  font-family: $heading
  +linear-gradient(color-stops(#d0413d, #ac322f), top)
  display: block
  font-size: 21px
  text-decoration: none
  border: 1px solid #ac322f
  box-shadow: inset 0px 1px 0.5px #e28986
  padding: 10px 15px
  &:hover, &:focus
    color: #fff
    +linear-gradient(color-stops(#ee5a56, #b53633), top)
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5)
  &:active
    color: #fff
    +linear-gradient(color-stops(#d64541, #ac322f), bottom)
    text-shadow: 0px 1px 0px #64100D
//@mixin red-button
  +shiny-button
  background: #ac322f
  background: -moz-linear-gradient(top, #ee432e 0%, #ac322f 50%, #ac322f 50%, #ac322f 100%)
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d1433f), color-stop(0.5, #ac322f), color-stop(0.5, #ac322f), color-stop(1, #ac322f))
  border: 1px solid #8f2927
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #555555
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #555555
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #555555
  color: #fff
  font-family: Rockwell, Georgia, sans-serif, "helvetica neue", helvetica, arial, sans-serif
  font-weight: bold
  line-height: 1
  text-align: center
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8)
  &:hover
    background: #c23c39
    background: -moz-linear-gradient(top, #e15855 0%, #c23c39 50%, #c23c39 50%, #c23c39 100%)
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #e15855), color-stop(0.5, #c23c39), color-stop(0.5, #c23c39), color-stop(1, #c23c39))
    cursor: pointer

@mixin blue-button
  +shiny-button
  background: #1b334a
  background: -moz-linear-gradient(top, #2e4b67 0%, #1b334a 50%, #1b334a 50%, #1b334a 100%)
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #2e4b67), color-stop(0.5, #1b334a), color-stop(0.5, #1b334a), color-stop(1, #1b334a))
  border: 1px solid #112639
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(46, 75, 103, 0.8), 0 1px 3px #2e4b67
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(46, 75, 103, 0.8), 0 1px 3px #2e4b67
  box-shadow: inset 0px 0px 0px 1px rgba(46, 75, 103, 0.8), 0 1px 3px #2e4b67
  color: #fff
  font-family: Rockwell, Georgia, sans-serif, "helvetica neue", helvetica, arial, sans-serif
  font-weight: bold
  line-height: 1
  text-align: center
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 1) 

  &:hover
    background: #2e4b67
    background: -moz-linear-gradient(top, #436383 0%, #2e4b67 50%, #2e4b67 50%, #2e4b67 100%)
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #436383), color-stop(0.5, #2e4b67), color-stop(0.5, #2e4b67), color-stop(1, #2e4b67))
    cursor: pointer
a
  &:focus
    outline: none


button::-moz-focus-inner
  border: 0



