
.markdown

  h1, h2, h3, h4, h5, h6, a, p, ul, ol, hr, strong, em, blockquote, code, pre
    background-color: none
    color: black
    border: none
    word-wrap: break-word

  a
    color: #b7403c

  ul
    margin-top: 0
    margin-left: 10px
    clear: left
    li
      list-style-type: disc

  ol
    margin-top: 0
    margin-left: 10px
    clear: left
    li
      list-style-type: upper-roman

  hr
    display: none
