
<h1>Recommended Feeds</h1>
<ul>
  {{#feeds}}
    <li class="{{#isCurrent}}current{{/isCurrent}}" data-feed-slug="{{slug}}">
      <a href="#/feeds/{{slug}}">
        <img src="{{avatar_url}}" class="avatar" width="25" height="25">
        {{name}}
      </a>
    </li>
  {{/feeds}}
</ul>
