<h1>{{feedName}}</h1>

{{#isOwner}}
  <a href="{{editURL}}" class="edit">EDIT FEED PROFILE</a>
{{/isOwner}}

{{^isOwner}}
  {{#isSubscribed}}
    <a href="#" class="unsubscribe">UNSUBSCRIBE</a>
  {{/isSubscribed}}
  {{^isSubscribed}}
    <a href="#" class="subscribe">SUBSCRIBE</a>
  {{/isSubscribed}}
{{/isOwner}}
