
<div class="feed-announcements tab {{#classIfCurrent}}showAnnouncements{{/classIfCurrent}}">
  <h1>Announcements from {{feedName}}</h1>

  <ul>
  </ul>
</div>

<div class="feed-events tab {{#classIfCurrent}}showEvents{{/classIfCurrent}}">
  <h1>Events from {{feedName}}</h1>

  <ul>
  </ul>
</div>