<div id="feed-action-nav">
  <a href="#/post-announcement" class="post-announcement {{postAnnouncementClass}}">Publicize an Announcement</a>
  <a href="#/post-event" class="post-event {{postEventClass}}">Post an <br>Event</a>
  <a href="#/invite-subscribers" class="invite-subscribers {{inviteSubscribersClass}}">Invite New Subscribers</a>
</div>

<div class="tab post-announcement {{postAnnouncementClass}}">
  <img class="avatar" src="{{avatarUrl}}" width="50" height="50">

  <form>
    <input name="title" placeholder="Title">
    <textarea name="body" placeholder="Body" rows="4"></textarea>

    <label>Label this post?</label>
    <ul class="post-label-selector">
      {{#groups}}
        <li>
          <label>
            <img src="{{avatar_url}}" height="25" width="25">
            {{name}}
            <input name="groups" value="{{id}}" type="checkbox">
          </label>
        </li>
      {{/groups}}
    </ul>

    <button>Post an Announcement</button>
  </form>
  <div style="clear: both;"></div>
</div>

<div class="tab post-event {{postEventClass}}">
  <img class="avatar" src="{{avatarUrl}}" width="50" height="50">

  <form>

    <input name="title" placeholder="Event name">

    <textarea name="about" placeholder="Event description" rows="4"></textarea>

    <input class="date" name="date" placeholder="Event date">

    <label for="start" class="time">Start time <br>
      <select name="start">
        {{#time_values}}
          <option value="{{.}}">{{.}}</option>
        {{/time_values}}
      </select>
    </label>
    <label for="end" class="time">End time<br>
      <select name="end">
        {{#time_values}}
          <option value="{{.}}">{{.}}</option>
        {{/time_values}}
      </select>
    </label>

    <input name="venue" placeholder="Venue">

    <input name="address" placeholder="Event address">

    <label>Label this post?</label>
    <ul class="post-label-selector">
      {{#groups}}
        <li>
          <label>
            <img src="{{avatar_url}}" height="25" width="25">
            {{name}}
            <input name="groups" value="{{id}}" type="checkbox">
          </label>
        </li>
      {{/groups}}
    </ul>

    <button>Post your Event</button>

  </form>

  <div style="clear: both;"></div>
</div>

<div class="tab invite-subscribers {{inviteSubscribersClass}}">

  <h1 class="invite-by-facebook">Invite by Facebook:</h1>
  <div class="invite-by-facebook">
    <button>Find Subscribers on Facebook</button>
  </div>

  <h1 class="invite-by-email">Invite by email:</h1>
  <form class="invite-by-email">

    <textarea name="emails" placeholder="Enter email addresses"></textarea>
    <textarea name="message" placeholder="Enter a personal message" rows="4"></textarea>
    <button>Send Invite</button>

    <div style="clear: both"></div>
  </form>

  <h1 class="invite-by-hand">Invite by hand:</h1>
  <div class="invite-by-hand">
    {{#community}}
      {{#links}}
        <a class="download" href="{{launch_letter}}">
          <p class="description-text">CommonPlace Launch Letter</p>
          <p class="download-pdf">Download PDF</p>
        </a>
        <a class="download" href="{{information_sheet}}">
          <p class="description-text">Information Sheet</p>
          <p class="download-pdf">Download PDF</p>
        </a>
        <a class="download last" href="{{neighborhood_flyer}}">
          <p class="description-text">Neighborhood Flyer</p>
          <p class="download-pdf">Download PDF</p>
        </a>

        <a href="{{all_flyers}}">
          <button>Download All Flyers</button>
        </a>
      {{/links}}
    {{/community}}
    <div style="clear: both"></div>
  </div>
  <div style="clear: both;"></div>
</div>
