- render :layout => 'shared/modal' do 
  
  = render 'index_form'

  = button_to "New Profile Field", new_organization_profile_field_path(@organization), :method => :get

  = button_to "Save order", order_organization_profile_fields_path(@organization), :method => :put

  = button_to "Continue", new_organization_announcement_path(@organization), :method => :get