
<h1>All {{community}} Groups</h1>
<ul>
  {{#groups}}
    <li>
      <a href="{{url}}" class="{{#isCurrent}}current{{/isCurrent}}">
        <img src="{{avatar_url}}" class="avatar" width="25" height="25">
        {{name}}
      </a>
    </li>
  {{/groups}}
</ul>
