<h1>All Falls Church Groups</h1>
{{#groups}}
  <a href="#{{url}}" class="{{#isCurrent}}current{{/isCurrent}}">
    <img src="{{avatar_url}}" class="avatar" width="25" height="25">
    {{name}}
  </a>
{{/groups}}