<h1>Post to this group:</h1>

<img class="avatar" src="{{account_avatar}}" width="50" height="50">

<form>
  <input name="title" type="text" placeholder="Post Title">
  <textarea name="body" placeholder="Your Message"></textarea>
</form>
