<div class="item_div group" id="group_{{id}}_item">

  <img src="{{avatar_url}}" class="avatar">

  <div class="title">{{name}}</div>

  {{#isSubscribed}}
    <span class="subscribed"><span>You're Subscribed</span></span>
  {{/isSubscribed}}
  {{^isSubscribed}}
    <a href="{{url}}/membership" data-remote="true" data-method="post" class="new_subscription new_group_{{id}}_subscription"><span>Subscribe</span></a>
  {{/isSubscribed}}

</div>