
<div id="zones" class="nav">
  <a href="/posts" class="posts">Neighborhood<br> Posts<div id="border_hack"></div></a>

  <a href="/events" class="events">Community<br> Events<div id="border_hack"></div></a>

  <a href="/announcements" class="announcements">Community<br> Announcements<div id="border_hack"></div></a>

  <a href="/group_posts" class="group_posts">Group<br> Posts<div id="border_hack"></div></a>
  <a href="/users" class="users">Directory<div id="border_hack"></div></a>

</div>
