

<p>Here's where you go whenever you want to share events,
  needs, and announcements with the community.
</p>

<ul>
  <li class="post">"Post to your neighborhood" to share requests, goods, recommendations, questions, updates, etc. with your neighbors, like "I need to borrow a ladder," "I lost my cat," or "Anybody know a good babysitter?"
  </li>

  <li class="announcement">"Publicize an announcement" to advertise things to the whole community, like "upcoming volunteer drive" or "Free tacos this Thursday at our store."</li>

  <li class="event">"Post an Event" to announce an upcoming event to the community</li>

  <li class="group">"Post to a Discussion Group" to share specific information
    with interest groups in your town -- dog lovers, moms, sports, and more</li>

</ul>

<p>Get a feel for how it works by saying "Hi!" to your neighbors.</p>

<a class="end-tour">Get started!</a>
