<div class="post" id="post-{{id}}-item">

  <img src="{{avatar_url}}" class="avatar">

  <div class="published">{{published_at}}</div>

  <div class="reply-count">{{reply_count}} replies</div>

  <a href="{{url}}" class="title">{{title}}</a>

  <div class="author">{{author}}</div>

  <div class="body">{{{body}}}</div>

  {{^replies}}
    <a href="{{url}}/replies/new" class="show-reply-form">
      Reply to this post
    </a>
  {{/replies}}
</div>

{{> replies }}