
<div class="nav">
  <a href="/posts/new" class="post {{#post_form}}current{{/post_form}}">Post To Your<br> Neighborhood</a>

  <a href="/announcements/new" class="announcement {{#announcement_form}}current{{/announcement_form}}">Publicize an<br> Announcement</a>

  <a href="/events/new" class="event {{#event_form}}current{{/event_form}}">Post an<br> Event</a>

  <a href="/group_posts/new" class="group_post {{#group_post_form}}current{{/group_post_form}}">Post to a<br> Discussion<br> Group</a>

</div>
