#main_body
  margin: 20px auto
  padding: 10px
  width: 940px
  background: white
  border: 1px solid #ccc
  color: #000
  +border-radius(5px)
  h1,h2
    text-align: center
  h1
    text-indent: 0
    font-size: 36px
  h2
    margin-bottom: 30px
  p
    margin: 10px 0px
  a 
    color: #aaa
  a:hover
    color: #bbb
  ul
    list-style: disc
    margin: 0px 0px 20px 30px
  #form
    list-style: none
    margin: 0px
    li
      margin-bottom: 20px
    input[type="text"], textarea
      width: 200px
      