body {
  width: 1000px;
  margin: auto;
  color: black; }

header {
  text-align: left;
  background-color: white;
  padding: 2em; }
  header h1 {
    color: black;
    font-size: 2em; }

#main {
  background-color: white;
  padding: 1em;
  margin: 1em 0; }
  #main table {
    width: 900px;
    margin: auto;
    border: 1px solid black; }
    #main table tr {
      border: 1px solid black; }
