@font-face {
  font-family: "OldStandardTTRegular";
  src: url("/fonts/old-standard/OldStandard-Regular-webfont.eot");
  src: local("OldStandardTTRegular"), url("/fonts/old-standard/OldStandard-Regular-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Regular-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OldStandardTTItalic";
  src: url("/fonts/old-standard/OldStandard-Italic-webfont.eot");
  src: local("OldStandardTTItalic"), url("/fonts/old-standard/OldStandard-Italic-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Italic-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Italic-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OldStandardTTBold";
  src: url("/fonts/old-standard/OldStandard-Bold-webfont.eot");
  src: local("OldStandardTTBold"), url("/fonts/old-standard/OldStandard-Bold-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Bold-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

nav#filters {
  padding: 0 1em;
  margin: 15px auto 15px; }
  nav#filters a:hover {
    background: white; }
  nav#filters a.filter, nav#filters #search {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    border: 1px solid #dfdfdc;
    height: 65px;
    color: black;
    -webkit-border-top-right-radius: 4px !important;
    -moz-border-radius-topright: 4px !important;
    border-top-right-radius: 4px !important;
    -webkit-border-top-left-radius: 4px !important;
    -moz-border-radius-topleft: 4px !important;
    border-top-left-radius: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    -moz-border-radius-bottomright: 4px !important;
    border-bottom-right-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    -moz-border-radius-bottomleft: 4px !important;
    border-bottom-left-radius: 4px !important; }
  nav#filters a.filter {
    padding: 10px 0px;
    text-align: center;
    font-weight: normal;
    font-size: 0.7em;
    width: 96px; }
    nav#filters a.filter#wire_button {
      background: #a7c5e2; }
      nav#filters a.filter#wire_button:hover {
        background: #b8d6f3; }
    nav#filters a.filter#posts_button {
      background: #dcbfbf; }
      nav#filters a.filter#posts_button:hover {
        background: #edd0d0; }
    nav#filters a.filter#announcements_button {
      background: #d6d6d6; }
      nav#filters a.filter#announcements_button:hover {
        background: #e7e7e7; }
    nav#filters a.filter#events_button {
      background: #c3d4de; }
      nav#filters a.filter#events_button:hover {
        background: #d4e5ef; }
    nav#filters a.filter#people_button {
      background: #ade5c5; }
      nav#filters a.filter#people_button:hover {
        background: #bef6d6; }
    nav#filters a.filter#organizations_button {
      background: #eedeb4; }
      nav#filters a.filter#organizations_button:hover {
        background: #ffefc5; }
  nav#filters #search {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: auto;
    background: #eeeeee;
    text-align: left;
    padding: 10px 7px !important;
    margin-right: 0; }
    nav#filters #search p {
      margin: 8px 0px 0px;
      text-align: left;
      font-size: 0.8em !important; }
      nav#filters #search p a {
        font-size: 1em !important;
        font-weight: normal; }

#post_submission {
  background-color: #eeeeee;
  border: 1px solid #bbbbbb;
  border-bottom-color: #888888;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important;
  margin-bottom: 1em;
  padding: 10px; }
  #post_submission p {
    margin: 0 0 0.5em;
    font-weight: bold; }
  #post_submission form textarea {
    font-size: 0.8em;
    width: 420px;
    height: 3.5em;
    border: 1px solid #aaaaaa;
    padding: 0.4em;
    -webkit-border-top-right-radius: 5px !important;
    -moz-border-radius-topright: 5px !important;
    border-top-right-radius: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    border-top-left-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    border-bottom-right-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    border-bottom-left-radius: 5px !important;
    margin-bottom: 4px; }
  #post_submission form ul {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 300px; }
    #post_submission form ul li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 75px; }
      #post_submission form ul li label {
        margin-right: 15px;
        font-size: 0.8em; }
  #post_submission form input[type='submit'] {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    padding: 0.2em 0.4em; }

#both_columns {
  min-height: 500px;
  border-top: 1px solid #dfdfdc;
  position: relative; }

#left_col, #right_col {
  min-height: inherit;
  padding: 15px;
  width: 455px;
  position: relative;
  display: inline-block;
  vertical-align: top; }

#left_col {
  border-right: 1px solid #dfdfdc; }

ul#wire li {
  position: relative;
  cursor: pointer;
  background-color: #f7f7f7;
  border: 1px solid #dfdfdc;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important;
  margin-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
  font-size: 0.8em; }
  ul#wire li .title_top {
    margin: 0px;
    position: relative;
    background: none;
    border-bottom: 1px solid #dfdfdc;
    height: 24px; }
    ul#wire li .title_top .icon {
      position: relative;
      display: inline-block;
      vertical-align: top;
      border-right: 1px solid #dfdfdc;
      height: 18px;
      width: 18px;
      padding: 3px; }
      ul#wire li .title_top .icon img {
        height: 18px;
        width: 18px;
        -webkit-border-top-right-radius: 5px !important;
        -moz-border-radius-topright: 5px !important;
        border-top-right-radius: 5px !important;
        -webkit-border-top-left-radius: 5px !important;
        -moz-border-radius-topleft: 5px !important;
        border-top-left-radius: 5px !important;
        -webkit-border-bottom-right-radius: 5px !important;
        -moz-border-radius-bottomright: 5px !important;
        border-bottom-right-radius: 5px !important;
        -webkit-border-bottom-left-radius: 5px !important;
        -moz-border-radius-bottomleft: 5px !important;
        border-bottom-left-radius: 5px !important; }
    ul#wire li .title_top .top_text {
      display: inline-block;
      position: absolute;
      left: 25px;
      right: 0px;
      top: 0px;
      font-size: 11.5px;
      padding: 4px;
      height: 16px;
      border-left: 1px solid white; }
      ul#wire li .title_top .top_text .category {
        font-weight: bold;
        font-size: 0.9em;
        color: #888888; }
      ul#wire li .title_top .top_text .from {
        font-family: "OldStandardTT", Times, serif;
        font-size: 1em;
        color: #888888; }
      ul#wire li .title_top .top_text .author {
        font-family: "OldStandardTTItalic", Times, serif; }
      ul#wire li .title_top .top_text .time {
        position: absolute;
        right: 8px;
        font-size: 0.9em;
        color: #888888;
        font-weight: bold;
        font-family: Arial, Helvetica, Verdana, sans-serif; }
  ul#wire li .bottom {
    border-top: 1px solid white; }
    ul#wire li .bottom .graphic {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 6px;
      border: 1px solid #dfdfdc;
      -webkit-border-top-right-radius: 5px !important;
      -moz-border-radius-topright: 5px !important;
      border-top-right-radius: 5px !important;
      -webkit-border-top-left-radius: 5px !important;
      -moz-border-radius-topleft: 5px !important;
      border-top-left-radius: 5px !important;
      -webkit-border-bottom-right-radius: 5px !important;
      -moz-border-radius-bottomright: 5px !important;
      border-bottom-right-radius: 5px !important;
      -webkit-border-bottom-left-radius: 5px !important;
      -moz-border-radius-bottomleft: 5px !important;
      border-bottom-left-radius: 5px !important; }
    ul#wire li .bottom .body {
      font-family: "OldStandardTT", Times, serif;
      color: black;
      font-size: 1.1em;
      padding: 9px 4px 4px 0px;
      display: inline-block;
      width: 378px; }
      ul#wire li .bottom .body h3 {
        font-family: "OldStandardTTBold", Times, serif;
        font-weight: normal;
        font-size: 1.2em;
        margin-bottom: 2px; }
      ul#wire li .bottom .body p {
        margin: 0px; }
  ul#wire li .expand {
    font-family: "Helvetica", Arial, sans-serif;
    border-width: 1px solid #dfdfdc;
    position: relative;
    bottom: 0px;
    -webkit-border-top-right-radius: 4px !important;
    -moz-border-radius-topright: 4px !important;
    border-top-right-radius: 4px !important;
    -webkit-border-top-left-radius: 4px !important;
    -moz-border-radius-topleft: 4px !important;
    border-top-left-radius: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    -moz-border-radius-bottomright: 4px !important;
    border-bottom-right-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    -moz-border-radius-bottomleft: 4px !important;
    border-bottom-left-radius: 4px !important;
    vertical-align: bottom;
    float: right;
    width: 75px;
    text-align: center;
    padding: 2px 4px !important;
    margin: 5px 0px 4px 4px;
    font-size: 0.8em; }
  ul#wire li img.user_image, ul#wire li p.user_name {
    position: relative;
    display: inline-block;
    vertical-align: top; }
  ul#wire li img.user_image {
    margin-right: 5px; }
  ul#wire li p.user_name {
    font-weight: bold; }
  ul#wire li.post .title_top .icon img {
    background-color: #edd0d0; }
  ul#wire li.post .title_top .top_text .author {
    color: #ca4b4b; }
  ul#wire li.post .expand {
    background: #edd0d0;
    color: #ca4b4b; }
  ul#wire li.post:hover .icon img {
    background-color: #ca4b4b; }
  ul#wire li.event .title_top .icon img {
    background-color: #d4e5ef; }
  ul#wire li.event .title_top .top_text .author {
    color: #4b9cca; }
  ul#wire li.event .expand {
    background: #d4e5ef;
    color: #4b9cca; }
  ul#wire li.event:hover .icon img {
    background-color: #4b9cca; }
  ul#wire li.announcement .title_top .icon img {
    background-color: #e7e7e7; }
  ul#wire li.announcement .title_top .top_text .author {
    color: #a1a1a1; }
  ul#wire li.announcement .expand {
    background: #e7e7e7;
    color: #a1a1a1; }
  ul#wire li.announcement:hover .icon img {
    background-color: #a1a1a1; }
  ul#wire li.user {
    padding: 7px; }
    ul#wire li.user .title_top .icon img {
      background-color: #bef6d6; }
    ul#wire li.user .title_top .top_text .author {
      color: #ade5c5; }
    ul#wire li.user .expand {
      background: #bef6d6;
      color: #ade5c5; }
    ul#wire li.user:hover .icon img {
      background-color: #ade5c5; }
  ul#wire li.organization {
    background: #ffffbb; }
  ul#wire li.business {
    background: #eedd99; }
  ul#wire li.selected {
    background: #eeeeff; }

li.post .replies {
  display: none;
  border-top: 1px solid #dfdfdc;
  margin-left: -5px; }
  li.post .replies li.reply {
    min-height: 40px;
    overflow-x: hidden;
    height: auto;
    border: none;
    margin-right: 10px;
    margin-bottom: 0.5em; }
  li.post .replies .new_reply {
    margin-top: 7px;
    margin-bottom: 0.5em;
    padding-left: 3px; }
    li.post .replies .new_reply textarea {
      width: 442px;
      height: 56px; }

#user_info_box {
  border: 2px solid gray;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important;
  padding: 10px; }
  #user_info_box .user_pic, #user_info_box .user_side {
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: 0px; }
  #user_info_box .user_pic {
    width: 50px;
    height: 50px;
    margin-right: 7px; }
  #user_info_box .user_side {
    width: 290px; }
    #user_info_box .user_side .user_info {
      width: 320px;
      font-size: 0.8em; }
      #user_info_box .user_side .user_info tr {
        line-height: 120%; }
        #user_info_box .user_side .user_info tr th {
          font-weight: bold;
          color: #666666;
          width: 90px;
          text-align: right;
          padding-right: 12px;
          padding-top: 10px; }
        #user_info_box .user_side .user_info tr td {
          width: 240px; }

#user_message {
  font-size: 0.8em;
  margin-top: 1em; }
  #user_message span.success {
    padding: 4px 7px;
    background-color: #ceeece;
    color: #2b8829; }
  #user_message span.linkish.message_me {
    padding: 4px 7px;
    background-color: #ceeece; }
  #user_message form.message_form {
    padding: 7px;
    width: 310px;
    background-color: #ceeece;
    display: none; }
    #user_message form.message_form label {
      color: #666666; }
    #user_message form.message_form textarea {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: solid 1px #bbbbbb;
      width: 300px;
      height: 3em;
      padding: 4px; }
    #user_message form.message_form input {
      display: inline-block;
      position: relative;
      right: 0px;
      background-color: #eeeeee;
      background-image: url("/images/button_repeat.png");
      width: auto;
      height: 100%;
      color: black;
      padding: 3px 7px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      border-width: 1px;
      border-style: solid;
      border-color: #aaaaaa; }
      #user_message form.message_form input:hover {
        border-color: #333333; }

.ui-autocomplete {
  position: absolute;
  cursor: default;
  z-index: 2000;
  background: white; }

.ui-autocomplete-loading {
  background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat; }

.ui-menu-item {
  border: 1px solid black;
  padding: 4px; }
  .ui-menu-item a {
    width: 100%; }

.ui-state-hover {
  background: #ffeeee; }

.done {
  background: #ffeeee; }

.newthread {
  width: 260px;
  margin: auto;
  display: inline-block;
  width: none !important;
  padding: 0.5em;
  border: 1px solid black;
  text-align: center;
  font-size: 1.4em;
  -webkit-border-top-right-radius: 10px !important;
  -moz-border-radius-topright: 10px !important;
  border-top-right-radius: 10px !important;
  -webkit-border-top-left-radius: 10px !important;
  -moz-border-radius-topleft: 10px !important;
  border-top-left-radius: 10px !important;
  -webkit-border-bottom-right-radius: 10px !important;
  -moz-border-radius-bottomright: 10px !important;
  border-bottom-right-radius: 10px !important;
  -webkit-border-bottom-left-radius: 10px !important;
  -moz-border-radius-bottomleft: 10px !important;
  border-bottom-left-radius: 10px !important;
  background: #e88e33; }
  .newthread:hover {
    background: #ffc166; }

span.name {
  margin-right: 0.5em;
  font-weight: bold; }

#main {
  position: relative;
  overflow: visible !important; }

.fixed {
  position: fixed !important;
  top: auto;
  z-index: auto;
  margin-top: 7px;
  margin-left: 412px; }

div.mode {
  background: #ceeece !important;
  padding-bottom: 0;
  -webkit-border-top-right-radius: 10px !important;
  -moz-border-radius-topright: 10px !important;
  border-top-right-radius: 10px !important;
  -webkit-border-top-left-radius: 10px !important;
  -moz-border-radius-topleft: 10px !important;
  border-top-left-radius: 10px !important; }

#toggles {
  margin-bottom: 1em;
  padding-bottom: 1em; }
  #toggles div {
    width: 132px;
    height: 32px;
    float: left;
    font-size: 1.6em;
    text-align: center;
    padding-top: 0.55em; }

.intro {
  background: #ceeece;
  padding: 1em;
  min-height: 80px;
  margin-top: 30px; }

.right {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px; }

.left {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px; }

.top {
  -webkit-border-top-right-radius: 10px !important;
  -moz-border-radius-topright: 10px !important;
  border-top-right-radius: 10px !important;
  -webkit-border-top-left-radius: 10px !important;
  -moz-border-radius-topleft: 10px !important;
  border-top-left-radius: 10px !important; }

.intro input {
  font-size: 1em;
  width: 350px;
  border: 1px solid #888888;
  padding: 5px; }
  .intro input#post_submit {
    width: 130px;
    background: #ffeeee; }
.intro textarea {
  font-size: 1.1em;
  width: 350px;
  height: 38px; }

#iresults ul li {
  padding: 5px; }
  #iresults ul li p {
    display: inline;
    vertical-align: top; }
  #iresults ul li img {
    display: inline; }

#map {
  width: 453px;
  border: 1px solid #125478;
  height: 300px !important;
  background: #4499ee; }
