@font-face {
  font-family: "OldStandardTTRegular";
  src: url("/fonts/old-standard/OldStandard-Regular-webfont.eot");
  src: local("OldStandardTTRegular"), url("/fonts/old-standard/OldStandard-Regular-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Regular-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OldStandardTTItalic";
  src: url("/fonts/old-standard/OldStandard-Italic-webfont.eot");
  src: local("OldStandardTTItalic"), url("/fonts/old-standard/OldStandard-Italic-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Italic-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Italic-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OldStandardTTBold";
  src: url("/fonts/old-standard/OldStandard-Bold-webfont.eot");
  src: local("OldStandardTTBold"), url("/fonts/old-standard/OldStandard-Bold-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Bold-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../../app/stylesheets/_tipsy.sass */
.tipsy {
  padding: 5px;
  font-size: 10px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-repeat: no-repeat;
  background-image: url(../images/tipsy.gif);
}

/* line 9, ../../app/stylesheets/_tipsy.sass */
.tipsy-inner {
  padding: 5px 8px 5px 8px;
  background-color: black;
  color: white;
  max-width: 200px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* line 16, ../../app/stylesheets/_tipsy.sass */
.tipsy-north {
  background-position: top center;
}

/* line 18, ../../app/stylesheets/_tipsy.sass */
.tipsy-south {
  background-position: bottom center;
}

/* line 20, ../../app/stylesheets/_tipsy.sass */
.tipsy-east {
  background-position: right center;
}

/* line 22, ../../app/stylesheets/_tipsy.sass */
.tipsy-west {
  background-position: left center;
}

/* line 14, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 22, ../../app/stylesheets/_core.sass */
body {
  padding: 0;
  min-width: 960px;
  color: #111111;
  text-rendering: optimizeLegibility;
  background: white;
  font-family: Georgia, Times, serif;
}

/* line 30, ../../app/stylesheets/_core.sass */
nav, header, footer {
  display: block;
}

/* line 33, ../../app/stylesheets/_core.sass */
a {
  color: #0033aa;
  text-decoration: none;
}
/* line 36, ../../app/stylesheets/_core.sass */
a:hover {
  text-decoration: underline;
}

/* line 43, ../../app/stylesheets/_core.sass */
#wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
  overflow: hidden;
  width: 972px;
}
/* line 33, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_1, #wrap .grid_2, #wrap .grid_3, #wrap .grid_4, #wrap .grid_5, #wrap .grid_6, #wrap .grid_7, #wrap .grid_8, #wrap .grid_9, #wrap .grid_10, #wrap .grid_11, #wrap .grid_12, #wrap .grid_13, #wrap .grid_14, #wrap .grid_15, #wrap .grid_16, #wrap .grid_17, #wrap .grid_18, #wrap .grid_19, #wrap .grid_20, #wrap .grid_21, #wrap .grid_22, #wrap .grid_23, #wrap .grid_24 {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_1 {
  width: 30px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_2 {
  width: 70px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_3 {
  width: 110px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_4 {
  width: 150px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_5 {
  width: 190px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_6 {
  width: 230px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_7 {
  width: 270px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_8 {
  width: 310px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_9 {
  width: 350px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_10 {
  width: 390px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_11 {
  width: 430px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_12 {
  width: 470px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_13 {
  width: 510px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_14 {
  width: 550px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_15 {
  width: 590px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_16 {
  width: 630px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_17 {
  width: 670px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_18 {
  width: 710px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_19 {
  width: 750px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_20 {
  width: 790px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_21 {
  width: 830px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_22 {
  width: 870px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_23 {
  width: 910px;
}
/* line 36, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .grid_24 {
  width: 950px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_1 {
  padding-left: 40px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_2 {
  padding-left: 80px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_3 {
  padding-left: 120px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_4 {
  padding-left: 160px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_5 {
  padding-left: 200px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_6 {
  padding-left: 240px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_7 {
  padding-left: 280px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_8 {
  padding-left: 320px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_9 {
  padding-left: 360px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_10 {
  padding-left: 400px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_11 {
  padding-left: 440px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_12 {
  padding-left: 480px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_13 {
  padding-left: 520px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_14 {
  padding-left: 560px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_15 {
  padding-left: 600px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_16 {
  padding-left: 640px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_17 {
  padding-left: 680px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_18 {
  padding-left: 720px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_19 {
  padding-left: 760px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_20 {
  padding-left: 800px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_21 {
  padding-left: 840px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_22 {
  padding-left: 880px;
}
/* line 44, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .prefix_23 {
  padding-left: 920px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_1 {
  padding-right: 40px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_2 {
  padding-right: 80px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_3 {
  padding-right: 120px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_4 {
  padding-right: 160px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_5 {
  padding-right: 200px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_6 {
  padding-right: 240px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_7 {
  padding-right: 280px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_8 {
  padding-right: 320px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_9 {
  padding-right: 360px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_10 {
  padding-right: 400px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_11 {
  padding-right: 440px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_12 {
  padding-right: 480px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_13 {
  padding-right: 520px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_14 {
  padding-right: 560px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_15 {
  padding-right: 600px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_16 {
  padding-right: 640px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_17 {
  padding-right: 680px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_18 {
  padding-right: 720px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_19 {
  padding-right: 760px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_20 {
  padding-right: 800px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_21 {
  padding-right: 840px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_22 {
  padding-right: 880px;
}
/* line 52, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .suffix_23 {
  padding-right: 920px;
}
/* line 56, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .alpha {
  margin-left: 0;
}
/* line 58, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-960-plugin-0.9.13/stylesheets/960/_grid.sass */
#wrap .omega {
  margin-right: 0;
}

/* line 49, ../../app/stylesheets/_core.sass */
header {
  width: 960px;
  margin: auto;
  position: relative;
}
/* line 53, ../../app/stylesheets/_core.sass */
header h1 {
  margin-left: 10px;
  padding-top: 20px;
}
/* line 56, ../../app/stylesheets/_core.sass */
header h1 #community_nav {
  position: relative;
  bottom: 15px;
  border: 1px solid #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #dddddd;
  color: black;
  padding: 7px 10px;
  font-weight: bold;
}
/* line 62, ../../app/stylesheets/_core.sass */
header h1 #community_nav:hover {
  background-color: #eeeeee;
}
/* line 67, ../../app/stylesheets/_core.sass */
header h1 #community_nav.selected_nav {
  background: white !important;
  font-weight: bold !important;
}
/* line 71, ../../app/stylesheets/_core.sass */
header #styled_main_nav {
  position: absolute;
  right: -21px;
  top: 7px;
}
/* line 76, ../../app/stylesheets/_core.sass */
header .main_nav_radius_set {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  top: 0px;
  vertical-align: top;
  width: 21px;
  height: 21px;
}
/* line 82, ../../app/stylesheets/_core.sass */
header #main_nav_left_radius, header #main_nav_right_radius {
  background-color: #eaeae8;
}
/* line 84, ../../app/stylesheets/_core.sass */
header #main_nav_left_radius_inner {
  background-color: white;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 87, ../../app/stylesheets/_core.sass */
header #main_nav_right_radius_inner {
  background-color: white;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 90, ../../app/stylesheets/_core.sass */
header nav {
  display: inline-block;
  position: relative;
  top: -7px;
  vertical-align: top;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #eaeae8;
  padding: 0;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 0.7em;
  text-align: right;
}
/* line 102, ../../app/stylesheets/_core.sass */
header nav #greeting, header nav a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  padding: 9px 7px;
}
/* line 105, ../../app/stylesheets/_core.sass */
header nav a {
  border-left: 1px solid #eeeeee;
}
/* line 108, ../../app/stylesheets/_core.sass */
header nav a:first-child {
  padding-left: 9px;
}
/* line 110, ../../app/stylesheets/_core.sass */
header nav a:last-child {
  padding-right: 9px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 114, ../../app/stylesheets/_core.sass */
header nav form {
  padding: 5px 7px;
}
/* line 116, ../../app/stylesheets/_core.sass */
header nav form input[type=text], header nav form input[type=password] {
  width: 150px;
  height: 14px;
  padding: 4px;
  border: 1px solid #888888;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
}
/* line 120, ../../app/stylesheets/_core.sass */
header nav form input[type=submit] {
  background-color: #eeeeee;
  background-image: url("/images/button_repeat.png");
  width: auto;
  height: 100%;
  color: black;
  padding: 3px 7px;
  cursor: pointer;
  border: 1px solid #dddddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 36, ../../app/stylesheets/_mixins.sass */
header nav form input[type=submit]:hover {
  border-color: #888888;
}

/* line 123, ../../app/stylesheets/_core.sass */
#top {
  background: #eaeae8;
  position: absolute;
  width: 100%;
  height: 7px;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: -3;
}

/* line 134, ../../app/stylesheets/_core.sass */
#main {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 10020px;
  margin-bottom: -10000px;
}

/* line 139, ../../app/stylesheets/_core.sass */
.label {
  color: #666666;
  -webkit-transition: color 0.2s linear;
}

/* line 143, ../../app/stylesheets/_core.sass */
.fading {
  color: white;
  -webkit-transition: color 0.2s linear;
}

/* line 10, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrap_footer {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -21px "#wrap";
}
/* line 18, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrap_footer footer {
  height: 21px "#wrap";
}

/* line 20, ../../../../../usr/lib64/ruby/gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 21px "#wrap";
}

/* line 149, ../../app/stylesheets/_core.sass */
footer {
  padding: 10px;
  background: #eaeae8;
  width: auto;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 11px;
  color: #848482;
}
/* line 157, ../../app/stylesheets/_core.sass */
footer nav {
  float: right;
}

/* line 1, ../../app/stylesheets/_styled_box.sass */
.styled_box {
  -moz-box-shadow: #eeeeee 1px 1px 3px 0;
  -webkit-box-shadow: #eeeeee 1px 1px 3px 0;
  -o-box-shadow: #eeeeee 1px 1px 3px 0;
  box-shadow: #eeeeee 1px 1px 3px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: #f9f9f9;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #f7f7f7));
  background-image: -moz-linear-gradient(top, #fdfdfd 0%, #f7f7f7 100%);
  background-image: linear-gradient(top, #fdfdfd 0%, #f7f7f7 100%);
}
/* line 8, ../../app/stylesheets/_styled_box.sass */
.styled_box .header {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 11px;
  position: relative;
  border-bottom: 1px solid #dddddd;
}
/* line 13, ../../app/stylesheets/_styled_box.sass */
.styled_box .header img {
  height: 15px;
  width: 15px;
  padding-top: 3px;
}
/* line 19, ../../app/stylesheets/_styled_box.sass */
.styled_box .header .header_text {
  padding: 5px 7px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  font-size: 12px;
}
/* line 23, ../../app/stylesheets/_styled_box.sass */
.styled_box .header .header_text span.category {
  color: #888888;
}

/* line 2, ../../app/stylesheets/_item.sass */
ul#wire {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 470px;
  margin-left: 0;
}
/* line 6, ../../app/stylesheets/_item.sass */
ul#wire li {
  margin-bottom: 10px;
}
/* line 10, ../../app/stylesheets/_item.sass */
ul#wire li .header .header_text span.author {
  font-weight: bold;
}
/* line 12, ../../app/stylesheets/_item.sass */
ul#wire li .header .header_text span.from {
  color: #888888;
}
/* line 14, ../../app/stylesheets/_item.sass */
ul#wire li .header .time {
  float: right;
  text-align: right;
  padding: 5px;
  color: #888888;
}
/* line 19, ../../app/stylesheets/_item.sass */
ul#wire li a {
  display: block;
  border-top: 1px solid white;
  padding: 7px;
  line-height: 120%;
  color: black;
  text-decoration: none;
}
/* line 26, ../../app/stylesheets/_item.sass */
ul#wire li a img {
  height: 50px;
  width: 50px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top;
  margin-right: 7px;
}
/* line 34, ../../app/stylesheets/_item.sass */
ul#wire li a .small_calendar {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  width: 50px;
  height: 50px;
  margin-right: 7px;
  vertical-align: top;
  text-align: center;
  background-color: white;
  border: 1px solid #dddddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 44, ../../app/stylesheets/_item.sass */
ul#wire li a .small_calendar .month {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  background-color: #a93f40;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  padding: 1px 7px;
  font-size: 11px;
  line-height: 16px;
}
/* line 52, ../../app/stylesheets/_item.sass */
ul#wire li a .small_calendar .date {
  font-family: "OldStandardTTBold", Times, serif;
  font-weight: normal;
  font-size: 22px;
  padding-top: 5px;
}
/* line 57, ../../app/stylesheets/_item.sass */
ul#wire li a .body {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  width: 390px;
}
/* line 61, ../../app/stylesheets/_item.sass */
ul#wire li a .body .event_start_time {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 0.7em;
  color: #4b9cca;
}
/* line 65, ../../app/stylesheets/_item.sass */
ul#wire li a .body p {
  font-size: 0.9em;
}
/* line 67, ../../app/stylesheets/_item.sass */
ul#wire li a .body span.reply_count {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 0.7em;
  padding: 2px 7px;
  background-color: #eeeeee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  vertical-align: top;
}
/* line 3, ../../app/stylesheets/_mixins.sass */
ul#wire li.post:hover .header .icon {
  background-color: #edd0d0;
}
/* line 5, ../../app/stylesheets/_mixins.sass */
ul#wire li.post .header .header_text span.author {
  color: #ca4b4b;
}
/* line 7, ../../app/stylesheets/_mixins.sass */
ul#wire li.post a .body p span.reply_count {
  color: #ca4b4b;
  background-color: #edd0d0;
}
/* line 3, ../../app/stylesheets/_mixins.sass */
ul#wire li.announcement:hover .header .icon {
  background-color: #e7e7e7;
}
/* line 5, ../../app/stylesheets/_mixins.sass */
ul#wire li.announcement .header .header_text span.author {
  color: #666666;
}
/* line 7, ../../app/stylesheets/_mixins.sass */
ul#wire li.announcement a .body p span.reply_count {
  color: #666666;
  background-color: #e7e7e7;
}
/* line 3, ../../app/stylesheets/_mixins.sass */
ul#wire li.event:hover .header .icon {
  background-color: #d4e5ef;
}
/* line 5, ../../app/stylesheets/_mixins.sass */
ul#wire li.event .header .header_text span.author {
  color: #4b9cca;
}
/* line 7, ../../app/stylesheets/_mixins.sass */
ul#wire li.event a .body p span.reply_count {
  color: #4b9cca;
  background-color: #d4e5ef;
}
/* line 82, ../../app/stylesheets/_item.sass */
ul#wire li .replies {
  display: none;
}

/* line 1, ../../app/stylesheets/_info_box.sass */
.fixed .info_box {
  position: fixed;
  top: 10px;
}

/* line 5, ../../app/stylesheets/_info_box.sass */
.info_box {
  position: relative;
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 470px;
}
/* line 10, ../../app/stylesheets/_info_box.sass */
.info_box .header span.follow_status {
  float: right;
  color: white;
  background-color: #abc584;
  padding: 3px 4px;
  margin: 3px 3px 0px 3px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 19, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main {
  border-top: 1px solid white;
  padding: 10px 12px;
  line-height: 120%;
  color: black;
}
/* line 24, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main #info_box_main_left {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  margin-right: 14px;
  vertical-align: top;
}
/* line 28, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main #info_box_main_left img {
  margin-bottom: 7px;
}
/* line 30, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main #info_box_main_left .link_button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 6px 10px;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 15px;
}
/* line 40, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main #info_box_main_left .link_button#follow_link {
  cursor: pointer;
  width: 120px;
  border: none;
  background-color: #89a362;
  margin-bottom: 7px;
}
/* line 46, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main #info_box_main_left .link_button#follow_link:hover {
  background-color: #abc584;
}
/* line 48, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main #info_box_main_left .link_button#message_me {
  width: 100px;
  background-color: #ca4b4b;
}
/* line 51, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main #info_box_main_left .link_button#message_me:hover {
  background-color: #ec6d6d;
}
/* line 53, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main #info_box_main_left a#unsubscribe {
  display: block;
  padding: 10px 0px;
  margin-top: 10px;
  border-top: 1px solid #dddddd;
  line-height: 140%;
}
/* line 59, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main .body {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top;
  width: 305px;
}
/* line 63, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main .body h3 {
  color: #ca4b4b;
  font-size: 1.5em;
  margin-bottom: 10px;
}
/* line 67, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main .body p.user_about {
  font-size: 0.9em;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}
/* line 71, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main .body ol.user_info {
  padding-top: 10px;
  border-top: 1px solid white;
}
/* line 74, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main .body ol.user_info li {
  color: #ca4b4b;
  line-height: 110%;
  margin-bottom: 6px;
  font-size: 0.8em;
}
/* line 76, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main .body ol.user_info li a {
  color: #ca4b4b;
}
/* line 81, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main .body ol.user_info li span.info_title {
  font-size: 0.8em;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #888888;
}
/* line 85, ../../app/stylesheets/_info_box.sass */
.info_box #info_box_main .body img#map {
  border: 1px solid #dddddd;
  margin-top: 8px;
}

/* line 1, ../../app/stylesheets/_form.sass */
form.new_account {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 390px;
  padding-right: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #dddddd;
  background: #f7f7f7;
}
/* line 13, ../../app/stylesheets/_form.sass */
form.new_account label {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
  margin-left: 0;
  text-align: right;
}
/* line 18, ../../app/stylesheets/_form.sass */
form.new_account input[type="text|password"] {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 230px;
  margin-right: 0;
}

/* line 22, ../../app/stylesheets/_form.sass */
div#submit_post {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #bbbbbb;
  border-bottom-color: #888888;
  background-color: #eeeeee;
}

/* line 5, ../../app/stylesheets/_organization.sass */
#organization_profile h1 {
  padding-left: 20px;
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 930px;
  margin: 10px;
  border-bottom: 1px solid #dddddd;
  font-size: 2em;
  fond-weight: bold;
}
/* line 14, ../../app/stylesheets/_organization.sass */
#organization_profile .contact {
  padding-left: 20px;
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 210px;
}
/* line 18, ../../app/stylesheets/_organization.sass */
#organization_profile .about {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 390px;
  padding-right: 40px;
}
/* line 23, ../../app/stylesheets/_organization.sass */
#organization_profile .related {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 210px;
  padding-right: 20px;
  margin-right: 0;
}

/* line 2, ../../app/stylesheets/_modal.sass */
.simplemodal-overlay {
  background: black;
}

/* line 2, ../../app/stylesheets/_registration.sass */
#registration {
  border: 1px solid #dddddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #f7f7f7));
  background-image: -moz-linear-gradient(top, #fdfdfd 0%, #f7f7f7 100%);
  background-image: linear-gradient(top, #fdfdfd 0%, #f7f7f7 100%);
  -moz-box-shadow: #eeeeee 1px 1px 3px 0;
  -webkit-box-shadow: #eeeeee 1px 1px 3px 0;
  -o-box-shadow: #eeeeee 1px 1px 3px 0;
  box-shadow: #eeeeee 1px 1px 3px 0;
  padding: 5px;
}
/* line 11, ../../app/stylesheets/_registration.sass */
#registration form {
  overflow: hidden;
  *zoom: 1;
  width: 420px;
}
/* line 14, ../../app/stylesheets/_registration.sass */
#registration form dt, #registration form dd {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  width: 200px;
  margin-top: 30px;
}
/* line 18, ../../app/stylesheets/_registration.sass */
#registration form dt {
  text-align: right;
}
/* line 21, ../../app/stylesheets/_registration.sass */
#registration form input[type="submit"] {
  float: right;
}

/* line 10, ../../app/stylesheets/application.sass */
#main {
  border: 1px solid #dddddd;
  border-top: none;
  border-bottom: none;
}

/* line 16, ../../app/stylesheets/application.sass */
nav#filters {
  background-color: #f8f7f2;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f8f7f2), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #f8f7f2 0%, #ffffff 100%);
  background-image: linear-gradient(top, #f8f7f2 0%, #ffffff 100%);
  padding: 20px 60px;
  display: block;
  height: 72px;
  margin-bottom: 10px;
}

/* line 24, ../../app/stylesheets/application.sass */
a.filter {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  text-align: center;
  margin-right: 70px;
}
/* line 29, ../../app/stylesheets/application.sass */
a.filter img {
  width: 80px;
  height: 70px;
  background-color: #dddddd;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}

/* line 37, ../../app/stylesheets/application.sass */
a.filter:last-child {
  margin-right: 0px;
}

/* line 40, ../../app/stylesheets/application.sass */
#actions {
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -o-border-top-left-radius: 7px;
  -ms-border-top-left-radius: 7px;
  -khtml-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -o-border-top-right-radius: 7px;
  -ms-border-top-right-radius: 7px;
  -khtml-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #4a7eb0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4a7eb0), color-stop(100%, #46759f));
  background-image: -moz-linear-gradient(top, #4a7eb0 0%, #46759f 100%);
  background-image: linear-gradient(top, #4a7eb0 0%, #46759f 100%);
  color: #f8f7f2;
  position: relative;
  margin-top: 10px;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
  *zoom: 1;
}

/* line 51, ../../app/stylesheets/application.sass */
#new {
  float: left;
  text-align: left;
  padding: 8px 15px;
}

/* line 56, ../../app/stylesheets/application.sass */
#search {
  float: right;
  padding: 6px 15px;
  height: 24px;
  text-align: center;
  background-color: #396081;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -o-border-top-right-radius: 7px;
  -ms-border-top-right-radius: 7px;
  -khtml-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
}
/* line 64, ../../app/stylesheets/application.sass */
#search form input[type=text] {
  font-size: 0.7em;
  height: 14px;
  padding: 4px;
  border: 1px solid #888888;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *vertical-align: auto;
  width: 300px;
}
/* line 69, ../../app/stylesheets/application.sass */
#search form input[type=submit] {
  background-color: #eeeeee;
  background-image: url("/images/button_repeat.png");
  width: auto;
  height: 100%;
  color: black;
  padding: 3px 7px;
  cursor: pointer;
  border: 1px solid #dddddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 36, ../../app/stylesheets/_mixins.sass */
#search form input[type=submit]:hover {
  border-color: #888888;
}

/* line 73, ../../app/stylesheets/application.sass */
div#list {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 470px;
}

/* line 77, ../../app/stylesheets/application.sass */
div#info {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 470px;
}
