#submission form#new_post div {
  display: none !important; }

#main {
  position: relative;
  overflow: visible !important; }

.fixed {
  position: fixed !important;
  top: auto;
  z-index: auto;
  margin-top: 7px;
  margin-left: 434px; }

div.mode {
  background: #ceeece !important;
  padding-bottom: 0;
  -webkit-border-top-left-radius: 10px !important;
  -webkit-border-top-right-radius: 10px !important;
  -moz-border-radius-topleft: 10px !important;
  -moz-border-radius-topright: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important; }

#toggles {
  margin-bottom: 1em;
  padding-bottom: 1em; }
  #toggles div {
    width: 140px;
    height: 32px;
    float: left;
    font-size: 1.8em;
    text-align: center;
    padding-top: 0.55em; }

.intro {
  background: #ceeece;
  padding: 1em;
  min-height: 80px;
  margin-top: 30px; }

.right {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px; }

.left {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px; }

.top {
  -webkit-border-top-left-radius: 10px !important;
  -webkit-border-top-right-radius: 10px !important;
  -moz-border-radius-topleft: 10px !important;
  -moz-border-radius-topright: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important; }

.intro input {
  font-size: 1em;
  width: 376px;
  border: 1px solid #888888;
  padding: 5px; }
.intro textarea {
  font-size: 1.1em;
  width: 376px;
  height: 4em; }

#wresults ul li, #dresults ul li, #iresults ul li {
  min-height: 66px; }
  #wresults ul li img, #dresults ul li img, #iresults ul li img {
    border: 1px solid #cccccc; }
  #wresults ul li.person, #dresults ul li.person, #iresults ul li.person {
    background: #ffeeaa; }
  #wresults ul li.organization, #dresults ul li.organization, #iresults ul li.organization {
    background: #ffffbb; }
  #wresults ul li.business, #dresults ul li.business, #iresults ul li.business {
    background: #eedd99; }
  #wresults ul li.selected, #dresults ul li.selected, #iresults ul li.selected {
    background: #eeeeff; }
  #wresults ul li:hover, #dresults ul li:hover, #iresults ul li:hover {
    background: #ffeeee; }

#iresults ul li {
  padding: 5px; }
  #iresults ul li p {
    display: inline; }
  #iresults ul li img {
    display: inline; }
  #iresults ul li.conversation {
    background: #beaebe; }

#wresults ul li.event, #dresults ul li.event {
  background: #ffeebb; }
  #wresults ul li.event div.calendar, #dresults ul li.event div.calendar {
    float: left;
    text-align: center;
    display: block;
    width: 60px;
    height: 57px;
    border: 1px solid #888888;
    margin-right: 0.5em;
    margin-left: 0 !important;
    background: green; }
    #wresults ul li.event div.calendar div.month, #dresults ul li.event div.calendar div.month {
      font-size: 1.1em;
      padding: 4px;
      border: 0;
      height: 20px;
      background: #ff6666; }
    #wresults ul li.event div.calendar div.date, #dresults ul li.event div.calendar div.date {
      font-size: 1.4em;
      padding: 6px 4px 0px 4px;
      border: 0;
      background: #cccccc;
      height: 22px; }

#d .intro {
  -webkit-border-top-left-radius: 10px !important;
  -moz-border-radius-topleft: 10px !important;
  border-top-left-radius: 10px !important; }
#d .intro ul {
  text-align: center;
  cursor: pointer;
  padding-left: 0;
  margin-bottom: 0em;
  margin-top: 1em; }
  #d .intro ul li {
    list-style: none;
    display: inline;
    padding-left: 0.42em;
    padding-right: 0.42em;
    padding-top: 0.25em;
    padding-bottom: 0.4em;
    border: 1px solid auto; }
  #d .intro ul:first-child {
    padding-left: 0; }
  #d .intro ul:last-child {
    padding-right: 0; }
  #d .intro ul.kinds li {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    #d .intro ul.kinds li.selected {
      background: #bbeeee;
      border: 1px solid #dddddd; }
#d .photo {
  float: left;
  padding-right: 10px; }
#d .info {
  float: left;
  vertical-align: top; }
#d #dresults h2 {
  font-size: 1.8em;
  margin-top: 0.666em;
  margin-bottom: 0;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #cccccc; }
#d #dresults ul {
  margin-bottom: 1em; }
  #d #dresults ul li {
    cursor: pointer;
    padding-top: 5px;
    padding-left: 5px;
    min-height: 66px;
    border-bottom: 1px solid #cccccc; }
    #d #dresults ul li img {
      float: left;
      margin-right: 0.5em; }
    #d #dresults ul li img, #d #dresults ul li p {
      margin-top: 0; }

#infobox textarea {
  display: block;
  overflow-x: hidden; }
#infobox table {
  padding: 0; }
  #infobox table tr th {
    padding-right: 10em;
    margin-right: 1em;
    padding: 0.2em 0;
    width: 100px; }
  #infobox table tr td {
    margin-left: 1em;
    padding: 0.2em 0; }

#left_comm ul li.selected {
  background: #eeeeff !important; }

#infobox {
  border: 1px dashed #996644;
  margin-bottom: 1em;
  padding: 1em; }
  #infobox h2 {
    text-align: left;
    margin-top: 0.4em;
    padding-bottom: 0;
    margin-bottom: 0.5em;
    font-size: 2em; }
  #infobox img {
    float: right;
    width: 100px;
    height: 100px;
    display: inline;
    margin-left: 0.2em;
    margin-bottom: 0.2em; }
  #infobox ul li {
    list-style: none;
    display: inline-block;
    margin-top: 0.25em;
    margin-right: 0.25em;
    border: 1px solid #375d81;
    background: #abc8e2;
    padding: 4px;
    line-height: 1.2em;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important; }
  #infobox p {
    text-align: left;
    margin-top: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px dashed #555555;
    font-size: 1.4em; }
    #infobox p.desc {
      color: #111111;
      border-bottom: none;
      font-size: 1em; }
    #infobox p.detail {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1em;
      color: #555555;
      border-bottom: none; }
    #infobox p.instruction {
      color: #111111;
      border-bottom: none;
      font-size: 1.1em;
      line-height: 1.2em; }
    #infobox p.age {
      font-size: 0.85em;
      color: #333333;
      margin-top: 0.5em;
      margin-bottom: 0;
      border: 0; }
  #infobox textarea {
    font-size: 1.2em;
    width: 100%;
    height: 2.4em;
    display: block; }
    #infobox textarea:focus {
      background: #eeeeff; }
  #infobox button {
    font-size: 1.2em; }
  #infobox div {
    text-align: center;
    margin: 0 auto;
    font-size: 1.1em;
    margin-top: 0.75em; }
    #infobox div div.rsvp, #infobox div div.refer {
      width: 160px;
      cursor: pointer;
      display: inline-block;
      border: 1px solid gray;
      padding: 1em; }
      #infobox div div.rsvp:hover, #infobox div div.refer:hover {
        background: #ffeeee; }
    #infobox div div.rsvp {
      -webkit-border-top-left-radius: 10px !important;
      -webkit-border-bottom-left-radius: 10px !important;
      -moz-border-radius-topleft: 10px !important;
      -moz-border-radius-bottomleft: 10px !important;
      border-top-left-radius: 10px !important;
      border-bottom-left-radius: 10px !important; }
    #infobox div div.refer {
      -webkit-border-top-right-radius: 10px !important;
      -webkit-border-bottom-right-radius: 10px !important;
      -moz-border-radius-topright: 10px !important;
      -moz-border-radius-bottomright: 10px !important;
      border-top-right-radius: 10px !important;
      border-bottom-right-radius: 10px !important; }
    #infobox div form, #infobox div div.message {
      height: 40px;
      margin: 0 auto;
      margin-top: 0.3em;
      border: 1px solid gray;
      padding: 0em;
      width: 402px;
      line-height: 1.2em;
      -webkit-border-radius: 10px !important;
      -moz-border-radius: 10px !important;
      border-radius: 10px !important; }
    #infobox div div.message {
      padding-top: 0;
      padding-bottom: 6px; }
      #infobox div div.message p {
        font-size: 1.1em;
        border: 0;
        margin: 0;
        margin-top: 12px;
        margin-bottom: 14px;
        text-align: center; }
    #infobox div form {
      padding-top: 6px;
      padding-bottom: 0px; }
  #infobox span.wire, #infobox span.directory {
    display: none; }
  #infobox .replies div {
    font-size: 0.9em;
    margin: 0;
    margin-left: 54px;
    line-height: 1.1em;
    overflow-x: hidden;
    text-align: left; }
    #infobox .replies div span.reply_name {
      margin-right: 0.5em; }
    #infobox .replies div.new_reply {
      overflow-x: visible;
      margin-left: 0;
      height: 100px;
      padding-top: 0px; }
      #infobox .replies div.new_reply label {
        position: absolute;
        padding-top: 6px;
        padding-left: 10px;
        font-size: 1em;
        color: #333333; }
      #infobox .replies div.new_reply textarea {
        margin-left: 5px;
        padding: 5px;
        display: block;
        height: 38px;
        font-size: 1em; }
      #infobox .replies div.new_reply form {
        border: none;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important; }
      #infobox .replies div.new_reply input {
        margin-left: 5px;
        display: inline-block;
        font-size: 0.8em;
        background-image: url("/images/button_repeat.png");
        padding: 3px 7px;
        border-width: 1px;
        border-style: solid;
        border-color: #aaaaaa; }
        #infobox .replies div.new_reply input:hover {
          border: 1px solid black; }
  #infobox .replies li {
    border: none;
    background: none;
    min-height: auto;
    padding: 5px;
    padding-left: 3px; }
  #infobox .replies img {
    width: 42px;
    height: 42px;
    float: left; }

#w .intro {
  -webkit-border-top-right-radius: 10px !important;
  -moz-border-radius-topright: 10px !important;
  border-top-right-radius: 10px !important; }
#w #wresults ul {
  margin-bottom: 1em; }
  #w #wresults ul li {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #cccccc;
    background: #ffffdf; }
    #w #wresults ul li div {
      position: relative;
      margin-left: 70px;
      display: block;
      padding-bottom: 5px; }
      #w #wresults ul li div div {
        margin-left: 0; }
    #w #wresults ul li span.reply_name {
      font-weight: bold;
      margin-right: 0.25em; }
    #w #wresults ul li p {
      margin-top: 0; }
      #w #wresults ul li p.age {
        font-size: 0.85em;
        color: #333333;
        padding-top: 8px;
        margin-bottom: 0; }
    #w #wresults ul li img {
      float: left;
      display: inline;
      position: absolute;
      margin-right: 0.5em;
      margin-top: 0;
      width: 60px; }
    #w #wresults ul li .expand {
      -webkit-border-top-left-radius: 4px !important;
      -webkit-border-top-right-radius: 4px !important;
      -moz-border-radius-topleft: 4px !important;
      -moz-border-radius-topright: 4px !important;
      border-top-left-radius: 4px !important;
      border-top-right-radius: 4px !important;
      float: right;
      margin-right: 1em;
      width: 90px;
      text-align: center;
      background: #ceeece; }
      #w #wresults ul li .expand p {
        padding: 0.5em;
        margin: 0; }
    #w #wresults ul li:hover {
      background: #ffeece; }

#full {
  position: absolute;
  top: 61px;
  bottom: 30px;
  border-width: 2px;
  border-color: #663300;
  border-style: solid;
  background-color: #996633;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

#comm_left, #comm_right {
  display: inline-block;
  position: relative;
  vertical-align: top;
  top: 0px;
  height: 100%;
  margin-bottom: 43px; }

#comm_left {
  width: 420px;
  padding: 0px;
  left: 2px; }

#comm_right {
  width: 564px;
  display: block;
  float: right;
  position: relative; }

#map {
  width: 562px;
  border: 1px dashed #446699;
  height: 300px !important;
  background: #4499ee; }

#new_post {
  margin: auto; }
  #new_post p.inline-errors {
    display: none; }
  #new_post .inputs ol li {
    position: relative; }
    #new_post .inputs ol li textarea, #new_post .inputs ol li input, #new_post .inputs ol li label {
      font-size: 1em;
      height: 38px;
      display: block; }
    #new_post .inputs ol li textarea {
      padding: 5px;
      width: 376px; }
    #new_post .inputs ol li label {
      position: absolute;
      top: 4px;
      left: 6px;
      color: #888888;
      text-align: left;
      margin: 0px;
      font-weight: normal;
      width: inherit; }
  #new_post .buttons ol {
    display: table; }
    #new_post .buttons ol li {
      padding: 0;
      margin: 5px;
      float: none;
      display: table-cell; }
      #new_post .buttons ol li button {
        background-color: #2b8829;
        background-image: url("/images/submit_post_background.png");
        color: white;
        font-weight: bold;
        font-size: 0.9em;
        width: 95%;
        padding: 6px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border-width: 1px;
        border-style: solid;
        border-color: #aaaaaa; }
        #new_post .buttons ol li button:hover {
          border-color: #333333; }

header form {
  display: inline; }
