@font-face {
  font-family: "OldStandardTTRegular";
  src: url("/fonts/old-standard/OldStandard-Regular-webfont.eot");
  src: local("OldStandardTTRegular"), url("/fonts/old-standard/OldStandard-Regular-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Regular-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OldStandardTTItalic";
  src: url("/fonts/old-standard/OldStandard-Italic-webfont.eot");
  src: local("OldStandardTTItalic"), url("/fonts/old-standard/OldStandard-Italic-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Italic-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Italic-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OldStandardTTBold";
  src: url("/fonts/old-standard/OldStandard-Bold-webfont.eot");
  src: local("OldStandardTTBold"), url("/fonts/old-standard/OldStandard-Bold-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Bold-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

form.formtastic input[type=text], form.formtastic textarea {
  font-size: 0.8em;
  height: 14px;
  padding: 4px;
  color: black;
  font-family: Verdana, sans-serif;
  border: 1px solid #888888;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important;
  width: 250px; }
  form.formtastic input[type=text]#user_avatar, form.formtastic textarea#user_avatar {
    background-color: white;
    border-color: white;
    padding: 0px;
    width: 170px; }
form.formtastic textarea {
  height: 4em; }
form.formtastic input[type=submit] {
  background-color: #eeeeee;
  background-image: url("/images/button_repeat.png");
  width: auto;
  height: 100%;
  color: black;
  padding: 3px 7px;
  cursor: pointer;
  border: 1px solid #dddddd;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important;
  left: 130px;
  position: relative;
  margin-top: 10px;
  font-size: 1.2em; }
  form.formtastic input[type=submit]:hover {
    border-color: #888888; }
form.formtastic label {
  width: 120px;
  padding: 4px 10px 0 0;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  color: #888888;
  text-align: right;
  position: relative;
  top: 0px;
  float: left; }
form.formtastic p.inline-errors {
  float: right;
  font-size: 0.8em;
  text-align: right;
  line-height: 120%;
  width: 280px;
  margin: -7px 2px 10px 2px;
  font-weight: bold;
  color: #cc0000; }
form.formtastic fieldset ol li {
  display: block;
  position: relative;
  margin-bottom: 7px; }
