@font-face {
  font-family: "OldStandardTTRegular";
  src: url("/fonts/old-standard/OldStandard-Regular-webfont.eot");
  src: local("OldStandardTTRegular"), url("/fonts/old-standard/OldStandard-Regular-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Regular-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OldStandardTTItalic";
  src: url("/fonts/old-standard/OldStandard-Italic-webfont.eot");
  src: local("OldStandardTTItalic"), url("/fonts/old-standard/OldStandard-Italic-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Italic-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Italic-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OldStandardTTBold";
  src: url("/fonts/old-standard/OldStandard-Bold-webfont.eot");
  src: local("OldStandardTTBold"), url("/fonts/old-standard/OldStandard-Bold-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Bold-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

h2, h1 {
  margin-bottom: 15px;
  padding-bottom: 4px; }
  h2.top, h1.top {
    margin-top: 0; }

h2 {
  margin-bottom: 0px !important;
  font-size: 1.5em; }

h1#title {
  font-size: 2em;
  font-weight: bold; }

.underline {
  border-bottom: 1px solid #dfdfdc; }

#permanent_page_container {
  padding: 15px; }

#left_profile_col, #right_profile_col, #far_right_profile_col {
  position: relative;
  display: inline-block;
  vertical-align: top; }

#far_right_profile_col {
  background: #eeeeee;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important;
  width: 210px;
  padding: 10px;
  margin-left: 15px;
  min-height: 500px; }
  #far_right_profile_col h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0.75em 0px 0.5em;
    line-height: 120%; }
  #far_right_profile_col h3:first-child {
    margin-top: 0; }
  #far_right_profile_col p {
    font-size: 0.8em; }

#left_profile_col {
  width: 215px;
  margin-right: 15px; }
  #left_profile_col ul {
    margin-top: 0;
    background: none;
    border: 1px solid #bbab81;
    -webkit-border-top-right-radius: 5px !important;
    -moz-border-radius-topright: 5px !important;
    border-top-right-radius: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    border-top-left-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    border-bottom-right-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    border-bottom-left-radius: 5px !important;
    margin-bottom: 1em; }
    #left_profile_col ul li {
      list-style: none;
      padding: 7px;
      border-bottom: 1px solid #bbab81;
      background: white; }
      #left_profile_col ul li:hover {
        background: #ffefc5;
        cursor: pointer; }
      #left_profile_col ul li:last-child {
        border-bottom: none;
        -webkit-border-top-right-radius: 5px !important;
        -moz-border-radius-topright: 5px !important;
        border-top-right-radius: 5px !important;
        -webkit-border-top-left-radius: 5px !important;
        -moz-border-radius-topleft: 5px !important;
        border-top-left-radius: 5px !important;
        -webkit-border-bottom-right-radius: 5px !important;
        -moz-border-radius-bottomright: 5px !important;
        border-bottom-right-radius: 5px !important;
        -webkit-border-bottom-left-radius: 5px !important;
        -moz-border-radius-bottomleft: 5px !important;
        border-bottom-left-radius: 5px !important; }
    #left_profile_col ul:last-child {
      margin-bottom: 1px; }
    #left_profile_col ul li:first-child {
      background-color: #bbab81;
      color: white;
      font-weight: bold; }

ul#wire {
  margin: 10px 0px 30px; }

li#relation {
  font-size: 1.2em;
  text-align: center; }

#unsubscribe {
  margin: 0.5em 0; }
  #unsubscribe input {
    background-color: #eeeeee;
    background-image: url("/images/button_repeat.png");
    width: auto;
    height: 100%;
    color: black;
    padding: 3px 7px;
    cursor: pointer;
    border: 1px solid #dfdfdc;
    -webkit-border-top-right-radius: 5px !important;
    -moz-border-radius-topright: 5px !important;
    border-top-right-radius: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    border-top-left-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    border-bottom-right-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    border-bottom-left-radius: 5px !important; }
    #unsubscribe input:hover {
      border-color: #888888; }

ul#members li .user_image, ul#members li .user_info {
  position: relative;
  display: inline-block;
  vertical-align: top; }
ul#members li .user_image {
  width: 35px; }
ul#members li .user_info {
  width: 150px; }
ul#members li .user_name {
  font-weight: bold; }
ul#members li .user_role {
  color: #888888;
  font-size: 0.8em;
  font-weight: normal; }

li {
  font-size: 0.9em; }

.contact_field {
  font-weight: bold; }

.none {
  color: #888888; }

#signupteaser {
  padding: 0.75em;
  border: 2px solid #ffefc5;
  margin-bottom: 1em;
  background: #ffefc5;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important; }
  #signupteaser input {
    background-color: #eeeeee;
    background-image: url("/images/button_repeat.png");
    width: auto;
    height: 100%;
    color: black;
    padding: 3px 7px;
    cursor: pointer;
    border: 1px solid #dfdfdc;
    -webkit-border-top-right-radius: 5px !important;
    -moz-border-radius-topright: 5px !important;
    border-top-right-radius: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    border-top-left-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    border-bottom-right-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    border-bottom-left-radius: 5px !important;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px 0px 0.5em 0px; }
    #signupteaser input:hover {
      border-color: #888888; }
  #signupteaser p {
    font-size: 0.9em;
    margin-bottom: 0; }

#right_profile_col {
  width: 460px; }

.contact {
  font-size: 1.1em;
  width: 380px;
  height: 70px; }

.profile_info {
  padding: 7px 0px !important;
  margin: 0 !important;
  line-height: 130%;
  font-family: Georgia, Times, serif; }

.block {
  display: block !important; }

h2.relationship {
  margin-top: 0;
  color: #999999; }

.profilephoto {
  padding-top: 1px;
  padding-left: 1px;
  height: 200px;
  width: 196px; }

.commonality {
  font-size: 0.8em;
  padding-top: 4px; }

.list a {
  color: #183152;
  display: inline;
  text-decoration: none;
  border: 1px solid #375d81;
  background: #abc8e2;
  padding: 4px;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 2em; }

a.same {
  background-color: #8ebd4f;
  border: 1px solid #424f2f;
  color: #111111; }

.list a, #left .category, #signupteaser {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.expansion {
  margin-top: 1em;
  display: none; }

.rsvp span {
  display: none; }

#map {
  height: 300px;
  width: 480px;
  background: #dfdfdc;
  border: 1px solid #eeeeee;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important;
  margin-bottom: 1.5em; }

table tr {
  vertical-align: top; }
  table tr td:first-child {
    padding-right: 1em; }
