.front_page_main, #main_left, #main_right {
  font-family: Georgia, Times, "Times New Roman", Serif;
  width: 445px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 0px; }
  .front_page_main h1, #main_left h1, #main_right h1 {
    font-size: 1.6em;
    margin-bottom: 1em;
    font-weight: bold; }
  .front_page_main h2, #main_left h2, #main_right h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0px; }
  .front_page_main h3, #main_left h3, #main_right h3 {
    font-size: 1.2em;
    color: #777777;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0px; }
  .front_page_main p, #main_left p, #main_right p {
    margin: 10px 0px; }

#main_left {
  padding: 15px;
  background-color: #eeeeee;
  margin-right: 15px; }

.front_page_main {
  right: 0px; }

#log_in, #register, #more, #main_right {
  width: 100%;
  padding: 10px;
  border: 1px;
  border-style: solid;
  border-color: #888888; }

#main_right, #main_left {
  width: 445px; }

form.formtastic.user_session fieldset.inputs {
  width: 400px; }

#more_info h1 {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 1em; }

#login {
  display: inline-block; }

#new_user_session h2 {
  margin: 20px 125px; }

#comm_left, #comm_right {
  width: 476px; }

#comm_right {
  float: right; }

div.mode {
  background: #ceeece !important;
  padding-bottom: 0;
  -webkit-border-top-left-radius: 10px !important;
  -webkit-border-top-right-radius: 10px !important;
  -moz-border-radius-topleft: 10px !important;
  -moz-border-radius-topright: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important; }

#toggles {
  margin-bottom: 1em;
  padding-bottom: 1em; }
  #toggles div {
    background: white;
    width: 240px;
    height: 30px;
    float: left;
    font-size: 2em;
    text-align: center;
    padding-top: 0.5em; }
    #toggles div.left {
      -webkit-border-top-left-radius: 10px;
      -moz-border-radius-topleft: 10px;
      border-top-left-radius: 10px; }
    #toggles div.right {
      -webkit-border-top-right-radius: 10px;
      -moz-border-radius-topright: 10px;
      border-top-right-radius: 10px; }

.intro {
  background: #ceeece;
  padding: 1em;
  height: 150px; }

.right {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px; }

.left {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px; }

.intro input {
  font-size: 1.2em;
  width: 100%; }
.intro textarea {
  font-size: 1.2em;
  width: 100%;
  height: 4em; }

#d ul {
  padding-left: 0;
  margin-bottom: 0em;
  margin-top: 1em;
  cursor: pointer;
  text-align: center; }
  #d ul:first-child {
    padding-left: 0; }
  #d ul:last-child {
    padding-right: 0; }
  #d ul li {
    list-style: none;
    display: inline;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.25em;
    padding-bottom: 0.4em;
    border: 1px solid auto; }
  #d ul.kinds li {
    -webkit-border-top-left-radius: 10px !important;
    -webkit-border-top-right-radius: 10px !important;
    -moz-border-radius-topleft: 10px !important;
    -moz-border-radius-topright: 10px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important; }
    #d ul.kinds li.selected {
      background: #bbeeee;
      border: 1px solid #dddddd; }
  #d ul.selected {
    background: #bbeeee;
    border: 1px solid #dddddd; }
  #d ul.kinds li.selected {
    border-bottom: 1px solid #bbeeee; }
  #d ul.selected {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
  #d ul li.all.selected {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #dddddd; }
  #d ul.alphabeta {
    margin-top: 6px;
    padding-top: 0.2em;
    padding-bottom: 0.25em; }
    #d ul.alphabeta li {
      list-style: none;
      display: inline;
      background: #bbeeee;
      font-size: 0.9em;
      padding-left: 0.07em;
      padding-right: 0.07em;
      padding-bottom: 0.25em;
      border: 0;
      margin-top: 0; }
      #d ul.alphabeta li a {
        color: #111111;
        text-decoration: none; }
#d .photo {
  float: left;
  padding-right: 10px; }
#d .info {
  float: left;
  vertical-align: top; }
#d #people div {
  margin-bottom: 0.333em; }
  #d #people div .info p {
    font-size: 1em; }

.clear {
  clear: both; }
