@font-face {
  font-family: "OldStandardTTRegular";
  src: url("/fonts/old-standard/OldStandard-Regular-webfont.eot");
  src: local("OldStandardTTRegular"), url("/fonts/old-standard/OldStandard-Regular-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Regular-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OldStandardTTItalic";
  src: url("/fonts/old-standard/OldStandard-Italic-webfont.eot");
  src: local("OldStandardTTItalic"), url("/fonts/old-standard/OldStandard-Italic-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Italic-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Italic-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OldStandardTTBold";
  src: url("/fonts/old-standard/OldStandard-Bold-webfont.eot");
  src: local("OldStandardTTBold"), url("/fonts/old-standard/OldStandard-Bold-webfont.woff") format("woff"), url("/fonts/old-standard/OldStandard-Bold-webfont.ttf") format("truetype"), url("/fonts/old-standard/OldStandard-Bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }

body {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 1em;
  font-family: sans-serif;
  font-size: medium;
  color: #111111;
  background: #f8f7f2;
  margin: auto;
  line-height: 110%;
  height: 100%;
  text-rendering: optimizeLegibility; }

a {
  color: #0033aa;
  font-weight: bold;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h2 {
  font-weight: bolder;
  margin: 1em 0; }

strong {
  font-weight: bold; }

p {
  margin: 0.5em 0px; }

dl {
  display: block; }
  dl dt, dl dd {
    margin-top: 4px; }
  dl dt {
    width: 80px;
    clear: left;
    float: left; }
  dl dd {
    float: left;
    width: 260px; }

#top {
  margin-bottom: -300px;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: #f8f7f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d6d5d0), to(#f8f7f2));
  background: -moz-linear-gradient(center bottom, #f8f7f2, #d6d5d0);
  z-index: -1; }

#wrap {
  min-height: 100%; }

#main {
  overflow: auto;
  width: 976px;
  border: 1px solid #888888;
  background: #fefefe;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
  text-align: left;
  vertical-align: middle;
  align: center;
  min-height: 600px;
  padding: 0;
  padding-bottom: 32px;
  display: block;
  -webkit-border-top-right-radius: 4px !important;
  -moz-border-radius-topright: 4px !important;
  border-top-right-radius: 4px !important;
  -webkit-border-top-left-radius: 4px !important;
  -moz-border-radius-topleft: 4px !important;
  border-top-left-radius: 4px !important;
  -webkit-border-bottom-right-radius: 4px !important;
  -moz-border-radius-bottomright: 4px !important;
  border-bottom-right-radius: 4px !important;
  -webkit-border-bottom-left-radius: 4px !important;
  -moz-border-radius-bottomleft: 4px !important;
  border-bottom-left-radius: 4px !important;
  position: relative; }

#bottom {
  margin-top: -300px;
  position: relative;
  bottom: 22pxpx;
  left: 0;
  width: 100% !important;
  height: 300px;
  background: #f8f7f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f7f2), to(#d6d5d0));
  background: -moz-linear-gradient(center bottom, #d6d5d0, #f8f7f2);
  z-index: -1; }

header {
  position: relative;
  margin: auto;
  width: 976px;
  height: 38px;
  padding-top: 10px; }
  header a#title, header #community_nav, header nav {
    position: relative;
    display: inline-block;
    vertical-align: top; }
  header a#title {
    position: absolute;
    left: 0px;
    border: 0px;
    bottom: 0px;
    top: auto; }

#community_nav {
  position: absolute;
  display: inline-block;
  z-index: 1;
  border: 1px solid #888888;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important;
  background: #dddddd;
  color: black;
  padding: 7px 10px;
  left: 275px;
  font-weight: bold; }
  #community_nav:hover {
    background-color: #eeeeee; }
  #community_nav.selected_nav {
    background: white !important;
    font-weight: bold !important; }

nav#header_right {
  bottom: 8px;
  right: 0px;
  position: absolute;
  display: inline-block;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px 0px 0px 7px; }

nav#header_right a {
  font-weight: normal;
  display: inline-block;
  padding: 3px 7px;
  margin: 0;
  border-left: 1px solid #dddddd; }
  nav#header_right a:first-child {
    margin-left: 4px; }
  nav#header_right a:last-child {
    -webkit-border-top-right-radius: 5px !important;
    -moz-border-radius-topright: 5px !important;
    border-top-right-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    border-bottom-right-radius: 5px !important; }
  nav#header_right a:hover {
    background: #fafafa; }
  nav#header_right a.selected_nav {
    background-color: white;
    color: black;
    font-weight: bold; }

#search {
  padding: 0px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 0px;
  z-index: 1; }
  #search input[type="text"] {
    width: 180px;
    border: 1px solid silver;
    padding: 5px;
    -webkit-border-top-right-radius: 10px !important;
    -moz-border-radius-topright: 10px !important;
    border-top-right-radius: 10px !important;
    -webkit-border-top-left-radius: 10px !important;
    -moz-border-radius-topleft: 10px !important;
    border-top-left-radius: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;
    -moz-border-radius-bottomright: 10px !important;
    border-bottom-right-radius: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
    -moz-border-radius-bottomleft: 10px !important;
    border-bottom-left-radius: 10px !important;
    font-size: 13px; }
  #search input[type='submit'] {
    border: 1px solid silver;
    padding: 5px;
    -webkit-border-top-right-radius: 10px !important;
    -moz-border-radius-topright: 10px !important;
    border-top-right-radius: 10px !important;
    -webkit-border-top-left-radius: 10px !important;
    -moz-border-radius-topleft: 10px !important;
    border-top-left-radius: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;
    -moz-border-radius-bottomright: 10px !important;
    border-bottom-right-radius: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
    -moz-border-radius-bottomleft: 10px !important;
    border-bottom-left-radius: 10px !important;
    font-size: 13px;
    background: #bfe2f3; }

footer {
  text-align: center;
  position: relative;
  margin-top: -32px;
  height: 22px;
  margin-bottom: -800px;
  background: #2f2f2f;
  border-top: 4px solid #444444;
  bottom: 0;
  left: 0;
  padding-top: 6px; }
  footer a {
    color: #90a1ab; }
  footer span {
    color: #777777; }
    footer span#footer_left {
      font-size: 1.5em;
      float: left;
      margin-left: 20px; }
    footer span#footer_right {
      float: right;
      margin-right: 20px;
      font-size: 1.1em;
      font-weight: lighter; }

div.calendar {
  min-height: none;
  position: relative !important;
  float: left;
  text-align: center;
  display: block;
  width: 50px;
  height: 50px !important;
  margin: 0px !important;
  background: white;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important;
  font-family: "OldStandardTT", Times, serif; }
  div.calendar div.month {
    position: relative !important;
    min-height: none !important;
    border: none;
    padding: 2px;
    font-size: 13px;
    height: 17px !important;
    background: #a93f40;
    color: #f8f7f2;
    -webkit-border-top-right-radius: 5px !important;
    -moz-border-radius-topright: 5px !important;
    border-top-right-radius: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    border-top-left-radius: 5px !important; }
  div.calendar div.date {
    position: relative !important;
    min-height: none !important;
    border: none;
    background: none;
    color: #333333;
    font-weight: bold;
    padding: 4px;
    font-size: 18px;
    -webkit-border-bottom-right-radius: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    border-bottom-right-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    border-bottom-left-radius: 5px !important; }

.time {
  color: #666666;
  font-family: "OldStandardTT", Times, serif; }

.delete {
  color: #666666;
  font-weight: normal; }

#copy {
  font-size: 12px; }

#info_img, .info {
  position: relative;
  display: inline-block;
  vertical-align: top; }

#info_img {
  width: 400px; }

.info {
  width: 530px;
  padding: 0px 15px;
  font-family: Georgia, Times, "Times New Roman", Serif; }
  .info p {
    font-size: 1em;
    margin-bottom: 0.5em; }
  .info h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold; }

#win {
  background-color: #cceecc;
  border: 1px solid #dddddd;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  border-bottom-right-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  border-bottom-left-radius: 5px !important;
  padding: 6px 10px;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 1em; }

.editarea p {
  padding: 0.5em; }
  .editarea p.big {
    font-size: 1.4em;
    line-height: 1.4em; }
  .editarea p:hover {
    outline: 1px solid #eeeeee; }

.label {
  color: #666666;
  -webkit-transition: color 0.2s linear; }

.fading {
  color: white;
  -webkit-transition: color 0.2s linear; }

.bottomshiv {
  height: 28px; }
