/*
Syntax error: Undefined mixin 'box-shadow'.
        on line 2 of /Users/jonathan/commonplace/app/stylesheets/styled_box.sass, in `box-shadow'
        from line 2 of /Users/jonathan/commonplace/app/stylesheets/styled_box.sass

1: .styled_box
2:   +box-shadow($lightestGray, 1px, 1px, 3px)
3:   +border-radius($defaultRadius)
4:   border: 1px solid $lightGray
5:   background: $itemBackground
6: 
7:   .header

Backtrace:
/Users/jonathan/commonplace/app/stylesheets/styled_box.sass:2:in `box-shadow'
/Users/jonathan/commonplace/app/stylesheets/styled_box.sass:2
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/mixin_node.rb:74:in `perform!'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:301:in `_perform'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:209:in `perform'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `perform_children'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `map'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `perform_children'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:313:in `perform!'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:301:in `_perform'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:209:in `perform'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `perform_children'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `map'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:322:in `perform_children'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:313:in `perform!'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:301:in `_perform'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/node.rb:209:in `perform'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/root_node.rb:37:in `perform'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/lib/sass/tree/root_node.rb:29:in `render'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/rails/../lib/sass/plugin.rb:220:in `update_stylesheet'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/rails/../lib/sass/plugin.rb:85:in `update_stylesheets'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/rails/../lib/sass/plugin.rb:78:in `each'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/rails/../lib/sass/plugin.rb:78:in `update_stylesheets'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/rails/../lib/sass/plugin.rb:76:in `each'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/rails/../lib/sass/plugin.rb:76:in `update_stylesheets'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/rails/../lib/sass/plugin.rb:50:in `check_for_updates'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/haml-3.0.14/rails/../lib/sass/plugin/rack.rb:40:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/actionpack-2.3.8/lib/action_controller/string_coercion.rb:25:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/head.rb:9:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/methodoverride.rb:24:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/actionpack-2.3.8/lib/action_controller/params_parser.rb:15:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/actionpack-2.3.8/lib/action_controller/session/cookie_store.rb:99:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/actionpack-2.3.8/lib/action_controller/failsafe.rb:26:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/lock.rb:11:in `synchronize'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:114:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/actionpack-2.3.8/lib/action_controller/reloader.rb:34:in `run'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:108:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rails-2.3.8/lib/rails/rack/static.rb:31:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/urlmap.rb:47:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/urlmap.rb:41:in `each'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/urlmap.rb:41:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rails-2.3.8/lib/rails/rack/log_tailer.rb:17:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/content_length.rb:13:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/chunked.rb:15:in `call'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/handler/mongrel.rb:67:in `process'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rack-1.1.0/lib/rack/handler/mongrel.rb:38:in `run'
/Users/jonathan/.rvm/gems/ruby-1.8.7-p174/gems/rails-2.3.8/lib/commands/server.rb:111
/Users/jonathan/.rvm/rubies/ruby-1.8.7-p174/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/Users/jonathan/.rvm/rubies/ruby-1.8.7-p174/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'box-shadow'.\A         on line 2 of /Users/jonathan/commonplace/app/stylesheets/styled_box.sass, in `box-shadow'\A         from line 2 of /Users/jonathan/commonplace/app/stylesheets/styled_box.sass\A \A 1: .styled_box\A 2:   +box-shadow($lightestGray, 1px, 1px, 3px)\A 3:   +border-radius($defaultRadius)\A 4:   border: 1px solid $lightGray\A 5:   background: $itemBackground\A 6: \A 7:   .header"; }
