/*
Syntax error: Undefined mixin 'border-radius'.
        on line 19 of app/stylesheets/main_page/post_box.css.sass, in `border-radius'
        from line 19 of app/stylesheets/main_page/post_box.css.sass

14:   &:focus
15:     outline: none
16:     color: #333
17: 
18: #post-box
19:   +border-radius(5px)
20:   +box-shadow(#bcd4eb 3px 3px 0)
21: 
22:   background-color: #AC322F
23: 
24:   border: 1px solid #8F2927

Backtrace:
app/stylesheets/main_page/post_box.css.sass:19:in `border-radius'
app/stylesheets/main_page/post_box.css.sass:19
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:169:in `visit_mixin'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:235:in `visit_rule'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/engine.rb:240:in `render'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:214:in `watch'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin.rb:111:in `method_missing'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:408:in `watch_or_update'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:294:in `process_result'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:41:in `parse'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:21:in `parse!'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/bin/sass:8:in `<top (required)>'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/bin/sass:19:in `load'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border-radius'.\A         on line 19 of app/stylesheets/main_page/post_box.css.sass, in `border-radius'\A         from line 19 of app/stylesheets/main_page/post_box.css.sass\A \A 14:   &:focus\A 15:     outline: none\A 16:     color: #333\A 17: \A 18: #post-box\A 19:   +border-radius(5px)\A 20:   +box-shadow(#bcd4eb 3px 3px 0)\A 21: \A 22:   background-color: #AC322F\A 23: \A 24:   border: 1px solid #8F2927"; }
