/*
Syntax error: Undefined mixin 'border-radius'.
        on line 11 of app/stylesheets/main_page/profile_box.css.sass, in `border-radius'
        from line 11 of app/stylesheets/main_page/profile_box.css.sass

6:   color: white
7:   font-family: Helvetica, Arial, sans-serif
8:   font-size: 12px
9:   padding: 15px
10:   padding-bottom: 5px
11:   +border-radius(4px)
12:   +box-shadow(4px 4px 2px rgba(46, 75, 103, 0.1), 0 0 0 1px #1b334a, 0 1px 0 rgba(70, 117, 161, 0.7) inset)
13:   h1, h2, h3, h4, h5, h6, p
14:     margin: 0
15:   
16:   ul, li

Backtrace:
app/stylesheets/main_page/profile_box.css.sass:11:in `border-radius'
app/stylesheets/main_page/profile_box.css.sass:11
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:169:in `visit_mixin'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:235:in `visit_rule'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/engine.rb:240:in `render'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:214:in `watch'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin.rb:111:in `method_missing'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:408:in `watch_or_update'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:294:in `process_result'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:41:in `parse'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:21:in `parse!'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/bin/sass:8:in `<top (required)>'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/bin/sass:19:in `load'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border-radius'.\A         on line 11 of app/stylesheets/main_page/profile_box.css.sass, in `border-radius'\A         from line 11 of app/stylesheets/main_page/profile_box.css.sass\A \A 6:   color: white\A 7:   font-family: Helvetica, Arial, sans-serif\A 8:   font-size: 12px\A 9:   padding: 15px\A 10:   padding-bottom: 5px\A 11:   +border-radius(4px)\A 12:   +box-shadow(4px 4px 2px rgba(46, 75, 103, 0.1), 0 0 0 1px #1b334a, 0 1px 0 rgba(70, 117, 161, 0.7) inset)\A 13:   h1, h2, h3, h4, h5, h6, p\A 14:     margin: 0\A 15:   \A 16:   ul, li"; }
