%div{'data-href' => group_path(group), :class => "group tooltip", 'data-title' => 'Click to see more information about this group'}
  = image_tag group.avatar_url(:thumb), :class => "avatar"
  .title= group.name
