<!DOCTYPE html>

<html>
  <head>
    
  </head>

  <body>
    <div id="group-header">
      <h1>Group Name</h1>
      <a href="">Subscribe</a>
    </div>

    <div id="left-column">
      <div id="group-info">
        <h1>Group Profile</h1>
        
      </div>
    </div>
    
    <div id="center-column">
    </div>

    <div id="right-column">
    </div>

    <script id="profile-template" type="text/html">
      <h1>Group Profile</h1>

      <img src="{{avatar_url}}" class="avatar" width="200" height="200">

      <p class="about">{{about}}</p>
    </script>

    <script id="header-template" type="text/html">
      <h1>{{name}}</h1>
      <a href="">Subscribe</a>
    </script>

    <script id="nav-template" type="text/html">
      <a href="">All Posts</a>
      <a href="">Members</a>
    </script>

    <script id="groups-list-template" type="text/html">
      <h1>All Falls Church Groups</h1>
      {{#groups}}
        <a href="{{url}}" class="{{#is_current}}current{{/is_current}}">
          {{name}}
        </a>
      {{/groups}}
    </script>

    <script id="new-post-template" type="text/html">
      <h1>Post to this group:</h1>
      
      <img class="avatar" src="{{account_avatar}}" width="50" height="50">

      <form>
        <input name="title" type="text">
        <textarea name="body"></textarea>
      </form>
    </script>

    <script type="text/javascript">
    </script>
  </body>

</html>
