<h1>Organization Information</h1>

<img src="{{avatar_url}}" class="avatar" width="200" height="200">

<dl class="contact-info">
  <dt>ADDRESS</dt>
  <dd>{{address}}</dd>
  <dt>PHONE</dt>
  <dd>{{phone}}</dd>
  <dt>WEBSITE</dt>
  <dd><a href="{{website}}">{{website}}</a></dd>
</dl>

<div id="send-message">
  Send Us A Message
</div>