
<div class="feed-announcements tab {{#classIfCurrent}}announcements{{/classIfCurrent}}">
  <h1>Announcements from {{#feed}}{{name}}{{/feed}}</h1>

  <ul>
  </ul>
</div>

<div class="feed-events tab {{#classIfCurrent}}events{{/classIfCurrent}}">
  <h1>Events from {{#feed}}{{name}}{{/feed}}</h1>

  <ul>
  </ul>
</div>