<h1>{{#feed}}{{name}}{{/feed}}</h1>

{{#isSubscribed}}
<a href="#" class="unsubscribe">UNSUBSCRIBE</a>
{{/isSubscribed}}
{{^isSubscribed}}
  <a href="#" class="subscribe">SUBSCRIBE</a>
{{/isSubscribed}}