<a data-tab="announcements"
  href="#announcements"
  class="{{#classIfCurrent}}announcements{{/classIfCurrent}}">Announcements
</a>

<a data-tab="events"
  href="#events"
  class="{{#classIfCurrent}}events{{/classIfCurrent}}">Events
</a>
