<h1>Organization Information</h1>

<img src="{{#links}}{{#avatar}}{{large}}{{/avatar}}{{/links}}" class="avatar" width="200" height="200">

<dl class="contact-info">
  <dt>ADDRESS</dt>
  <dd>{{address}}</dd>
  <dt>PHONE</dt>
  <dd>{{phone}}</dd>
  <dt>WEBSITE</dt>
  <dd><a href="{{website}}" target="_blank">{{website}}</a></dd>
</dl>

<button class="send-message">Send Us a Message</button>
