<form>
  <h1>A private message to the owner of <strong>{{#feed}}{{name}}{{/feed}}</strong></h1>
  <label for="subject">Subject:</label>
  <input name="subject">

  <label for="body">Body:</label>
  <textarea name="body"></textarea>

  <div class="controls">
    <a class="cancel" href="#">Cancel</a>
    <button>Send Message</button>
  </div>
</form>