<div id="feed-action-nav">
  <a href="#/post-announcement" class="post-announcement {{postAnnouncementClass}}">Post an Announcement</a>
  <a href="#/post-event" class="post-event {{postEventClass}}">Post an <br>Event</a>
  <a href="#/invite-subscribers" class="invite-subscribers {{inviteSubscribersClass}}">Invite New Subscribers</a>
</div>

<div id="post-announcement" class="{{postAnnouncementClass}}">
  <img class="avatar" src="{{account_avatar}}" width="50" height="50">

  <form>
    <input name="title" type="text" value="Title">
    <textarea name="body">Body</textarea>
    <button>Post an Announcement</button>
  </form>
  <div style="clear: both;"></div>
</div>

<div id="post-event" class="{{postEventClass}}">
</div>

<div id="invite-subscribers" class="{{inviteSubscribersClass}}">
</div>
