<div id="feed-action-nav">
  <a href="#/post-announcement" class="post-announcement {{postAnnouncementClass}}">Post an Announcement</a>
  <a href="#/post-event" class="post-event {{postEventClass}}">Post an <br>Event</a>
  <a href="#/invite-subscribers" class="invite-subscribers {{inviteSubscribersClass}}">Invite New Subscribers</a>
</div>

<div class="tab post-announcement {{postAnnouncementClass}}">
  <img class="avatar" src="{{avatar_url}}" width="50" height="50">

  <form>
    <input name="title" placeholder="Title">
    <textarea name="body" placeholder="Body"></textarea>
    <button>Post an Announcement</button>
  </form>
  <div style="clear: both;"></div>
</div>

<div class="tab post-event {{postEventClass}}">
  <form>

    <input name="title" placeholder="Event name">

    <textarea name="about" placeholder="Event description"></textarea>

    <input class="date" name="date" placeholder="Event date">

    <label for="start">Start time</label>
    <select name="start">
      {{#time_values}}
        <option value="{{.}}">{{.}}</option>
      {{/time_values}}
    </select>

    <label for="end">End time</label>
    <select name="end">
      {{#time_values}}
        <option value="{{.}}">{{.}}</option>
      {{/time_values}}
    </select>

    <input name="venue" placeholder="Venue">

    <input name="address" placeholder="Event address">

    <input name="tag_list" placeholder="Tag list">

    <button>Post your Event</button>

  </form>
  <div style="clear: both;"></div>
</div>

<div class="tab invite-subscribers {{inviteSubscribersClass}}">
  <form>
    <input name="title" value="Title">
    <textarea name="about"></textarea>
    <button>Invite People</button>
  </form>
  <div style="clear: both;"></div>
</div>
