<a href="#{{postsUrl}}" class="{{postsClass}}">All Posts</a>
<a href="#{{eventsUrl}}" class="{{eventsClass}}">Events</a>
<a href="#{{announcementsUrl}}" class="{{announcementsClass}}">Announcements</a>
<a href="#{{membersUrl}}" class="{{membersClass}}">Members</a>