%div{'data-href' => user_path(user), :class => "user tooltip", 'data-title' => 'Click to see more information about your neighbor'}
  = image_tag user.avatar_url(:thumb), :class => "avatar"
  .title= user.name

  - if user != current_user
    - if current_user.people.include?(user)
      %span.met
        %span
          You've Met
    - else
      - link_to user_met_path(user), 'data-remote' => true, 'data-method' => 'post', :class => "new_met new_#{dom_id user}_met" do
        %span Have you met?
