- item_tag(user) do
  - link_to user, :class => 'item_body', 'data-remote' => true do
    .author
      = image_tag user.avatar.url(:thumb), :size => "50x50"
    %h3
      = user.name
    %p
      = user.about



