
- content_for :syndicate_navigation do
  #filters.directory
    - winnow_button "PEOPLE", users_path
    - winnow_button "ORGANIZATIONS", organizations_path
    - winnow_button "BUSINESSES", business_organizations_path
    - winnow_button "GOODS AND SKILLS", "disabled"
    / - winnow_button "MUNICIPAL", municipal_organizations_path
    / - winnow_button "SKILLS", "disabled"
    / - winnow_button "TAGS", "disabled"
