body.application.accounts.add_feeds
  #feeds_box
    +lightbox
    width: 840px
    margin: 20px auto
    position: relative
    #feeds_wrapper
      width: 385px
      margin-left: 450px
    #tool_tip
      background: white
      +border-radius(5px)
      position: absolute
      z-index: 10
      left: 10px
      top: 20px
      margin: 20px
      padding: 10px 20px
      width: 360px  
      h2
        color: $cpBlue
        font-size: 20px
      p
        font-size: 16px
        padding: 5px 0
        color: $cpGrey
        a
          color: $cpRed
          text-decoration: none
    #feeds_container 
      height: 280px
      margin: 10px 0
      overflow-y: scroll
      overflow-x: hidden
      .feed
        height: 30px
        width: 345px
        padding: 10px
        margin: 0px 0px 4px
        +border-radius(5px)
        background: white
        h3
          color: $cpBlue
          font-size: 16px
          margin-top: 6px
          margin-left: 40px
        img
          float: left
          margin-right: 5px
          height: 30px
          width: 30px
        .unchecked, .checked
          float: right
          height: 20px
          width: 20px
          margin-left: 5px
          margin-top: 5px
        .unchecked
          background: url('/images/check-off.png')
        .checked
          background: url('/images/check-on.png')
    form
      input[type=image]
        float: right
      input[type=checkbox]
        display: none
    #continue_button
      background: url('/images/buttons/continue.png') no-repeat
      height: 36px
      width: 116px
      cursor: pointer 
      float: right
    .cleared
      clear: both