
body.application.accounts.edit_new, body.application.accounts.update_new
  h1 
    margin: 20px auto
    font-size: 28px
  #register
    +lightbox
    margin: 20px auto
    width: 960px
    form
      background-image: url('/images/step-4-icon.png')
      background-repeat: no-repeat
      background-position: 00px 30px
      padding-left: 50px
      +clearfix
    .info_box
      float: right
    fieldset.inputs
      li
        margin: 20px 0
        padding: 0px 20px
        width: 390px
        input[type=text], input[type=password], textarea
          +border-radius(5px)
          +box-shadow(#ccc, 1px, 1px, 2px, 0, inset)
          font-size: 22px
          +serif
          padding: 0 5px
          width: 400px
          margin: 10px 0
        input[type=file]
          font-size: 20px
          width: 400px
          margin: 10px 0
        textarea
          height: 70px
        label
          display: block
        .inline-hints
          width: 400px
          margin: 5px 0
          padding: 0px
          text-align: left
    fieldset.buttons
      margin-top: 20px
      text-align: right
      width: 435px
    .info_box
      width: 450px
      #info_box_top
        background-color: #b53f3c
        color: white
