
body.application.accounts.edit_new
  #register
    width: 1000px
    form
      background-image: url('/images/step-4-icon.png')
      background-repeat: no-repeat
      background-position: 20px 30px
      padding-left: 50px
      +clearfix
    .info_box
      float: right
    fieldset.inputs
      li
        padding: 0px 20px
        width: 400px
        input, textarea
          width: 100%
        textarea
          height: 70px
        label
          margin: 10px

    fieldset.buttons
      margin-top: 20px
      text-align: right
      width: 435px
    .info_box
      width: 450px
      #info_box_top
        background-color: #b53f3c
        color: white
