
body.application.accounts.edit_new, body.application.accounts.update_new
  #save
    height: 15px
    width: 120px
    text-align: center
    padding: 3px 0 6px
    margin: 0 auto
    color: white
    background: #808080
    border: 1px solid #666666
    +border-radius(5px)
    +box-shadow(#a0a0a0 0px 0px 0px 1px inset)
    cursor: pointer
  #webcam
    margin: 10px auto
    width: 320px
  h1 
    margin: 20px auto
    font-size: 28px
  #register
    +lightbox
    margin: 20px auto
    width: 840px
    position: relative
    #tool_tip
      background: white
      +border-radius(5px)
      position: absolute
      z-index: 10
      left: 10px
      top: 20px
      margin: 20px
      padding: 10px 20px
      width: 360px  
      h2
        color: $cpBlue
        font-size: 20px
      p
        font-size: 16px
        padding: 5px 0
        color: $cpGrey
        a
          color: $cpRed
          text-decoration: none   
    form
      padding-left: 440px
      padding-right: 20px
      +clearfix
    .info_box
      float: right
    fieldset.inputs
      #user_avatar_input
        position: relative
      li
        margin: 20px 0
        padding: 0px 20px
        width: 380px
        input[type=text], input[type=password], textarea
          border: 1px solid #ccc
          +border-radius(5px)
          +box-shadow(#ccc, 1px, 1px, 2px, 0, inset)
          font-size: 22px
          +serif
          padding: 0 5px
          width: 360px
          margin: 5px 0
        #file_input_fix
          position: absolute
          top: 20px
          left: 19px
          width: 360px
        #browse_button
          position: absolute
          top: 5px
          right: -12px
          padding: 5px
          height: 17px
          width: 80px
          color: white
          background: #808080
          border: 1px solid #666666
          +border-radius(0 5px 5px 0)
          +box-shadow(#a0a0a0 0px 0px 0px 1px inset)
          cursor: pointer
        #take_a_photo
          position: absolute
          top: 25px
          right: 23px
          padding: 5px
          height: 17px
          color: white
          background: #808080
          border: 1px solid #666666
          +border-radius(5px)
          +box-shadow(#a0a0a0 0px 0px 0px 1px inset)
          width: 100px
          text-align: center
          cursor: pointer
        #user_avatar
          cursor: pointer
          position: relative
          left: 145px
        textarea
          height: 70px
        label
          display: block
        .inline-hints
          width: 360px
          margin: 5px 0
          padding: 0px
          text-align: left
        #file_style_fix
          height: 27px
    fieldset.buttons
      margin-top: 20px
      text-align: right
      width: 390px
    .info_box
      width: 450px
      #info_box_top
        background-color: #b53f3c
        color: white
