body.application.accounts.facebook_invite
  #groups_box
    +lightbox
    width: 840px
    margin: 20px auto
    position: relative
    #groups_wrapper
      width: 100%
      text-align: center
      margin: 0 auto
    li
      list-style-position: outside
      background-repeat: no-repeat
      background-position: 20px 0px
      //margin: 5px auto
      margin: 0 auto
      width: 360px
      padding: 0 0px 0 50px
      display: block
      //margin: 5px 0
      color: #898989
      margin-top: 10px
    #step  
      height: 50px
      padding: 10px 0px 0px 50px
    #step_one
      @extend #step
      height: 45px
      background: url('/images/step-1-icon-small.png') no-repeat 0px 0px
    #step_two
      @extend #step
      height: 25px
      background: url('/images/step-2-icon-small.png') no-repeat 0px 0px
    #step_three
      @extend #step
      background: url('/images/step-3-icon-small.png') no-repeat 0px 0px
    #continue_button
      background: url('/images/buttons/continue.png') no-repeat
      height: 36px
      width: 116px
      cursor: pointer
      float: right
    .cleared
      clear: both
  label
    display: none
  input[type="text"]
    height: 20px
    width: 90%
    padding: 5px
    border: 1px solid #982c28
    +border-radius(5px)
    +box-shadow(#545454, 1px, 1px, 8px, 0px, inset)
  input[type="email"]
    height: 20px
    padding: 5px
    width: 90%
    border: 1px solid #982c28
    +border-radius(5px)
    +box-shadow(#545454, 1px, 1px, 8px, 0px, inset)
  textarea
    height: 50px
    margin-left: 2px
    width: 90%
    padding: 5px
    border: 1px solid #982c28
    +border-radius(5px)
    +box-shadow(#545454, 1px, 1px, 8px, 0px, inset)
  input[type="submit"]
    width: 90px !important
    height: 30px
    border: 1px solid #ccc
    +border-radius(5px)
    +linear-gradient(color_stops(#e6e6e6, #ebebeb))
    padding-bottom: 1px
    box-shadow: inset 0px 1px 0px #fff, inset 0px -1px 0px #c7c7c7, 1px 1px 4px 0px #222
    -mox-box-shadow: inset 0px 1px 0px #fff, inset 0px -1px 0px #c7c7c7, 1px 1px 4px 0px #222
    -webkit-box-shadow: inset 0px 1px 0px #fff, inset 0px -1px 0px #c7c7c7, 1px 1px 4px 0px #222
    font-family: "Rockwell",Georgia,Times,serif
    +text-shadow(#ffffff, 1px, 1px 0px)
  #invite_email_input
    height: 25px
  .buttons
    position: relative
    ol
      position: absolute
      left: 50px
