
.info.feedback
  fieldset.inputs
    li
      padding: 0px 20px
      width: 400px
      input, textarea
        width: 100%
      textarea
        height: 70px
      label
        margin: 10px

  fieldset.buttons
    ul
      list-style-type: circle
    margin-top: 20px
    text-align: right
    width: 435px
  .info_box
    width: 450px
    #info_box_top
      background-color: #b53f3c
      color: white
