
body.application.accounts.learn_more

  #learn-more
    text-align: center
    width: 960px
    padding: 10px
    img
      margin: 0px auto
    ul
      list-style-image: url('/images/bullet-pin.png')
      +serif
      margin-top: 20px
      margin-left: 10px
      min-height: 200px 
      li
        font:
          size: 20px
        color: #444
        margin: 25px 0px 25px 40px
        padding-left: 10px

  h1
    width: 960px
    font:
      size: 28px
    margin:
      top: 5px
      bottom: 20px
      left: auto
      right: auto 
  p
    text-align: left
    margin: 
      top: 40px
      bottom: 40px
      left: 20px
      right: 20px
    font:
      size: 20px
      weight: normal
      
    color: #444
  h1 a
    font:
      size: 20px
    color: #fff
    display: inline-block
    background: #b53f3c
    width: 160px
    padding: 
      left: 10px
      right: 10px
      top: 3px
      bottom: 3px
    border: 1px solid #8F2424
    @include border-radius(5px)
    @include box-shadow(#E88080, 0, 1px, 0px, 0px,inset)
    @include text-shadow(#444, 1px, 1px, 1px)
    
  #small_arrows
    font:
      size: 16px
  #content
    width: 800px
    padding:
      left: 70px
      right: 70px
    text-align: left
  .img_wrapper
    text-align: center
    margin: 0 auto
  a
    color: #b53f3c
    text-decoration: none