
body.application.accounts.learn_more
  #register
    width: 590px
    #learn-more
      padding: 20px
    h2
      margin: 10px
      color: #3b6085
      font-weight: bold
      font-size: 25px
      +serif
    ul
      list-style-image: url('/images/bullet-pin.png')
      +serif
      margin-top: 20px
      min-height: 200px
      li
        font-size: 16px
        margin: 25px 0px 25px 40px
        padding-left: 10px