
body.application.accounts.new
  #register
    width: 650px

    form
      fieldset.inputs
        li
          padding-left: 100px
          list-style-position: outside
          background-repeat: no-repeat
          background-position: 20px 5px
          margin: 20px 0px
          width: 485px

      fieldset.buttons
        float: right
        position: relative
        margin-top: -50px
        margin-right: 30px
