
body.application.feeds.profile
  +serif
  #main
    color: #454545
    background-color: #f5f5f5
    +border-radius(15px)
    +box-shadow($default-box-shadow-color, 0, 0, $default-box-shadow-blur, 0, inset)
    border: 10px solid #c5c5c5
    padding: 25px
    width: 900px

    h1
      font-size: 40px
      margin-bottom: 25px
    h2
      color: #3b6085
    h3
      font-size: 14px
      background-color: #385f84
      color: white
      +border-top-radius(7px)
      padding: 5px
    #column-1, #column-3
      width: 225px

    #column-2
      width: 400px
      margin: 0px 25px

    #column-1,#column-2,#column-3
      +inline-block
      vertical-align: top

    img#feed-avatar
      border: 7.5px #c4c4c4 solid
      +border-radius(7px)

    #contact-info 
      margin-top: 25px
      
      dl
        border: 1px solid #d0d0d0
          bottom-width: 0px
        dt, dd
          border: 1px solid white
            bottom-color: #d0d0d0
          +inline-block
          font-size: 12px
          padding: 5px 0
        dt
          +sans
          color: #3b6085
          width: 58px
          padding-left: 4px
          border-right-width: 0px
        dd
          border-left-width: 0px
          width: 159px
        dd:last-child
          +border-radius(0px, 7px)

      a.edit
        border: 1px solid #d0d0d0
          top-width: 0px
        +border-bottom-radius(4px)
        padding: 5px 5px 
    #post_tabs_container
      
    
    #post
      background-color: #c4c4c4
      +border-radius(5px)
      padding: 10px

      h2
        font-size: 20px
        width: 100px
        float: left
        margin-left: 5px
        nav
          border: 3px solid #c5c5c5
          +border-radius(4px)
          +inline-block
          background-color: #fff
          color: #525252
          padding: 3px
          font-size: 12px
          vertical-align: baseline

          a
            display: block
            &:first-child
              border-bottom: 1px solid #d0d0d0
              padding-bottom: 4px
              margin-bottom: 2px
      #post_tabs
        li
          display: inline
          z-index: 10
          position: relative
          top: -5px
          float: left
          margin: 0
          padding: 5px

          border:
            bottom: none !important
            top: 1px solid #c5c5c5
          +border-radius(5px 5px 0px 0px)
          background: #dadada
        a
          text-decoration: none
          color: #3b6085
      .clear
        clear: both
        background: #dadada
    label
      display: block
      margin: 10px 0px
    #announcement_body
      border: 1px solid #9f9f9f
      +border-radius(5px)
      +box-shadow(#ddd, 2px, 2px, 1px, 0px, inset)
      padding: 5px
      margin-bottom: 10px
      height: 60px 
      width: 357px 
      
    #announcement_subject
      border: 1px solid #9f9f9f
      +border-radius(5px)
      +box-shadow(#ddd, 2px, 2px, 1px, 0px, inset)
      padding: 5px
      height: 30px 
      width: 357px
    #announcement_submit
      float: left
    #new_announcement
      background: #dadada
      padding: 5px
      border: 1px solid #c5c5c5
      +border-radius(5px)
      position: relative
      top: -6px
    .commit
      float: right
      margin-right: 0px
    #recent-posts
      margin-top: 25px
      h2
        margin-bottom: 10px
      ul.items
        border: 0px
        background-color: transparent
        li
          border: 1px solid #d0d0d0
          margin-bottom: 5px
          background-color: #f7f7f7
          +border-radius(3px)
          time
            color: #3b6085

    #about
      padding: 15px
        bottom: 5px
      line-height: 1.6
      border: 1px solid #d0d0d0
      +border-radius(4px)
      background-color: #f8f8f8
      p
        font-size: 12px
      a.edit
        margin-top: 10px
    #members
      margin-top: 25px
      width: 100%
      ul
        border: 0px solid #d0d0d0
          width: 0px 1px
        li
          padding: 7px
          border-bottom: 1px solid #d0d0d0
          img
            vertical-align: top
    a.edit
      display: block
      color: #b53f3c
      text-align: right
      text-decoration: none
      font-size: 12px
