@import "core" ;
body.application.feeds.delete {
    form.formtastic.feed {
        margin: auto ;
        @include lightbox ;
        width: 600px;
        margin-top: 80px;
        margin-bottom: 70px;

        p { font-size: 18px ; line-height: 24px }
        
        .buttons li { display: block ; margin: 50px 0 ; text-align: center }
    }

}