body {
  position: absolute;
  height: 100%;
  width: 1000px;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 1em; }

#full {}

#wire, #side {
  position: absolute;
  top: 63px;
  bottom: 30px; }

#wire {
  left: 0px;
  width: 48%;
  background-color: white;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 8px; }

#submission {
  background-color: #ceeece;
  padding: 8px;
  align: center;
  width: 450px; }

#new_post {
  width: 450px;
  margin: auto;
  field {}
  .inputs {
    width: 100%;
    li {
      textarea, input {
        font-size: 0.8em;
        padding: 4px;
        width: 438px; }
      textarea {
        padding: 5px;
        height: 4em; }
      position: relative;
      label {
        position: absolute;
        top: 6px;
        left: 6px;
        color: #888888;
        font-size: 0.8em;
        text-align: left;
        margin: 0px;
        font-weight: normal;
        width: inherit; } } }
  .buttons {
    ol {
      display: table;
      width: 100%;
      li {
        padding: 0;
        margin: 5px;
        float: none;
        display: table-cell;
        button {
          background-color: #2b8829;
          padding: 4px;
          color: white;
          font-weight: bold;
          font-size: 0.9em;
          width: 95%; }
        button:hover {
          background-color: #3b9839; } } } } }

hr {
  height: 0.5px;
  margin: 3px; }

hr.top {
  margin: 0px;
  margin-bottom: 3px;
  width: 100%; }

.post {
  padding: 8px;
  .post_pic {
    position: absolute;
    display: inline;
    width: 60px; }
  .post_main {
    min-height: 48px;
    width: 380px;
    position: relative;
    left: 60px;
    .post_top {
      font-size: 0.8em; }
    .post_body {
      margin-top: 5px;
      padding-bottom: 2.5px;
      font: Helvetica;
      font-size: 0.9em; }
    .post_bottom {
      margin-top: 5px;
      font-size: 0.8em; } } }

.reply {
  margin-bottom: 5px;
  .reply_pic, .reply_body {
    position: relative;
    display: inline-block;
    top: 0px;
    vertical-align: top; }
  .reply_pic {
    width: 27px; }
  .reply_body {
    width: 330px;
    .reply_bottom {
      font-size: 0.8em; } } }

.post_body, .reply_body {
  line-height: 120%; }

#posts_nav {
  position: relative;
  bottom: 8px;
  margin-top: 15px;
  text-align: center; }

#side {
  right: 0px;
  width: 50%; }

#map {
  position: absolute;
  top: 0px;
  height: 49.5%;
  width: 99%;
  margin-left: 1%;
  background-color: white; }

#users {
  position: absolute;
  bottom: 0px;
  height: 49.5%;
  width: 99%;
  margin-left: 1%;
  margin-top: 0px;
  background-color: #eeffee;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: scroll; }

a.show_replies {
  padding: 4px;
  margin: 0px; }

.user {
  padding: 7px;
  .user_pic, .user_side {
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: 0px; }
  .user_pic {
    width: 60px; }
  .user_side {
    width: 350px;
    .user_name {}
    .user_info {
      font-size: 0.8em;
      margin-top: 7px; } }
  .expanded_user {
    .user_pic {
      width: 110px;
      img {
        width: 100px;
        height: 100px; } }
    .user_side {
      width: 300px; }
    dl.user_info {
      font-size: 0.8em;
      margin-bottom: 8px;
      dt {
        font-weight: bold;
        color: #666666; }
      dd {
        width: 220px; } } } }

#users {
  .user:hover {
    background-color: #ffffcc; } }

#posts {
  .post:hover {
    background-color: #ffffdd;
    a.show_replies, .replies {
      background-color: #eeffee; } } }

a.show_replies, .replies {
  background-color: #eeffee; }

.replies {
  margin-top: 2px;
  padding: 7px;
  display: block;
  width: 366px; }

.new_reply {
  form.formtastic.reply {
    fieldset.inputs {
      ol li {
        margin-bottom: 2px;
        position: relative;
        width: 320px;
        left: 30px;
        textarea {
          padding: 4px;
          display: block;
          height: 2.4em;
          width: 320px; }
        label.in-field {
          width: 330px;
          position: absolute;
          top: 1px;
          left: 5px;
          float: none;
          color: #888888;
          text-align: left;
          font-weight: normal; } } }
    fieldset.buttons {
      left: 0px;
      text-align: left;
      ol li {
        left: 30px;
        margin-bottom: 0px;
        &.commit {
          input.create {
            width: 60px; } } } } } }

form.formtastic fieldset ol li p.inline-errors {
  font-size: small;
  font-weight: bold;
  margin: 5px 0 0 10px; }

header {
  form {
    display: inline; } }

footer {
  position: absolute;
  bottom: 0px;
  height: 22px;
  width: 1000px; }
