!!! 5
%html{:xmlns => "https://www.w3.org/1999/xhtml", 'xmlns:fb' => "https://www.facebook.com/2008/fbml"}
  %head
    = render :partial => 'layouts/common_head', :locals => { :javascripts => ["inbox"], :stylesheets => ["inbox"], :title => 'Inbox', :track => 'Inbox' }

  %body
    #sticky-wrapper

      = render 'layouts/header'

      #main
        #inbox-nav
        #inbox
    
        %div{:style => "clear: both"}

      = render 'layouts/footer'


      :javascript
        $(function() {
          $.getJSON("/api/account", function(account_response) {
            new InboxRouter({ account: new Account(account_response), community: #{serialize(current_community)} });
            Backbone.history.start();
          });
        });


