<!DOCTYPE html>

<html>

  <head>
    <%= stylesheet_link_tag "organizer_app" %>
  </head>

  <!--name id-->

  <body>

    <div id="main">
      
      <div id="file-picker">
        <div id="file-picker-filters">
          <input type="text" id="filter-input">
          <button id="filter-button">Filter</button>
        </div>
        
        <ul id="file-picker-list">
          
        </ul>

      </div>

      <div id="file-viewer">
      </div>
    </div>

    <%= javascript_include_tag :organizer_app %>
    
    <script type="text/javascript">
      
      $(function() {
      
        var community = window.location.pathname.replace(/^\/organizer_app\//, "");

        var files = new OrganizerApp.Files([], { community: community });

            var main = new OrganizerApp.Main({ el: $("#main"), collection: files });
            main.render();

      });
    </script>

  </body>

</html>
