<style>
.full {
  width: 100%;
  height: 400px;
}
.graph {
  display: block;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
.header {
  cursor: pointer;
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
}
.subheader {
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
}
table, tr, th, td {
  border: 2px solid black;
}
td {
  text-align: center;
}
th {
  font-weight: bold;
}
</style>
<div id="community-resources"></div>
<div id="stats">
  <div class="error"></div>
  <div class="success"></div>

  <h2>Executive Summary</h2>
  <table id="executive_summary">
    <tr>
      <td>All Communities</td>
      <th>New Users</th>
      <th>Pct. of Network Growth</th>
      <th>Pct. of Platform Visits</th>
      <th>Pct. of Daily Bulletin Opens</th>
      <th>Number of Posts</th>
    </tr>
    <tr id="today">
      <th>Today</th>
      <td class="new_users"></td>
      <td class="pct_growth"></td>
      <td class="pct_visits"></td>
      <td class="pct_daily_bulletin"></td>
      <td class="number_posts"></td>
    </tr>
    <tr id="this_week">
      <th>Week's Average</th>
      <td class="new_users"></td>
      <td class="pct_growth"></td>
      <td class="pct_visits"></td>
      <td class="pct_daily_bulletin"></td>
      <td class="number_posts"></td>
    </tr>
    <tr id="pct_difference">
      <th>Percent Change in Week's Average</th>
      <td class="new_users"></td>
      <td class="pct_growth"></td>
      <td class="pct_visits"></td>
      <td class="pct_daily_bulletin"></td>
      <td class="number_posts"></td>
    </tr>
    <tr id="pct_difference_lifetime">
      <th>Percent Change in Lifetime Average</th>
      <td class="new_users"></td>
      <td class="pct_growth"></td>
      <td class="pct_visits"></td>
      <td class="pct_daily_bulletin"></td>
      <td class="number_posts"></td>
    </tr>
  </table>

  <h2>Network Growth</h2>
  <ul class="statistics">
    <li class="header" data-hider="user_count">Cumulative User Count</li>
    <li class="stat" id="user_count"></li>
    <li class="header" data-hider="user_gains">User Growth</li>
    <li class="stat" id="user_gains"></li>
    <li class="header" data-hider="content_posting">Content Types</li>
    <li class="stat" id="content_posting">
  </ul>
  <h2>Content</h2>
  <ul class="statistics">
    <!--
    <li class="header" data-hider="post_content">Post Content</li>
    <li class="stat" id="post_content"></li>
    -->
    <li class="header" data-hider="neighborhood_post_types">Neighborhood Post Types</li>
    <li class="stat" id="neighborhood_post_types"></li>
    <li class="header" data-hider="replies_to_content">Replies</li>
    <li class="stat" id="replies_to_content"</li>
    <!--
    <li class="header" data-hider="replies_and_private_messages">Posts and Private Messages</li>
    <li class="stat" id="replies_and_private_messages"></li>
    -->
  </ul>
  <h2>Content</h2>
  <ul class="statistics">
    <li class="header" data-hider="daily_network_engagement">Daily Network Engagement</li>
    <li class="stat" id="daily_network_engagement"></li>
    <li class="header" data-hider="network_engagement">Recent Network Engagement</li>
    <li class="stat" id="network_engagement"></li>
    <li class="header" data-hider="levels_of_engagement">Levels of Engagement</li>
    <li class="stat" id="levels_of_engagement"></li>
    <li class="header" data-hider="email_opens">Daily Email Opens</li>
    <li class="stat" id="email_opens"></li>
    <li class="header" data-hider="user_historical_engagement">User Historical Engagement</li>
    <li class="stat" id="user_historical_engagement"></li>
  </ul>
  <h2>Feed Engagement</h2>
  <ul class="statistics">
    <li class="header" data-hider="feed_engagement">Feed Engagement</li>
    <li class="stat" id="feed_engagement"></li>
    <li class="header" data-hider="feed_posting">Daily Feed Engagement</li>
    <li class="stat" id="feed_posting"></li>
  </ul>
  <!--
  <h2>Daily Bulletins</h2>
  <ul class="images">
  </ul>
  -->
  <!--
  <li class="header" data-hider="replies_and_private_messages">Posts and Private Messages</li>
  <li class="stat" id="replies_and_private_messages"></li>
  -->
</div>
