<div id="community-resources"></div>
<div id="stats">
  <div class="error"></div>
  <div class="success"></div>

  <ul class="statistics">
    <li class="header" data-hider="user_count">User Counts</li>
    <li class="stat" id="user_count" style="display: none;">
    </li>
    <li class="header" data-hider="user_gains">User Gains</li>
    <li class="stat" id="user_gains" style="display: none;">
    </li>
    <li class="header" data-hider="content_posting">Content Posting</li>
    <li class="stat" id="content_posting" style="display: none;">
    </li>
  </ul>
</div>
