
- update_content "#syndicate nav" do
  %nav
    #filters.directory
      - winnow_button "COMMUNITY MEMBERS", users_path, :class => 'tooltip', 'data-title' => "Browse community members."
      - winnow_button "COMMUNITY FEEDS", feeds_path, :class => 'tooltip', 'data-title' => "Browse community feeds."
      - winnow_button "GOODS AND SKILLS", "disabled", 'data-title' => "Browse goods and skills shared in your community."

