
- content_for :syndicate_navigation do
  %nav
    #filters.directory
      - winnow_button "PEOPLE", users_path, :class => 'tooltip', 'data-title' => "Browse through everyone who lives in your neighborhood."
      - winnow_button "COMMUNITY FEEDS", feeds_path, :class => 'tooltip', 'data-title' => "Browse feeds in your community."
      - winnow_button "GOODS AND SKILLS", "disabled"

