
- content_for :syndicate_navigation do
  #filters.directory
    - winnow_button "PEOPLE", users_path, :class => 'tooltip', 'data-title' => "Browse through everyone who lives in your neighborhood."
    - winnow_button "COMMUNITY FEEDS", organizations_path, :class => 'tooltip', 'data-title' => "Browse organizations in your community."
    - winnow_button "GOODS AND SKILLS", "disabled"

