%nav#entities
  %a.posts
    %div
    %span
      %span Neighborhood Posts
  %a.announcements
    %div
    %span
      %span Announcements
  %a.events
    %div
    %span
      %span Events
  %a.users
    %div
    %span
      %span People
  %a.organizations
    %div
    %span
      %span Organizations
  %a.goods_and_skills
    %div
    %span
      %span Goods & Skills