%nav#entities
  - link_to :posts, :class => 'posts' do 
    %div
    %span
      %span Neighborhood Posts
  - link_to :announcements, :class => 'announcements' do
    %div
    %span
      %span Announcements
  - link_to :events, :class => 'events' do
    %div
    %span
      %span Events
  - link_to :users, :class => 'users' do
    %div
    %span
      %span People
  - link_to :organizations, :class => 'organizations' do
    %div
    %span
      %span Organizations
  - link_to :tags, :class => 'goods_and_skills' do
    %div
    %span
      %span Goods & Skills