
- content_for :syndicate_navigation do 
  %nav
    - link_to new_event_path, 'data-remote' => true, :id => "create-entity", :class => 'tooltip', 'data-title' => 'Make a new event for your community.' do
      %span
        = image_tag 'pin-icon.png'
        %span POST AN EVENT

    #filters
      - winnow_button "ALL EVENTS", events_path, :class => 'tooltip', 'data-title' => "View all events."
      - winnow_button "RECOMMENDED", "disabled", 'data-title' => 'View events recommended based on your interests.'
