
- update_content "#syndicate nav" do
  %nav

    - link_to new_announcement_path, 'data-remote' => true, :id => "create-entity", :class => 'tooltip', 'data-title' => 'Make a new announcement to your community.' do
      %span
        = image_tag 'pin-icon.png'
        %span POST AN ANNOUNCEMENT
    #filters.announcements
      - winnow_button "ANNOUNCEMENTS", announcements_path, :class => 'tooltip', 'data-title' => "View all feed announcements."
      - winnow_button "BROWSE FEEDS", subscriptions_path, :class => 'tooltip', 'data-title' => "Browse community feeds."
