%nav#filters

  - link_to  root_url, :id => "wire_button", :class => 'filter', :title => "Your neighborhood wire" do
    %img
    %p All
  - link_to posts_path(:q => params[:q]), :id => "posts_button", :class => 'filter', :title => "Posts from your neighbors" do
    %img
    %p Posts
  - link_to announcements_path(:q => params[:q]), :id => "announcements_button", :class => 'filter', :title => "Your announcements" do
    %img
    %p Announcements
  - link_to events_path(:q => params[:q]), :id => "events_button", :class => 'filter', :title => "Community events" do
    %img
    %p Events
  - link_to users_path(:q => params[:q]), :id => "people_button", :class => 'filter', :title => "Your neighbors" do
    %img
    %p Neighbors
  - link_to organizations_path(:q => params[:q]), :id => "organizations_button", :class => 'filter', :title => "Your organizations" do
    %img
    %p Organizations