#copy
  %span#footer_left CommonPlace
  %span#footer_right
    = link_to 'About', about_url
    |
    = link_to 'Terms', terms_url
    |
    = link_to 'Privacy Policy', privacy_url

  / The CommonPlace Initiative &copy; 2010
