#copy
  %span{:style => "font-size: 2em; float: left; margin-left: 20px; color: #5F946A;"} CommonPlace
  %span{:style => "float: right; margin-right: 20px; color: #A06C44;"}
    = link_to 'About', about_url
    |
    = link_to 'Terms', terms_url
    |
    = link_to 'Privacy Policy', privacy_url

  / The CommonPlace Initiative &copy; 2010