#information
  #history
    %h3 YOUR RECENT HISTORY
    %ul
      %li
        %img.icon/
        %p
          You met
          %a Ashley C.
        %time 30 minutes ago
      %li
        %img.icon/
        %p
          You replied to
          %a Ashley C.
          on
          = succeed "..." do
            %em Selected
        %time 30 minutes ago
      %li
        %img.icon/
        %p
          You met
          %a Ashley C.
        %time 30 minutes ago
      %li
        %img.icon/
        %p
          You met
          %a Ashley C.
        %time 30 minutes ago
      %li
        %img.icon/
        %p
          You met
          %a Ashley C.
        %time 30 minutes ago

  #interests
    %h3 YOUR COMMUNITY INTERESTS
    %ul#current-interests
      %li
        %a Arts and Crafts
      %li
        %a ...add Running?
      %li
        %a Basketball
      %li
        %a ...add Pottery?
      %li
        %a
      %li
        %a ...add Writing?
      %li
        %a
      %li
        %a ...add Painting?
    %a#view-all View all(2)
    %a#find-more 
      %span FIND MORE
  %hr
  #neighborhood-activity
    %h3 MAP OF YOUR NEIGHBORHOOD ACTIVITY
    .map{"data-map" => ""}
  %hr/
  #community-sponsors
    %h3 COMMUNITY SPONSORS