- content_for :modal do
  #modal.info.not_empty
    #modal-overlay  
    #modal-content
      - link_to "close", :id => "modal-close", 'data-remote' => true do
        = image_tag 'modal-close.png'

      = yield




    