- content_tag :li, :class => dom_class(item) + " styled_box", :id => dom_id(item), "data-url" => url_for(item) do
  .header
    %span.header_text
      %span.author= item.owner.name
      %span.from has a Neighborhood 
      %span.category= item.class.human_name
    %span.time= item.time
  = render "shared/item_body", :item => item


.replies