
- content_for :syndicate_navigation do
  %nav
    - link_to new_post_path, 'data-remote' => true, :id => "create-entity", :class => 'tooltip', 'data-title' => 'Write a new post to your neighbors.' do 
      %span
        = image_tag 'pin-icon.png'
        %span POST TO YOUR NEIGHBORS

    #filters
      - winnow_button "NEIGHBORHOOD POSTS", posts_path, :class => 'tooltip', 'data-title' => "View all neighborhood posts."
      - winnow_button "NEIGHBORS", neighborhood_people_path, :class => 'tooltip', 'data-title' => "View all of your neighbors."
