%div{:class => "replies #{dom_id(item)}_replies"}
  %ul
    - item.replies.each do |reply|
      = render 'replies/reply', :reply => reply
      
  = render 'replies/form', :reply => item.replies.new(:user => current_user)