%nav#zones
  - link_to posts_path, :class => 'posts', 'data-remote' => true do 
    .img_container
    .text_container
      %p= "Neighborhood Posts".upcase
      
  - link_to :announcements, :class => 'announcements', 'data-remote' => true do
    .img_container
    .text_container
      %p= "Community Announcements".upcase
      
  - link_to :events, :class => 'events', 'data-remote' => true do
    .img_container
    .text_container
      %p= "Community Events".upcase
      
  - link_to :users, :class => 'users', 'data-remote' => true do
    .img_container
    .text_container
      %p= "Neighborhood Directory".upcase
