%nav#zones
  %table
    %tr

      - [:posts, :events, :announcements, :feeds, :users].each do |zone|

        %td{:class => current_page?(zone) ? "selected_nav" : ""}
          = link_to t("syndicate.#{zone}.link"), zone, 'data-remote' => true




