%nav#zones
  - link_to posts_path, :class => 'posts', 'data-remote' => true do 
    %div
    %span
      %span Neighborhood Posts
  - link_to :announcements, :class => 'announcements', 'data-remote' => true do
    %div
    %span
      %span Announcements
  - link_to :events, :class => 'events', 'data-remote' => true do
    %div
    %span
      %span Events
  - link_to :users, :class => 'users', 'data-remote' => true do
    %div
    %span
      %span People
