%nav#zones
  - tab_to posts_path, :class => 'neighborhood zone', 'data-title' => 'View posts from your neighbors.',  'data-remote' => true do 
    .img_container
    .text_container
      %p= "Neighborhood Posts".upcase
      
  - tab_to :announcements, :class => 'announcement zone', 'data-title' => 'View announcements from local businesses in your community.', 'data-remote' => true do
    .img_container
    .text_container
      %p= "Community Announcements".upcase
      
  - tab_to :events, :class => 'event zone', 'data-title' => 'View upcoming events in your community.', 'data-remote' => true do
    .img_container
    .text_container
      %p= "Community Events".upcase
      
  - tab_to :users, :class => 'directory zone', 'data-title' => 'Browse people and organizations in your community.', 'data-remote' => true do
    .img_container
    .text_container
      %p= "Neighborhood Directory".upcase
