%nav#zones
  - tab_to posts_path, :class => 'neighborhood zone tooltip', 'data-title' => 'Announcements, offers, questions, etc. from your neighbors',  'data-remote' => true do 
    .img_container
    .text_container
      %p= "Neighborhood Posts".upcase
      
  - tab_to :events, :class => 'event zone tooltip', 'data-title' => 'Upcoming events in West Roxbury', 'data-remote' => true do
    .img_container
    .text_container
      %p= "Community Events".upcase
      
  - tab_to :announcements, :class => 'announcement zone tooltip', 'data-title' => 'Announcements from local feeds', 'data-remote' => true do
    .img_container
    .text_container
      %p= "Community Feeds".upcase
      
  - tab_to :users, :class => 'directory zone tooltip', 'data-title' => 'Neighbors, local feeds and businesses in West Roxbury', 'data-remote' => true do
    .img_container
    .text_container
      %p= "Community Directory".upcase
