<a href="/account/profile" class="edit">Edit Profile</a>
<h1>{{#t}}h1{{/t}}</h1>

<div class="left-column">

  <img src="{{avatarUrl}}" width="120" class="avatar">

</div>

<div class="right-column">

  <div class="name">{{fullName}}</div>

  <div class="about">{{about}}</div>

  <table>
    <tr>
      <th>INTERESTS</th>
      <td>{{interests}}</td>
    </tr>
    <tr>
      <th>GOODS & SKILLS</th>
      <td>{{offers}}</td>
    </tr>
    <tr>
      <th>SUBSCRIPTIONS</th>
      <td>{{subscriptions}}</td>
    </tr>
    <tr>
      <th>GROUPS</th>
      <td>{{groups}}</td>
    </tr>
  </table>
</div>

<div style="clear: both;"></div>