<h1>{{#t}}h1{{/t}}</h1>

<div class="left-column">

  <img src="{{avatarUrl}}" width="120" class="avatar">

  <button class="message">Message {{shortName}}</button>

</div>

<div class="right-column">

  <div class="name">{{fullName}}</div>

  <div class="about">{{#markdown}}{{about}}{{/markdown}}</div>

  <table>
    {{#interests}}
      <tr>
        <th>INTERESTS</th>
        <td>{{interests}}</td>
      </tr>
    {{/interests}}
    {{#offers}}
      <tr>
        <th>GOODS & SKILLS</th>
        <td>{{offers}}</td>
      </tr>
    {{/offers}}
    {{#subscriptions}}
      <tr>
        <th>SUBSCRIPTIONS</th>
        <td>{{subscriptions}}</td>
      </tr>
    {{/subscriptions}}
    {{#groups}}
      <tr>
        <th>GROUPS</th>
        <td>{{groups}}</td>
      </tr>
    {{/groups}}
  </table>
</div>

<div style="clear: both;"></div>
