
- @deliveries.each do |delivery|
  %div
    %dl
      %dt To:
      %dd= delivery.to
      %dt From:
      %dd= delivery.from
      %dt Subject:
      %dd= delivery.subject
      %dt Body:
      %dd= delivery.body
