<div class="announcement">

  <img src="{{avatarUrl}}" width="50" height="50" class="avatar">

  <div class="published">{{publishedAt}}</div>

  <div class="reply-count">{{replyCount}} replies</div>

  <a href="{{url}}" class="title">{{title}}</a>

  <div class="author">{{author}}</div>

  <div class="body">{{{body}}}</div>

  <div style="clear:both;"></div>
</div>
