<div class="event">
  <div class="calendar avatar">
    <div class="month">{{short_month_name}}</div>
    <div class="day-of-month">{{day_of_month}}</div>
  </div>

  <div class="corner">{{publishedAt}}{{#isOwner}} - <a href="#">EDIT</a>{{/isOwner}}</div>

  <div class="title">{{title}}</div>

  <div class="author">{{author}}</div>

  <div class="body">{{body}}</div>

  <div style="clear:both;"></div>

</div>

<div class="replies"></div>
