<div class="subscriber">

  <img src="{{avatarUrl}}" width="50" height="50" class="avatar">

  <div class="title">{{firstname}} {{lastname}}</div>

  <button class="message-user">Send {{firstname}} a message</button>

  <div style="clear:both;"></div>
</div>
