@import accounts/edit_new, accounts/learn_more, accounts/edit_interests, accounts/new, accounts/edit

body.application.accounts

  h1
    width: 960px
    color: #3b6085
    line-height: 1.2
    font-size: 25px
    padding: 0 20px
    margin: 5px auto 20px
    text-align: center
    +text-shadow(#bfc8cf, 1px, 1px, 1px)
    a
      text-decoration: none
      +text-shadow(#d4dee7, 1px, 1px, 1px)
      font-size: 16px
      color: #fff
      +inline-block
      background-color: #b53f3c
      padding: 
        left: 10px
        right: 10px
        top: 3px
        bottom: 3px
      border: 1px solid #8F2424
      +border-radius(5px)
      +box-shadow(#E88080, 0, 1px, 0px, 0px,inset)
      +text-shadow(#444, 1px, 1px, 1px)