@import accounts/edit_new, accounts/learn_more, accounts/edit_interests, accounts/new, accounts/edit, accounts/delete, accounts/add_feeds, accounts/add_groups, accounts/facebook_invite

body.application.accounts
  .new
    background-image: url('public/images/clouds.png')
  h1
    width: 960px
    color: #3b6085
    line-height: 1.2
    font-size: 24px
    padding: 0 20px
    margin: 5px auto 20px
    text-align: center
    +text-shadow(#bfc8cf, 1px, 1px, 1px)
   