@import accounts/edit_new, accounts/learn_more, accounts/edit_interests, accounts/new, accounts/edit

body.application.accounts

  h1
    width: 930px
    color: #3b6085
    line-height: 1.2
    font-size: 32px
    padding: 0 20px
    margin: auto
    +serif
    text-align: center
    +text-shadow(#bfc8cf, 1px, 1px, 1px)
    a
      color: #b53f3c
      text-decoration: none
      +text-shadow(#d4dee7, 1px, 1px, 1px)
