@mixin blue-button {
    background: #1b334a;
    background: -moz-linear-gradient(top, #2e4b67 0%, #1b334a 50%, #1b334a 50%, #1b334a 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #2e4b67), color-stop(0.5, #1b334a), color-stop(0.5, #1b334a), color-stop(1, #1b334a));
    border: 1px solid #112639;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(46, 75, 103, 0.8), 0 1px 3px #2e4b67;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(46, 75, 103, 0.8), 0 1px 3px #2e4b67;
    box-shadow: inset 0px 0px 0px 1px rgba(46, 75, 103, 0.8), 0 1px 3px #2e4b67;
    padding: 12px 15px 14px 15px;
    
    color: #fff;
    font-family: Rockwell, Georgia, sans-serif, "helvetica neue", helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 1.00);
    text-transform:capitalize;

    &:hover {
        background: #2e4b67;
        background: -moz-linear-gradient(top, #436383 0%, #2e4b67 50%, #2e4b67 50%, #2e4b67 100%);
        background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #436383), color-stop(0.5, #2e4b67), color-stop(0.5, #2e4b67), color-stop(1, #2e4b67));
        cursor: pointer;
    }

    &:active {
        background: #122232;
        background: -moz-linear-gradient(top, #22405c 0%, #122232 50%, #122232 50%, #122232 100%);
        background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #22405c), color-stop(0.5, #122232), color-stop(0.5, #122232), color-stop(1, #122232));
        -moz-box-shadow: inset 0px 0px 0px 1px rgba(27, 51, 74, 0.4);
        -webkit-box-shadow: inset 0px 0px 0px 1px rgba(27, 51, 74, 0.4);
        box-shadow: inset 0px 0px 0px 1px rgba(27, 51, 74, 0.4);
        top:2px;
    }
}
