
@import 960/grid
@import compass/layout/sticky-footer
@import compass/utilities/general/clearfix
@import compass/css3/border-radius
@import compass/css3/gradient
@import compass/reset/utilities
        
@import mixins
@import colors
@import measurements

@import tipsy

+global-reset
 
$ninesixty-columns: 24
$ninesixty-gutter-width: 10px

body
  padding: 0
  min-width: 960px
  color: $primaryTextColor
  text-rendering: optimizeLegibility
  background: white

nav, header, footer
  display: block
  
a
  color: $linkColor
  text-decoration: none
  &:hover
    text-decoration: underline
  &:visited
  &:active 

+sticky-footer(auto, "#wrap", "#wrap_footer", "footer")

#wrap
  +grid-system(24)
  padding-bottom: 20px
  position: relative

header

  h1
    padding-top: 20px
    #community_nav
      position: relative
      bottom: 15px
      border: 1px solid $mediumGray
      +border-radius($defaultRadius)
      background: #ddd
      &:hover
        background-color: $lightestGray
      color: black
      padding: 7px 10px
      font-weight: bold
      &.selected_nav
        background: white !important
        font-weight: bold !important
  
  nav
    position: absolute
    background: $lightestGray
    border: 1px solid $lightGray
    border-top: 0px
    +border-bottom-radius($defaultRadius)
    
    padding: 6px
    @include sans
    right: 0px
    top: 0px
    font-size: 0.8em
    text-align: right
    a
      padding: 3px 7px
      border-left: 1px solid $lightGray
      &:hover
      &:first-child
        margin-left: 6px
      &:last-child
        padding-right: 0px
    form
      input[type=text], input[type=password]
        width: 150px
        @include styledInput
        padding: 2px
      input[type=submit]
        @include styledButton
      

#main
  +grid-children
  +border-radius($defaultRadius)
  +clearfix

.label 
  color: #666666
  -webkit-transition: color 0.2s linear

.fading 
  color: white
  -webkit-transition: color 0.2s linear



footer
  padding: 10px
  background: #2F2F2F
  width: auto
  @include sans
  font-size: 0.8em
  color: $lightGray
  span#footer_copy
  border-top: 1px solid #444
  nav
    float: right
    a
      color: $eventColor - #444