
@import 960/grid
@import compass/layout/sticky-footer
@import compass/utilities/general/clearfix
@import compass/css3/border-radius
@import compass/css3/gradient
@import compass/css3/inline-block
@import compass/css3/box-shadow
@import compass/reset/utilities
        
@import mixins
@import colors
@import measurements

@import tipsy

+global-reset
 
$ninesixty-columns: 24
$ninesixty-gutter-width: 10px

body
  padding: 0
  min-width: 960px
  color: $primaryTextColor
  text-rendering: optimizeLegibility
  background: white
  +serif

nav, header, footer
  display: block
  
a
  color: $linkColor
  text-decoration: none
  &:hover
    text-decoration: underline
  &:visited
  &:active 



#wrap
  +grid-system(24)
  position: relative
  overflow: hidden
  width: 972px

header
  width: 960px
  margin: auto
  position: relative
  h1
    margin-left: 3px
    padding-top: 20px
    img
      width: 360px
      height: 31px
      margin: 10px 0px

  
  #styled_main_nav
    position: absolute
    right: -21px
    top: 7px
    
  .main_nav_radius_set
    +inline-block
    top: 0px
    vertical-align: top
    width: 21px
    height: 21px
  #main_nav_left_radius, #main_nav_right_radius
    background-color: #eaeae8
  #main_nav_left_radius_inner
    background-color: white
    +border-top-right-radius($defaultRadius)
  #main_nav_right_radius_inner
    background-color: white
    +border-top-left-radius($defaultRadius)
  nav
    display: inline-block
    position: relative
    top: -7px
    vertical-align: top
    +border-bottom-radius($defaultRadius)
    background-color: #eaeae8
    padding: 0
    +sans
    font-size: 11px
    color: $topTextColor
    
    #greeting, a
      +inline-block
      padding: 9px 7px
      font-weight: bold
      padding: 10px 10px 9px
    a 
      color: $topLinkColor
      border-left: 1px solid $lightGray
      &:hover
      &:first-child
        padding-left: 9px
      &:last-child
        padding-right: 9px
        +border-bottom-right-radius($defaultRadius)
        
    form
      padding: 5px 7px
      input[type=text], input[type=password]
        width: 150px
        @include styledInput
        padding: 2px
      input[type=submit]
        @include styledButton
      
#top
  background: $topColor 
  position: absolute
  width: 100%
  height: 7px
  top: 0px
  left: 0px
  right: 0px
  z-index: -3


#main
  +clearfix
  padding-bottom: 10020px
  margin-bottom: -10000px

    
#win, #fail
  width: inherit
  color: white
  padding: 7px 10px
  +sans
  font-size: 12px
  font-weight: bold
  margin-bottom: 10px
  +border-radius($defaultRadius)

#win
  background-color: green
#fail
  background-color: red

.label 
  color: #666666
  -webkit-transition: color 0.2s linear

.fading 
  color: white
  -webkit-transition: color 0.2s linear

+sticky-footer(31px, "#wrap", "#wrap_footer", "footer")

footer
  padding: 10px
  height: 11px
  background: $topColor
  width: auto
  @include sans
  font-size: 11px
  color: $topTextColor
  a
    color: $topLinkColor
  span#footer_copy
  nav
    color: black
    +inline-block
    position: absolute
    right: 10px