
.ui-datepicker
  border: 1px solid $lightGray
  background-color: white
  width: 200px
  +border-radius($defaultRadius)
  .ui-datepicker-header
    background-color: $calendarTopColor
    +border-radius($defaultRadius)
    padding: 5px
    font-size: 12px
    margin: 5px
    .ui-datepicker-prev
      float: left
    .ui-datepicker-next
      float: right
    .ui-datepicker-title
      text-align: center
    .ui-datepicker-month
    .ui-datepicker-year  
  .ui-datepicker-calendar
    margin: 5px
    td
      width: 28.5px
    .ui-datepicker-current-day
    .ui-datepicker-week-end
    .ui-state-default
  
  