#modal
  .edit_new#modal-content
    background-color: #f6f6f6
    padding: 20px
    .edit_account, .info_box
      float: left
    .edit_account
      margin-right: 15px
      h1
        font-size: 30px
        margin-bottom: 0px
      p.subhead
        font-size: 15px
        margin-top: 0px
      form.new_entity
        width: 392px
        fieldset ol li
          label
            color: $cpBlue
            font-size: 11px
            text-align: left
            padding-right: 5px
            width: 75px
            margin-top: 5px
            line-height: 130%
          input[type="text"], textarea, input[type="password"]
            width: 300px
          p.inline-hints
            margin-left: 80px
    #information.info_box
      width: 435px
      #info_box_main .body
        width: 260px