#modal
  .edit_new#modal-content
    background-color: #f6f6f6
    .edit_account, .info_box
      float: left
    .edit_account
      margin-right: 30px
      h1
        font-size: 30px
        margin-bottom: 0px
      p.subhead
        font-size: 15px
        margin-top: 0px
      form.new_entity fieldset ol li label
        color: $cpBlue
        font-size: 11px
        text-align: right
        padding-right: 5px
        width: 95px
      form.new_entity fieldset ol li input[type="text"], form.new_entity fieldset ol li textarea, form.new_entity fieldset ol li input[type="password"]
        width: 315px
      form.new_entity.after_registration fieldset ol li p.inline-hints
        margin-left: 100px
