form.new_account
  +grid-prefix(1)
  +grid(10)
  +grid-suffix(1)
  +border-radius(5px)
    
  padding:
    top: 10px
    bottom: 10px
  border: 1px solid #ddd
  background: #f7f7f7

  label
    +grid(4)
    +alpha
    text-align: right

  input[type="text|password"]
    +grid(6)
    +omega

div#submit_post
  +border-radius(5px)
  margin-right: 10px
  margin-bottom: 10px
  padding: 10px
  border: 1px solid #bbb
  border-bottom-color: #888
  background-color: $lightestGray  