form.new_account
  +border-radius(5px)
    
  padding:
    top: 10px
    bottom: 10px
  border: 1px solid #ddd
  background: #f7f7f7

  label
    text-align: right

  input[type="text|password"]

div#submit_post
  +border-radius(5px)
  margin-right: 10px
  margin-bottom: 10px
  padding: 10px
  border: 1px solid #bbb
  border-bottom-color: #888
  background-color: $lightestGray  



form.user
  .inline-errors
    font-size: 0.7em
    display: block
    line-height: 120%
    width: 430px
    font-weight: normal
    font-family: Rockwell, Georgia, Helvetica, Sans-serif
    color: #cc0000
  label
    color: #3a3a3a


form.standard_form

  input[type=text], textarea, input[type=password]
    font-size: 1em
    width: 250px
    +serif
    
  
  textarea
    height: 4em
  
  input[type=submit]
    +styled-button
    margin-left: 100px + 16px
    position: relative
    margin-top: 10px
    font-size: 1em
    +serif
  
  label
    width: 100px
    padding: 8px
    font-size: 0.8em
    font-weight: normal
    font-family: Arial, Helvetica, sans-serif
    color: #444
    text-align: right
    position: relative
    top: 0px
    float: left

  p.inline-errors
    font-size: 0.7em
    display: inline
    line-height: 120%
    margin-left: 10px
    font-weight: normal
    +sans
    color: #cc0000
  
  p.hint
    +sans
    font-size: 0.8em
    margin-left: 100px + 16px
    
  li.boolean
    left: $labelWidth + 10px
    label
      text-align: left
  
  ul.inline
    li
      +inline-block
    label
      float: none
      text-align: left
      padding-left: 5px
      width: 50px
  
  fieldset ol
    li
      display: block
      position: relative
      margin-bottom: 1em
      
form.formtastic fieldset ol li.date
  label
    display: none
  fieldset
    ol
      li
        display: inline-block
        label
          text-align: right
          display: inline-block
          width: auto
          margin-left: 15px
        &:first-child label
          width: $labelWidth
          margin-left: 0px

#say-something 
  form.formtastic
    color: white
    .inputs
      input, textarea
        border: 1px solid $inputBorders


    p.inline-hints
      text-align: right
      padding: 3px
      margin-right: 25px
      font-size: 11px
      color: $mediumGray

    .buttons
      .skip
        float: right
        margin: 10px

form.formtastic
  color: $cpGrey
  .inputs
    input, textarea       
      border: 1px solid $inputBorders


  p.inline-hints
    text-align: right
    padding: 3px
    margin-right: 25px
    font-size: 11px
    color: $mediumGray

  .buttons
    .skip
      float: right
      margin: 10px

