#get_started
  form
    h2
      font-size: 1.3em
      margin-bottom: 0.5em
    width: 44%
    border: 5px solid $lightGray
    +border-radius(7px)
    padding: 1em
  #sign_in
    float: left
  #sign_up
    float: right
    