header.management
  padding: 1em
  nav
    float: right
    a
      padding-right: 10px
      margin-right: 10px
      border-right: 1px solid $mediumGray
      &:last-child
        border-right: none
        margin-right: 0
        padding-right: 0
