header:after
  content: ' '
  width: 5px
  height: 5px
  display: block
  background-color: white
  position: absolute
  top: 7px
  right: 0px
  +border-top-left-radius($defaultRadius)

header
  width: 972px
  margin: auto
  h1
    padding-top: 20px
    img
      width: 360px
      height: 31px
      margin: 10px 0px
    
  nav:after
    content: ' '
    width: 5px
    height: 5px
    display: block
    background-color: white
    top: 7px
    position: absolute
    left: -5px

    +border-top-right-radius($defaultRadius)
  nav:before
    width: 100%
    padding: 0 5px
    left: -5px
    height: 5px
    display: block
    content: ' '
    position: absolute
    top: 7px
    background-color: $topColor
    z-index: -3
  nav

    background-color: #eaeae8
    float: right
    +border-bottom-radius($defaultRadius)
    position: relative
    font-size: 11px
    font-family: Helvetica, Arial, Verdana, sans-serif
    color: $topTextColor
    #greeting, a
      +inline-block
      padding: 9px 7px
      font-weight: bold
      padding: 10px 10px 9px
    a 
      color: $topLinkColor
      border-left: 1px solid $lightGray
      &:hover
      &:first-child
        padding-left: 9px
      &:last-child
        padding-right: 9px
        +border-bottom-right-radius($defaultRadius)
        
    form
      padding: 5px 7px
      input[type=text], input[type=password]
        width: 150px
        @include styledInput
        padding: 2px
      input[type=submit]
        @include styledButton
