@import "compass/css3/opacity"

.info_box
  background-color: #fff
  border: 1px solid #ccc
  +border-radius(5px)
  overflow: hidden
  padding-bottom: 15px
  min-height: 250px
  h2
    color: #3b6085
    background-color: #eaeaea
    border-bottom: 1px solid #ccc
    text-align: center
    font-size: 14px
    padding: 5px
    +border-top-radius(4px)
    margin-bottom: 20px

  .avatar, .message_me, .new_subscription
    clear: both
    float: left
    margin-left: 15px
    width: 120px
    margin-bottom: 10px

  #hidden_input
    display: block
    width: 140px
    height: 40px
    overflow: hidden
    position: relative
    left: -5px
  #file_uploader
    font-size: 50px
    width: 120px
    +opacity(0)
    position: relative
    top: -40px
    left: -20px
  #upload_file_button
    width: 130px
    height: 40px
    background: transparent
    border: none
    position: relative
    left: -5px
    a
      display: block
      background: $cpRed
      border: 1px solid #9E3533
      +border-radius(3px)
      -webkit-box-shadow: inset 0px -3px 2px #9e3533, inset 0px 1px 0px #d14745, 1px 1px 1px #545454
      -moz-box-shadow: inset 0px -3px 2px #9e3533, inset 0px 1px 0px #d14745, 1px 1px 1px #545454
      box-shadow: inset 0px -3px 2px #9e3533, inset 0px 1px 0px #d14745, 1px 1px 1px #545454
      +text-shadow(#545454, 1px, 1px, 1px)
      text-decoration: none
      font-family: Rockwell, Helvetica, sans-sarif
      font-size: 15px
      color: white
      height: 20px
      padding: 5px
      width: 110px

  a.message_me
    display: block
    text-align: center
    +border-radius(4px)
    text-decoration: none
    color: #fff
    border: 1px solid #82312f
    font-size: 14px
    span
      +border-radius(3px)
      padding: 6px 3px
      display: block
      background-color: #b53f3c
      border: 1px solid #c86f6d
        bottom-color: #984341


  h3, .info, table
    margin-left: 150px
    margin-right: 15px

  h3
    color: #b53f3c
    font-size: 24px
    margin-bottom: 10px

  .info
    line-height: 1.3
    font-size: 16px
    margin-bottom: 20px
    color: #454545
    font-family: Georgia
    font-size:  0.9em
    padding-bottom: 10px

  table
    width: 300px
    border-spacing: 0px 20px  

  th
    font-family: Rockwell, Helvetica, Arial, Verdana, sans-serif
    color: #999
    font-size: 11px
    line-height: 18px
    font-weight: normal
    padding-right: 10px
    vertical-align: top
    width: 100px
  td
    font-size: 14px
    font-family: Georgia
    line-height: 16px
    color: #545454
    width: 168px


  div[data-map]
    border: 1px solid $lightGray
    margin: 15px
      bottom: 0px
    clear: left
    height: 200px


  #big_calendar
    margin-bottom: 10px
    width: 120px
    background-color: white
    border: 1px solid $lightGray
    text-align: center
    +border-radius($defaultRadius)
    .month
      +sans
      background-color: $calendarTopColor
      +border-top-radius($defaultRadius)
      color: white
      padding: 7px 10px
      font-size: 16px
      line-height: 16px
    .date
      +oldStandardBold
      font-size: 40px
      padding: 25px

