
.application                                                
  
  #information
    background-color: #ddd
    float: left
    width: 480px
    +border-radius(5px)
    margin: 10px 0px
    h3
      +sans
      text-align: center
      padding: 5px
                                                
    div[data-map]
      height: 200px                               
      margin: 2px
      +border-radius(2px)

    .inventories
      +clearfix
      margin: 2px
      background-color: white
      padding: 20px 0px
      +border-radius(2px)
      > li
        width: 100px
        padding: 0px 9px 
        float: left
        border-left: 1px solid grey
        &:first-child
          border-left: 0px
      
        
