
.application                                                
                                                
  #information                                  
    width: 454px                                
    float: left                                 
    padding: 10px                               
    +border-radius(5px)
    border: 2px solid #ebebeb                   
                                                

                                                
  #information h3                               
    text-align: center                          
    font-size: 10px
    margin-bottom: 15px
    color: $baseBlue
    +serif
                                                
  #interests, #history                                    
    float: left                                 
    width: 218px                                
    margin-bottom: 20px
  hr                                            
    margin: 20px 0  
    clear: both
                                                
  #neighborhood-activity .map                   
    height: 200px                               
    width: 450px                                
    border: 1px solid #ebebeb

                                                
  #history 
    margin-right: 18px
    li 
      margin: 10px 0px
      >
        .icon
          margin-right: 10px
          width: 20px                                 
          height: 20px                                
          border: 1px solid black                     
          float: left                                 

        p
          font-size: 10px
          line-height: .6
          white-space: nowrap
          +sans
        time
          color: $baseRed
          font-size: 10px
          +sans
          line-height: 0.3



  #current-interests                            
    +border-top-radius(5px)
    +sans
    font-size: 12px
    overflow: hidden                            
    width: 100%                                 
    background-color: #f5f5f5                   
    li                                          
      width: 50%                                
      float: left                               
      border-bottom: 1px white solid            
      a                                         
        display: block                          
        padding: 5px                            
        height: 15px                            
                                                
  #view-all                                     
    background-color: #ebebeb
    color: $baseRed
    display: block                              
    +border-bottom-radius(5px)
    padding: 5px                                
    margin-bottom: 12px                         
    +sans
    font-size: 12px
                                                
  #find-more
    +sans
    float: right                                
    padding: 5px 10px                             
    border: 1px solid #aaa
    background-color: #ebebeb 
    font-size: 10px
    +border-radius(5px)
    

  