.info_box
  background-color: #fff
  border: 1px solid #ccc
  +border-radius(5px)
  overflow: hidden
  padding-bottom: 15px

  h2
    color: #3b6085
    background-color: #eaeaea
    border-bottom: 1px solid #ccc
    text-align: center
    font-size: 14px
    padding: 5px
    +border-top-radius(4px)
    margin-bottom: 20px

  .avatar, .message_me
    clear: both
    float: left
    margin-left: 15px
    width: 120px

  .avatar
    margin-bottom: 10px

  a.message_me
    display: block
    text-align: center
    +border-radius(4px)
    text-decoration: none
    color: #fff
    border: 1px solid #355371
    span
      +border-radius(3px)
      padding: 6px 0
      display: block
      background-color: #3b6085
      border: 1px solid #6c88a4
        bottom-color: #425d7d

  h3, .info, table
    margin-left: 150px
    padding-right: 15px
    width: 300px
  h3
    color: #b53f3c
    font-size: 24px
    margin-bottom: 10px

  .info
    line-height: 1.3
    font-size: 16px
    margin-bottom: 20px
    color: #454545
    
  th
    +sans
    padding: 8px 0
    color: #989898
    font-size: 12px
    line-height: 18px
    font-weight: bold
    padding-right: 10px
    vertical-align: top
  td
    padding: 8px 0
    font-size: 14px
    line-height: 16px
    color: #454545


  div[data-map]
    border: 1px solid $lightGray
    margin-top: 10px
    clear: left
    height: 200px


  #big_calendar
    margin-bottom: 10px
    width: 120px
    background-color: white
    border: 1px solid $lightGray
    text-align: center
    +border-radius($defaultRadius)
    .month
      +sans
      background-color: $calendarTopColor
      +border-top-radius($defaultRadius)
      color: white
      padding: 7px 10px
      font-size: 16px
      line-height: 16px
    .date
      +oldStandardBold
      font-size: 40px
      padding: 25px
