
.inline-form.editable

  [data-field][contenteditable]
    border: 1px solid orange
    padding: 3px
    +border-radius(5px)
    +inline-block

    &.user_about
      display: block

  .edit
    display: none

  .show
    display: block


.inline-form
  position: relative
  .edit, .show
    position: absolute
    width: 480px
    margin-top: 3px
    color: $cpBlue
    text-align: right
    span
      &:hover
        text-decoration: underline
  .edit
  .show
    display: none
    position: absolute
    
  form#avatar-form
    width: 120px
    text-align: center
    clear: both
    float: left
    padding-left: 15px
    input.file
      display: none
        
        
        
    
