
div#list
  ul 
    
    li
      +grid(12)
      +alpha
      +border-radius(5px)
      border: 1px solid #ddd
      margin-bottom: 10px
      background: #f7f7f7

      .header
        
        +grid(6)
        +alpha

        img.icon
          +border-radius(3px)
          text-align: center
      .time
        +grid(6)
        +omega
        text-align: right

      a
        +grid(12)
        +alpha
        display: block
        padding: 2px 0
        border-top: 1px solid #ddd

.replies
  display: none

  