
ul#wire
  +grid(12)
  +alpha
  
  li
    +border-radius($defaultRadius)
    border: 1px solid $lightGray
    margin-top: 20px
    .header  
      img.icon
        +border-radius(3px)
        text-align: center
      .time
        float: right
    a
      display: block
      padding: 2px 0
      border-top: 1px solid $lightGray

    .replies
      display: none

  