
.application
  #main-navigation
    border: 1px solid #3b6085
    background-color: #81a5c8
    padding: 1px 1px 0 1px
    width: 476px
    +border-radius(5px)
    float: left 
    +box-shadow(#aaa, 0, 2px, 2px, 0, false)
    

  #tooltip                                      
    +serif
    color: #eeeef0
    font-size: 13px
    padding: 19px 0px 20px 0
    text-align: center
    background-color: #3B6085
    +border-top-radius(5px)
          