
.application
  #navigation
    border: 1px solid #3b6085
    background-color: #3b6085
    padding: 1px 1px 0 1px
    width: 476px
    +border-radius(5px)
    float: left 
    +box-shadow(#aaa, 0, 2px, 2px, 0, false)
    

  #tooltip                          
    +serif
    color: #eeeef0
    font-size: 14px
    line-height: 1.2
    text-align: center
    background-color: #4a7eb0
    +border-top-radius(5px)
    border: 1px solid #2f4d6b
    padding: 5px
          