
.application
  #main-navigation
    border: 1px solid #3b6085
    background-color: #81a5c8
    padding: 1px 1px 0 1px
    width: 476px
    +border-radius(5px)
    float: left                                 