body
  z-index: 0

#modal:not(:empty)


  #modal-content
    border: 1px solid black
    z-index: 2000
    background-color: white
    padding: 20px
    position: fixed
    margin: auto
  #modal-close
    padding: 0
    background: transparent
    float: right
    position: absolute
    top: -15px
    left: -15px

  #modal-overlay
    content: " "
    position: fixed
    bottom: 0
    top: 0
    left: 0
    right: 0
    background-color: black
    opacity: 0.52

