body
  z-index: 0

#modal:not(:empty)


  #modal-content
    border: 1px solid black
    z-index: 2000
    background-color: white
    position: fixed
    margin: auto
    padding: 20px 40px

    h1
      font-size: 20px
      color: #b7403c
      margin: 10px 0px 20px
      +serif
      line-height: 120%

    p.hint
      text-indent: 20px
      font-size: 12px
      line-height: 1.4
      color: #3b6085
      margin: 10px 0px 15px
      +sans

  #modal-close
    padding: 0
    background: transparent
    float: right
    position: absolute
    top: -15px
    left: -15px

  #modal-overlay
    content: " "
    position: fixed
    bottom: 0
    top: 0
    left: 0
    right: 0
    background-color: black
    opacity: 0.52

#welcome
  margin-bottom: 20px