body
  z-index: 0

#modal:not(:empty)
  margin: auto
  position: fixed
  border: 1px solid black
  display: block
  z-index: 2000

  > #modal-close
    padding: 0
    background: transparent
    float: right
    position: absolute
    top: -15px
    left: -15px

  > *
    background-color: white
    padding: 20px
    
  &:after
    content: " "
    position: fixed
    bottom: 0
    top: 0
    left: 0
    right: 0
    background-color: black
    opacity: 0.52
    z-index: -1000

