
#modal > form#new_post
  padding: 10px 50px
  width: 300px
  display: block
  h1
    font-size: 20px
    color: #b7403c
    margin: 10px 0px 20px
    +serif

  p.hint
    font-size: 12px
    line-height: 1.4
    color: #3b6085
    margin: 10px 0px 15px
    +sans