
#organization_profile
  
  
  h1
    +grid-prefix(1/2)
    +grid(23 + 1/2)
    
    margin: 10px
    border-bottom: 1px solid #ddd
    font-size: 2em
    fond-weight: bold

  .contact
    +grid-prefix(1/2)
    +grid(5 + 1/2)
    
  .about
    +grid-prefix(1)
    +grid(10)
    +grid-suffix(1)

  .related
    +grid(5 + 1/2)
    +grid-suffix(1/2)
    +omega

    