
#organization_profile
  +clearfix
  
  h1
    // +grid-prefix(1/2)
    // +grid(23 + 1/2)
    +grid(24)
    
    margin: 10px
    border-bottom: 1px solid #ddd
    font-size: 2em
    fond-weight: bold

  .contact
    +alpha
    +grid(6)
    
  .about
    +grid(11)
    +grid-suffix(1)
    
  .related 
    +grid(6)
    +omega

    