
body.password_resets
  
  #new_password_reset, .user.formtastic
    +lightbox
    width: 430px
    margin: 40px auto
      
    h2
      color: #3b6085
      font-size: 24px
      margin: 20px 0
      text-align: center
    


    p
      margin: 10px 0px
    

    .buttons li
      padding: 10px 0
      
  .lightbox
    +lightbox
    padding: 50px 10px
    width: 440px
    margin: 40px auto 100px