.placeholder_text
  display: block
  font-family: $Rokkitt
  text-align: left
  letter-spacing: 1px
  z-index: 99
  position: absolute
.ie_placeholder, .placeholder textarea 
  position: relative
  margin: 0
  padding: 6px
  font-family: $Rokkitt

.registration
  .ieinput
    width: 396px
    display: block 
    margin: 0 auto
    .placeholder_text
      display: block
      text-align: left
      letter-spacing: 0px
      font-size: 18px
      line-height: 39px
      position: absolute

.form-container 
  .ieinput
    margin-top: 10px
    width: 380px
    height: 33px
    position: relative
    clear: both
    .placeholder_text
      line-height: 33px
      left: 7px    
      letter-spacing: 0
      top: 2px
