body.application.posts,body.application.announcements, body.application.events
  header
    background: #1b334a
    height: 41px
    width: auto !important
    padding: 10px
    border-bottom: 4px solid #fff
    margin: 0 0 20px 0
    #nav_wrapper
      width: 970px
      margin: 0 auto
      
      
    