.profile
  border: 
    left: 1px solid $lightGray
    right: 1px solid $lightGray
  padding: 0px 5px 15px
  background-color: #fcfcfc
  +clearfix
  h1
    margin: 15px
    font-size: 2em
    color: #555
    
    #subscribe
      +inline-block
      vertical-align: top

  .left_col
    width: 220px
    float: left
    vertical-align: top
    img#profile_photo
      border: 6px solid $orgPageBlue
      width: 200px
    
    ul.styled_list
      margin-top: 10px
      li  
        background-color: $itemBackground
        padding: 7px 7px
        border: 1px solid $lightGray
        border-top: 1px solid white
        font-size: 0.8em
        color: #555
        span.label
          +sans
          font-size: 12px
          color: $orgPageBlue
          font-weight: bold
        &.intense
          +sans
          color: $orgPageRed
          font-weight: red
          text-align: center
          font-size: 0.7em
          font-weight: bold
        &.clickable
          cursor: pointer
          &:hover 
            background-color: $itemBackground - #111
        &:first-child
          background-color: $orgPageBlue
          color: rgba(255,255,255, 0.85)
          font-weight: bold
          +border-top-radius(7px)
          border: none
          +sans
          font-size: 12px
        &:last-child
          +border-bottom-radius(7px)
    
    ul#members
      li.member
        .user_image
          +inline-block
          margin-right: 5px
        .user_info
          +inline-block
          .user_name
            font-size: 1.2em
          .user_role
            color: $orgPageBlue
            font-size: 0.9em
            margin-top: 3px

    
    #unsubscribe
      margin-top: 10px
        
  .middle_col
    width: 450px
    float: left
    margin: 0px 20px
    ul#modules
    ul
      li
        margin-bottom: 1em
        h3
          +sans
          font-size: 1.1em
          font-weight: bold
          color: #444
          padding-bottom: 4px
          border-bottom: 1px solid $lightGray
          margin-bottom: 8px
        p
          color: #444
          line-height: 140%
          font-size: 0.9em
      
      li#map_container
        +clearfix
        p
          padding-top: 10px
        div[data-map]
          float: left
          width: 100%
          height: 250px
          background-color: $lightGray
          margin-right: 15px
          margin-bottom: 10px
  
  .right_col 
    width: 240px
    float: right
    background-color: #e9e8e4
    +border-radius(7px)
    border: 1px solid $lightGray
    color: #444
    li
      padding: 10px 13px 5px
      font-size: 0.8em
      h3
        color: #666
        margin-bottom: 10px
        font-weight: bold
      p
        line-height: 140%
        padding-bottom: 10px
        border-bottom: 1px solid $offWhite
        
      &:first-child
        +sans
        font-weight: bold
        border-bottom: 1px solid $lightGray
        padding-bottom: 10px
      &:last-child
        p
          border: none