ul#modules
  +clearfix
  li
    +clearfix
    cursor: move
    margin-bottom: 0.5em
    background: $lightestGray
    padding: 10px
    +border-radius(7px)
    h3
      +sans
      font-size: 0.9em
      font-weight: bold
      color: #444
      padding-bottom: 3px
      border-bottom: 1px solid #ccc
      margin-bottom: 4px
      span.admin  
        float: right
        a
          font-size: 0.8em
          color: #666
          font-weight: normal
    p
      color: #444
      line-height: 140%
      font-size: 0.8em
