
#registration
  border: 1px solid $lightGray
  +border-radius($defaultRadius)
  background-color: $lightestGray
  +linear-gradient(color-stops($itemBackground + #060606, $itemBackground ))
  +box-shadow($lightestGray, 1px, 1px, 3px)
  padding: 5px

  
  form
    +clearfix
    width: 420px
    dt,dd
      +inline-block
      width: 200px
      margin-top: 30px
    dt
      text-align: right

    input[type="submit"]
      float: right

              










  