body.application.signup.accounts.edit_interests
  #register
    width: 1000px
    form
      background-image: url('/images/step-5-icon.png')
      background-repeat: no-repeat
      background-position: 20px 30px
      padding: 25px
      +clearfix
      h2
        margin: 15px 55px 50px
        font-size: 16px
        font-weight: bold
        +serif
      fieldset.inputs
        float: left
        height: 260px
        legend 
          label
            display: block
            color: #3b6085
            margin: 0px
            padding-bottom: 10px
        input
          display: none
        fieldset li 
          +inline-block
          margin-bottom: 15px
          label
            +border-radius(5px)
            background-color: #b53f3c
            margin: 3px
            padding: 5px
            display: none
            +serif
            font-size: 10px
            color: white
            font-weight: normal

      fieldset.inputs, #interest_list_toggles
        background-color: white
        width: 240px
        padding: 15px
        +border-radius(7px)
      
      #interest_list_toggles
        float: right
        width: 660px
        padding: 5px
        td
          color: #b53f3c
          font-weight: bold
          background-color: #f2f2f2
          height: 60px
          border: 5px white solid
          text-align: center
          vertical-align: middle
          &:hover, &.checked
            color: white
            background-color: #3b6085
      fieldset.buttons
        margin-top: 30px
        float: right

body.application.signup.accounts.learn_more
  #register
    width: 590px
    #learn-more
      padding: 20px
    h2
      margin: 10px
      color: #3b6085
      font-weight: bold
      font-size: 25px
      +serif
    ul
      list-style-image: url('/images/bullet-pin.png')
      +serif
      margin-top: 20px
      min-height: 200px
      li
        font-size: 16px
        margin: 25px 0px 25px 40px
        padding-left: 10px
body.application.signup.accounts.edit_new
  #register
    width: 1000px
    form
      background-image: url('/images/step-4-icon.png')
      background-repeat: no-repeat
      background-position: 20px 30px
      padding-left: 50px
      +clearfix
    .info_box
      float: right
    fieldset.inputs
      li
        padding: 0px 20px
        width: 400px
        input, textarea
          width: 100%
        textarea
          height: 70px
        label
          margin: 10px

    fieldset.buttons
      margin-top: 20px
      text-align: right
      width: 435px
    .info_box
      width: 450px
      #info_box_top
        background-color: #b53f3c
        color: white



body.application.signup.accounts.new
  #register
    width: 650px

    form
      fieldset.inputs
        li
          padding-left: 100px
          list-style-position: outside
          background-repeat: no-repeat
          background-position: 20px 5px
          margin: 20px 0px
          width: 485px

      fieldset.buttons
        float: right
        position: relative
        margin-top: -50px
        margin-right: 30px

body.application.signup
  zoom: 85%

  #logo
    float: left

  #login
    float: right
    width: 410px
    margin-bottom: 25px
    +border-radius(5px)
    color: #aaa
    +clearfix
    #submit_wrapper
      margin-top: 21px
    p.forgot_password
      margin-top: 5px
      text-align: right
      margin-right: 10px
        

      a
        color: #aaa
        +sans
        font-size: 0.7em
        text-decoration: none
        &:hover
          text-decoration: underline
    .field
      float: left    
  form
    .field
      +inline-block
      width: 160px
      margin-right: 15px
      vertical-align: top          
      &.submit
        margin: auto
        width: auto
      input
        +border-radius(5px)
        width: 155px
        outline: none

      input[type=text], input[type=password]
        padding: 5px 7px
        font-size: 0.9em
        +box-shadow(#ccc, 1px, 1px, 2px, 0, inset)

        margin: 0
        border: 1px solid #ddd
    label
      +sans
      float: left
      margin: 5px 0 3px
      margin-right: 10px
      font-weight: bold
      font-size: 0.7em
      line-height: 13px

      +serif
      &[type=text], &[type=password]
        color: #444
        +box-shadow(#ccc, 2px, 2px, 4px, 0, inset)
        padding: 5px 10px
      &.labelText
        color: #888
        

    .formError
      +sans
      margin-top: 5px
      color: $cpRed
      font-weight: bold
      font-size: 0.8em
    #submit_wrapper
      margin-top: 7px  
      +inline-block
      vertical-align: top
      +box-shadow( rgba(0, 0, 0, 0.2), 0, 1px, 1px, 0, false)
      +sans
      background-color: $cpRed
      border: 1px solid $cpDarkRed - #111
      +border-radius(5px)
      input[type=submit]
        float: right
          
        +sans
        font-weight: bold
        font-size: 0.6em
        background-color: transparent
        margin: 0
        color: white
        +text-shadow(rgba(0, 0, 0, 0.5), 2px, 1px, 1px)
        cursor: pointer
        border: 1px solid $cpRed + #222
          bottom: 1px solid $cpDarkRed
        display: block
        padding: 5px 8px
        +border-radius(5px)
  h1
    width: 930px
    color: #3b6085
    line-height: 1.2
    font-size: 32px
    padding: 0 20px
    margin: auto
    +serif
    text-align: center
    +text-shadow(#bfc8cf, 1px, 1px, 1px)
    a
      color: #b53f3c
      text-decoration: none
      +text-shadow(#d4dee7, 1px, 1px, 1px)
  #register
    +border-radius(12px)
    background-color: #c5c5c5
    padding: 10px
    margin: 60px auto
    form, #learn-more
      background-color: #ebebeb
      +border-radius(5px)
      +box-shadow($default-box-shadow-color, 0, 0, $default-box-shadow-blur, 0px)
      padding: 10px
      fieldset.inputs  
        li


          label, input, textarea
            color: #444545
            display: block
            float: none
            font-size: 18px
            +serif
            margin: 10px
            width: 100%

          input, textarea
            height: 38px
            +border-radius(5px)
            +box-shadow(#eee, 1px, 1px, 3px, 0, inset)
          p.inline-errors
            margin-left: 10px
            color: #b53f3c
        li#user_full_name_input
          background-image:  url('/images/step-1-icon.png')
        li#user_email_input
          background-image:  url('/images/step-2-icon.png')
        li#user_location_attributes_street_address_input
          background-image:  url('/images/step-3-icon.png')
          p.inline-hints
            float: left
            margin: 30px 0px 0px -90px
            font-size: 12px
            font-weight: bold
            +sans
            color: #3a3a3a
