body.signup
  background-color: #efefef
  
  #body_color
    background-color: white
    width: 100%
    padding-bottom: 1em
    #wrap
      min-height: 0
      height: auto
      +clearfix

  header
    float: left
    width: 476px
    a
      display: block
      padding: 40px 25px
      img
        width: 367px
  
  
  
  #footer_grad
    height: 10px
    width: 100%
    +linear-gradient(color-stops(#ddd,  #efefef))
  footer
    +sans
    font-size: 0.8em
    width: 972px
    margin: 1em auto
    color: #333
    .left_text
      float: left
    .right_text
      float: right
    a
      font-weight: bold
      color: #333
      text-decoration: none
      &:hover
        text-decoration: underline
      
  
  #signup-container
    width: 476px
    float: right
    
    #login
      padding: 10px 15px
      color: white
      +clearfix
      p.forgot_password
        margin-top: 5px
        text-align: right
        width: 100%
        a
          color: white
          +sans
          font-size: 0.7em
      form
        .field
          +inline-block
          width: 160px
          margin-right: 20px
          vertical-align: top
          label
            +sans
            float: left
            margin: 5px 0
            margin-right: 10px
            font-weight: bold
            font-size: 0.7em
            line-height: 13px
          input
            width: 150px
            outline: none
            padding: 4px
            margin: 0
            border: 1px solid #777
        #submit_wrapper
          margin-top: 18px          
          +inline-block
          vertical-align: top
          +box-shadow( #497daf - #222, 0, 2px, 2px, 0, false)
          +sans
          background-color: $cpRed
          border: 1px solid $cpDarkRed - #111
          +border-radius(5px)
          input[type=submit]
            font-size: 1em
            font-weight: bold
            background-color: transparent
            margin: 0
            color: white
            +text-shadow($cpDarkRed, 2px, 1px, 1px)
            cursor: pointer
            border: 1px solid $cpRed + #222
              bottom: 1px solid $cpDarkRed
            display: block
            padding: 3px 8px 4px
            +border-radius(5px)
      +border-radius(5px)
      margin: 45px 0
      background-color: #497daf
    
  
  #syndicate_container
    float: left
    width: 476px
    h3#syndicate_title
      background-color: $cpRed
      +border-radius(5px)
      padding: 12px
      color: white
      +sans
      font-size: 0.9em
      font-weight: bold
    ul.items
      min-height: 0
      li.item
        padding: 0 10px
        border-bottom: none
        &:hover
          background-color: white
        a
          padding: 20px 0
          border-bottom: 1px solid #ccc
        &:last-child
          a
            border-bottom: none
      
      
      