body.signup
  background-color: #efefef
  

  header
    float: left
    width: 476px
    a
      display: block
      padding: 40px 25px
      img
        width: 367px
      
  
  #signup-container
    width: 476px
    float: right
    
    form
      .field
        +inline-block
        width: 175px
        margin-right: 10px
        vertical-align: top
        label
          +sans
          float: left
          margin: 5px 0
          margin-right: 10px
          font-weight: bold
          font-size: 0.7em
          line-height: 13px
          +text-shadow(rgba(0, 0, 0, 0.1))
        input
          +border-radius(5px)
          width: 165px
          outline: none
          padding: 5px
          margin: 0
          border: 1px solid #777
          +serif
          font-size: 1em
        &.submit
          margin: auto
          width: auto
          
      
        #submit_wrapper
          margin-top: 23px  
          +inline-block
          vertical-align: top
          +box-shadow( rgba(0, 0, 0, 0.2), 0, 2px, 2px, 0, false)
          +sans
          background-color: $cpRed
          border: 1px solid $cpDarkRed - #111
          +border-radius(5px)
          input[type=submit]
            width: auto
            +sans
            font-size: 0.8em
            font-weight: bold
            background-color: transparent
            margin: 0
            color: white
            +text-shadow($cpDarkRed, 2px, 1px, 1px)
            cursor: pointer
            border: 1px solid $cpRed + #222
              bottom: 1px solid $cpDarkRed
            display: block
            padding: 3px 8px 4px
            +border-radius(5px)
      
    
    
    #login-container
      margin: 30px 0
      border: 1px solid #3b6085
      background-color: #81a5c8
      padding: 1px 1px 0 1px
      +border-radius(5px)
      +box-shadow(#aaa, 0, 2px, 2px, 0, false)
      
      #login
        padding: 10px 15px
        +border-radius(5px)
        background-color: #497daf
        color: white
        +clearfix
        p.forgot_password
          margin-top: 5px
          text-align: right
          width: 100%
          a
            color: rgba(255, 255, 255, 0.9)
            +sans
            font-size: 0.7em
            text-decoration: none
            &:hover
              text-decoration: underline

    #register
      border: 1px solid #ccc
      padding: 1px
      margin:
        bottom: 5px
        right: 5px
      +border-radius(5px)
      +box-shadow(#ccc, 0, 2px, 2px, 0, false)
      background-color: #efefef
      h3
        +border-top-radius(5px)
        background-color: $cpRed
        padding: 1em
        color: rgba(255, 255, 255, 0.9)
        +serif
        font-size: 1.1em
        text-align: center
      form#new_user
        padding: 0.5em 1em 1em 1em
        width: auto
        .field
          margin: 6px 0 0 0 
          width: 215px
          input
            width: 200px
          &.long
            width: 430px
            input
              width: 420px
          &.submit
            width: auto
            margin-left: 10px
          &.check_box
            margin-top: 10px
            label
              font-size: 0.8em
              input
                float: left
                width: 25px
          label
            +text-shadow(none)
            color: #3B6085
            margin-bottom: 3px
          a
            color: #3B6085
      
  
  #syndicate_container
    float: left
    width: 476px
    border: 1px solid #ccc
    margin:
      bottom: 5px
      right: 5px
    +border-radius(5px)
    +box-shadow(#ccc, 0, 2px, 2px, 0, false)
    h3#syndicate_title
      background-color: #efefef
      +border-top-radius(5px)
      padding: 1em
      color: #3B6085
      +serif
      font-size: 1.1em
      text-align: center
      border: 1px solid white
    ul.items
      +border-radius(5px)
      min-height: 0
      li.item
        border-bottom: 1px solid #ccc
        &:hover
          background-color: white
        a
          padding: 20px 15px
          cursor: default
        &:last-child
          +border-radius(5px)
          border-bottom: none
      
      
      