#modal.info
  #modal-content
    padding: 0
    border: none
    +border-radius(5px)
  .info
    width: 500px
    height: 400px
    overflow-y: scroll
    +border-radius(5px)
    border: 7px $lightGray solid
    padding: 1em