
.small_calendar
  +inline-block
  width: 50px
  height: 50px
  margin-right: 7px
  margin-bottom: 5px
  vertical-align: top
  text-align: center
  background-color: white

  .month
    +sans
    background-color: #b43e3b
    +border-top-radius($defaultRadius)
    color: white
    padding: 1px 7px
    font-size: 11px
    line-height: 16px

  .date
    +serif
    font-size: 22px
    padding: 4px 0
    background-color: $lightestGray
    height: 23px
    border-top: 1px solid white
    +border-bottom-radius(7px)
