.styled_box
  +styledBox

  .header
    +sans
    position: relative
    border-bottom: 1px solid $lightGray
    img
      height: 15px
      width: 15px
      padding-top: 3px
      
      // background-image: icon!!
    .header_text
      padding: 5px 7px
      +inline-block
      font-size: 11px
      a
        color: $mediumGray
      span.category