.styled_box
  +box-shadow($lightestGray, 1px, 1px, 3px)
  +border-radius($defaultRadius)
  border: 1px solid $lightGray
  background: $itemBackground + #020202
  +linear-gradient(color-stops($itemBackground + #060606, $itemBackground ))

  .header
    +sans
    position: relative
    border-bottom: 1px solid $lightGray
    img
      height: 15px
      width: 15px
      padding-top: 3px
      
      // background-image: icon!!
    .header_text
      padding: 5px 7px
      +inline-block
      font-size: 11px
      span.category
        color: $mediumGray