@import replies

.application
       
  #syndicate
    +min-height(800px)
    h3
      background-color: #eaeaea
      padding: 5px
      color: #3b6085
      border: 1px solid #ccc
        top: 0px
      a      
        text-decoration: none
        color: #3b6085
  .items
    background-color: white
    padding: 0px
    border: none
    +border-bottom-radius(5px)

  .item
    background-color: white
    border: 1px solid
      bottom-color: #ddd
      left-color: #ccc
      right-color: #ccc
      top-width: 0px
      
    padding: 0px
    overflow: hidden
    &:last-child
      border-bottom: none
      > .user, > .post, > .event, > .announcement, > .feed
    &:hover
      background-color: $listingHover
 
    > .user, > .post, > .event, > .announcement, > .feed
      text-decoration: none
      +border-radius(5px)
      padding: 12px 10px
      +clearfix
      display: block
      color: $baseText
      .title, .author, .body                          
        margin-left: 62px
      .body
        +serif
        font-size: 0.8em
        line-height: 1.4
        color: $textColor
        p
          margin-top: 0.8em
      .title
        color: $titleColor
        font-size: 18px
        margin-bottom: 3px
        display: block
        text-decoration: none
        +serif
      .author
        font-size: 11px
        color: $subtitle
        font-family: arial
        line-height: 1.2
        margin-bottom: 5px
        +sans
        font-weight: bold
      time
        float: right
        color: #888
        +sans
        font-size: 10px
        font-weight: bold
      .avatar
        float: left
        width: 50px                           
        height: 50px
        display: block 
        border: 1px solid #aaa
        +border-radius(5px)                   

      .reply-count 
        float: left
        width: 50px
        margin-top: 5px
        text-align: center
        font-size: 10px
        clear: left
        +sans
     
    &.user, &.feed
      a
        .avatar
          height: 30px
          width: 30px
        .title
          margin-left: 40px
          margin-top: 4px
      &.odd
        background-color: white
      &.even
        background-color: #efefef
      &:hover
        background-color: $listingHover
