@import replies

.application
       
  #syndicate
    +border-radius(0 0 5px 5px)
    +box-shadow(#bcd4eb, 2px, 2px, 0px)
    width: 482px
    h3:first-child
      position: relative
      top: -10px
      margin-bottom: -10px
      z-index: 1
      border-top: 2px solid #BCBCBC
    h3
      color: #717171
      +text-shadow(#fff, 1px, 1px, 0px)
      background-color: #E0E0E0
      padding:  7px 12px
      color: #717171
      border: 
        top: 1px solid #BCBCBC
        bottom: 1px solid #BCBCBC
        left: 2px solid #BCBCBC
        right: 2px solid #BCBCBC
      font: 
        size: 13px

      a
        color: #717171
        +text-shadow(#fff, 1px, 1px, 0px)
        font-size: 13px
        text-decoration: none
        &.current
          color: $postColorDark
          text-decoration: underline
        &:hover
          text-decoration: underline
      nav
        float: right
    .items:last-child li:last-child
      +border-bottom-radius(5px)

  .items
    background-color: white
    padding: 0px
    border-left: 2px solid #BCBCBC
    border-right: 2px solid #BCBCBC
    min-height: 20px
  .items:last-child
    +border-radius(0 0 5px 5px)
    border-bottom: 2px solid #bcbcbc
  .item
    cursor: pointer
    background-color: white
    border-bottom: 1px solid #ddd
    width: 478px
    padding: 0px
    overflow: hidden
    &:last-child
      border-bottom: none
      > .user, > .post, > .event, > .announcement, > .feed, > .message
    &:hover
      background-color: $listingHover
 
    > .user, > .post, > .event, > .announcement, > .feed, > .message
      text-decoration: none
      +border-radius(5px)
      padding: 12px 10px
      +clearfix
      display: block
      color: $baseText
      .title, .author, .body                          
        margin-left: 62px
      .body
        font-family: Georgia, Times, 'Times New Roman', serif
        font-size: 0.8em
        line-height: 1.4
        color: $textColor
        p
          margin-top: 0.8em
      .title
        color: $titleColor
        font-size: 18px
        margin-bottom: 3px
        display: block
        text-decoration: none
        font-family: Georgia, Times, 'Times New Roman', serif
      .author
        font-size: 13px
        color: $subtitle
        line-height: 1.2
        margin-bottom: 5px
        font-family: Rockwell, Helvetica, Arial, Verdana, sans-serif
        font-weight: normal

      time, .controls
        float: right
        color: #888
        font-family: Rockwell, Helvetica, Arial, Verdana, sans-serif
        font-size: 11px
        font-weight: normal
      .avatar
        float: left
        width: 50px                           
        height: 50px
        display: block 
        border: 1px solid #aaa
        +border-radius(5px)                   

      .reply-count 
        float: left
        width: 50px
        margin-top: 5px
        text-align: center
        font-size: 10px
        clear: left
        font-family: Rockwell, Helvetica, Arial, Verdana, sans-serif
     
    &.user, &.feed
      a
        .avatar
          height: 30px
          width: 30px
        .title
          margin-left: 40px
          margin-top: 4px
      &.odd
        background-color: white
      &.even
        background-color: #efefef
      &:hover
        background-color: $listingHover
    
    &.feed
      .title
        padding-right: 90px
