@import replies

.application
  #syndicate
    width: 458px                                
    float: left                                 
    background-color: #ebebeb                   
    +border-radius(5px)
    padding: 10px                               
    margin-right: 12px                          

    nav
      +clearfix
                                                
  #create-entity
    +text-shadow(#376287, 2px, 1px, 1px)
    text-decoration: none
    font-weight: bold
    img
      width: 5px
      height: 5px
      border: 1px solid black
      +inline-block
    font-size: 10px
    +sans
    display: block
    color: white
    border: 1px solid #3b6085
    float: left 
    +border-radius(5px)
    span
      border: 1px solid #7fa6c9
        bottom: 1px solid #4f7599
      display: block
      padding: 10px 10px
      background-color: $baseBlue
      +border-radius(5px)

  #filters
    height: 32px
    float: left
    border-left: 1px solid #bbb
    margin-left: 10px 
    a
      text-decoration: none
      +inline-block      
      margin: 6px 0px 6px 10px
      color: #888
      +sans
      font-size: 10px
      font-weight: bold
      background-color: $baseGray
      border: 1px solid #ccc
      span
        padding: 5px 10px
        display: block
        +border-radius(5px)
        border: 1px solid #f8f8f8
          bottom: 1px solid #ddd
      +border-radius(5px)
      +clearfix
        
      &.selected_nav, &:hover
        color: #c0c0c0
        background-color: #ddd
        span
          border: 1px solid #e9e9e7
            bottom: 1px solid #ccc
            
    &:before
      content: " "
      display: block        
      border-left: 1px solid white
      background-color: orange
      float: left
      height: 100%
      

  .item
    background-color: white
    +border-radius(5px)
    border: 1px solid #aaa
    margin: 10px 0    
    overflow: hidden
    &:hover
      background-color: $listingHover

    a
      text-decoration: none
      +border-radius(5px)
      padding: 10px
      +clearfix
      display: block
      color: $baseText
      .title, .author, .body                          
        margin-left: 60px
      .body
        +serif
        font-size: 12px
        line-height: 1.4
        color: black
      .title
        color: black
        font-size: 18px
        +serif
      .author
        font-size: 11px
        color: $subtitle
        font-family: arial
        line-height: 1.2
        +sans
        font-weight: bold
      time
        float: right
        color: $timeAgo
        +sans
        font-size: 10px
        font-weight: bold
      .avatar
        float: left
        width: 50px                           
        height: 50px
        display: block                    

      .reply-count 
        float: left
        width: 50px
        margin-top: 10px
        text-align: center
        font-weight: bold
        font-size: 10px
        clear: left
        +sans
