



.ui-tabs-hide
  display: none

.ui-tabs-panel
  border-top: 1px solid $mediumGray
  li
    border-bottom: 1px solid $mediumGray
    padding: 5px

  height: 200px
  overflow-y: auto

.tabs
  border: 1px solid $mediumGray

.ui-tabs-nav
  background-color: $mediumGray
  margin: 5px
  +clearfix
  li
    float: left
    background-color: white
    margin: 5px
      bottom: 0px
    border-bottom: 1px solid $mediumGray
    padding: 5px
      bottom: 4px

  li.ui-state-active
    padding-bottom: 5px
    border-bottom: 0px

    
      