#whats-happening
  float: right

  #zones
    td
      background: #AC322F
      border: 2px solid #982524
      +border-radius(5px)
      display: inline-block
      margin: 0 0 0 1
      max-width: 95px
      min-width: 69px
      position: relative
      &:first-child
        background: #E0E0E0
        border: 2px solid #bdbdbd
        #border_hack
          position: absolute
          bottom: 3px
          height: 6px
          width: 95px
          background: #E0E0E0
          z-index: 2
        a
          color: #1b334a 
          +text-shadow(#fff, 1px, 1px, 0px)
      &.selected_nav
        background: #E0E0E0
        border: 2px solid #bdbdbd
    a 
      display: block
      text-align: center
      font-size: 12px
      padding: 5px 0 
      height: 32px
      text-decoration: none
      color: #fff







