#whats-happening
  float: right

  #zones
    border: 1px solid #203c57
    +border-top-radius(4px)
    td
      +linear_gradient(color-stops(#4a7496, #406483))
      border-right: 1px solid #16385a
      border-left: 1px solid #4b6a89
      &:first-child
        +border-top-left-radius(3px)
        border-left-width: 0px
      &:last-child
        +border-top-right-radius(3px)
        border-right-width: 0px

      &:hover, &.selected_nav
        background-color: #2f4f70
        color: #fff
        a
          color: white
      &.selected_nav
        +linear_gradient(color-stops(#3d6585, #385c7a), bottom)
    a 
      display: block
      text-align: center
      font-size: 12px
      padding: 15px 8px
      text-decoration: none
      color: #c3ced8







