.application                                                
  #zones
    +border-bottom-radius(5px)
    +clearfix
    float: left
    background-color: #4A7EB0
    width: 480px

    a 
      width: 60px
      +sans
      +inline-block
      
      margin: 20px 30px
      text-align: center
      font-size: 11px
      font-weight: bold
      color: $baseText
      text-decoration: non

      div
        width: 60px
        height: 60px
        margin: 0px auto 10px


        
      &.posts div
        background-image: url("/images/posts.png")
      &.announcements div
        background-image: url("/images/announcements.png")
      &.events div
        background-image: url("/images/events.png")
      &.users div
        background-image: url("/images/users.png")
      &.organizations div
        background-image: url("/images/organizations.png")
      &.goods_and_skills div
        background-image: url("/images/goods_and_skills.png")
              
      &:hover
        color: white
        div
          background-position: 0px 93px

        span
          border: #8c3431 1px solid
          span
            background-color: #b53f3c
            border: #c95855 1px solid
              bottom: #9a2b27 1px solid


