@import core
@import styled_box
@import item
@import info_box
@import form
@import organization
@import modal

#main
  border: 1px solid $lightGray
  border-top: none
  border-bottom: none

nav#filters
  background-color: $offWhite
  +linear-gradient(color-stops($offWhite, white))
  padding: 20px 60px
  display: block
  height: 72px
  margin-bottom: 10px
  
a.filter
  // +grid(4)
  +inline-block
  text-align: center
  margin-right: 70px
  img
    width: 80px
    height: 70px
    background-color: $lightGray
    +border-radius(7px)

a.filter:first-child

a.filter:last-child
  // +omega
  margin-right: 0px
  
#actions
  +border-top-radius(7px)
  background-color: #4a7eb0
  +linear-gradient(color-stops(#4a7eb0, #46759f))
  height: 30px
  // +alpha
  // +grid(24)
  // +omega
  color: $offWhite
  position: relative
  width: 972px
  margin-top: 10px
  border-bottom: 1px solid $lightGray
  
#new
  +inline-block
  text-align: left
  padding: 5px 15px

#search
  position: absolute
  top: 0px
  right: 0
  padding: 3px 15px
  height: 24px
  text-align: center
  background-color: #396081
  +border-top-right-radius(7px)
  p
    +inline-block
    font-size: 0.9em
  form
    +inline-block
    input[type=text]
      font-size: 0.7em
      @include styledInput
      +grid(4)
    input[type=submit]
      @include styledButton
        
div#list
  +grid(12)
  margin-right: 0px
  margin-left: 8px

    
div#info
  +grid(12)

