@import core
@import syndicate
@import header
@import small_calendar
@import info_box
@import modal
@import form
@import modal_form
@import date_picker
@import contenteditable
@import profile_fields
@import accounts
@import site_info
@import edit_new
@import administration
@import admin_bar
@import inline_form
@import say_something
@import whats_happening
@import feeds
@import password_resets
body.application 
  background-repeat: repeat-x
  background-color: #cee7fe
  background-image: url('/images/clouds.png')
  +serif

  header
    margin: 20px auto 30px
    +clearfix
    width: 970px

    #logo
      margin-top: 10px
      text-decoration: none
      float: left
      color: #444545
      font-size: 30px
      line-height: 30px
      span
        color: #b7430c
        font-size: 25px
        position: relative
        bottom: 3px
      img
        vertical-align: bottom
        

    nav
      padding: 8px 0 12px 0 
      float: right
      display: inline
      a, .disabled_link
        font-size: 11px
        padding: 5px
        color: $baseText + #222
        font-weight: bold
        vertical-align: bottom
        +sans
        text-decoration: none
      a.selected_nav
        color: #3b6085
      a:hover
        color: #3b6085
      
    #new_user_session
      float: right
      width: 440px
      .inputs, .buttons
        +inline-block
        li 
          margin: 0 2px
          +inline-block
          
          label
            display: block
            padding: 4px 0
          input[type=text], input[type=password]
            +border-radius(5px)
            width: 155px
            outline: none
            padding: 5px 7px
            font-size: 0.9em
            +box-shadow(#ccc, 1px, 1px, 2px, 0, inset)
            margin: 0
            border: 1px solid #ddd          
      .buttons
        padding-top: 25px
      p.forgot_password
        float: right
        margin-right: 22px
        padding: 4px
        font-size: 12px
      p.errors
        margin-left: 2px
        color: #b7403c
        font-size: 13px
  #main
    width: 980px
    margin: auto

  footer
    clear: both
    background-image: url('/images/houses.png')
    background-repeat: repeat-x
    background-position: center bottom
    padding: 220px 10px 10px
    height: 20px
    width: auto
    margin: 0px
                              
  #wrap       
    +clearfix                                 
    width: 972px
    margin: auto                                
    color: $baseText

  #say-something, #community-profiles, #whats-happening
    width: 485px

  #community-profiles
    margin-top: 10px

input.placeholder, textarea.placeholder
  color: #aaa