@import "layout"
@import "item"
@import "info_box"
@import "form"
@import "organization"
nav#filters
  +grid-children
  +grid-prefix(1)
  +grid-suffix(1)
  +clearfix
  border-bottom: 1px solid black
  display:block
  padding-top: 15px
  padding-bottom: 15px

a.filter
  padding-top: 10px
  padding-bottom: 10px
  +grid(2.5)
        
  img
    width: 60px
    height: 60px
            
form#search
  +grid-prefix(1 / 2)      
  +grid(6)
  +grid-suffix(1 / 2)
  +omega
  +border-radius(5px)
  background-color: #eee
  border: 1px solid $lightGray
  height: 60px
  padding:
    top: 10px
    bottom: 10px
        
div#list
  +grid(12 + 1/4)
  border-right: 1px solid black
  margin-right: 0
  padding-top: 10px

    
div#info
  +grid(12)
  +alpha
  margin-top: 10px


 
   




