@import core
@import logged_out_header
@import neutral_notification
@import button
#art_project
  .plane_header 
    position: relative
    right: -50px
    background: image-url('plane.png') no-repeat
    height: 112px
    background-position: center
    margin-top: 20px
    padding-right: 162px
    padding-top: 30px
    text-align: center
    h2
      font-size: 25px
      color: #ac322f
    h1
      font-size: 45px
      font-weight: bold
      margin-top: 3px
      color: #172b3f
  .banner
    font-size: 27px
    width: 810px
    text-align: center
    margin: 0 auto
      top: 20px
    color: #172B3F
    text-shadow: 1px 1px 0 white
    
  .how
    margin: 0 auto
      top: 40px
    width: 850px
    height: 410px
    
    
    h3
      text-align: center
      font-size: 25px
      text-shadow: white 1px 1px 0
      color:  #172b3f
    .left
      float: left
      width: 400px
      dl
        margin-top: 25px
        dt
          font-size: 20px
          color: #AC322F
        dd
          font-size: 15px
          margin-bottom: 20px
          margin-top: 4px
          line-height: 21px
          color: #4c4c4c
          font-family: Helvetica
    .right
      margin-top: 25px
      width: 395px
      background: #ac322f
      height: 274px
      +border-radius(6px)
      float: right
      padding: 12px
      h4
        color: white
        font-size: 19px
      h3
        color: #172b3f
        font-size: 23px
        margin: 2px 0
        text-shadow: none
        text-align: left
        font-weight: bold
      form
        margin-top: 15px
        input[type="text"]
          box-shadow: #cccccc 1px 1px 2px 0 inset
          padding: 7px
          font-size: 14px
          +border-radius(5px)
          width: 380px
          border: 1px solid #CCC
        .browsei
          width: 220px !important
          height: 18px
          margin-bottom: 2px !important
        .upload
          @include button
          width: 150px
          height: 26px
          float: right
          text-align: center
          padding: 0
            top: 6px
          font-size: 17px
        .submit
          @include button
          width: 389px
          height: 38px
          padding-top: 9px
          height: 29px
          margin-top: 20px
        .help
          text-align: center
          color: #4a0e0c
          margin-bottom: 18px
          
          
        label
          color: white
          text-shadow: 0 1px 0px black
        p
          font-size: 12px
          margin-bottom: 12px
          margin-top: 4px
          color: #262626
        .video, .photo
          color: white
          font-size: 15px
          margin-bottom: 4px
          
  .nominate
    margin: 0 auto
      top: 40px
    width: 850px
    height: 395px
    margin-top: 35px
    h3
      text-align: center
      font-size: 25px
      text-shadow: white 1px 1px 0
      color:  #172b3f
    .left
      float: left
      width: 400px
      p
        font-size: 15px
        font-family: Helvetica
        margin-bottom: 10px
        line-height: 19px
        color: #4c4c4c
      dl
        margin-top: 25px
      dt
        font-size: 20px
        color: #AC322F
      dd
        font-size: 15px
        margin-bottom: 20px
        margin-top: 4px
        line-height: 21px
        color: #4c4c4c
        font-family: Helvetica
    .right
      width: 395px
      background: #ac322f
      height: 297px
      +border-radius(6px)
      float: right
      padding: 12px
      margin-top: 25px
      h4
        color: white
        font-size: 19px
      h3
        color: #172b3f
        font-size: 23px
        margin: 2px 0
        text-shadow: none
        text-align: left
        font-weight: bold
      form
        margin-top: 15px
        input[type="text"]
          box-shadow: #cccccc 1px 1px 2px 0 inset
          padding: 7px
          font-size: 14px
          +border-radius(5px)
          width: 380px
          border: 1px solid #CCC
        textarea
          box-shadow: #cccccc 1px 1px 2px 0 inset
          padding: 7px
          font-size: 14px
          +border-radius(5px)
          width: 382px
          border: 1px solid #ccc
        .submit
          @include button
          width: 389px
          height: 38px
          padding-top: 9px
          height: 29px
          margin-top: 20px       
        label
          color: white
          text-shadow: 0 1px 0px black
        p
          font-size: 12px
          margin-bottom: 12px
          margin-top: 4px
          color: #262626
        .video, .photo
          color: white
          font-size: 15px
          margin-bottom: 4px
        .help
          text-align: center
          color: #4a0e0c
          margin-bottom: 18px
          

          
.about
  margin-top: 50px
  width: 850px
  background: white
  padding: 30px
  +box-shadow(-5px 5px 0 0 #c3dbf3)
  margin: 0 auto
    top: 35px
  p
    font-family: Helvetica
    font-size: 18px
    line-height: 19px
    color: #181818
    text-align: left
  h3
    text-align: left
    font-size: 28px
    text-shadow: white 1px 1px 0
    color:  #172b3f
    margin-bottom: 13px
    

#footer
  margin-top: 400px








body
  font-family: Rockwell,Georgia,Times,"Times New Roman",serif
  background-color: #cee7fe

.important-notification
  +neutral-notification

#wrapper
  #main
    width: 960px
    margin: auto
    position: relative
    z-index: 1000

@include sticky-footer(230px, "#wrapper", "#wrapper-footer", "#footer")

#footer
  background: transparent image-url('footer-houses.png') repeat-x center bottom
  height: 20px
  padding: 200px 50px 10px
  color: #ADD794
  +sans
  font-size: 0.8em
  .left_text
    color: #ADD794
    float: left
  .right_text
    color: #ADD794
    float: right
  a
    color: #BFF4A0
    font-weight: bold
    text-decoration: none
    &:hover
      text-decoration: underline
      
