@import home/base

#newPost 
  width: 725px
  height: 320px
  margin: auto auto
  background-color: #fff
  border: 12px solid #bcbbae
  position: relative
  top: 150px
  z-index: 1000


#newPost div.navigation 
  width: 250px
  float: left
  padding: 15px


#newPost div.tabs div.form-container.conversation 
  width: 424px
  padding: 10px
  float: right
  background-color: #eeedde
  height: 300px
  border-left: 1px solid #bcbbae


#newPost div.navigation div.help 
  position: relative
  top: 30px
  padding: 10px
  background-color: #eeedde
  color: #555
  font: 13px/18px Helvetica


strong 
  font-weight: bold


#newPost div.navigation h1 
  font: 16px RockwellSTD, Rockwell, sans-serif
    color: #1b334a


#newPost div.navigation div.links ul li 
  list-style-type: none
  padding-top: 10px
  padding-bottom: 10px
  text-shadow: #000000 0 0 0
  padding-left: 30px


#newPost div.navigation div.links ul li a 
  font: bold 15px RockwellSTD, Rockwell, sans-serif
  text-decoration: none
  color: #19324a


#newPost div.navigation div.links ul li a.current 
  color: #ac312e


#newPost div.tabs div.form-container.conversation form label.disclaimer 


#disclaimer 
  width: 210px
  color: #bcbbae
  font: 12px Helvetica
  float: left


#newPost div.tabs div.form-container.conversation form button.red-button 
  float: right

