
#say-something nav
  a
    background-position: 6px center
    
    &.post, &.post:hover, &.post.current
      background-image: url("/images/icons/new-post.png")
    &.event, &.event:hover, &.event.current
      background-image: url("/images/icons/new-event.png")
    &.announcement, &.announcement:hover, &.announcement.current
      background-image: url("/images/icons/new-announcement.png")

    
