/* IE7 Styles */

#wrapper {
  position: relative;
  
}
#wrapper .right {
  right: 0px !important;
  
}
.redbox .address {
  display: block;
}

div#address div#find_button {
  z-index: 75;
  clear: both;
}

#find_button a.blue-button.next-button {
  height: 22px;
  z-index: 75;
  clear: both;
}

#header .registration_right {
  width: 451px;
}

#about .address {
  display: block;
}

#about .about_border .right {
  display: block;  
}

.registration1 .right #redbox #password, .registration1 .right #redbox #full_name, .registration1 .right #redbox #email {
  height: 50px;
}

#redbox input {
  margin-bottom: 15px;
}

.address input {
  color: #333;
}