@import core
@import styled_box
@import item
@import header

#main
  border-top: 1px solid $lightestGray

h2
  padding: 10px 15px 8px
  height: 20px
  background-color: #4a7eb0
  color: $offWhite
  font-size: 15px
  +linear-gradient(color-stops(#4a7eb0, #46759f))
  +border-top-radius(7px)

#list
  width: 470px
  float: left
  padding: 10px 5px 10px 10px

#info
  width: 470px
  float: right
  padding: 10px 10px 10px 5px

#list ul li
  padding: 5px

#info
  form
    padding: 5px
    display: block