@import core
@import logged_out_header
@import footer

body
  background-color: #cee7fe
  font-family: Rockwell,Georgia,Times,"Times New Roman",serif


+sticky_footer(74px, "#wrapper", "#wrapper-footer", "#footer")

h1
  font-size: 44px
  color: #1b334a
  padding: 20px 0px 10px
  font-weight: bold
  text-align: center


#main
  width: 800px
  margin: auto
  form
    position: relative
    margin: 50px auto 40px
    +redlightbox
    padding: 14px 24px 26px 24px
    width: 360px
    z-index: 2
    +clearfix
    abbr.required
      display: none
    a
    .inline-errors
      width: 360px
      margin: 0px 0px 0px 0px
      padding: 0px
      text-align: left
      font-size: 13px
      color: #FFFFFF
    .errors
      display: block
      width: 360px
      margin: 0px 0px 0px 0px
      padding: 0px
      text-align: left
      font-size: 13px
      color: #FFFFFF
    h4
      text-align: center
      margin-top: 10px
    fieldset.inputs
      li.hidden
        display: none
      li
        min-height: 60px
        margin: 10px auto 20px auto
        label
          display: block
          text-align: left
          color: #FFFFFF
          font-weight: normal
          font-size: 17px
          text-shadow: #000000 1px 1px 1px
          word-spacing: 1px
          margin-bottom: 8px
        input
          +border-radius(5px)
          +box-shadow(#ccc 1px 1px 2px 0 inset)
          border: 1px solid #ccc
          padding: 0px 5px
          font-size: 22px
          width: 340px
          display: block
          +serif
    fieldset.buttons
      #user_session_submit
        width: 377px
        margin-top: 10px
        margin-bottom: 10px
    .forgot-password
      float: left
      color: #fff
      margin-top: 15px
    .facebook
      margin-top: 15px
      float: right
      margin-right: 6px
 
    &.forgot-password
      .buttons
        text-align: center

