@import core
@import header
@import buttons
@import footer
@import date_picker
@import neutral_notification
@import tour
@import admin_bar
@import main_page/post_box
@import main_page/info_box
@import main_page/community_resources
@import shared/wire
@import shared/replies
@import shared/modal

body
  background-color: #cee7fe
  font-family: Rockwell,Georgia,Times,"Times New Roman",serif

.prelaunch-notification
  +neutral-notification


#main
  width: 990px
  margin: 30px auto 0

#left-column, #right-column
  width: 490px
  float: left

#right-column
  margin-left: 10px

