@import core
@import header
@import footer
@import date_picker
@import neutral_notification
@import tour
@import admin_bar
@import main_page/post_box

body
  background-color: #cee7fe
  font-family: Rockwell,Georgia,Times,"Times New Roman",serif

.prelaunch-notification
  +neutral-notification


#main
  width: 980px
  margin: 30px auto 0

#left-column, #right-column
  width: 490px
  float: left

