@import core
@import header
@import footer
@import date_picker
@import notification
@import replies
@import syndicate
@import post_box
@import small_calendar
@import info_box
@import modal
@import modal_form
@import whats_happening
@import admin_bar

body
  background-color: #cee7fe
  font-family: Rockwell,Georgia,Times,"Times New Roman",serif

#main 
  width: 980px
  margin: auto

#wrap
  +clearfix
  width: 972px
  margin: auto
  color: $baseText

#say-something
  width: 485px
#community-profiles
  width: 487px
  margin-top: 10px
  +border-radius(5px)
#whats-happening
  width: 485px
  +border-bottom-radius(5px)

#information
  +single-box-shadow(#666, 0px, 2px, 7px, -2px)



