@import core
@import item
@import organization
@import profile
@import header
@import modal
@import info_box
@import tabs

#main
  float: right
  width: 972px
  border: 1px solid #ddd
    top: 0px

#wrap
  width: 1140px
header
  width: 1140px

.profile
  border: none

nav#profile_navigation
  margin-top: 50px
  width: 155px
  float: left
  border: 1px solid #ddd
    right: 0px
  padding: 5px
  
  li.level_1
    margin: 10px 0
      
  li.level_2
    margin: 5px 0px 5px 10px
    &:before
      display: marker
      content: "-"
  li.new
    &:before
      display: marker
      content: "+"

h2#management_section_header
  color: #B8413E
  display: inline
  font-size: 1.2em
  padding: 5px 0
  width: 972px
  float: right

nav#profile_section_navigation
  float: right
  width: 974px
  height: 25px
  background-color: $topLinkColor
  padding: 7px 0px
  +border-top-radius($defaultRadius)
  a
    +inline-block
    background-color: white
    padding: 4px 3px
    +border-radius(5px)
    color: #222
    margin: 0 5px

#invite_on_commonplace, #invite_by_email
  width: 50%
  float: left

h3
  margin: 5px