@import core
@import item
@import organization
@import profile
@import header
@import modal
@import info_box
@import tabs

nav#profile_navigation
  margin-top: 37px
  width: 175px
  float: left
  border: 1px solid $lightGray
    right: 0px
  padding: 10px
  
  li.level_1
    margin: 10px 0
      
  li.level_2
    margin: 5px 0px 5px 10px
    &:before
      display: marker
      content: "-"
  li.new
    &:before
      display: marker
      content: "+"
      
#organization_main
  float: right
  width: 776px
#main
  padding: 10px
  border: 1px solid $lightGray
    top: 0px
  padding-bottom: 20px
  margin-bottom: 0px
  
  

.profile
  border: none
  
nav#profile_section_navigation

  background-color: $lightGray
  a
    +sans
    color: #333
    font-weight: bold
    font-size: 12px
    +inline-block
    color: white
    padding: 7px 10px
    color: #222
    border-right: 1px solid white
    &.selected_nav
      background-color: #666
      color: white 

h2#management_section_header
  font-size: 15px
  height: 20px
  padding: 10px 15px 8px
  background-color: $topLinkColor
  color: white
  +border-top-radius($defaultRadius)
  
#invite_on_commonplace, #invite_by_email
  margin: 10px
  width: 465px
  float: left

#invite_by_email
  form
    border: 1px solid $mediumGray

h3
  margin: 5px

#edit_profile
  margin: 10px
  width: 465px
  float: left
    
  hr
    margin: 20px 10px

#profile
  width: 456px
  float: left
