@import core
@import header
@import footer

body
  font-family: Rockwell,Georgia,Times,"Times New Roman",serif
  background-color: #cee7fe

#main
  width: 980px
  margin: auto

h1
  font-size: 49px
  color: #1b334a
  padding: 18px 0px 
  font-weight: bold
  text-align: center
  margin: 5px auto 20px
  width: 960px
  line-height: 1.2
  +text-shadow(#bfc8cf, 1px, 1px, 1px)

form
  margin-right: 75px
  position: relative
  float: right
  display: block
  position: relative
  +redlightbox
  z-index: 2

  li 
    list-style: none

  input[type=text], textarea
    +border-radius(5px)
    +box-shadow(#ccc, 1px, 1px, 2px, 0, inset)
    border: 1px solid #ccc
    padding: 3px 5px
    font-size: 18px
    font-weight: 300
    width: 340px
    display: block
    +serif
    margin: 5px 0 20px

  label
    display: block
    text-align: left
    color: #FFFFFF
    font-weight: 600
    font-size: 14px
    text-shadow: #000000 1px 1px 1px
    line-height: 1.2
    width: 350px

  fieldset
    margin-bottom: 20px
    legend
      color: #FFFFFF
      font-weight: 600
      font-size: 14px
      text-shadow: #000000 1px 1px 1px

    input[type=radio]
      margin-top: 10px

    #feed_avatar_input
      position: relative
      margin-bottom: 60px

    #feed_avatar
      cursor: pointer
      position: relative
      left: 145px
      +opacity(0)
      z-index: 2
      position: absolute
      top: 25px
      height: 30px

    #file_input_fix
      position: absolute
      width: 360px
      margin: 0px 0px 15px

    #file_style_fix
      height: 27px

    #browse_button
      position: absolute
      top: 5px
      right: 8px
      padding: 7px
      height: 20px
      width: 80px
      color: white
      background: #808080
      border: 1px solid #666666
      +border-radius(0 5px 5px 0)
      +box-shadow(#a0a0a0 0px 0px 0px 1px inset)
      cursor: pointer

form.crop
  margin: auto
  float: none
  padding: 25px
  width: 1025px
    
  .jcrop-holder
    margin: auto
      
  input[type=image]
    margin: 20px auto 0
    display: block

#registration_information
  float: left
  margin-left: 58px
  margin-right: 40px
  width: 370px
  position: relative
    
  li 
    +starBullet
    font-size: 16px
    padding-left: 35px

@include sticky-footer(74px, "#wrapper", "#wrapper-footer", "#footer")

