//=require chosen
@import "jquery-ui-1.8.18"

$min-height: 500px
$file-viewer-padding: 10px
 
#main
  width: 1200px
  margin: 50px
  position: absolute
  top: 0 
  bottom: 0

#file-picker 
  position: absolute
  top: 0
  width: 300px
  left: 0
  border: 1px solid #777
  min-height: $min-height + 2*$file-viewer-padding
  height: auto !important
  height: $min-height + 2*$file-viewer-padding
  
.pick-resident
  cursor: pointer
  
.interests
  cursor: pointer

#file-viewer 
  top: 0
  right: 0
  width: 800px
  border: 1px solid #777
  padding: $file-viewer-padding $file-viewer-padding $file-viewer-padding $file-viewer-padding
  min-height: $min-height
  height: auto !important
  height: $min-height

#name
  //text-align: center
  border-bottom: 1px solid

#person-viewer-info
  //text-align:center

#person-viewer-left
  display: inline-block
  width: 100%
  height: 40%
  padding: 5px
  border: 1px solid

#person-viewer-right
  display: inline-block
  vertical-align: top
  width: 100%
  //height: 55%
  padding: 5px
  border: 1px solid

.tag-filter
  cursor: pointer
  margin: 3px
  &[data-state=on]
    background-color: #99ff00
  &[data-state=off]
    background-color: pink

/* Map View */
html 
  height: 100%
body
  height: 100%
  margin: 0
  padding: 0
#map_canvas
  height: $min-height
  width: 100%
