@import "core" ;

#say-something {  
    background-color: #ac322f;
    border: 1px solid #8f2927;

    @include border-radius(5px);
    @include box-shadow(#8f2927 0px -2px 1px  0px inset, #bcd4eb 3px 3px 0px);
    @include clearfix;

    h2 { background-color: #8f2927 ; color: #fff ;

        @include border-top-radius(3px);

        border: 1px solid #8f2927 { bottom-width: 0px  }

        text-align: center;

        font-size: 12px;

        padding: 10px;
        margin-bottom: 0px;
    }
    .wrap {
        padding: 15px;
        border: 1px solid #8f2927 { top-width: 0px ; }
        @include border-bottom-radius(3px);
        @include clearfix ;
        
        div.nav {
            width: 145px; margin-right: 15px; float: left;

            a { width: 86px;
                display: block;
                margin-bottom: 8px;
                line-height: 14px;
                text-decoration: none;
                font-size: 12px;
                vertical-align: middle;
                height: 40px;
                padding: 8px 20px 8px 35px;

                background: { repeat: no-repeat;
                              image: url('/images/post-box-button-sprite2.png'); }

                &.post { background-position: -143px -1px }
                &.announcement { background-position: -143px -57px }
                &.event { background-position: -143px -114px }
                &.group_post { background-position: -143px -171px }

                &.post.current { background-position: -1px -1px }
                &.announcement.current { background-position: -1px -57px }
                &.event.current { background-position: -1px -114px }
                &.group_post.current { background-position: -1px -170px }
            }
        }

        .information {
            p {
                line-height: 1.3 ;
                a { color: #eee }
            }
        }
        form {
            display: block;
            width: 290px;
            float: right;
            @include border-bottom-radius(3px);
            color: #fff !important;
            font-size: 13px;
            legend { font-size: 12px ; line-height: 1.4 ; color: white }

            fieldset.inputs li { margin-bottom: 15px }

            label { display: block ; color: #fff ; padding-bottom: 5px ; font-size: 14px }

            input[type=text] { width: 280px ; padding: { left: 5px ; right: 5px } }
            textarea { width: 280px ; padding: { left: 5px ; right: 5px } }

            input[type=text], textarea {
                font-size: 15px;
                font-family: Rockwell, Georgia, Times, Serif ;
                @include border-radius(5px);
                @include box-shadow(#eee, 1px, 1px, 3px, 0, inset);
            }

            #event_start_time_input { float: left ; margin-right: 40px }

            fieldset.buttons { float: right ;
                               li { display: inline }
                               li.commit { padding-left: 10px } 
                             }
            
            &#new_post textarea { height: 100px }
        }
    }
}
