@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700)
@import url(http://fonts.googleapis.com/css?family=Ultra)
@import url(http://fonts.googleapis.com/css?family=Yellowtail)
@import core
@import header
@import "compass/reset"
@import "compass/css3/gradient"

/* Woo colors */

$blue: #1b334a
$dark-blue: #151f28
$light-blue: #32485c
$red: #ac322f
$dark-red: darken($red, 20%)
$black: #333
$dark-grey: #888
$light-grey: #e8e8e8
$off-grey: #eeecdf
$search-box: #b7c3cf
$dark-tan: #bcbbae

$Ultra: 'Ultra'
$Yellowtail: 'Yellowtail'
$Rokkitt: 'Rokkitt'

/* Woo Fonts */
$heading: 'Rokkitt', RockwellSTD, Rockwell, sans-serif
$body: Helvetica Neue, Helvetica, Tahoma, serif

/* Woo Shadows */
$black-shadow: 0px 2px 1px black

body 
  background: url("shared/redesign/bg.jpg") no-repeat center top

.slide 
  display: none
.selected
  display: block

#about
  width: 1100px
  margin: 0 auto
    top: 150px
  .header 
    height: 37px
    background: url("shared/redesign/red-bg.png")
    padding: 13px 0 18px 40px
    h2 
      color: white
      font-family: $Yellowtail
      text-shadow: 4px 4px 1px $blue
      font-size: 40px
      float: left
    ul.nav 
      list-style-type: none
      margin-top: 5px 
      position: relative 
      left: 40px
      top: 10px
      li 
        float: left 
        margin-right: 20px
        a 
          font-family: $Rokkitt
          text-decoration: none
          color: white
          font-size: 18px
          padding: 5px 7px
        &:hover 
          a 
            background-color: darken($red, 10%)
            border-radius: 4px
      li.selected
        a 
          background-color: darken($red, 10%)
          border-radius: 4px

  .content
    background: #f5f3e9
    padding: 30px 
      left: 40px
    height: 400px
    .left 
      width: 500px
      border-right: 1px solid #d3d1c9
      float: left
      overflow-y: scroll
      height: 380px
      a 
        color: $red
        text-decoration: none
        &:hover
          text-decoration: underline
      h3
        font-family: $Rokkitt
        color: $blue
        font-size: 26px
        padding-bottom: 20px
        font-weight: bold
      p 
        color: #424242
        font-family: $Rokkitt
        width: 465px
        font-size: 18px
        margin-bottom: 15px
        line-height: 1.25em
      .highlight
        color: $blue 
        font-size: 19px 
        margin-top: 15px 
        margin-bottom: 15px
        font-weight: bold
    .right 
      border-left: 1px solid white
      width: 460px
      height: 378px
      float: left
      padding-left: 40px
      h3
        font-family: $Rokkitt
        color: $blue
        font-size: 26px
        text-align: center
        padding-bottom: 20px
      h2 
        font-family: $Yellowtail
        font-size: 38px
        color: $red 
        text-align: center
        background: url("shared/redesign/about-stars.png") no-repeat center
      #password, #full_name, #email
        position: relative
        float: left
        width: 100%
      .input_error
        background: #EEECDF url(/assets/shared/redesign/background.gif) center
        box-shadow: inset #B5B196 0px 0px 3px 2px, rgba(255,255,255,.25) 0px 1px 1px
      .input_error::-webkit-input-placeholder
        color: $red
      .error
        font-size: 11px
        color: #fff
        max-width: 250px
        font-family: Helvetica, Arial, sans-serif
        font-weight: bold
        position: absolute
        bottom: 40px
        right: -10px
        background: url('shared/redesign/error-bg.png')
        background-repeat: no-repeat
        background-position: bottom left
        padding: 10px 12px 18px 12px
        line-height: 14px
        text-align: left
        display: none
      .registration 
        margin-top: 25px
        width: 476px
      .your-name 
        width: 215px 
        float: left
      .your-email
        float: right 
        width: 215px
      input
        width: 460px
        height: 20px
        padding: 8px
        font-family: $Rokkitt
        color: $blue
        border: none
        font-size: 18px
        background: white
        margin-bottom: 10px
        box-shadow: inset #C8C8C8 0px 0px 3px 2px, rgba(255,255,255,.25) 0px 1px 1px
        &:last-child
         margin-bottom: 30px
      input::-webkit-input-placeholder
       color: #888
      input:-moz-placeholder
       color: #888
      textarea
        width: 460px
        height: 100px
        padding: 8px
        font-family: $Rokkitt
        color: $blue
        border: none
        font-size: 18px
        background: white
        margin-bottom: 20px
        box-shadow: inset 0px 1px 6px rgba(0, 0, 0, .5)
      textarea::-webkit-input-placeholder 
        color: #888
      textarea:-moz-placeholder 
        color: #888
      button 
        -webkit-font-smoothing: antialiased
        background: $blue
        width: 475px
        padding: 10px 0
        letter-spacing: 1px
        font-family: $Ultra
        font-size: 20px
        border: 1px solid #151f28
        color: white
        text-transform: uppercase
        +linear-gradient(color-stops(#2e5274, #1b334a), top)
        box-shadow: 1px 1px 1px rgba(0,0,0,.25)
        text-shadow: 1px 2px 3px rgba(0,0,0,.65)
        cursor: pointer
        margin-top: 12px
        &:hover, &:focus
         color: #fff
         +linear-gradient(color-stops(#2e5274, #1b334a), top)
         text-shadow: 1px 2px 3px rgba(0,0,0,.65)
         box-shadow: 0px 2px 4px rgba(0,0,0,.65)
        &:active
         color: #fff
         +linear-gradient(color-stops(#2e5274, #1b334a), bottom)
         text-shadow: -1px -1px -1px rgba(0,0,0,.65)
         box-shadow: 1px 1px 1px rgba(0,0,0,.25)
      .facebook
        margin: 0 auto
          top: 15px
        width: 345px
        text-align: left
        a 
          cursor: pointer
          background: url("shared/redesign/fbreg.png") no-repeat center
          text-indent: -9999px
          height: 32px
          display: block
          margin-left: 100px
          width: 245px
          font-size: 18px
          text-transform: uppercase
        p
          color: #979695
          font-family: $Rokkitt 
          padding-top: 6px
          float: left
          font-size: 20px

#header
  height: 60px
  width: 100%
  background: $blue
  position: fixed
  top: 0
  z-index: 9999
  box-shadow: 0px 1px 10px #434343
  border: 2px solid $light-blue
    left: none
    right: none
  .community-name
    width: 233px
    float: left
    background: image-url("shared/redesign/commonplace-icon.png") no-repeat
    padding-left: 60px
    height: 60px
    background-position: 20px 14px
    position: relative
    border-right: 1px solid $dark-blue
    border-left: 1px solid $dark-blue
    box-shadow: inset 1px 0 0 $light-blue
    h1
      color: white
      text-shadow: $black-shadow
      font-size: 22px
      margin-top: 20px
      font-family: $heading
      a
        underline: none
        color: white

  .right
    width: 113px
    float: right
  .top-bar
    width: 803px
    border-left: 1px solid $light-blue
    height: 60px
    border-right: 1px solid $light-blue
    box-shadow: inset -1px 0px 0px 0px $dark-blue
    h2
      float: left
      margin-top: 20px
      color: white
      text-shadow: $black-shadow
      font-size: 22px
      font-family: $heading
      margin-left: 20px
    .right
      input[type=text]
        font-size: 12px
        width: 150px
        box-shadow: inset 0 1px 1px black
        margin-top: 13px
        font-weight: bold
        float: left
        border: 1px solid $dark-blue
        border-radius: 5px
        padding: 7px
        background: $search-box image-url("shared/redesign/search.png") no-repeat right
        outline: none
        background-position-x: 143px
      input::-webkit-input-placeholder
        color: $blue
      
      .messages
        background: image-url("shared/redesign/mail-icon.png") no-repeat
        width: 29px
        height: 22px
        float: left
        display: block
        text-indent: -9999px
        margin-top: 17px
        margin-left: 20px
      .settings
        background: image-url("shared/redesign/settings-icon.png") no-repeat
        height: 24px
        margin-left: 20px
        margin-top: 17px
        width: 24px
        float: left
        display: block
        text-indent: -9999px
span#apply-btn, span#nominate-btn, .register-btn
  font-size: 20px
  @include background(linear-gradient(top center, #ce403c $red))
  padding: 3px 25px
  color: white
  font-family: $Rokkitt
  box-shadow: inset 0px 1px 1px rgba(255,255,255,.2)
  border: 1px solid $red
  text-shadow: 1px 1px 1px black
  cursor: pointer
  margin-left: 20px
  margin-top: 1px
  display: block
  float: left

.register-btn 
  margin: 0
    left: 105px 
    top: -6px
  a 
    text-decoration: none

#header
  height: 33px 
  padding: 10px 0