@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700)
@import url(http://fonts.googleapis.com/css?family=Ultra)
@import url(http://fonts.googleapis.com/css?family=Yellowtail)
@import "compass/reset"
@import "compass/css3/gradient"

/* Woo colors */

$blue: #1b334a
$dark-blue: #151f28
$light-blue: #32485c
$red: #ac322f
$dark-red: darken($red, 20%)
$black: #333
$dark-grey: #888
$light-grey: #e8e8e8
$off-grey: #eeecdf
$search-box: #b7c3cf
$dark-tan: #bcbbae
$tan: #F5F3E9
$light-tan: #FCFAF4

$Ultra: 'Ultra'
$Yellowtail: 'Yellowtail'
$Rokkitt: 'Rokkitt'

/* Woo Fonts */
$heading: 'Rokkitt', RockwellSTD, Rockwell, sans-serif
$body: Helvetica Neue, Helvetica, Tahoma, serif

/* Woo Shadows */
$black-shadow: 0px 2px 1px black

em
  font-style: italic
strong
  font-weight: bold 
  
/* Woo Buttons */
.red-button
  background: $red
  border-radius: 4px
  color: #fff
  text-shadow: 1px 1px 1px #541513
  font-weight: bold
  height: 18px
  font-family: $heading
  +linear-gradient(color-stops(#d0413d, #ac322f), top)
  display: block
  font-size: 22px
  text-decoration: none
  border: 1px solid
  border-color: #ac322f
  box-shadow: inset 0px 1px 1px #e28986
  padding: 15px
    top: 8px
    bottom: 16px
  &:hover, &:focus
    color: #fff
    +linear-gradient(color-stops(#ee5a56, #b53633), top)
    text-shadow: 1px 1px 1px #541513
    box-shadow: 0px 2px 4px #adab9f
  &:active
    color: #fff
    +linear-gradient(color-stops(#d64541, #ac322f), bottom)
    text-shadow: -1px -1px -1px #cb5450

.green-button
  background: green
  border-radius: 4px
  color: #eeecdf
  text-shadow: 1px 1px 1px black
  font-weight: bold
  height: 18px
  font-family: $heading
  +linear-gradient(color-stops(#62AF46, #569E3F), top)
  display: block
  font-size: 20px
  text-decoration: none
  border: 1px solid
  border-color: #569E3F
  box-shadow: inset 0px 1px 1px #569E3F
  padding: 15px
    top: 13px
    bottom: 13px
  &:hover, &:focus
    color: #fff
    +linear-gradient(color-stops(#62AF46, #569E3F), top)
    box-shadow: 0px 2px 4px #adab9f
  &:active
    color: #fff
    +linear-gradient(color-stops(#62AF46, #569E3F), bottom) 
    
.blue-button  
  -webkit-font-smoothing: antialiased
  background: $blue
  width: 100%
  padding: 10px 20px
  letter-spacing: 1px
  font-family: $Ultra
  font-size: 20px
  border: 1px solid #151f28
  color: white
  text-transform: uppercase
  +linear-gradient(color-stops(#2e5274, #1b334a), top)
  box-shadow: 1px 1px 1px rgba(0,0,0,.25)
  text-shadow: 1px 2px 3px rgba(0,0,0,.65)
  cursor: pointer
  margin-top: 0px
  &:hover, &:focus
    color: #fff
    +linear-gradient(color-stops(#2e5274, #1b334a), top)
    text-shadow: 1px 2px 3px rgba(0,0,0,.65)
    box-shadow: 0px 2px 4px rgba(0,0,0,.65)
  &:active
    color: #fff
    +linear-gradient(color-stops(#2e5274, #1b334a), bottom)
    text-shadow: -1px -1px -1px rgba(0,0,0,.65)
    box-shadow: 1px 1px 1px rgba(0,0,0,.25)

/* Overall Styles */
.right
  float: right
.left
  float: left
.clear
  clear: both

$darkRed: #ad312f
$darkBlue: #1b334a


#tour-shadow
  position: fixed
  top: 0px 
  left: 0px
  bottom: 0px 
  right: 0px
  background-color: #000 
  @include opacity(0.65)
  z-index: 1000

#tour
  position: fixed
  left: 0px
  top: 0px
  margin-top: 65px
  -webkit-font-smoothing: antialiased
  a
    text-decoration: none

#current-tour-page, #next-tour-page
  display: none
  position: absolute
  z-index: 2000000
  padding-bottom: 30px
  font-family: $heading

.welcome
  background: image-url("shared/redesign/welcomebg.png") no-repeat center
  width: 460px
  height: 395px
  padding: 70px 35px 100px 35px
  position: relative

.welcome-to
  background: image-url("tour/welcome-to.png") no-repeat center
  height: 36px

  .community-name 
  margin-top: 10px
  color: $darkBlue
  font-size: 50px
  font-family: Rockwell, Georgia, Times, serif
  text-shadow: 1px 1px 1px #fff, 2px 2px 0 $darkRed
  font-weight: bold
  text-align: center

.welcome .inside 
  position: relative
  top: 125px
  width: 495px
  left: 15px 

.welcome h4 
  font-family: $Yellowtail
  color: $blue
  font-size: 40px
  margin: 0
  position: relative
  top: 2px
  text-align: center 
  margin-left: -5px
  text-shadow: 1px 2px 0px #fff

.welcome h3 
  font-family: $heading
  font-size: 72px
  text-align: center
  letter-spacing: 1px
  text-shadow: 2px 2px 0px #fff
  color: white
  margin: 0
  text-transform: capitalize 
  font-weight: bold
  color: $red
  margin-top: 12px

.welcome .white-box 
  width: 400px
  margin: 0 auto
  margin-top: 20px
  padding: 15px
  padding-top: 20px
  padding-bottom: 18px
  border-radius: 5px
  background-color: #f8f6ec
  text-align: center 
  border: 1px solid #C9C4B4
  box-shadow: inset #DDD 0px 0px 3px 2px, rgba(255, 255, 255, 1.0) 0px 1px 0px

.welcome p 
  margin: 0
  font-family: $heading
  color: $black
  font-size: 20px
  font-weight: bold
  text-shadow: 0px 1px 0px #fff

p.welcome-divider
  background: image-url("shared/redesign/welcome-divider.png") no-repeat center
  text-align: center
  width: 100%
  color: $red

.welcome .bottom 
  width: 430px
  font-size: 18px
  margin: 0 auto
  margin-top: 30px
  color: white
  font-family: $heading 

.welcome ul 
  font-family: $heading
  padding-left: 5px
  margin: 15px auto 25px

.welcome ul li 
  color: $black
  margin-bottom: 5px
  font-size: 18px
  line-height: 30px
  background: url("shared/redesign/star-red.png") no-repeat 0 6px
  text-indent: 26px
  text-shadow: 0px 1px 0px #fff
  
.welcome_button
  display: block
  width: 290px
  margin: 0px auto
  
.white-box p 
  color: $blue
  font-size: 24px
  font-weight: normal
  
.registration_border
  float: left
  padding: 30px
  border: 3px solid #CFCCC1
  border-radius: 5px
  box-shadow: 1px 1px 0px white, inset 1px 1px 0px white

#findNeighbors 
  display: inline-block
  width: 610px
  background-color: #eeecdf
  background: url(shared/redesign/tan-bg.png) center center
  z-index: 1000
  margin-top: 0px
  margin-right: 0px
  margin-left: 0px
  margin-bottom: 0px
  padding: 15px
  border-radius: 5px
  box-shadow: 0px 2px 1px #000, inset 0px 1px 0px #fff
  border: 1px solid white
  .find_title
    font-size: 46px
    //background: url(shared/redesign/stars-subscribe.png) no-repeat 0px -7px
    text-align: center
    font-family: $Yellowtail
    text-shadow: 0px 2px 0px #fff
    color: $red
    margin: -10px auto 20px auto
    padding-bottom: 0px
  span.divider
    margin-top: 0px
    width: 100%
    
#civicProfile, #norms
  width: 610px
  overflow: none
  background-color: #eeecdf
  background: url(shared/redesign/tan-bg.png) center center
  z-index: 1000
  margin-top: 0px
  margin-right: auto
  margin-left: auto
  margin-bottom: 30px
  padding-bottom: 40px
  float: left
  position: relative
  border-radius: 5px
  border: 1px solid #fff
  color: #333
  padding: 15px
  box-shadow: 0px 2px 1px #000, inset 0px 1px 0px #fff
  span.divider
    margin-bottom: 30px
    float: left
    width: 100%
    height: 3px
    background-color: #CFCCC1
    border-bottom: 1px solid #fff
  img.find_title 
    margin: 15px auto 0px 30px
  .civic_title, .norms_title
    font-size: 46px
    //background: url(shared/redesign/stars-subscribe.png) no-repeat 0px -7px
    text-align: center
    font-family: $Yellowtail
    text-shadow: 0px 2px 0px #fff
    color: $red
    margin: -10px auto 20px auto
    padding-bottom: 0px
  .civic_left
    float: left
    width: 122px
    margin-right: 24px
    color: #888
    text-shadow: 0px 1px 0px #fff
    text-align: center
    font-family: $heading
    font-size: 18px
    img.profile_pic
      margin-bottom: 20px
      width: 122px
    .not-facebook
      height: 45px
      line-height: 11px
  .civic_right
    float: right
    width: 396px
    color: #333
    input
      width: 378px
      margin-top: 0px
      margin-bottom: 20px
      -webkit-font-smoothing: antialiased
      font-size: 18px
      padding: 8px
      height: auto
      font-family: $heading
      color: #333
      border: 1px solid #C9C4B4
      box-shadow: inset #DDD 0px 0px 3px 2px, white 0px 1px 0px
      background-color: #fff
      input::-webkit-input-placeholder
        color: #555
    textarea
      width: 378px
      height: 50px
      margin-top: 0px
      margin-bottom: 15px
      -webkit-font-smoothing: antialiased
      font-size: 18px
      padding: 8px
      font-family: $heading
      color: #333
      border: 1px solid #C9C4B4
      box-shadow: inset #DDD 0px 0px 3px 2px, white 0px 1px 0px
      background-color: #fff
      input::-webkit-input-placeholder
        color: #555
  
#civicProfile div.civic_left div.not-facebook div a.avatar_file_browse
  text-transform: uppercase
  color: white
  font: bold 10px $body
  background-color: #1B334A
  padding: 7px 0px
  border-radius: 5px
  text-shadow: none
  display: block
  width: 121px
  margin-left: 1px
  margin-top: -3px

#civicProfile div.civic_left div.to-facebook img.facebook
  margin-top: 12px
  
#civic_button
  float: right
  margin-top: 20px
  margin-top: 10px
  .next-button
    float: right
    width: 160px
    text-align: center
  
#find_left 
  width: 270px
  height: 412px
  float: left
  margin-left: 30px
  margin-right: 5px

#find_right 
  width: 270
  height: 412
  float: right
  margin-right: 30px
  margin-left: 5px

#buttons a 
  background: #2e5172
  border-radius: 0px
  color: #ffffff
  text-shadow: 1px 1px 1px black
  height: 17px
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e5172), color-stop(100%, #1c344b))
  background-image: -webkit-linear-gradient(top, #2e5172, #1c344b)
  background-image: -moz-linear-gradient(top, #2e5172, #1c344b)
  background-image: -o-linear-gradient(top, #2e5172, #1c344b)
  background-image: -ms-linear-gradient(top, #2e5172, #1c344b)
  background-image: linear-gradient(top, #2e5172, #1c344b)
  display: block
  text-decoration: none
  border: 1px solid
  border-color: #1c344b
  box-shadow: inset 0px 1px 1px #2e5172
  padding: 0px 15px 11px
  width: 97px
  float: right
  position: relative
  font: bold 13px/0 "Rokkitt", RockwellSTD, Rockwell, sans-serif
  margin-left: 6px
  top: 10px

  img 
    position: relative
    top: 4px

#find_left h3 
  font-family: $heading
  color: #fffeff
  text-shadow: #000000 0px 0px 0

#search 
  width: 226px
  margin-left: -14px
  margin-top: -13px
  font-size: 13px

#invite_friends 
  width: 350px
  font-size: 13px
  font-family: $heading
  line-height: 20px
  color: $black
  float: left
  text-align: left
  margin: 0px

  ul 
    height: 23px
    position: relative
    bottom: 7px
    margin-bottom: 10px

    li 
      display: inline-block
      margin-left: 21px

      input 
        width: 25px
        height: 25px
        position: relative
        top: 5px

#neighbor_find 
  height: 300px
  background-color: #eeede0
  margin-top: 57px
  padding: 20px


#findNeighbors ul.subscribe_categories
  margin: 0px auto
  padding-bottom: 20px
  text-align: center
  margin-left: -1px

  li 
    display: inline-block
    margin-right: 7px
    padding: 6px 7px 4px 7px
    border-radius: 5px
    &:last-child
      margin-right: 0px
    &:hover
      display: inline-block
      background-color: $blue
      a
        color: #fff
        text-shadow: none

#findNeighbors ul.subscribe_categories li a 
  color: $blue
  font-size: 18px
  text-decoration: none
  padding: 0px
  top: 0px
  font-weight: bold
  text-shadow: 0px 1px 0px #fff

#subscribe_pages
  width: 517px
  margin-right: auto
  margin-left: auto
  height: 320px
  overflow: auto
  overflow-x: hidden
  background-color: #F7F5EA
  border: 1px solid #C9C4B4
  box-shadow: inset #dfdbcd 0px 0px 3px 2px, rgba(255, 255, 255, 1.0) 0px 1px 0px
  padding: 0px 10px 10px 15px
  border-radius: 0px
  margin-bottom: 5px
  div.page_category
    margin-bottom: 15px
  ul.subscribe_pages
    margin-bottom: 0px
    margin-right: 0px

#subscribe_pages ul.subscribe_pages li 
  overflow: hidden
  width: 215px
  padding: 15px
  background-color: #fff
  margin-right: 0px
  margin-left: 0px
  margin-bottom: -10px
  margin-top: 15px
  height: 65px
  border-radius: 5px
  border: 1px solid #ddd
  //box-shadow: 0px 1px 2px #ebe8d9
  
#subscribe_pages div.check
  overflow: hidden
  height: 50px

#subscribe_pages ul.subscribe_pages li:hover
  border: 1px solid $blue
  cursor: pointer
  box-shadow: 0px 3px 3px #ccc
  a h4
    color: $red
    font: 14px Helvetica, sans-serif
  a span.page_text
    color: $red
    font: 12px Helvetica, sans-serif

#subscribe_pages ul.subscribe_pages li:active
  box-shadow: none
  border: 1px solid $blue
  
#subscribe_pages ul.subscribe_pages li a 
  display: inline-block
  float: left
  color: $dark-tan

#subscribe_pages ul.subscribe_pages li div.avatar-container
  width: 50px
  height: 50px
  float: left
  margin-right: 12px
  border-radius: 5px
  background-color: #ccc
  overflow: hidden
  background-position: top center
  background-size: cover
  background-repeat: no-repeat
  margin-bottom: 25px

#subscribe_pages ul.subscribe_pages li h4 
  font: bold 14px Helvetica, Arial, sans-serif
  overflow: hidden
  color: $blue
  margin-bottom: 3px

#subscribe_pages ul.subscribe_pages li span.page_text 
  color: #333
  font: 12px Helvetica, Arial, sans-serif
  display: block
  line-height: 16px
  
#subscribe_pages ul.subscribe_pages li .description-container
  overflow: hidden
  width: 152px
  height: 70px

#subscribe_pages ul.subscribe_pages li.check.checked
  border-color: $blue

#subscribe_pages ul.subscribe_pages li.check
  input
    display: none

#invite_friends p
  font-size: 16px
  line-height: 22px
  margin-top: 25px
  color: $black

#invite_friends p a 
  font-size: 16px
  line-height: 20px
  color: $red
  font-weight: bold
  text-decoration: underline
  &:hover
    text-decoration: none

#registration1 div.redbox.address div#find_button a.blue-button.next-button
  position: relative
  top: 35px
  right: 25px


img.page_img
  width: 64px
  height: 64px
  float: left

#subscribe_pages a h2
  color: $red
  padding-top: 20px
  margin-bottom: 0px
  font-size: 18px
  font-weight: bold
  text-shadow: 1px 1px 0px #fff
  padding-left: 1px

.find_neighbors
  width: 380px
  float: right
  div.button
    float:left
    margin-left: 16px
    text-transform: uppercase
    font-weight: bold
    font-size: 10px
    background: #1b334a
    padding: 4px 12px
    color: white
  input.name, input.email
    float: left
    width: 130px
  input.search
    width: 371px
    +border-radius(5px)
    +box-shadow(#ccc 1px 1px 2px 0 inset)
    border: 1px solid #ccc
    padding: 5px 5px
    font-size: 18px
    font-weight: 300
    display: block
    font-family: Helvetica, sans-serif
  .know
    line-height: 25px
    margin-top: 12px
    background: #8C2523
    width: 367px
    +border-radius(4px)
    padding: 5px
    color: white
    font-family: Helvetica
    font-size: 14px
    text-align: center
  .remove_search
    position: absolute
    top: 43px
    right: 30px
    width: 25px
    height: 25px
    background-repeat: no-repeat
    &.loading
      background-image: image-url("shared/icons/waiting.gif")
    &.active
      background-image: image-url("shared/icons/cancel.png")
      cursor: pointer
    &.inactive
      background-image: image-url("icons/search.png")
  
  .neighbor_finder, .search_finder
    margin-top: 10px
    width: 380px
    background: white
    overflow-y: scroll
    height: 285px
    +border-radius(5px)
    border: 1px solid black
    
    .no_results, .initial_load
      background: white
      +border-radius(5px)
      text-align: center
      margin-top: 10px
      padding: 5px
      margin-left: 10px
      margin-right: 10px
      .query
        color: #1b334a
        font-weight: bold
        
    .initial_load
      height: 120px
      background-image: image-url("loading.gif")
      background-position: center center
      background-repeat: no-repeat
    
    table 
      font-family: Helvetica
      font-size: 13px
      border-spacing: 10px
      border-collapse: separate
      background: white
      
      td
        width: 150px
        padding: 10px
        margin-top: 14px
        border: 1px solid #dadada
        border-collapse: collapse
        &.checked, &:hover
          &.checked, &:hover
            background: #EEF5DF
            cursor: pointer
          &.checked
            border: 1px solid #CCDAAE
            +box-shadow(#bbb 2px 2px 2px)
        img
          float: left
          margin-right: 10px
        .lName
          margin-top: 3px
        .on-commonplace
          font-size: 8px
          margin-top: 12px
          color: #ac322f
        input[type=checkbox]
          display: none

#RealFindNeighbors
  width: 670px
  background-color: #eeecdf
  background: url(shared/redesign/red-bg.png)
  z-index: 1000
  margin: 70px auto 30px
  padding: 10px 0px 20px 0px
  font-family: $heading
  color: #fff
  right: 380px
  float: left
  border-radius: 5px
  -webkit-font-smoothing: antialiased

  #search 
    width: 585px
    height: 20px
    margin: 10px 0px 20px 0px
    font-size: 18px
    padding: 8px
    font-family: $Rokkitt
    color: $blue
    background: #fff
    float: left
    border: 1px solid #821916
    box-shadow: inset #C8C8C8 0px 0px 3px 2px, rgba(255,255,255,.25) 0px 2px 0px
    -webkit-font-smoothing: antialiased

  .find_known
    width: 600px
    font-size: 24px
    padding: 18px 0px 18px 0px
    text-align: center
    background: darken($red, 13%)
    margin: 0px auto 30px auto

  .find_steps
    width: 586px
    margin-left: 35px

    p
      line-height: 14px
      font-size: 17px

  #buttons
    margin-bottom: 40px
    margin-top: 8px
    margin-left: -10px
    width: 271px
    a 
      background: #2e5172
      border-radius: 0px
      color: #ffffff
      text-shadow: 1px 1px 1px black
      display: block
      text-decoration: none
      padding: 0px 10px 15px 10px
      position: relative
      font: bold 16px/0 $heading
      margin-left: 10px
      border: 1px solid #151f28
      +linear-gradient(color-stops(#2e5274, #1b334a), top)
      box-shadow: 1px 1px 1px rgba(0,0,0,.25)
      text-shadow: 1px 2px 3px rgba(0,0,0,.65)
      cursor: pointer
      &:hover, &:focus
        color: #fff
        +linear-gradient(color-stops(#2e5274, #1b334a), top)
        text-shadow: 1px 2px 3px rgba(0,0,0,.65)
        box-shadow: 0px 2px 4px rgba(0,0,0,.65)
      &:active
        color: #fff
        +linear-gradient(color-stops(#2e5274, #1b334a), bottom)
        text-shadow: -1px -1px -1px rgba(0,0,0,.65)
        box-shadow: 1px 1px 1px rgba(0,0,0,.25)
      img 
        position: relative
        top: 5px

  #invite_friends
    p
      width: 450px
      margin-left: 0px
      font-size: 18px
    ul
      margin-left: 0px
      li
        margin-right: 15px
        margin-left: 0px
        input
          top: 7px
          width: 20px

div#RealFindNeighbors div#find_bottom #invite_friends
  margin-left: 35px
  margin-top: 5px
  font-size: 18px

div#RealFindNeighbors div#find_bottom
  margin-top: 0px

//div.welcome div.bottom input.next-button.blue-button
  width: 130px
  position: relative
  top: 15px
  right: 150px
  cursor:  pointer

div#find_button
  margin: 35px auto 0px auto
  width: 200px
  
div#findNeighbors.container div#find_bottom #find_button a.blue-button.next-button
  padding: 10px 20px
  text-align: center
  width: auto
  position: relative
  top: 0px
  right: 0px
  margin: 25px 0px 0px 0px
  display: block

div#RealFindNeighbors.container #find_button a.blue-button.next-button
  margin-top: 5px
  width: 170px
  float: right
  margin-right: -40px
  text-align: center

#civicProfile div.civic_right ul.chzn-choices
  width: 394px
  margin-bottom: 15px
  margin-top: -5px
  border: 1px solid #c9c4b4
  box-shadow: inset #ddd 0px 0px 3px 2px, #fff 0px 1px 0px
  li.search-field input
    box-shadow: none
    margin: 0px
    border: 0 none
    color: #555

input::-webkit-input-placeholder
  color: #555 !important

textarea::-webkit-input-placeholder
  color: #555 !important  

#civicProfile div.chzn-drop
  width: 394px !important
  border: 1px solid #c9c4b4
  box-shadow: inset #ddd 0px 0px 3px 2px, #fff 0px 1px 0px
  margin-top: -15px
  ul.chzn-results li
    border-bottom: 1px dotted #ccc
    padding: 12px 8px
    color: #333
    font-size: 16px
    font-family: $heading
    &:hover
      color: $red
      background-color: #eee
.chzn-container .chzn-results .highlighted
  background-color: #eee
.chzn-container-multi .chzn-choices .search-choice
  font-size: 16px
  margin-top: 7px
  margin-bottom: 0px
.chzn-container-active .chzn-choices .search-field input
  color: #333 !important
  input::-webkit-input-placeholder
    color: #555 !important
div#subscribe_pages ul.subscribe_pages div
  display: inline-block
  width: 50%

  
/* Norms Page */

#norms
  font-size: 18px
  p
    line-height: 22px
    margin-bottom: 13px
    a
      color: $red
      &:hover
        text-decoration: underline
  .norms_title
    margin-top: -5px
  span.divider
    margin-bottom: 20px
  ol#rules
    float: left
    width: 100%
    margin-top: 10px
    li
      list-style-type: none
      list-style-position: inside
      float: left
      width: 100%
      margin-bottom: 15px
      &:last-child
        margin-bottom: 10px
      img
        border-radius: 5px
        float: left
        margin-top: 4px
      p
        float: right
        width: 465px
      strong
        color: $red
        font-size: 17px
        margin-right: 2px
  #norms_button
    margin: 20px auto 0px auto
    text-align: center
    display: block
    width: 200px
    .next-button
      display: block
      width: auto
