<div class="plane_header">
  <h2>Participate in the {{community_name}}</h2>
  <h1>Community Art Project!</h1>
</div>
<div class="how">
  <h3 class="how-h3">How the Community Art Project Works</h3>
  <div class="left">
    <dl>
      <dt>1.  Submit a photo or video</dt>
      <dd>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </dd>
      <dt>2.  We sent it out to the community across the daily bulletin</dt>
      <dd>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</dd>
      <dt>3.  The person with the most 'thanks' is awarded first place</dt>
      <dd>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</dd>
    
  </div>
  <div class="right">
    <h4>Finished?</h4>
    <h3>Submit Your Artwork!</h3>
    <form>
      <label for="video">Video:</label>
      <input type="text" name="video" id="video" placeholder="Copy and paste your YouTube video link here">
      <p>Example: http://www.youtube.com/watch?v=aAsWeryg34F</p>
      <label for="photo">Photo:</label>
      <input type="text" name="photo" id="photo" placeholder="commonplace-art-project.png">
      <input type="file" id="upload">
      <p>File must be in JPG or PNG format and be less than 500kb</p>
      
    </form>
  </div>
</div>
