<div class="plane_header">
  <h2>Participate in the {{community_name}} CommonPlace</h2>
  <h1>Annual Community Awards</h1>
</div>
<div class="banner">
  <p>The Chelmsford CommonPlace is hosting two town awards to recognize the best of the Chelmsford community.</p>
</div>
<div class="how">
  <h3 class="how-h3">Community Art Contest</h3>
  <div class="left">
    <dl>
      <dt>Submit.</dt>
      <dd>Submit a video or image of original artwork related to the town of Chelmsford.  It can be a video, a photograph, a recorded song, a painting, a poem you read... anything that has to do with the public life of your hometown. You must be under 21 to submit. Submissions will open on March 15th and close on March 30th. Fill out the form to the right to enter.</dd>
      <dt>We'll Publicize.</dt>
      <dd>We will publicize entrants on a rolling basis. When you send them in, we will send them to the town across the Chelmsford CommonPlace network. If you have not signed up for the Chelmsford CommonPlace yet, you can do it here.</dd>
      <dt>Get thanks.</dt>
      <dd>We’ll award the top prizes to the civic artwork with the most commnets or ‘thanks’ on CommonPlace. $250 to the first place winner and $50 to the second and third place winners.</dd>
      <dt>Be seen.</dt>
      <dd>All artwork will be displayed on a page on CommonPlace, for people to continue to enjoy. In addition, we will be honoring the winners and all who submitted at a town gala in early April.</dd>
    </dl>
    
  </div>
  <div class="right">
    <h4>Finished?</h4>
    <h3>Submit Your Artwork!</h3>
    <form>
      <input type="text" name="name" id="name" placeholder="Enter your first and last name">
    
      <input type="text" name="email" id="email" placeholder="Enter a parents email">
    
      <input type="text" name="video" id="video" placeholder="Copy and paste YouTube video URL">
      <input type="text" class="browsei" name="photo" id="photo" placeholder="commonplace-art-project.png">
      <div class="upload">Upload</div>
      <p class="help">File must be in JPG or PNG format and be less than 500kb</p>
      <div class="submit">Submit</div>
    </form>
  </div>
</div>
<div class="nominate">

  <h3 class="how-h3">Community Heroes Award</h3>
  <div class="left">
    <dl>
      <dt>Nominate a neighbor.</dt>
      <dd>The Chelmsford CommonPlace wants to recognize some of Chelmsford’s best local leaders. Take a moment to nominate anyone in your community -- from a great neighbor, to a wonderful teacher, to a vital organization leader.</dd>
      <dt>We'll Publicize.</dt>
      <dd>We will be send information out about the civic heroes you nominate to the Chelmsford CommonPlace network. If you have not signed up for the Chelmsford CommonPlace yet, you can do it here.</dd>
      <dt>Honor Our Community Heroes.</dt>
      <dd>The selected community heroes (and all nominees!) will be recognized at a town Gala in early April.</dd>
    </dl>  
  </div>
  <div class="right">
    <h4>Know a community hero?</h4>
    <h3>Nominate them!
    <form>
      <input type="text" name="nom-name" id="nom-name" placeholder="First and last name of nominee">
      <input type="text" name="nom-name" id="nom-name" placeholder="Enter email of nominee">
      <textarea type="text" name="nom-name" id="nom-name" placeholder="Tell us why you're nomating this person"></textarea>
      <div class="submit">Continue</div>
    </form>
  </div>
</div>
<div class="about">
<h3>About the Chelmsford CommonPlace</h3>
<p>OurCommonPlace is a national organization dedicated to community revitalization. </p>
<p>In November, we launched The Chelmsford CommonPlace, a community web platform designed help neighbors and local leaders share and connect. 
We will be helping to host events and run contests recognizing the best of Chelmsford community. </p>
</div>
<div class="register">Sign Up</div>
<div class="about">
<h3>In Order to Form a More Perfect Community</h3>
<p>Because community is the heart of Raleigh, and because our neighborhoods are made up of amazing and inspiring neighbors who love their families and want to help each other, it is time we hammer the Internet into a tool that unites rather than divides our communities.</p>
<p>(A beautiful article about CommonPlace published in <span class="bold">The Raleigh Creative District</span>)</p>
<div id="more"><a href="http://southwestraleigh.com/2011/06/in-order-to-form-a-more-perfect-community/">Learn More</a></div>
</div>