<div class="plane_header">
  <h2>Participate in the {{community_name}}</h2>
  <h1>Community Art Project!</h1>
</div>
<div class="banner">
  <p>The Chelmsford CommonPlace is hosting two town awards to recognize the best of Chelmsford community.</p>
</div>
<div class="how">
  <h3 class="how-h3">Community Art Project</h3>
  <div class="left">
    <dl>
      <dt>Submit.</dt>
      <dd>Submit a video or image of original artwork related to the town of Chelmsford. You must be under 21 to submit. Deadline is March 15th. Use the form to the right.</dd>
      <dt>We'll Publicize.</dt>
      <dd>Once all the entrants have been collected, we’ll start sending them to the town across the Chelmsford CommonPlace network.</dd>
      <dt>Get thanks.</dt>
      <dd>We’ll award the top prize to the artwork with the most comments or “thanks” on CommonPlace. </dd>
      <dt>Be seen.</dt>
      <dd>All artwork will be displayed on a page on CommonPlace, for people to continue to enjoy.</dd>
    </dl>
    
  </div>
  <div class="right">
    <h4>Finished?</h4>
    <h3>Submit Your Artwork!</h3>
    <form>
      <p class="video">Video:</p>
      <input type="text" name="video" id="video" placeholder="http://www.youtube.com/watch?v=aAsWeryg34F">
      <p class="help">Copy and paste YouTube video URL in the space above</p>
      <p class="photo">Photo:</p>
      <input type="text" class="browsei" name="photo" id="photo" placeholder="commonplace-art-project.png">
      <div class="upload">Upload</div>
      <p class="help">File must be in JPG or PNG format and be less than 500kb</p>
      <div class="submit">Submit</div>
    </form>
  </div>
</div>
<div class="nominate">

  <h3 class="how-h3">Civic Heroes Award</h3>
  <div class="left">
    <dl>
      <dt>Submit.</dt>
      <dd>In addition to its Community Art Contest, the Chelmsford CommonPlace wants to recognize some of Chelmsford’s best local leaders.</dd>
      <dt>We'll Publicize.</dt>
      <dd>Take a moment to nominate anyone in your community – from a great neighbor, to a wonderful teacher, to a vital organization leader.</dt>
      <dt>Be seen.</dt>
      <dd>Nominees will be recognized at a town gala on March 25th.</dd>
    </dl>  
  </div>
  <div class="right">
    <h4>Nominate</h4>
    <form>
      <input type="text" name="nom-name" id="nom-name" placeholder="John Doe">
      <p class="help">Enter the first and last name of the person you'd like to nominate above.</p>
      <input type="text" name="nom-name" id="nom-name" placeholder="john@johndoe.com">
      <p class="help">Enter the email of the person you are nominating above.</p>
      <textarea type="text" name="nom-name" id="nom-name" placeholder="I'm nominating John Doe because…"></textarea>
      <p class="help">Tell us why you think this person should be the Chelmsford Civic Hero.</p>
      <div class="submit">Submit</div>
    </form>
  </div>
</div>
<div class="about">
<h3>About the Chelmsford CommonPlace</h3>
<p>OurCommonPlace is a national organization dedicated to community revitalization. <br /><br />
In January, we launched The Chelmsford CommonPlace, a community web platform designed help neighbors and local leaders share and connect. <br /><br />
We will be helping to host events and run contests recognizing the best of Chelmsford community. </p>
</div>