.event_clickable
  .title_top
    .icon
      %img{ :alt => "Event" }
    .top_text
      %span.category EVENT
      %span.from from
      %span.author Organization Name
      %span.time= event_date event.start_time
  .bottom
    .graphic= render("events/calendar", :event => event)
    .body
      %h3= event.name
      %p Event description goes here. This event takes places at #{ hours_minutes event.start_time }
      .expand 11 attending