.event_clickable
  .title_top
    .icon
    .top_text
      %span.category Neighborhood Event:
      %span.author= event.name
      %span.time= event_date event.start_time
  .bottom
    .graphic= render("events/calendar", :event => event)
    .body
      .expand 11 attending 
      %p Event description goes here. This event takes places at #{ hours_minutes event.start_time }
