<!DOCTYPE html>

<html xmlns="https://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">

  <head>
    <title>CommonPlace</title>
    <meta name="description" content="CommonPlace helps you share and connect with your neighbors.">

    <link href="https://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" type="text/css">
    <link href="/assets/favicon.png" rel="icon" type="image/png">

    <link href="/assets/application.css" rel="stylesheet" type="text/css">
  </head>

  <body class="application">
    <img src="/assets/tour/welcome-bg.png" style="display:none;">
    <img src="/assets/tour/tour-button.png" style="display:none;">
    <img src="/assets/loading.gif" style="display:none;">

    <div id="sticky-wrapper">
      <div id="fb-root"></div>
      
      <div id="header"></div>

      <div id="notification" class="important-notification"></div>

      <div id="feature-switching"></div>
      
      <div id="main"></div>
      
      <div id="sticky-footer"></div>
      
      <script type="text/javascript" src="/assets/application.js"></script>

      <%= erb :tracking %>
    </div>

    <%= erb :footer %>

  </body>

</html>
