<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="/assets/home.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
    </header>

    <div id="modal"></div>

    <div class="full-width">
      <div id="sidebar">
      </div>
      
      <div class="main" id="content">
      </div>        

    </div>

    <script type="text/javascript" src="/assets/home.js"></script>
  </body>
</html>
