<div class="main-message">
  <img class="avatar" src="{{avatarUrl}}" width="75" height="75">
  <div class="corner">{{date}}</div>
  <h3>{{title}}</h3>
  <div class="author">{{author}}</div>
  <div class="body">{{body}}</div>
  <div class="clear"></div>
</div>

<div class="replies"></div>

