<div class="main-message">
  <img class="avatar" src="{{avatarUrl}}" width="75" height="75">
  {{^isSent}}<div class="date"><a class="main-author">{{author}}</a>  sent {{date}}:</div>{{/isSent}}
  {{#isSent}}<div class="date"><span class="main-author">You</span> sent to <a class="main-author">{{recipient}}</a> {{date}}:</div>{{/isSent}}
  <h3>{{title}}</h3>
  <div class="body">{{#markdown}}{{body}}{{/markdown}}</div>
  <div class="clear"></div>
</div>

<div class="replies"></div>

