<div class="main-message">
  <a name="{{id}}" />
  <img class="avatar" src="{{avatarUrl}}" width="75" height="75">
  {{^isFeed}}
    {{^isSent}}<div class="date"><a class="messagable person">{{author}}</a>  sent {{date}}:</div>{{/isSent}}
    {{#isSent}}<div class="date"><span class="messagable person">You</span> sent to <a class="messagable person">{{recipient}}</a> {{date}}:</div>{{/isSent}}
  {{/isFeed}}
  {{#isFeed}}
    {{^isSent}}<div class="date"><a class="messagable person">{{author}}</a>  sent to <a class="messagable feed" href="{{feedUrl}}">{{recipient}}</a> {{date}}:</div>{{/isSent}}
    {{#isSent}}<div class="date"><span class="messagable person">You</span> sent to <a class="messagable feed" href="{{feedUrl}}">{{recipient}}</a> {{date}}:</div>{{/isSent}}
  {{/isFeed}}
  <h3>{{title}}</h3>
  <div class="body">{{#markdown}}{{body}}{{/markdown}}</div>
  <div class="clear"></div>
</div>

<div class="replies-area"></div>

