
.referral_clickable
  .title_top
    .icon
      %imp{ :alt => "Referral" }
    .top_text
      %span.category REFERRAL
      %span.from from
      %span.author= referral.referrer.full_name
      %span.time= post_date referral.created_at
  .bottom
    image
    .body
      someone has referred this thing to you