// application.sass
// Logged in view of community and inbox.

@import config
  
ul#filters
  padding: 0 1em
  margin: 15px auto 0
  text-align: center
  li:hover
    background: white
  li
    list-style: none
    display: inline-block
    margin-right: 25px
    border: 1px solid #aaa
    background: #99ff99
    padding: 0.5em 1em
    width: 95px
    height: 70px
    font-size: 0.8em
    @include rounded(4px)
    &:last-child
      margin-right: 0
    &:hover
      background: #ddd !important
    &#wire_button
      background: #BFE2F3
    &#posts_button
      background: #FFE4C6
    &#announcements_button
      background: #C5CBF5
    &#events_button
      background: #FFEFC6
    &#people_button
      background: #BEF6D6
    &#organizations_button
      background: #FFEFC5

#post_submission
  background-color: #eee
  border: 1px solid #bbb
  border-bottom-color: #888
  @include rounded(5px)
  margin-bottom: 1em
  padding: 10px
  form
    textarea
      font-size: 0.8em
      width: 420px
      height: 3.5em
      border: 1px solid #aaa
      padding: 0.4em
      @include rounded(5px)
      margin-bottom: 4px
    ul  
      @include column
      width: 300px
      li
        @include column
        width: 75px
        label
          margin-right: 15px
          font-size: 0.8em      
    input[type='submit']
      @include column
      width: 100px
      padding: .2em .4em

#both_columns
  min-height: $mainHeight - $filterHeight
  border-top: 1px solid #ccc
  margin-top: 15px
  position: relative
  
#left_col, #right_col
  min-height: inherit
  padding: $columnPadding
  @include column
  width: $columnWidth
#left_col
  border-right: 1px solid #ccc

li.post
  .age
    text-align: right
    padding-right: .5em
    width: 100%
    top: .5em
    font-size: .85em
    color: #333
    margin-top: .5em
    margin-bottom: 0
    border: 0
  .post_main
    position: relative
    min-height: 80px
    margin: 0
    padding-bottom: 0
    > div > p
      min-height: 70px
  .expand
    min-height: 0px
    border-width: 1px 1px 0 1px
    border-style: solid
    border-color: #ccc
    position: absolute
    bottom: -16px
    right: 0
    @include rounded-top(4px)
    //margin-top: 20px
    vertical-align: bottom
    float: right
    margin-right: 1em
    width: 140px
    text-align: center
    background: #ceeece
    padding: .5em 0 !important
    p
      padding: .333em 0 !important
      margin: 0 !important
  .replies
    display: none
    border-top: 1px solid #ccc
    margin-left: -5px
    li.reply
      min-height: 40px
      overflow-x: hidden
      height: auto
      border: none
      margin-right: 10px
      margin-bottom: .5em
    .new_reply
      margin-top: 7px
      margin-bottom: .5em
      padding-left: 3px
      textarea
        width: 442px
        height: 56px
          
#user_info_box
  border: 2px solid gray
  @include rounded(5px)
  padding: 10px
  .user_pic, .user_side
    position: relative
    display: inline-block
    vertical-align: top
    top: 0px
  .user_pic
    width: 50px
    height: 50px
    margin-right: 7px
  .user_side
    width: 290px
    .user_name
    .user_info
      width: 320px
      font-size: 0.8em
      tr
        line-height: 120%
        th
          font-weight: bold
          color: #666666
          width: 90px
          text-align: right
          padding-right: 12px
          padding-top: 10px
        td
          width: 240px
#user_message
  font-size: 0.8em
  margin-top: 1em
  span.success
    padding: 4px 7px
    background-color: #ceeece
    color: #2B8829
  span.linkish.message_me
    padding: 4px 7px
    background-color: #ceeece
  form.message_form
    padding: 7px
    width: 310px
    background-color: #ceeece
    display: none
    label
      color: #666
    textarea
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px
      border: solid 1px #bbb
      width: 300px
      height: 3em
      padding: 4px
    input
      display: inline-block
      position: relative
      right: 0px
      background-color: #ddd
      background-image: url("/images/button_repeat.png")
      width: auto
      height: 100%
      color: black
      padding: 3px 7px
      -webkit-border-radius: 8px
      -moz-border-radius: 8px
      border-radius: 8px
      border:
        width: 1px
        style: solid
        color: #aaa
      &:hover
        border:
          color: #333

.ui-autocomplete
  position: absolute
  cursor: default
  z-index: 2000
  background: white
.ui-autocomplete-loading
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat

.ui-menu-item
  border: 1px solid black
  padding: 4px
  a
    width: 100%
    
.ui-state-hover
  background: #ffeeee

.done
  background: #ffeeee
  
#ui-active-menuitem

.newthread
  width: 260px
  margin: auto
  display: inline-block
  width: none !important
  padding: .5em
  border: 1px solid black
  text-align: center
  font-size: 1.4em
  @include rounded(10px)
  background: #e88e33
  &:hover
    background: #e88e33 + #333

span.name
  margin-right: .5em
  font-weight: bold

#map
  //display: none

#main
  position: relative
  overflow: visible !important
  // for bad firefox bug

.fixed
  position: fixed !important
  top: auto
  z-index: auto
  margin-top: 7px
  margin-left: 412px

div.mode
  background: $controlColor !important
  padding-bottom: 0
  @include rounded-top(10px)
#toggles
  margin-bottom: 1em
  padding-bottom: 1em
  div
    width: 132px
    height: 32px
    float: left
    font-size: 1.6em
    text-align: center
    padding-top: .55em

.intro
  background: $controlColor
  padding: 1em
  min-height: 80px
  margin-top: 30px
.right
  -webkit-border-top-right-radius: 10px
  -moz-border-radius-topright: 10px
  border-top-right-radius: 10px
.left
  -webkit-border-top-left-radius: 10px
  -moz-border-radius-topleft: 10px
  border-top-left-radius: 10px
.top
  @include rounded-top(10px)
.intro
  input
    //margin-top: .5em
    font-size: 1em
    width: 350px
    border: 1px solid #888
    padding: 5px
    &#post_submit
      width: 130px
      background: #fee
  textarea
    font-size: 1.1em
    width: 350px
    height: 38px

ul#wire
  li
    position: relative
    cursor: pointer
    padding-top: 5px
    padding-left: 5px
    min-height: 78px
    border: 1px solid #ccc
    margin-bottom: 1em
    border-bottom: 1px solid #ccc
    img
      float: left
      margin-right: .5em
      border: 1px solid #ccc
    img, p
      margin-top: 0
    &.post
      background: #FFE4C6
    &.event
      background: #C5CBF5
    &.person
      background: #fea
    &.organization
      background: #fea + #111
    &.business
      background: #fea - #111
    &.selected
      background: #eef
    &.conversation
      background: #beaebe
      &.read
        background: #beaebe + #111
      &.unread
        background: #beaebe - #111
    &:hover
      background: #fee

#iresults
  ul
    li
      padding: 5px
      p
        display: inline
        vertical-align: top
      img
        display: inline

#map
  width: ($columnWidth - 2)
  border: $mapBorder
  height: 300px !important
  background: #49e

div.calendar
  min-height: none
  position: relative !important
  float: left
  text-align: center
  display: block
  width: 72px
  height: 72px !important
  border: 1px solid #888
  margin-right: 0.5em
  margin-left: 0 !important
  background: green
  div.month
    position: relative !important
    min-height: none !important
    font-size: 1.4em
    padding-top: 8px
    padding-bottom: 0px
    border: 0
    height: 26px !important
    background: #A93F40
    color: #f9f9f9
  div.date
    position: relative !important
    min-height: none !important
    font-size: 1.8em
    padding: 12px 4px 0px 4px
    border: 0
    background: #f9f9f9
    color: #333
    height: 26px