// application.sass
// Logged in view of community and inbox.

@import config
  
nav#filters
  padding: 0 1em
  margin: 15px auto 0
  //text-align: center
  a:hover
    background: white
  a.filter, #search
    @include column
    margin-right: 12px
    border: 1px solid $lightGray
    height: 65px
    color: black
    @include rounded(4px)
  a.filter  
    padding: 10px 0px
    text-align: center
    font-weight: normal
    font-size: 0.7em
    width: 96px
    &#wire_button
      @include filterBackground($wireColor)
    &#posts_button
      @include filterBackground($postColor)
    &#announcements_button
      @include filterBackground($announcementColor)
    &#events_button
      @include filterBackground($eventColor)
    &#people_button
      @include filterBackground($personColor)
    &#organizations_button
      @include filterBackground($organizationColor)
  #search
    @include column
    width: auto
    background: $lightestGray
    text-align: left
    padding: 10px 7px !important
    margin-right: 0
    p
      margin: 8px 0px 0px
      text-align: left
      font-size: 0.8em !important
      a
        font-size: 1em !important
        font-weight: normal

#post_submission
  p
    margin: 0 0 0.5em
    font-weight: bold
  background-color: $lightestGray
  border: 1px solid #bbb
  border-bottom-color: #888
  @include rounded($postBorderRadius)
  margin-bottom: 1em
  padding: 10px
  form
    textarea
      font-size: 0.8em
      width: 420px
      height: 3.5em
      border: 1px solid #aaa
      padding: 0.4em
      @include rounded($postBorderRadius)
      margin-bottom: 4px
    ul  
      @include column
      width: 300px
      li
        @include column
        width: 75px
        label
          margin-right: 15px
          font-size: 0.8em      
    input[type='submit']
      @include column
      width: 100px
      padding: .2em .4em

#both_columns
  min-height: $mainHeight - $filterHeight
  border-top: 1px solid $lightGray
  margin-top: 15px
  position: relative
  
#left_col, #right_col
  min-height: inherit
  padding: $columnPadding
  width: $columnWidth
  @include column
#left_col
  border-right: 1px solid $lightGray

ul#wire li
  position: relative
  cursor: pointer
  background-color: $itemBackground
  border: 1px solid $itemBorder
  @include rounded($postBorderRadius)
  margin-bottom: 1em
  border-bottom: 1px solid $lightestGray
  font-size: 0.8em
  .title_top
    margin: 0px
    position: relative
    background: none
    border-bottom: 1px solid $lightGray
    height: 24px
    .icon
      @include column
      border-right: 1px solid $lightGray
      height: 18px
      width: 18px
      padding: 3px
      img
        height: 18px
        width: 18px
        @include rounded($postBorderRadius)
    .top_text
      display: inline-block
      position: absolute
      left: 25px
      right: 0px
      top: 0px
      font-size: 11.5px
      padding: 4px
      height: 16px
      border-left: 1px solid white
      .category
        font-weight: bold
        font-size: 0.9em
        color: #888
      .from
        @include oldStandard
        font-size: 1em
        color: $mediumGray
      .author
        font-family: 'OldStandardTTItalic', Times, serif
      .time
        position: absolute
        right: 8px
        font-size: 0.9em
        color: $mediumGray
        font-weight: bold
  .bottom
    border-top: 1px solid white
    .graphic
      @include column
      margin: 6px
      border: 1px solid $lightGray
      @include rounded($postBorderRadius)
    .body  
      @include oldStandard
      color: black
      font-size: 1.1em
      h3
        @include oldStandardBold
        font-size: 1.2em
        margin-bottom: 2px
      padding: 9px 4px 4px 0px
      display: inline-block
      width: 378px
      p
        margin: 0px
  .expand
    font-family: 'Helvetica', Arial, sans-serif
    border-width: 1px solid $lightGray
    position: relative
    bottom: 0px
    @include rounded(4px)
    vertical-align: bottom
    float: right
    width: 75px
    text-align: center
    padding: 2px 4px !important
    margin: 5px 0px 4px 4px
    font-size: 0.8em
  &.post
    @include customItemStyle($postColor, $postColorDark)
  &.event
    @include customItemStyle($eventColor, $eventColorDark)
  &.announcement
    @include customItemStyle($announcementColor, $announcementColorDark)

  &.person
    background: #fea
  &.organization
    background: #fea + #111
  &.business
    background: #fea - #111
  &.selected
    background: #eef
  &:hover
    
        
li.post .replies
  display: none
  border-top: 1px solid $lightGray
  margin-left: -5px
  li.reply
    min-height: 40px
    overflow-x: hidden
    height: auto
    border: none
    margin-right: 10px
    margin-bottom: .5em
  .new_reply
    margin-top: 7px
    margin-bottom: .5em
    padding-left: 3px
    textarea
      width: 442px
      height: 56px
          
#user_info_box
  border: 2px solid gray
  @include rounded(5px)
  padding: 10px
  .user_pic, .user_side
    position: relative
    display: inline-block
    vertical-align: top
    top: 0px
  .user_pic
    width: 50px
    height: 50px
    margin-right: 7px
  .user_side
    width: 290px
    .user_name
    .user_info
      width: 320px
      font-size: 0.8em
      tr
        line-height: 120%
        th
          font-weight: bold
          color: #666666
          width: 90px
          text-align: right
          padding-right: 12px
          padding-top: 10px
        td
          width: 240px
#user_message
  font-size: 0.8em
  margin-top: 1em
  span.success
    padding: 4px 7px
    background-color: #ceeece
    color: #2B8829
  span.linkish.message_me
    padding: 4px 7px
    background-color: #ceeece
  form.message_form
    padding: 7px
    width: 310px
    background-color: #ceeece
    display: none
    label
      color: #666
    textarea
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px
      border: solid 1px #bbb
      width: 300px
      height: 3em
      padding: 4px
    input
      display: inline-block
      position: relative
      right: 0px
      background-color: $lightestGray
      background-image: url("/images/button_repeat.png")
      width: auto
      height: 100%
      color: black
      padding: 3px 7px
      -webkit-border-radius: 8px
      -moz-border-radius: 8px
      border-radius: 8px
      border:
        width: 1px
        style: solid
        color: #aaa
      &:hover
        border:
          color: #333

.ui-autocomplete
  position: absolute
  cursor: default
  z-index: 2000
  background: white
.ui-autocomplete-loading
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat

.ui-menu-item
  border: 1px solid black
  padding: 4px
  a
    width: 100%
    
.ui-state-hover
  background: #ffeeee

.done
  background: #ffeeee
  
#ui-active-menuitem

.newthread
  width: 260px
  margin: auto
  display: inline-block
  width: none !important
  padding: .5em
  border: 1px solid black
  text-align: center
  font-size: 1.4em
  @include rounded(10px)
  background: #e88e33
  &:hover
    background: #e88e33 + #333

span.name
  margin-right: .5em
  font-weight: bold

#map
  //display: none

#main
  position: relative
  overflow: visible !important
  // for bad firefox bug

.fixed
  position: fixed !important
  top: auto
  z-index: auto
  margin-top: 7px
  margin-left: 412px

div.mode
  background: $controlColor !important
  padding-bottom: 0
  @include rounded-top(10px)
#toggles
  margin-bottom: 1em
  padding-bottom: 1em
  div
    width: 132px
    height: 32px
    float: left
    font-size: 1.6em
    text-align: center
    padding-top: .55em

.intro
  background: $controlColor
  padding: 1em
  min-height: 80px
  margin-top: 30px
.right
  -webkit-border-top-right-radius: 10px
  -moz-border-radius-topright: 10px
  border-top-right-radius: 10px
.left
  -webkit-border-top-left-radius: 10px
  -moz-border-radius-topleft: 10px
  border-top-left-radius: 10px
.top
  @include rounded-top(10px)
.intro
  input
    //margin-top: .5em
    font-size: 1em
    width: 350px
    border: 1px solid #888
    padding: 5px
    &#post_submit
      width: 130px
      background: #fee
  textarea
    font-size: 1.1em
    width: 350px
    height: 38px

#iresults
  ul
    li
      padding: 5px
      p
        display: inline
        vertical-align: top
      img
        display: inline

#map
  width: ($columnWidth - 2)
  border: $mapBorder
  height: 300px !important
  background: #49e