@import config

// private.sass
// Logged in, view of wire, directory, profiles, etc.
















// From here down is stuff that Ricky added.
// It should be cleaned up in the future to flow with everything else.

#comm_left, #comm_right
  width: 476px

#comm_right
  float: right

div.mode
  background: $controlColor !important
  padding-bottom: 0
  @include rounded-top(10px)
#toggles
  margin-bottom: 1em
  padding-bottom: 1em
  div
    background: #fff
    width: 240px
    height: 30px
    float: left
    font-size: 2em
    text-align: center
    padding-top: .5em
    &.left
      -webkit-border-top-left-radius: 10px
      -moz-border-radius-topleft: 10px
      border-top-left-radius: 10px
    &.right
      -webkit-border-top-right-radius: 10px
      -moz-border-radius-topright: 10px
      border-top-right-radius: 10px
.intro
  background: $controlColor
  padding: 1em
  min-height: 150px
.right
  -webkit-border-top-right-radius: 10px
  -moz-border-radius-topright: 10px
  border-top-right-radius: 10px
.left
  -webkit-border-top-left-radius: 10px
  -moz-border-radius-topleft: 10px
  border-top-left-radius: 10px
.intro
  input
    font-size: 1.2em
    width: 100%
  textarea
    font-size: 1.2em
    width: 100%
    height: 4em

#d
  .intro ul
    text-align: center
    cursor: pointer
    li
      list-style: none
      display: inline
      padding-left: .6em
      padding-right: .6em
      padding-top: .25em
      padding-bottom: .4em
      border: 1px solid auto
    padding-left: 0
    margin-bottom: 0em
    margin-top: 1em
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
    li

    &.kinds li
      @include rounded-top(10px)
      &.selected
        background: #bee
        border: 1px solid #ddd
    &.selected
      background: #bee
      border: 1px solid #ddd
    &.kinds li.selected
      border-bottom: 1px solid #bee
    &.selected
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
    li.all.selected
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
      border: 1px solid #ddd
    &.alphabeta
      margin-top: 6px
      padding-top: .2em
      padding-bottom: .25em
      li
        list-style: none
        display: inline
        background: #bee
        font-size: .9em
        padding-left: .07em
        padding-right: .07em
        padding-bottom: .25em
        border: 0
        margin-top: 0
        a
          color: #111
          text-decoration: none
  .photo
    float: left
    padding-right: 10px
  .info
    float: left
    vertical-align: top
  #dresults
    padding: .5em
    img
      border: 1px solid #ccc
    h2
      font-size: 1.8em
      margin-top: .5em
      margin-bottom: 0
      padding-bottom: .4em
      border-bottom: 1px solid #ccc
    ul
      margin-bottom: 1em
      li
        padding-top: 5px
        min-height: 66px
        border-bottom: 1px solid #ccc
        img
          float: left
          margin-right: .5em
        img, p
          margin-top: 0
        &.person
          background: #fea
        &.event
          background: #feb
          div.calendar
            //@include rounded(10px)
            float: left
            text-align: center
            display: block
            width: 60px
            // height: 60px
            border: 1px solid #888
            margin-right: 0.5em
            background: green
            div.month
              font-size: 1.1em
              padding: 4px
              border: 0
              height: 20px
              background: #f66
            div.date
              font-size: 1.4em
              padding: 6px 4px 0px 4px
              border: 0
              background: #ccc
              height: 24px
        &.organization
        &.business
        &.selected
          background: #eef
        &:hover
          background: #fee
  // #people div
  //   margin-bottom: .333em
  //   .info p
  //     font-size: 1em


#infobox
  max-height: 480px
  overflow: auto
  border: 1px dashed #964
  margin-bottom: 1em
  padding: 1em
  h2
    margin-top: .4em
    padding-bottom: 0
    margin-bottom: .5em
    font-size: 2em
  img
    float: right
    width: 100px
    height: 100px
    display: inline
    margin-left: .2em
    margin-bottom: .2em
  ul
    li
      list-style: none
      display: inline-block
      margin-top: .25em
      margin-right: .25em
      border: 1px solid #375D81
      background: #ABC8E2
      padding: 4px
      line-height: 1.2em
      @include rounded(4px)
  p
    margin-top: 1em
    padding-bottom: .2em
    border-bottom: 1px dashed #555
    font-size: 1.4em
    &.desc
      color: #111
      border-bottom: none
      font-size: 1em
    &.detail
      margin-top: 0
      margin-bottom: 0
      font-size: 1em
      color: #555
      border-bottom: none
  textarea
    font-size: 1.2em
    width: 100%
    height: 2.4em
    display: block
    &:focus
      background: #eef
  button
    font-size: 1.2em
  div
    text-align: center
    margin: 0 auto
    font-size: 1.1em
    margin-top: .75em
    div.rsvp, div.refer
      width: 160px
      cursor: pointer
      display: inline-block
      border: 1px solid gray
      padding: 1em
      &:hover
        background: #fee
    div.rsvp
      @include rounded-left(10px)
    div.refer
      @include rounded-right(10px)
    form, div.message
      height: 40px
      margin: 0 auto
      margin-top: .3em
      border: 1px solid gray
      padding: 0em
      width: 402px
      line-height: 1.2em
      @include rounded(10px)
      //margin: 0 auto
    div.message
      padding-top: 0
      padding-bottom: 6px
      p
        font-size: 1.1em
        border: 0
        margin: 0
        margin-top: 12px
        margin-bottom: 14px
    form
      padding-top: 6px
      padding-bottom: 0px
  span.wire, span.directory
    display: none

#mapbox
  height: 300px
  width: 100%
  border: 1px dashed #469
  background: black






#w
  #wresults
    ul
      margin-bottom: 1em
      li
        padding-top: 5px
        min-height: 66px
        border-bottom: 1px solid #ccc
        span
          position: relative
          left: 70px
          display: block
        p
          margin-top: 0
        img
          float: left
          display: inline
          position: absolute
          margin-right: .5em
          margin-top: 0
          width: 60px
        background: #ffeece + #111111
        &:hover
          background: #ffeece









#full
  position: absolute
  top: 61px
  bottom: 30px
  border:
    width: 2px
    color: #630
    style: solid
  background-color: #963
  padding: 8px
  //width: 978px
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px

#comm_left, #comm_right
  display: inline-block
  position: relative
  vertical-align: top
  top: 0px
  height: 100%
  width: 480px
  margin-bottom: $totalFooterHeight + px

#comm_left
  padding: 0px
  left: 2px

#map, #users
  position: absolute
  height: 49%
  width: 100%

#map
  background-color: white

#users
  bottom: 0px
  background-color: #eeffee
  overflow: -moz-scrollbars-vertical
  overflow-x: hidden
  overflow-y: scroll

#new_post
  width: 100%
  margin: auto
  p.inline-errors
    display: none
  .inputs
    width: 100%
    ol
      width: 100%
      li
        width: 100%
        position: relative
        textarea, input, label
          //font-size: 0.8em
          font-size: 1em
          height: 40px
          display: block
        textarea
          padding: 5px
          //height: 4em
          width: 436px
        input
          width: 100%
        label
          position: absolute
          top: 4px
          left: 6px
          color: #888
          text-align: left
          margin: 0px
          font-weight: normal
          width: inherit
  .buttons
    ol
      display: table
      width: 100%
      li
        padding: 0
        margin: 5px
        float: none
        display: table-cell
        button
          background-color: #2b8829
          background-image: url("/images/submit_post_background.png")
          color: white
          font-weight: bold
          font-size: 0.9em
          width: 95%
          padding: 6px
          -webkit-border-radius: 8px
          -moz-border-radius: 8px
          border-radius: 8px
          border:
            width: 1px
            style: solid
            color: #aaa
          &:hover
            border:
              color: #333

// TODO: Deprecate our use of horizonal rules.
hr
  height: 0.5px
  margin: 3px

hr.top
  margin: 0px
  margin-bottom: 3px
  width: 100%

.post
  padding: 8px
  .post_pic
    position: absolute
    display: inline
    width: 60px
  .post_main
    min-height: 48px
    width: 380px
    position: relative
    left: 60px
    .post_top
      font-size: 0.8em
    .post_body
      margin-top: 5px
      padding-bottom: 2.5px
      font: Helvetica
      font-size: 0.9em
    .post_bottom
      margin-top: 5px
      font-size: 0.8em

.reply
  margin-bottom: 5px
  .reply_pic, .reply_body
    position: relative
    display: inline-block
    top: 0px
    vertical-align: top
  .reply_pic
    width: 27px
  .reply_body
    width: 330px
    .reply_bottom
      font-size: 0.8em

.post_body, .reply_body
  line-height: 120%

#posts_nav
  position: relative
  bottom: 8px
  margin-top: 15px
  text-align: center

a.show_replies
  padding: 4px
  margin: 0px

.user
  padding: 7px
  .user_pic, .user_side
    position: relative
    display: inline-block
    vertical-align: top
    top: 0px
  .user_pic
    width: 60px
  .user_side
    width: 350px
    .user_name
    .user_info
      font-size: 0.8em
      margin-top: 7px
  .expanded_user
    .user_pic
      width: 110px
      img
        width: 100px
        height: 100px
    .user_side
      width: 300px
    dl.user_info
      font-size: 0.8em
      margin-bottom: 8px
      dt
        font-weight: bold
        color: #666666
      dd
        width: 220px

#users
  .user:hover
    background-color: #ffffcc

#wire
  .post:hover
    //background-color: #ffffdd
    a.show_replies, .replies
      background-color: #eeffee

a.show_replies, .replies
  background-color: #eeffee

.replies
  margin-top: 2px
  padding: 7px
  display: block
  width: 366px

.new_reply
  form.formtastic.reply
    fieldset.inputs
      ol li
        margin-bottom: 2px
        position: relative
        width: 320px
        left: 30px
        textarea
          padding: 4px
          display: block
          height: 2.4em
          width: 320px
        label.in-field
          width: 330px
          position: absolute
          top: 1px
          left: 5px
          float: none
          color: #888888
          text-align: left
          font-weight: normal
    fieldset.buttons
      left: 0px
      text-align: left
      ol li
        left: 30px
        margin-bottom: 0px
        &.commit
          input.create
            width: 60px

form.formtastic fieldset ol li p.inline-errors
  font-size: small
  font-weight: bold
  margin: 5px 0 0 10px

header
  form
    display: inline
