// config.sass
// Sass delcarations for mixins and variables
// Ideally we'd keep all numbers out of other stylsheets

// Mixins...

@mixin rounded($radius)
  -webkit-border-radius: $radius !important
  -moz-border-radius: $radius !important
  border-radius: $radius !important

@mixin rounded-top($radius)
  -webkit-border-top-left-radius: $radius !important
  -webkit-border-top-right-radius: $radius !important
  -moz-border-radius-topleft: $radius !important
  -moz-border-radius-topright: $radius !important
  border-top-left-radius: $radius !important
  border-top-right-radius: $radius !important

@mixin rounded-right($radius)
  -webkit-border-top-right-radius: $radius !important
  -webkit-border-bottom-right-radius: $radius !important
  -moz-border-radius-topright: $radius !important
  -moz-border-radius-bottomright: $radius !important
  border-top-right-radius: $radius !important
  border-bottom-right-radius: $radius !important

@mixin rounded-left($radius)
  -webkit-border-top-left-radius: $radius !important
  -webkit-border-bottom-left-radius: $radius !important
  -moz-border-radius-topleft: $radius !important
  -moz-border-radius-bottomleft: $radius !important
  border-top-left-radius: $radius !important
  border-bottom-left-radius: $radius !important
  
@mixin column
  top: 0px
  position: relative
  display: inline-block
  vertical-align: top
  
@mixin column-right($width)
  @include column
  width: $width

@mixin column-left($width)
  @include column
  width: $width
  
@mixin vertical-gradient($color1, $color2)
  background-image: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2))
  background: -moz-linear-gradient(center bottom, $color2, $color1)

// Variables

$mainWidth = 976px
$mainHeight = 600px
$mainPadding = 15px

$filterHeight = 100px

$columnPadding = 15px
$columnWidth = ( $mainWidth - 2 ) / 2 - $columnPadding * 2 - 2

$primaryTextColor = #111

$footerHeight = 26
$footerBorder = 7
$footerPadding = 10
$totalFooterHeight = $footerHeight + $footerBorder + $footerPadding

$backgroundColor = #f8f7f2
$backgroundGradientColor1 = #f8f7f2 - #222222
$backgroundGradientColor2 = #f8f7f2 
$controlColor = #ceeece

$topStripHeight = 300
$bottomStripHeight = 300
$topAndBottomStripHeight = $topStripHeight + $bottomStripHeight

$mapBorder = "1px solid #125478"

$mediumGray = #666

$leftWidth = 250
$rightWidth = 670
