@import formtastic_base

html
  height: 100%

body
  font-family: sans-serif
  font-size: medium
  // background: #4ba849
  // background: #55bb55
  background: #9dd
  background: -moz-linear-gradient(right bottom, #6cd, #cff)
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0.91, #cff), color-stop(0.33, #6cd))
  margin: auto
  line-height: 110%
  height: 100%

h2
  font-weight: bolder
  margin: 1em 0

strong
  font-weight: bold

a
  color: #0033aa
  font-weight: bold
  text-decoration: none

a:hover
  text-decoration: underline

a:visited

p
  margin: 0.5em 0px

header#main_head
  padding-top: 10px
  h1, h2, #community_name, #header_nav
    display: inline-block
    position: relative
    vertical-align: top
    top: 0px
  h1
    left: 0px
    border: 0px
    height: 50px
    width: 370px
  #community_name
    font-family: Georgia, Times, "Times New Roman", Serif
    font-style: oblique
    vertical-align: bottom
    font-size: 45px
    color: yellow
    padding: 7px
    width: 250px
  #header_nav
    background-color: #349
    background: -moz-linear-gradient(center bottom, #555, #777)
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.94, #777), color-stop(0.42, #555))
    border:
      color: #555
      width: .5px
      bottom-width: 0px
      style: solid
    border-top-left-radius: 8px
    border-top-right-radius: 8px
    -webkit-border-top-left-radius: 8px
    -webkit-border-top-right-radius: 8px
    -moz-border-radius-topleft: 8px
    -moz-border-radius-topright: 8px
    padding: 2px 12px 0px
    text-align: right
    width: 300px
    color: #eee
    font-size: 0.9em
    height: 50px
    a
      //color: #1144bb
      color: #bdd
    p
      margin-bottom: 0.2em
    form
      display: inline
    h1
      height: 1em
    nav
      font-size: .9em

footer
  margin-top: 3px
  padding: 3px
  //background-color: #bef
  background-color: none
  color: #336
  text-align: center
  a
    color: #336
    font-weight: normal
  border-radius: 4px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px

.time, .delete
  color: #666666

.delete
  font-weight: normal

#copy
  font-size: 12px

a.category

.category
  color: #222222

#info_img, .info
  position: relative
  display: inline-block
  vertical-align: top
  top: 0px

#info_img
  width: 400px

.info
  width: 530px
  padding: 0px 15px
  font-family: Georgia, Times, "Times New Roman", Serif
  p
    font-size: 1em
    margin-bottom: 0.5em
  h1
    font-size: 1.5em
    margin-bottom: 0.5em
    font-weight: bold

dl
  display: block
  dt, dd
    margin-top: 4px
  dt
    width: 80px
    clear: left
    float: left
  dd
    float: left
    width: 260px
