#login
  width: 600px
  margin: 100px auto

#new_user
  width: 600px
  margin: 50px auto

#more_info
  width: 600px
  margin: 50px auto

#new_post .buttons li
  width: 100px
  margin: 0px
  padding: 0px
  zoom: 1
  display: inline
  font-size: 12px
