// organizer.sass
// Stylesheet for the organization and event management pages

@import config
    
#organizer_main
  padding: $mainPadding
  border-top: 1px solid $lightGray
  h1
    font-size: 2em
    font-weight: bold
    margin-bottom: 15px
  h2
    font-size: 1.5em
    padding-bottom: 4px

nav#organizer_nav
  padding: $mainPadding

nav#my_organizations a
  font-weight: normal
  display: block
  position: relative
  width: 500px
  border: 1px solid $lightGray
  @include vertical-gradient($organizationColor, $organizationColorDark)
  @include rounded($postBorderRadius)
  padding: 15px
  margin-bottom: 1em
  &:hover
    border-color: $mediumGray
    cursor: pointer
  .org_image, .org_name
    @include column
  .org_image
    width: 70px
  .org_name
    font-size: 1.2em
    position: absolute
    top: 28px
    @include oldStandardBold

h3
  font-size: 1.4em
  font-weight: bold
  margin-bottom: 1em
  
li.profile_field
  padding: 8px
  h4
    font-size: 1.2em
    font-weight: bold
    margin-bottom: 0.5em