// organizer.sass
// Stylesheet for the organization and event management pages

@import config

#organizer_main
  border-top: 1px solid $lightGray
  h1
    font-size: 2em
    margin-bottom: 15px
  h2
    font-size: 1.5em
    padding-bottom: 4px