// profile.sass
// For organization and event pages

@import config

.expand, .rsvp
  color: #755

a
  &:hover, &:visited, &:active

#left_col, #right_col
  @include column
  
#left_col
  width: 220px
  margin-right: 15px

ul
  margin-top: 0
  background: none
  border: 1px solid $organizationColor - #444
  margin-bottom: 1em
  li
    list-style: none
    padding: 7px
    border-bottom: 1px solid #999
    background: white
    &:hover
      background: $organizationColor
      cursor: pointer
    &:last-child
      border-bottom: 0px
  &:last-child
    margin-bottom: 1px
  li:first-child
    background-color: $organizationColor - #444
    color: white
    font-weight: bold

li#relation
  font-size: 1.2em
  text-align: center

ul#members li
  .user_image, .user_info
    @include column
  .user_image
    width: 35px
  .user_info
    width: 150px
  .user_name
    font-weight: bold
    font-size: 0.9em
  .user_role
    color: $mediumGray
    font-size: 0.8em

#signupteaser
  padding: 1em
  border: 2px solid $organizationColor
  margin-bottom: 1em
  cursor: pointer
  &:hover
    background: $organizationColor
  *
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

#right_col
  width: 600px
  h2
    margin-bottom: 0px
    border-bottom: 1px dashed #555
    &.top
      margin-top: 0

.contact
  font-size: 1.1em
  width: 380px
  height: 70px

.info
  margin: 0.5em 0.5em 1em

.block
  display: block !important

h2.relationship
  margin-top: 0
  color: #999

.profilephoto
  padding-top: 1px
  padding-left: 1px
  height: 200px
  width: 196px

.commonality
  font-size: .8em
  padding-top: 4px

.list a
  color: #183152
  display: inline
  text-decoration: none
  border: 1px solid #375D81
  background: #ABC8E2
  padding: 4px
  margin-bottom: 10px
  margin-top: 10px
  line-height: 2em

a.same
  background-color: #8EBD4F
  border: 1px solid #424F2F
  color: #111

.list a, #left .category, #signupteaser
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

.expansion
  margin-top: 1em
  display: none

.rsvp span
  display: none
  
#map
  height: 300px
  width: 480px
  background: $lightGray
  border: 1px solid $lightestGray
  @include rounded($postBorderRadius)
  margin-bottom: 1.5em

table tr
  vertical-align: top
  td:first-child
    padding-right: 1em
