@mixin rounded($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

@mixin rounded-top($radius)
  -webkit-border-top-left-radius: $radius
  -webkit-border-top-right-radius: $radius
  -moz-border-radius-topleft: $radius
  -moz-border-radius-topright: $radius
  border-top-left-radius: $radius
  border-top-right-radius: $radius

$controlColor = #efefef

body
  width: 1000px

div
  border-radius: 4px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  
#header_nav
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 0px
  -webkit-border-bottom-left-radius: 0px
  -webkit-border-bottom-right-radius: 0px
  -moz-border-radius-bottomleft: 0px
  -moz-border-radius-bottomright: 0px

#main
  background-color: white
  width: 1000px
  border: solid 1px black
  display: table-cell
  vertical-align: middle
  align: center
  padding: 15px

.front_page_main, #main_left, #main_right
  font-family: Georgia, Times, "Times New Roman", Serif
  width: 445px
  position: relative
  display: inline-block
  vertical-align: top
  top: 0px
  h1
    font-size: 1.6em
    margin-bottom: 1em
    font-weight: bold
  h2
    font-weight: bold
    font-size: 1.2em
    margin-top: 0px
  h3
    font-size: 1.2em
    color: #777777
    padding: 5px
    font-weight: bold
    text-align: center
    margin: 0.5em 0px
  p
    margin: 10px 0px

#main_left
  padding: 15px
  background-color: #eee
  margin-right: 15px

.front_page_main
  right: 0px
#log_in, #register, #more, #main_right
  width: 100%
  padding: 10px
  border: 1px
  border-style: solid
  border-color: #888888

#main_right, #main_left
  width: 445px

form.formtastic.user_session
  fieldset.inputs
    width: 400px

#more_info
  h1
    font-weight: bold
    font-size: 1em
    margin-bottom: 1em
    
#login
  display: inline-block

.win, .fail
  padding: 5px
  font-size: 14px
  font-weight: bold
  color: white
  margin: 5px 0px

.win
  background-color: #4ba849

.fail
  background-color: #cc2222

#new_user_session h2
  margin: 20px 125px

// From here down is stuff that Ricky added.
// It should be cleaned up in the future to flow with everything else.

#comm_left, #comm_right
  width: 480px

.change
  padding-top: 9001px  

div.mode
  background: #eee !important
  padding-bottom: .1em
  @include rounded-top(10px)
  span#toggles div
    width: 240px
    float: left
    font-size: 2em
    text-align: center
.intro
  background: $controlColor
  padding: 1em
.right
  -webkit-border-top-right-radius: 10px
  -moz-border-radius-topright: 10px
  border-top-right-radius: 10px
.left
  -webkit-border-top-left-radius: 10px
  -moz-border-radius-topleft: 10px
  border-top-left-radius: 10px
.intro
  input
    font-size: 1em
    width: 100%
  textarea
    font-size: 1em
    width: 100%
    height: 4em

#directory
  ul
    padding-left: 0
    margin-bottom: 0em
    cursor: pointer
    text-align: center
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
    li
      list-style: none
      display: inline
      padding-left: .6em
      padding-right: .6em
      padding-top: .25em
      padding-bottom: .4em
      border: 1px solid auto
    &.kinds li
      @include rounded-top(10px)
      &.selected
        background: #bee
        border: 1px solid #ddd
    &.selected
      background: #bee
      border: 1px solid #ddd
    &.kinds li.selected
      border-bottom: 1px solid #bee
    &.selected
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
    li.all.selected
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
      border: 1px solid #ddd
    &.alphabeta
      margin-top: 6px
      padding-top: .2em
      padding-bottom: .25em
      li
        list-style: none
        display: inline
        background: #bee
        font-size: .9em
        padding-left: .07em
        padding-right: .07em
        padding-bottom: .25em
        border: 0
        margin-top: 0
        a
          color: #111
          text-decoration: none
  .photo
    float: left
    padding-right: 10px
  .info
    float: left
    vertical-align: top
  #people div
    margin-bottom: .333em
    .info p
      font-size: 1em

.clear
  clear: both
