@import config

// Sign up and register page.

.front_page_main, #main_left, #main_right
  font-family: Georgia, Times, "Times New Roman", Serif
  width: 445px
  position: relative
  display: inline-block
  vertical-align: top
  top: 0px
  h1
    font-size: 1.6em
    margin-bottom: 1em
    font-weight: bold
  h2
    font-weight: bold
    font-size: 1.2em
    margin-top: 0px
  h3
    font-size: 1.2em
    color: #777777
    padding: 5px
    font-weight: bold
    text-align: center
    margin: 0.5em 0px
  p
    margin: 10px 0px

#main_left
  padding: 15px
  background-color: #eee
  margin-right: 15px

.front_page_main
  right: 0px
#log_in, #register, #more, #main_right
  width: 100%
  padding: 10px
  border: 1px
  border-style: solid
  border-color: #888888

#main_right, #main_left
  width: 445px

form.formtastic.user_session
  fieldset.inputs
    width: 400px

#more_info
  h1
    font-weight: bold
    font-size: 1em
    margin-bottom: 1em
    
#login
  display: inline-block

#new_user_session h2
  margin: 20px 125px

// From here down is stuff that Ricky added.
// It should be cleaned up in the future to flow with everything else.

#comm_left, #comm_right
  width: 476px

#comm_right
  float: right

div.mode
  background: $controlColor !important
  padding-bottom: 0
  @include rounded-top(10px)
#toggles
  margin-bottom: 1em
  padding-bottom: 1em
  div
    background: #fff
    width: 240px
    height: 30px
    float: left
    font-size: 2em
    text-align: center
    padding-top: .5em
    &.left
      -webkit-border-top-left-radius: 10px
      -moz-border-radius-topleft: 10px
      border-top-left-radius: 10px
    &.right
      -webkit-border-top-right-radius: 10px
      -moz-border-radius-topright: 10px
      border-top-right-radius: 10px
.intro
  background: $controlColor
  padding: 1em
  height: 150px
.right
  -webkit-border-top-right-radius: 10px
  -moz-border-radius-topright: 10px
  border-top-right-radius: 10px
.left
  -webkit-border-top-left-radius: 10px
  -moz-border-radius-topleft: 10px
  border-top-left-radius: 10px
.intro
  input
    font-size: 1.2em
    width: 100%
  textarea
    font-size: 1.2em
    width: 100%
    height: 4em

#d
  .intro ul
    text-align: center
    cursor: pointer
    li
      list-style: none
      display: inline
      padding-left: .6em
      padding-right: .6em
      padding-top: .25em
      padding-bottom: .4em
      border: 1px solid auto
    padding-left: 0
    margin-bottom: 0em
    margin-top: 1em
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
    li

    &.kinds li
      @include rounded-top(10px)
      &.selected
        background: #bee
        border: 1px solid #ddd
    &.selected
      background: #bee
      border: 1px solid #ddd
    &.kinds li.selected
      border-bottom: 1px solid #bee
    &.selected
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
    li.all.selected
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
      border: 1px solid #ddd
    &.alphabeta
      margin-top: 6px
      padding-top: .2em
      padding-bottom: .25em
      li
        list-style: none
        display: inline
        background: #bee
        font-size: .9em
        padding-left: .07em
        padding-right: .07em
        padding-bottom: .25em
        border: 0
        margin-top: 0
        a
          color: #111
          text-decoration: none
  .photo
    float: left
    padding-right: 10px
  .info
    float: left
    vertical-align: top
  #dresults
    padding: .5em
    h2
      font-size: 1.8em
      margin-top: .5em
      margin-bottom: 0
      padding-bottom: .4em
      border-bottom: 1px solid #ccc
    ul
      margin-bottom: 1em
      li
        padding-top: 5px
        min-height: 66px
        border-bottom: 1px solid #ccc
        img
          float: left
          margin-right: .5em
        img, p
          margin-top: 0
        &.person
          background: #fea
        &.event
          background: #feb
        &.organization
        &.business
        &.selected
          background: #eef
        &:hover
          background: #fee
  // #people div
  //   margin-bottom: .333em
  //   .info p
  //     font-size: 1em


#infobox
  border: 1px dashed #964
  margin-bottom: 1em
  padding: 1em
  h2
    margin-top: .4em
    padding-bottom: 0
    margin-bottom: .5em
    font-size: 2em
  img
    float: right
    width: 100px
    height: 100px
    display: inline
    margin-left: .2em
    margin-bottom: .2em
  div
    // padding-bottom: 1em
  ul
    li
      list-style: none
      display: inline-block
      margin-top: .25em
      margin-right: .25em
      border: 1px solid #375D81
      background: #ABC8E2
      padding: 4px
      line-height: 1.2em
      @include rounded(4px)
  p
    margin-top: 1em
    padding-bottom: .2em
    border-bottom: 1px dashed #555
    font-size: 1.4em
    &.desc
      color: #111
      border-bottom: none
      font-size: 1em
    &.detail
      margin-top: 0
      margin-bottom: 0
      font-size: 1em
      color: #555
      border-bottom: none
  textarea
    font-size: 1.2em
    width: 100%
    height: 4em
    &:focus
      background: #eef
  button
    font-size: 1.2em

#mapbox
  height: 300px
  width: 100%
  border: 1px dashed #469


.clear
  clear: both
