@import config

// Sign up and register page.

textarea, input
  font-size: 1.2em

.front_page_main, #main_left, #main_right
  font-family: Georgia, Times, "Times New Roman", Serif
  width: 445px
  position: relative
  display: inline-block
  vertical-align: top
  top: 0px
  h1
    font-size: 1.6em
    margin-bottom: 1em
    font-weight: bold
  h2
    font-weight: bold
    font-size: 1.2em
    margin-top: 0px
  h3
    font-size: 1.2em
    color: #777777
    padding: 5px
    font-weight: bold
    text-align: center
    margin: 0.5em 0px
  p
    margin: 10px 0px

#main
  padding: 15px !important

#main_left
  padding: 15px
  background-color: #eee
  margin-right: 15px

.front_page_main
  right: 0px
#log_in, #register, #more, #main_right
  width: 100%
  padding: 10px
  border: 1px
  border-style: solid
  border-color: #888888

#main_right, #main_left
  width: 445px

form.formtastic.user_session
  fieldset.inputs
    width: 400px

#more_info
  h1
    font-weight: bold
    font-size: 1em
    margin-bottom: 1em
    
#login
  display: inline-block

#new_user_session h2
  margin: 20px 125px

.clear
  clear: both

