
%header.management
  
  %nav
    - if current_user_session
      = link_to "Log out", logout_url, :id => 'management_logout'
    
  %h1
    - link_to organizations_url, :id => 'title' do
      = image_tag 'logo.png', :id => 'logo', :alt => "CommonPlace"


