%nav#management_nav

  = link_to "Profile", management_url
  = link_to "Events", management_events_path
  = link_to "Announcements", management_announcements_path
  = link_to "New Organization", new_management_organization_path
