
%h2#management_section_header Managing Your Personal Profile
%nav#profile_section_navigation<
  = tab_to "Edit Profile", management_url
  = tab_to "Email settings", '#'
  = tab_to "Invite people to CommonPlace", '#'