
%h2#management_section_header
  = image_tag current_user.avatar_url(:thumb), :width => 20, :height => 20
  Managing Your Personal Profile
%nav#profile_section_navigation<
  = tab_to "Edit Profile", management_url
  = tab_to "Edit Account Settings", edit_management_url
  = tab_to "Invite people to CommonPlace", '#'