<div class="top-bar">
  <div class="registration_right">
    <h3>Wrong Town?</h3> 
    <div id="wrong_town" class="button blue">
      Choose
    </div>
    <h3>Have an account?</h3> 
    <div id="login" class="button red drop">
      Login
    </div>
    <div id="choose_town" class="dropdown">
      <div class="arrow"></div>
      <ul id="town_list"></ul>
    </div>
    <div id="sign_in" class="dropdown">
      <div class="arrow"></div>
      <input type="email" name="email" class="email" placeholder="Email Address" />
      <input type="password" name="password" placeholder="Password" />
      <button name="signin" class="button signin">Sign In</button>
      <a href="/users/auth/facebook">
        <button name="facebooksignin" class="button signin facebook">Facebook Login</button>
      </a>
      <a href="/users/password/new">
        <p class="forgot">Forgot Password?</p>
      </a>
    </div>
  </div>
</div>
