<div id="nav_wrapper" class="pie-element">
  
  <div class="community-name">
    <a href="{{community_url}}">
      {{#isAuth}}
          <h1 class="community">
            <img src="/assets/shared/redesign/flag-logo.png" alt="OurCommonPlace" class="cp_logo">
          </h1>
            <div class="button-wrapper pie-element">
               <a href="" class="red-button post pie-element">Post To Your Neighbors!</a>
            </div>
      {{/isAuth}}
      {{^isAuth}}
        <img src="/assets/shared/redesign/logo3.png" alt="OurCommonPlace" class="cp_logo">
      {{/isAuth}}
    </a>
  </div>
  <div class="nav"></div>

</div>
