<div class="top-bar">
  <div class="registration_right">
    <div class="choose_town_container">
       <h3>Wrong Town?</h3> 
       <div id="wrong_town" class="button blue">
         Choose
       </div>
    </div>
    <h3>Have an account?</h3> 
    <div id="login" class="button red drop">
      Login
    </div>
    <div class="choose_town_container">
       <div id="choose_town" class="dropdown">
         <div class="arrow"></div>
         <ul id="town_list"></ul>
       </div>
    </div>
    <div id="sign_in" class="dropdown">
      <div class="arrow"></div>
      <form id="sign_in_form">
        <input type="email" name="email" class="email" placeholder="Email Address" />
        <input type="password" name="password" placeholder="Password" />
        <button name="signin" class="button signin">Sign In</button>
        <input type="submit" style="display: none"/>
      </form>
      <a href="/users/auth/facebook">
        <button name="facebooksignin" class="button signin facebook">Facebook Login</button>
      </a>
      <a href="/users/password/new">
        <p class="forgot">Forgot Password?</p>
      </a>
    </div>
  </div>
</div>
