<input type="text" id="search-header" class="pie-element" placeholder="Search {{community_name}}..." >
<ul>
  {{#showActivity}}
    <li class="my-activity"></li>
  {{/showActivity}}


  <li class="account pie-element">
    <img class="avatar-container" src="{{avatar_url}}" />
    </div>
    <a href="{{user_url}}" data-remote>My Page </a><span class="arrow">&#9662;</span>

    <ul class="account-sub">
      <li class="inbox">
        <a href="{{inbox_url}}" data-remote>
         Inbox{{#hasUnreadMessages}} <span class="inbox_number">{{unreadMessages}}</span>{{/hasUnreadMessages}}
        </a>
      </li>
      <li><a href="{{user_url}}" data-remote>My Page</a></li>
      {{#feeds}}
        <li><a href="/pages/{{slug}}">{{name}}</a></li>
      {{/feeds}}

      <li><a href="/feed_registrations/new">Create a New Page</a></li>
      <li><a href="{{account_url}}" data-remote>Account Settings</a></li>
      <li><a href="{{faq_url}}" data-remote>FAQ</a></li>

      <li><a href="/users/sign_out">Sign Out</a></li>
    </ul>
  </li>
</ul>
