<h3>Have an account?</h3>
<div id="login" class="button red drop">
  Login
</div>
<div id="sign_in" class="dropdown">
  <div class="arrow"></div>
  <form id="sign_in_form">
    <input type="email" name="email" class="email" placeholder="Email Address" />
    <input type="password" name="password" placeholder="Password" />
    <button id="signin_button" name="signin" class="button signin">Sign In</button>
    <input type="submit" style="display: none"/>
  </form>
  <a href="/users/auth/facebook">
    <button name="facebooksignin" class="button signin facebook">Facebook Login</button>
  </a>
  <a href="/users/password/new">
    <p class="forgot">Forgot Password?</p>
  </a>
</div>
<div class="registration_banner">
   <div class="text_container">

    {{#isHarvardNeighbors}} 
      <p>
        Before you post or reply we need to verify that you are a Harvard Neighbor! Sign up to share updates, announcements and events with your Neighbors and connect with Harvard Neighbors interest groups.
      </p>
    {{/isHarvardNeighbors}}    

    {{^isHarvardNeighbors}} 
     <p>Before you post or reply we need to verify that you live in town! Sign up to share goods, services and events with your neighbors and connect with great local organizations. To learn more about {{community_name}}'s new town bulletin, <a href="/about">click here</a>.</p><span class="red-button button"><a href="#">Sign Up Now!</a></span>
    {{/isHarvardNeighbors}}    

   </div>
</div>
