#community_referrers
  h1
    font-size: 20px
    padding: 10px
    width: auto
    color: #3B6085
    line-height: 1.2
    margin: 5px auto 20px;
    text-align: center;
    font-family: Rockwell,Georgia,Times,"Times New Roman",serif
