// Literal Colors
$white: #ffffff

// CommonPlace specific colors are prefixed with cp
$cp-red: #ac32ff
$cp-blue: #1b334a

// Border colors are prefixed with bo-

// Text colors are prefixed with t-

// Background colors are prefixed with bg-

// Ones I need to orgainize 
$blue: #1b334a
$dark-blue: #151f28
$light-blue: #32485c
$red: #ac322f
$dark-red: darken($red, 20%)
$black: #333
$dark-grey: #888
$light-grey: #e8e8e8
$off-grey: #eeecdf
$search-box: #b7c3cf
$dark-tan: #bcbbae
$tan: #F5F3E9
$light-tan: #FCFAF4
$offWhite: #f8f7f2
$lightestGray: #eee
$lightGray: #ddd
$mediumGray: #888
$shadow: #E7E4D7
$cpDarkRed: #9A3633
$cpRed: #B53F3C
$cpDarkBlue: #3B6085
$cpBlue: #497DAF
$cpGrey: #525252

$infoBoxTitle: #CA4B4B
$orgPageBlue: #4a7fb1
$orgPageRed: #af4339
$inputBorders: #792E2E
$topColor: #eaeae8
$topTextColor: #777
$topLinkColor: #4A7EB0
$winColor: #CEC
$calendarTopColor: #5A758C

$black-shadow: 0px 2px 1px black


$listingHover: #FFFDF0
$timeAgo: #4880B1
$subtitle: #B53F33
$baseRed: #b7403c
$baseBlue: #4880b1
$baseGray: #eee
$baseText: #656565
$textColor: #444
$titleColor: #222