strong
  font-weight: bold
  
em
  font-style: italic

.clear
  clear: both
  
body
  font-family: $heading
  
h1, h2, h3, h4, h5
  font-weight: normal
  
sup
  font-size: smaller
  vertical-align: super
  line-height: 8px

a
  color: $black
  
#main
  width: 1000px!important
  position: relative
  margin: 0px auto

::-webkit-scrollbar
  width: 11px
  cursor: pointer
::-webkit-scrollbar-track
  //background-color: rgba(0, 0, 0, 0.15)
  //background-image: url(shared/redesign/tan-bg.png)
  background-color: #D5D1C8
  //border-radius: 10px
::-webkit-scrollbar-thumb
  border-radius: 10px
  //background-color: $red
  @include background(linear-gradient(right , #d0413d, #ac322f))
  box-shadow: inset 1px 0px 0px rgba(255,255,255,0.20) !important
  cursor: pointer !important