strong
  font-weight: bold
  
em
  font-style: italic

.clear
  clear: both
  
body
  font-family: $heading
  
h1, h2, h3, h4, h5
  font-weight: normal

a
  color: $black
  
#main
  width: 1000px
  position: relative
  margin: 0px auto