@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700)
@import url(https://fonts.googleapis.com/css?family=Ultra)
@import url(https://fonts.googleapis.com/css?family=Yellowtail)

$heading: 'Rokkitt', RockwellSTD, Rockwell, sans-serif
$body: Helvetica Neue, Helvetica, Tahoma, serif
$Ultra: 'Ultra'
$Yellowtail: 'Yellowtail'
$Rokkitt: 'Rokkitt'