/*
Syntax error: File to import not found or unreadable: core.
              Load paths:
                /Users/joshlewis/Documents/Design/Sites/CommonPlace
                /Users/joshlewis/Documents/Design/Sites/CommonPlace/app/stylesheets
        on line 1 of app/stylesheets/main_page.css.sass

1: @import core
2: @import header
3: @import shared/buttons
4: @import footer
5: @import date_picker
6: @import neutral_notification

Backtrace:
app/stylesheets/main_page.css.sass:1
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/import_node.rb:42:in `import'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:148:in `rescue in visit_import'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:153:in `visit_import'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/engine.rb:240:in `render'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:252:in `block (4 levels) in watch'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:245:in `watch'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/plugin.rb:111:in `method_missing'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:408:in `watch_or_update'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:294:in `process_result'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:41:in `parse'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/lib/sass/exec.rb:21:in `parse!'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/gems/sass-3.1.7/bin/sass:8:in `<top (required)>'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/bin/sass:19:in `load'
/Users/joshlewis/.rvm/gems/ruby-1.9.3-p0/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: core.\A               Load paths:\A                 /Users/joshlewis/Documents/Design/Sites/CommonPlace\A                 /Users/joshlewis/Documents/Design/Sites/CommonPlace/app/stylesheets\A         on line 1 of app/stylesheets/main_page.css.sass\A \A 1: @import core\A 2: @import header\A 3: @import shared/buttons\A 4: @import footer\A 5: @import date_picker\A 6: @import neutral_notification"; }
