#header
  background: $cp-blue
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25)
  border-bottom: 1px solid #000
  a
    text-decoration: none

  .remove_border
    border:
      top: 1px solid #ccc
      bottom: none !important
      left: 1px solid #ccc
      right:  1px solid #ccc
    +border-radius(5px 5px 0px 0px)
  .border
    border: 1px solid #ccc
    +border-radius(5px)


  &.about, &.app
    .header_left
      h1
        color: white
        text-shadow: $black-shadow
        font-size: 30px
        font-family: $heading
        text-align: left
        font-weight: bold
        a
          text-decoration: none
          color: white
    #user_sign_in, .choose_town_container
      h3
        color: white
        font-size: 16px
        text-shadow: 1px 1px 0px black
        font-family: $heading
      .button
        padding: 8px 4px
        border-radius: 4px 
        box-shadow: inset 0 1px 0px rgba(255,255,255,0.4)
        cursor: pointer
        font-family: $heading
        font-size: 17px
        font-weight: normal
        color: white
        border: 1px solid black
        text-align: center
        text-shadow: -1px -1px 0px #64100D
      .blue
        +linear-gradient($darkModerateBlue, $cp-blue)
        &:hover, &:focus
          color: #fff
          +linear-gradient(to top, #3e6b96, $cp-blue)
          box-shadow: inset 0 1px 1px rgba(255,255,255,.5)
        &:active
          color: #fff
          +linear-gradient(to bottom, $darkModerateBlue, $cp-blue)
      .red
        background: $red
        +linear-gradient(#cc4441, #ac322f)
        &:hover, &:focus
          color: #fff
          +linear-gradient(to top, #ea4e4a, #ac322f)
          box-shadow: inset 0 1px 0px rgba(255,255,255,0.5)
        &:active
          color: #fff
          +linear-gradient(to bottom, #cc4441, #ac322f)
      .dropdown
        background: #EEECDF
        background-image: url("shared/redesign/tan-bg.png")
        text-align: center
        +border-radius(4px)
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5)
        border: 1px solid white
        .arrow
          background: url("shared/redesign/arrow.png") no-repeat
          background-position: 100px 12px
        input
          -webkit-appearance: none
          font-size: 16px
          padding: 8px
          border: 1px solid #BCBBAE
          font-family: $heading
          color: #131313
          background-color: #FEFFFE
          box-shadow: inset #ddd 0px 0px 3px 2px, rgba(255,255,255,1.0) 0px 1px 0px
          -webkit-font-smoothing: antialiased
          &:focus
            outline: none
        input::-webkit-input-placeholder
          color: #555
        input:-moz-placeholder
          color: #555
        button.signin
          text-align: center
          +linear-gradient($darkModerateBlue, $cp-blue)
          font-weight: bold
          font-size: 16px
          padding-top: 10px
          padding-bottom: 8px
          -webkit-font-smoothing: antialiased
          background-color: $cp-blue
          text-shadow: -1px -1px 0px #333
          &:hover, &:focus
            color: #fff
            +linear-gradient(to top, #3e6b96, $cp-blue)
            box-shadow: inset 0 1px 0px rgba(255,255,255,0.5)
          &:active
            color: #fff
            +linear-gradient(to bottom, $darkModerateBlue, $cp-blue)
        button.signin.facebook
          font-size: 16px
          padding: 10px 0 8px 0
          +linear-gradient(#4e6fb6, #3b5998)
          -webkit-font-smoothing: antialiased
          background-color: #3b5998
          text-shadow: -1px -1px 0px #333
          &:hover, &:focus
            color: #fff
            +linear-gradient(to top, #5c83d7, #3b5998)
            box-shadow: inset 0 1px 0px rgba(255,255,255,.5)
          &:active
            color: #fff
            +linear-gradient(to bottom, #4e6fb6, #3b5998)
        p 
          padding: 12px 0px 13px 0px
          text-align: left
          font-family: $heading
          cursor: pointer
          color: #555
          font-weight: normal
          text-shadow: 1px 1px 0px white
          -webkit-font-smoothing: antialiased
          &:hover
            text-decoration: underline
      #choose_town.dropdown
        ul#town_list
          box-shadow: inset #ddd 0px 0px 3px 2px, #fff 0px 1px 0px
          border: 1px solid #d7d5c5
          li
            border-bottom: 1px dotted #ddd
            font-family: $heading
            font-size: 18px
            line-height: 24px
            text-align: left
            color: $black
            background-color: #fff
            &:last-child
              border: 0px
            &:hover
              background-color: #eee
              color: $black
              cursor: pointer
            a
              padding: 8px 10px
              color: #555
              cursor: pointer
              &:hover
                color: $red

  &.app 
    #nav_wrapper
      border-left: 1px solid #151f28
      border-right: 1px solid #31465b
      box-shadow: inset -1px 0px 0 0 $dark-blue
      .header_left
        border-left: 1px solid #31465b
        border-right: 1px solid #31465b
        box-shadow: inset -1px 0px 0 0 #151f28
      .button-wrapper
        background-image: url("shared/redesign/button-tail.png")
        background-color: transparent
        background-repeat: no-repeat
        background-position: 0px -2px
        &:hover
          background-position: 0px -42px
          .red-button           
            box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35)
            +linear-gradient(to top, $paleRed, $christmasRed)
            behavior: url("assets/PIE.htc")
        &:active
          background-position: 0px -82px
          .red-button
            box-shadow: inset 0px 1px 0px rgba(255,255,255,0.20)
            +linear-gradient(to bottom, #d64541, #ac322f)
            text-shadow: 0px 1px 0px #64100D
            behavior: url("assets/PIE.htc")
        .red-button
          font-size: 17px
          text-align: center
          padding: 10px 9px 7px
          font-weight: normal
          border: 0px
          border-bottom: 2px solid rgba(0,0,0,0.75)
          box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3)
          behavior: url("assets/PIE.htc")
          &:hover, &:focus
            box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35)
          &:active
            box-shadow: inset 0px -1px 0px rgba(255,255,255,0.20)
          //&:after
            border-top: 8px transparent #8a2a23
            border-left: 8px transparent
            border-right: 8px transparent
            &:hover, &:focus
              border-top: 8px solid #cf4643
            &:active
              border-top: 8px solid #c33c39

      #logo
        text-decoration: none
        text-align: left
        color: #fff
        font-size: 30px
        line-height: 30px
        +text-shadow(#000 -1px 1px 0)
        span
          font-family: $heading
          color: #AC322F
          font-size: 25px
        img
          vertical-align: bottom

      h1
        color: white
        text-shadow: $black-shadow
        font-size: 32px
        letter-spacing: -2px
        font-family: $heading
        text-align: left
        font-weight: bold
        a
          text-decoration: none
          color: white

      .nav, .header_search
        #search-header
          font-size: 18px
          padding: 7px 10px 5px
          border-radius: 4px
          background-color: rgba(0,0,0,0.10)
          color: #FCFAF4
          font-weight: bold
          text-shadow: 1px 1px 0px rgba(0,0,0,0.65)
          -webkit-font-smoothing: antialiased
          border: 1px solid #151f28
          box-shadow: 0px 1px 0px rgba(255,255,255,0.15), inset 1px 1px 3px rgba(0,0,0,0.20)
          behavior: url("assets/PIE.htc")
          &:active, &:focus
            outline: none
            background-color: #FCFAF4
            background-color: rgba(92,143,189,0.15)
            color: white
            text-shadow: none
            box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.20), 0px 1px 0px rgba(255, 255, 255, 0.15)
            behavior: url("assets/PIE.htc")
        li
          padding-top: 12px

        .avatar-container 
          border-radius: 2px
          background-size: cover
          background-position: center center
        li.account
          -webkit-font-smoothing: antialiased
          background: $blue
          padding: 10px 8px 6px 8px
          font-family: $heading
          font-size: 16px
          font-weight: normal
          border: 1px solid #151f28 !important
          color: rgba(255,255,255,0.65)
          text-transform: capitalize
          border-radius: 5px
          +linear-gradient(to top, $darkModerateBlue, $cp-blue)
          box-shadow: 0px 1px 3px rgba(0,0,0,0.25), inset 0px 1px 0px rgba(255,255,255,0.2) 
          text-shadow: 1px 1px 0px rgba(0,0,0,0.75)
          cursor: pointer
          span.arrow
            font-size: 17px
            color: rgba(0,0,0, 0.80)
            font-weight: bold
            text-shadow: 1px 1px 0px rgba(255,255,255, 0.25)
            -webkit-font-smoothing: antialiased          
          a
            color: rgba(255,255,255,0.65)
            color: white
            text-shadow: none
          &:hover, &:focus
            box-shadow: 0px 1px 2px rgba(0,0,0,.15), inset 0px 1px 0px rgba(255,255,255,0.2)
            +border-bottom-right-radius(0px)
            +border-bottom-left-radius(0px)
            behavior: url("assets/PIE.htc")
            span.arrow
              color: #497ba7
              color: rgba(255,255,255,0.65)
              text-shadow: -1px -1px 0px rgba(0,0,0, 0.85)
          //&:active
            color: #fff
            +linear-gradient(to bottom, $darkModerateBlue, $cp-blue)
            text-shadow: -1px -1px -1px rgba(0,0,0,.65)
            box-shadow: 1px 1px 1px rgba(0,0,0,.25)

          ul.account-sub
            background-color: $cp-blue
            box-shadow: 0px 2px 2px rgba(0,0,0,0.40), inset 0px -1px 0px rgba(255,255,255,0.15) 
            font-family: $heading
            text-shadow: 1px 1px 1px #000
            border-top: 0px !important
            border: 1px solid #151f28
            +border-top-right-radius(0px)
            +border-bottom-right-radius(5px)
            +border-top-left-radius(5px)
            +border-bottom-left-radius(5px)
            padding: 0
            behavior: url("assets/PIE.htc")
            li
              padding: 0
              border-bottom: 1px solid rgba(0,0,0,0.40)
              border-top: 1px solid rgba(255,255,255,0.10)
              &:first-child
                border-top: 0px none
                +border-top-left-radius(5px)
                box-shadow: inset 0px 1px 0px rgba(255,255,255,0.10)
                padding-top: 2px 
              &:last-child
                border-bottom: 0px none
              &:hover
                background-color: rgba(92,143,189,0.30)
                color: rgba(255,255,255,0.65)
              a
                padding: 10px 10px 9px 10px
                font-family: $heading
                font-size: 16px
                font-weight: normal
                color: rgba(255,255,255,0.65)
                span.inbox_number
                  background-color: $red
                  color: rgba(255,255,255,0.65)              
                  border-radius: 30px
                  padding: 3px 4px 4px 4px
                  text-align: center
                  background-color: rgba(0,0,0,0.25)
                  box-shadow: 0px 1px 0px rgba(255,255,255,0.15), inset 1px 1px 1px rgba(0,0,0,0.45)
                  font-size: 11px
                  font-weight: bold
                  font-family: $body
                  behavior: url("assets/PIE.htc")
                &:hover
                  color: #fff
                  span.inbox_number
                    color: #fff
                    text-shadow: 1px 1px 0px #000

.badger-outter
  min-width: 20px
  height: 20px
  position: absolute
  top: -5px
  left: -10px
  z-index: 9999
  
.badger-inner
  border-radius: 20px
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  float: right
  padding: 1px
  box-shadow: 1px 1px 2px rgba(0,0,0,0.75), inset 0px 1px 1px rgba(255,255,255,0.45)
  border: 1px solid #ac322f
  background: #ca3934
  background: -moz-linear-gradient(100% 100% 90deg, #ca3934, #d0413d)
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0413d), to(#ca3934))
  background: -webkit-linear-gradient(#d0413d, #ca3934)
  background: -o-linear-gradient(#d0413d, #ca3934)
  z-index: 99999
  behavior: url("assets/PIE.htc")
.badger-badge
  color: #fff
  padding: 2px 4px
  margin: 0
  text-align: center
  text-shadow: 0px -1px 1px #000
  z-index: 999999
  font-family: $body
.badger-text
  font-size: 12px
  
.badger-number
  font-size: 11px

.registration_banner
  display: none
  width: 100%
  position: fixed
  //top: 51px
  //background-color: rgba(0,0,0,0.75)
  //background-image: url('shared/redesign/tan-bg.png')
  padding: 15px 10px
  left: 0px
  overflow: hidden
  text-align: left
  color: white
  bottom: 0px
  background: $cp-blue
  box-shadow: 0px -3px 5px rgba(0,0,0,0.25)
  border-top: 1px solid #000
  //z-index: 700
  .text_container
    width: 982px
    left: -10px
    position: relative
    margin: 0px auto
    padding: 7px 10px 5px 10px
    border-radius: 4px
    background-color: rgba(0,0,0,0.10)
    border: 1px solid #151f28
    box-shadow: 0px 1px 0px rgba(255,255,255,0.15), inset 1px 1px 3px rgba(0,0,0,0.20)
    -webkit-font-smoothing: antialiased    
    behavior: url("assets/PIE.htc")
    p
      font-size: 18px
      //text-shadow: 1px 1px 0px black
      //padding: 0px 25px
      line-height: 21px
      color: #FCFAF4
      text-shadow: 1px 1px 0px rgba(0,0,0,0.65)
      //color: #131313
      width: 830px
      display: inline-block
      a
        color: white
        text-decoration: underline !important
        &:hover
          text-decoration: none !important
    span.button
      float: right !important
      width: 125px !important
      height: 18px
      padding-top: 11px !important
      a
        color: white
