.profile-card
  background-image: url(shared/redesign/tan-bg.png)
  overflow: none
  background-color: #e9e5de
  border: 1px solid #fff
  color: #333
  margin-bottom: 15px
  border-radius: 4px
  padding: 15px
    bottom: 12px
  width: 543px
  //width: 673px
  display: inline-block
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5)
  font-family: $heading
  position: relative
  //&:hover
    cursor: pointer
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.65)    
  span.divider
    margin-bottom: 30px
    float: left
    width: 100%
    height: 2px
    background-color: #d5d1c8
    border-bottom: 1px solid #fff 
  //.message-link
    float: left
    width: 85px
    &:hover
      cursor: pointer
      //&:after
        content: 'Send A Message'
        padding-top: 28px
        border-radius: 4px
        background-color: rgba(0,0,0,0.5)
        color: white
        text-shadow: 1px 1px 0px rgba(0,0,0,0.75)
        font-family: $body
        font-weight: bold
        font-size: 12px
        position: absolute
        top: 15px
        left: 15px
        width: 85px
        height: 57px
        line-height: 15px
        text-align: center
        white-space: normal
  .left 
    float: left
    width: 90px
    .avatar-container 
      width: 90px
      height: 90px
      border-radius: 4px
      box-shadow: 1px 1px 0px #fff, inset 1px 1px 2px rgba(0,0,0,0.25)
      background-color: #f6f4ed
      margin-bottom: 10px
  .red-button, .blue-button, .grey-button
    font-size: 12px
    padding: 5px
    font-family: $body
    color: white
    height: auto
    float: left
    margin-right: 15px
    margin-top: 5px
    line-height: 16px
    text-align: center
    width: 89px
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25), inset 0px 1px 0px rgba(255,255,255,0.25) !important
    &:hover
      color: white !important
  //.unmeet, .unsubscribe, .just-met
    @include background(linear-gradient(top center, #f4f1ea, #dcd9d0))
    border: 1px solid #d5d1c8
    color: #888
    text-shadow: 1px 1px 0px white !important
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25), inset 0px 1px 0px rgba(255,255,255,0.25) !important
    &:hover
      @include background(linear-gradient(top center, #FAF8F2, #E3E0D5))
      color: #888 !important
    &:active
      @include background(linear-gradient(top center, #dcd9d0, #f4f1ea))
      color: #bbb !important
  //.just-met
    cursor: default
    &:hover, &:active
      @include background(linear-gradient(top center, #f4f1ea, #dcd9d0))
    &:active
      color: #bbb !important
  //.message-link
    margin-top: 0px
  //.meet, .just-met, .unmeet
    margin-top: 48px
  //.message-link, .meet, .just-met, .unmeet, .subscribe, .unsubscribe
    padding: 8px 5px
    font-size: 12px
    position: absolute
    width: 104px
    right: -145px
    top: 0px
  .subscribe, .unsubscribe, .meet, .just-met, .unmeet, .contact
    float: left
    font-family: $body
    font-weight: bold
    text-transform: uppercase
    color: $red
    text-align: center
    width: 90px
    font-size: 11px
    text-shadow: 1px 1px 0px white
    box-shadow: 0px 1px 0px white
    border-bottom: 1px solid #d5d1c8
    text-indent: -1px
    &:hover
      color: #aaa
  .contact
    padding-bottom: 6px
    margin-bottom: 6px
  .meet, .just-met, .unmeet
    border: 0px transparent
    box-shadow: none
  .subscribe, .unsubscribe
    border: 0px transparent
    box-shadow: none
    padding: 0px
  .unmeet
    color: #aaa
    &:hover
      color: $red !important
  .unsubscribe, .just-met
    color: #aaa
    &:hover
      color: $red !important
  .just-met
    &:hover
      color: #aaa !important
      
  .right 
    float: left 
    width: 438px
    margin-left: 15px
    h2, h2 a
      font-size: 34px
      color: $blue
      font-family: $heading
      text-shadow: 1px 1px 0px white
      margin-top: -3px
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      height: 44px
    .stat-bar
      position: relative
      ul 
        //@include background(linear-gradient(top center, #f4f1ea, #dcd9d0))
        background-color: rgba(255, 255, 255, 0.15)
        border: 1px solid #d5d1c8
        border-radius: 4px
        //height: 54px
        box-shadow: 0px 1px 0px #fff, inset 0px 1px 0px #fff
        display: table
        width: 100%
        margin-bottom: 2px
        li
          //float: left
          //min-width: 60px
          //margin-top: 3px 
          //margin-bottom: 3px
          text-align: center
          font-family: $heading
          border-right: 1px solid #d5d1c8
          border-left: 1px solid #fbfaf7
          //height: 43px
          padding: 7px 8px 5px
          //cursor: pointer
          display: table-cell
          vertical-align: middle
          //width: auto
          //display: inline-block
          &:first-child 
            border-left: none
          &:last-child 
            border-right: none
          span.big
            color: $red
            font-size: 20px
            text-shadow: 1px 1px 0px white
          span.little 
            color: #333
            clear: both
            display: block
            font-size: 16px
            text-shadow: 1px 1px 0px white
            margin-top: -1px
          //&:hover 
            span.little 
              color: $red
          //&:active
            span.big, span.little
              color: #888 !important
            

  p 
    color: $black
    text-shadow: 1px 1px 0px white
    font-size: 16px 
    line-height: 20px
    clear: both
    margin-top: 10px
    float: left
    width: 100%
    //&:last-child
      margin-top: 5px
      margin-bottom: 5px
  p.bio
    //margin-bottom: 5px
  .bold
    font-weight: bold
    margin-right: 3px
    font-size: 15px
  a
    color: #666
    text-decoration: none
    &:hover
      color: $red
