.replies-area
  padding: 3px 0px 0 0px
  font-family: Helvetica, sans-serif
  .replies
    .comment
      .avatar-container
        background-size: cover
        background-repeat: no-repeat
        border-radius: 4px
  .thanks
    padding-bottom: 10px
  .thanks-list
    padding: 0px
    .reply-item
      padding: 10px 0px 0px 0px
      &:last-child
        padding-bottom: 0px !important
        
  .replies-more
    font-size: 11px
    text-transform: uppercase
    font-weight: bold
    text-align: center
    color: #333
    text-decoration: none
    border-top: 1px dotted #ddd
    padding-top: 12px
    padding-bottom: 10px
    &:hover
      color: $red
    .small 
      font-size: 9px
      color: #bbb

  .reply-list, .thanks-list
    //border-top: 1px dotted #ddd
    a
      color: #333
      &:hover
        color: $red
        //text-decoration: underline
    .reply-item
      padding: 0px 0px 9px 0px
      border-top: 1px dotted #ddd 
      &:first-child
        .reply-info
          padding-top: 10px
      &:last-child
        padding-bottom: 10px
      &:hover
        a.delete-reply, a.thank-reply, .thanked-reply, a.reply-message-link
          color: $dark-grey !important
          &:hover
            color: $red !important
        .thanked-reply
          color: #bebebe
          
      .avatar 
        +border-radius(5px)
        border: 0
        
      .avatar-container
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        border-radius: 4px
        
      .reply-info
        padding-top: 10px
        //border-top: 1px dotted #ddd

      .author, .body
        line-height: 18px
        font-size: 13px

      .author
        font-weight: bold
        color: #333
        float: left
        &:hover
          color: $red
          cursor: pointer

      .body, h1, h2, h3, h4, h5, h6, .reply-item .body
        color: #333
        a
          text-decoration: underline
          &:hover
            color: $red
            text-decoration: none

      h1, h2, h3, h4, h5, h6
        font-weight: bold
        
      .controls
        white-space: nowrap   
        .time
          color: #aaa
          font-size: 12px
          white-space: nowrap
        .thank-divider
          color: #aaa
          font-size: 11px
        .thanks-count
          color: #aaa
          font-size: 12px
          //&:hover
            color: #888
            //text-decoration: underline
            cursor: pointer
        

      a.delete-reply, a.thank-reply, .thanked-reply, a.reply-message-link
        font-size: 10px
        text-decoration: none
        font-weight: bold
        text-transform: uppercase
          
      a.delete-reply, a.thank-reply, a.reply-message-link
        color: white
        &:hover
          color: $red
          //text-decoration: underline
        
      .thanked-reply
        color: white


.replies form.new-reply
  .avatar 
    border-radius: 5px
    border: 0
    
  .reply-text
    textarea 
      font-family: Helvetica, Arial, sans-serif
      font-size: 13px
      color: #555
      background: white
      box-shadow: none
      border: 1px dotted #d9d9d9
      padding: 8px 10px
      line-height: 14px
      font-weight: normal
      -webkit-font-smoothing: antialiased
      input::-webkit-input-placeholder
        color: #888
      &:hover
        border-color: #c0c0c0
      &:focus
        color: #131313 !important
    .enter-hint
      font-size: 12px
      color: #aaa
      

.submit-c
  background: $red
  border-radius: 4px
  color: #fff
  text-shadow: 0px -1px 0px #64100D
  font-weight: bold
  letter-spacing: 1px
  font-family: $body
  +linear-gradient(to top, #d0413d, #ac322f)
  font-size: 11px
  text-decoration: none
  border: 1px solid
  border-color: #ac322f
  box-shadow: inset 0px 1px 0.5px #e28986
  padding: 6px
  text-align: center
  text-transform: uppercase
  &:hover, &:focus
    color: #fff
    +linear-gradient(to top, $paleRed, $christmasRed)
    box-shadow: 0px 2px 4px #adab9f
    cursor: pointer
  &:active
    color: #fff
    +linear-gradient(to bottom, #d64541, #ac322f)
    text-shadow: 0px 1px 0px #64100D
