<div id="feed-viewer">
  <h3 id="name">
    {{name}}
  </h3>
  <input id="email" type="text" placeholder="New owner's email">
  <button id="transfer">Transfer Feed</button>
  <HR>
  Feed Owner: {{feed_owner}}
  <br>
  Number of Subscribers: {{subscribers_count}}
  <br>
</div>
