<div id="person-viewer">
  {{ full_name }}
  <br />
  {{ address }}
  <br />
  <br />
  New activity: <input id="log-text" type="text" name="log" />
  <input id="log-add" type="submit" value="Add" />
</div>
