<div id="file-picker-filters">
  {{#tags}}
    <a class="tag-filter" data-state="neutral" data-tag="{{.}}">{{.}}</a>
  {{/tags}}

  <input type="text" placeholder="search" id="query-input">
  <button id="filter-button">Find</button>
</div>

<ul id="file-picker-list">
<li>Loading...</li>
</ul>
<button id="map-button">Map View</button>
