<!-- Start HTML -->

<div id="person-viewer">
  <h2 id="name">{{ full_name }}</h2>
  <div id="person-viewer-info">
  <span id="person-viewer-left">
	<div id="email-div">
		<h3>Email</h3>
		<div>{{ email }}</div>
		<form id="add-email" autocomplete="off">
		<input id="email-text" type="text" placeholder="john@example.com"><br />
		<input id="email-add" type="submit" value="Change Email">
		</form>
	</div>
	<br />
	<div id="address-div">
		<h3>Address</h3>
		<div>{{ address }}</div>
		<form id="add-address" autocomplete="off">
		<input id="address-text" type="text" placeholder="125 Western Avenue, Allston, MA 02134"><br />
		<input id="address-add" type="submit" value="Change address">
		</form>
	</div>
  </span>

  <span id="person-viewer-right">  
    <p>This resident's current tags:</p>
    <ul>
    {{#tags}}<li>{{.}}</li>{{/tags}}
    </ul>
  
    <ul id="organizer-logs">
      {{#logs}}
        <li>{{.}}</li>
      {{/logs}}
    </ul>
  
    <br />
    {{#possibleTags}}
    	<button type=button>{{.}}</button>
    {{/possibleTags}}
    <form id="add-log">
      Add Log:
      <!--<input id="log-date" placeholder="yyyy-mm-dd">-->
  	<p>Date: <input id="datepicker" type="text"></p>
      <input id="log-text" type="text" placeholder="description">
      <input id="log-tags" type="text" placeholder="dropped, talked to, dropped on 2012-01-13">
      <input id="log-add" type="submit" value="Add">
    </form>
    <button type="button">Star as VIP</button>
  </span>
  </div>
</div>
