<!-- Start HTML -->
<div id="person-viewer">
  <h3 id="name">{{ full_name }}</h3>
  
  <div id="person-viewer-info">
  <span id="person-viewer-left"> 
	<div id="email-div">
		<h4>Email:</h4>
		<div>{{ email }}</div>
		<form id="add-email" autocomplete="off">
		<input id="email-text" type="text" placeholder="john@example.com"><br />
		<input id="email-add" type="submit" value="Change Email">
		</form>
	</div>
	<br />
	<div id="address-div">
		<h3>Address:</h3>
		<div>{{ address }}</div>
		<form id="add-address" autocomplete="off">
		<input id="address-text" type="text" placeholder="125 Western Avenue, Allston, MA 02134"><br />
		<input id="address-add" type="submit" value="Change address">
		</form>
	</div>
  </span>

  <span id="person-viewer-right">  
    <h3>Current tags:</h3>
    <ul id="resident-tags">
    {{#tags}}<li>{{.}}</li>{{/tags}}
    </ul>
  
    <h3>Organizer Logs:</h3>
    <ul id="organizer-logs">
      {{#logs}}
        <li>{{.}}</li>
      {{/logs}}
    </ul>
  
    <br />
    <form id="add-log">
      <h2>Add Log:</h2>
      <!--<input id="log-date" placeholder="yyyy-mm-dd">-->
  	  <input id="log-date" type="text" placeholder="Date (MM/DD/YYYY)"><br />
      <!--<input id="log-text" type="text" placeholder="description"><br />-->
      <textarea id="log-text" name="log-text" placeholder="description" cols="40"></textarea><br />
      <!--<input id="log-tags" type="text" placeholder="dropped, talked to, dropped on 2012-01-13"><br />-->
	  Tag as: <br />
      {{#possibleTags}}
      <input type="checkbox" value="{{.}}" />{{.}}<br />
      {{/possibleTags}}
      <input id="log-add" type="submit" value="Add log">
    </form>
  </span>
  </div>
</div>
