<div>
  Date of activity: <input id="map-date" type="text" />
  Log: <input id="map-text" type="text" />
  <button id="add-log-to-selected" type="button">Add log to all selected residents
</div>
<div id="map_canvas">
Google Maps isn't working. Refresh or use a different browser or device. 
</div>
