<form>
  <label>First Name:
    <input type="text" name="first-name" value="{{first_name}}">
  </label>

  <label>Last Name:
    <input type="text" name="last-name" value="{{last_name}}">
  </label>

  <input type="submit" value="update">
</form>
