<div>
{{name}}
<HR style="border:1 dashed #987cb9" width="100%" SIZE=1>
<table>
<form id="add-resident" autocomplete="off">

<tr>
  <td>First Name:</td> <td><input id="first-name" type="text" /></td></tr>
  <tr><td>Last Name:</td> <td><input id="last-name" type="text" /></td></tr>
  <tr><td>Email:</td> <td><input id="email" type="text" /></td></tr>
  <tr><td>Phone:</td> <td><input id="phone" type="text" /></td></tr>
  <tr><td>Address:</td> <td><input id="address" type="text" /></td></tr>
  <tr><td>Organization:</td> <td><input id="organization" type="text" /></td></tr>
  <tr><td>Position:</td> <td><input id="position" type="text" /></td></tr>
  <tr><td>Notes:</td> <td><textarea id="notes" /></td></tr>
</table>
  Sector tag: <br>
    <input type="checkbox" name="sector-tag" value ="cultural" >Cultural<br>
    <input type="checkbox" name="sector-tag" value ="religious">Religious<br>
    <input type="checkbox" name="sector-tag" value ="civic">Civic<br>
    <input type="checkbox" name="sector-tag" value ="government">Government<br>
    <input type="checkbox" name="sector-tag" value ="schools">Schools<br>
  Type tag:  <br>
    <input type="checkbox" name="type-tag" value ="leader" >Leader<br>
    <input type="checkbox" name="type-tag" value ="neighbor" >Neighbor<br>
  Input Method:  <br>
    <input type="checkbox" name="input-method" value ="Leader List">Leader List<br>
    <input type="checkbox" name="input-method" value ="Non-Leader List">Non-Leader Email List<br>
    <input type="checkbox" name="input-method" value ="Nominee">Nominee<br>
    <input type="checkbox" name="input-method" value ="Nominator">Nominator<br>
  Potential Feed Owner Status:  <br>
    <input type="checkbox" name="Potential Feed Owner-status" value ="Potential Feed Owner">Potential Feed Owner<br>
    <input type="checkbox" name="Potential Feed Owner-status" value ="Not Potential Feed Owner">Not Potential Feed Owner<br>
  Organizer:  <br>
    <input type="checkbox" name="organizer" value ="Chava">Chava<br>
    <input type="checkbox" name="organizer" value ="Peter">Peter<br>
    <input type="checkbox" name="organizer" value ="Ricky">Ricky<br>
  <input type="submit" id="new-resident" value ="Add"></input>
</form>
</div>
<div id="status">
</div>
