<div>
{{name}}
<HR style="border:1 dashed #987cb9" width="100%" SIZE=1>
<table>
<form id="add-resident" autocomplete="off">

<tr>
  <td>First Name:</td> <td><input id="first-name" type="text" /></td></tr>
  <tr><td>Last Name:</td> <td><input id="last-name" type="text" /></td></tr>
  <tr><td>Email:</td> <td><input id="email" type="text" /></td></tr>
  <tr><td>Phone:</td> <td><input id="phone" type="text" /></td></tr>
  <tr><td>Address:</td> <td><input id="address" type="text" /></td></tr>
  <tr><td>Organization:</td> <td><input id="organization" type="text" /></td></tr>
  <tr><td>Position:</td> <td><input id="position" type="text" /></td></tr>
  <tr><td>Notes:</td> <td><textarea id="notes" /></td></tr>
</table>
  Sector tag: <br>
    <input type="checkbox" name="sector-tag" value ="school-official" >School Official<br>
    <input type="checkbox" name="sector-tag" value ="arts">Arts<br>
    <input type="checkbox" name="sector-tag" value ="police">Police<br>
    <input type="checkbox" name="sector-tag" value ="4">4<br>
    <input type="checkbox" name="sector-tag" value ="5">5<br>
  Type tag:  <br>
    <input type="checkbox" name="type-tag" value ="feed-owner" >Feed Owner<br>
    <input type="checkbox" name="type-tag" value ="potential-feed-owner" >Potential Feed Owner<br>
    <input type="checkbox" name="type-tag" value ="big-supporter">Big Supporter<br>
    <input type="checkbox" name="type-tag" value ="potential-big-supporter">Potential Big Supporter<br>
    <input type="checkbox" name="type-tag" value ="neighborhood-captain">Neighborhood Captain<br>
    <input type="checkbox" name="type-tag" value ="potential-neighborhood-captain">Potential Neighborhood Captain<br>
    <input type="checkbox" name="type-tag" value ="group-captain">Group Captain<br>
    <input type="checkbox" name="type-tag" value ="potential-group-captain">Potential Group Captain<br>
  <input type="submit" id="new-resident" value ="Add"></input>
</form>
</div>
<div id="status">
</div>
