<div>
{{name}}
<HR style="border:1 dashed #987cb9" width="100%" SIZE=1>
<table>
<form id="add-resident" autocomplete="off">

<tr>
  <td>First Name:</td> <td><input id="first-name" type="text" /></td></tr>
  <tr><td>Last Name:</td> <td><input id="last-name" type="text" /></td></tr>
  <tr><td>Email:</td> <td><input id="email" type="text" /></td></tr>
  <tr><td>Phone:</td> <td><input id="phone" type="text" /></td></tr>
  <tr><td>Address:</td> <td><input id="address" type="text" /></td></tr>
  <tr><td>Organization:</td> <td><input id="organization" type="text" /></td></tr>
  <tr><td>Position:</td> <td><input id="position" type="text" /></td></tr>
  <tr><td>Notes:</td> <td><textarea id="notes" /></td></tr>
</table>
  Type tag:  <br>
    <input type="checkbox" name="type-tag" value ="Excited Neighbor">Excited Neighbor<br>
    <input type="checkbox" name="type-tag" value ="Gatekeeper">Gatekeeper<br>
    <input type="checkbox" name="type-tag" value ="Leader">Leader<br>
    <input type="checkbox" name="type-tag" value ="News">News<br>
    <input type="checkbox" name="type-tag" value ="Nominee">Nominee<br>
    <input type="checkbox" name="type-tag" value ="Nominator">Nominator<br>
    <input type="checkbox" name="type-tag" value ="Non-Leader Email List">Non-Leader Email List<br>
  Organizer:  <br>
    <input type="checkbox" name="organizer" value ="Chava">Chava<br>
    <input type="checkbox" name="organizer" value ="Peter">Peter<br>
    <input type="checkbox" name="organizer" value ="Ricky">Ricky<br>
  Sector tag: <br>
    <input type="checkbox" name="sector-tag" value ="Culture">Culture<br>
    <input type="checkbox" name="sector-tag" value ="Religion">Religion<br>
    <input type="checkbox" name="sector-tag" value ="Civic">Civic<br>
    <input type="checkbox" name="sector-tag" value ="Government">Government<br>
    <input type="checkbox" name="sector-tag" value ="Schools">Schools<br>
    <input type="checkbox" name="sector-tag" value ="Town Meeting">Town Meeting<br>
    <input type="checkbox" name="sector-tag" value ="PTA">PTA<br>
    <input type="checkbox" name="sector-tag" value ="Kids">Kids<br>
    <input type="checkbox" name="sector-tag" value ="Business">Business<br>
    <input type="checkbox" name="sector-tag" value ="Chamber of Commerce">Chamber of Commerce<br>
    <input type="checkbox" name="sector-tag" value ="Municipal">Municipal<br>
    <input type="checkbox" name="sector-tag" value ="Library">Library<br>
    <input type="checkbox" name="sector-tag" value ="News">News<br>
    <input type="checkbox" name="sector-tag" value ="General">General<br>
  <input type="submit" id="new-resident" value ="Add"></input>
</form>
</div>
<div id="status">
</div>
