<div id="statistics-charts">
  <div id="set-start-date" style="display:none">
    Organize start date is not set. Set now?
  </div>
  <br>
  Users Amount<div id="users_div"></div>
  Posts Amount<div id="posts_div"></div>
  Events Amount<div id="events_div"></div>
  Phone Calls Amount<div id="phone_div"></div>
  Nominees Amount<div id="nominees_div"></div>
  Nominators Amount<div id="nominators_div"></div>
  Post Published Amount<div id="posted_div"></div>
  Civic Heroes List Amount<div id="c_status_div"></div>
</div>
