<div id="statistics-charts">
  <div id="set-start-date" style="display:none">
    Organize start date is not set. Set now?
  </div>
  <br>
  <div id="charts">
  </div>
  Users<div id="users_div"></div>
  Posts<div id="posts_div"></div>
  Events<div id="events_div"></div>
  Leader Connections<div id="leaders_div"></div>
  Leader Partners<div id="leaders_p_div"></div>
  Excited Neighbor Connections<div id="neighbors_div"></div>
  Excited Neighbor Partners<div id="neighbors_p_div"></div>
  Early Adopter Connections<div id="adopters_div"></div>
  Early Adopter Partners<div id="adopters_p_div"></div>
</div>
