
<div id="statistics-charts">
<div id="set-start-date" style="display:none">
Organize start date is not set. Set now?
</div>
<br>
Users Amount<div id="users_div"></div>
Posts Amount<div id="posts_div"></div>
Events Amount<div id="events_div"></div>
Feeds Amount<div id="feeds_div"></div>
</div>
