
</style>
<div id="todo-viewer">
  <h3>Task List</h3>

  <select class="listing" id="tag-listing" style="width:198px">
  <option></option>
  {{#tags}}
  <option class="tag-adding" value="{{.}}">{{.}}</option>
  {{/tags}}
  </select>
  <button id="add-tag">Add tag</button>
  {{#todos}}
    <h4>{{.}}</h4>
    <table class="todo-specific" value="{{.}}" id="profiles" name="{{.}}">

    </table>
      <br>
  {{/todos}}

</div>
