<script type="text/javascript">
function display(id){ 
var target=document.getElementById(id); 
    if(target.style.display=="none"){ 
       target.style.display="";
    }else{ 
       target.style.display="none"; 
    } 
}

</script>

<div id="todo-viewer">
  <h3>Todo List</h3>

  <select class="listing" id="tag-listing" style="width:198px">
  <option></option>
  {{#tags}}
  <option class="tag-adding" value="{{.}}">{{.}}</option>
  {{/tags}}
  </select>
  <button id="add-tag">Add tag</button>
  <br>
  {{#todos}}
  <a onclick="display('{{.}}')" name="{{.}}"><h4>{{.}}</h4></a>
    <!-- this div could be content of todo, could make the return value of todos to
         be hash, then can use {{key}} in <a> to show title, then use {{value}} in
         div. can see examples from dropdowns in file-picker
                                                --   Ye Shen
    -->
    <div id="{{.}}" style="display:none;">Content</div>
    <table class="todo-specific" value="{{.}}" id="profiles" name="{{.}}">

    </table>
  {{/todos}}

</div>
