
- content_for(:current_page, "Viewing #{@organization.name}")

#statistics
  %dl
    %dt
      Events: 
    %dd= @organization.events.count
    %dt
      Subscribers:
    %dd= @organization.subscribers.count

