/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */
/***** Begin Theme, feel free to edit in here! ******/
/* One container to bind them... */
/* line 16, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_container {
  width: 100%;
}

/* line 19, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_container:focus {
  outline: 0;
}

/* line 22, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_container a {
  cursor: pointer;
  text-decoration: none;
}

/* Opens the dropdown and holds the menu label */
/* line 28, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
  padding: 10px 3% 9px;
  width: 94%;
  display: block;
}

/* line 38, ../../../app/stylesheets/shared/dropkick_selects.scss */
a.dk_toggle {
  font-size: 14px;
  color: #888;
  display: block;
  background: white;
  border: none;
  width: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin: 0 0 3% 0;
  resize: none;
  position: relative;
  z-index: 9999;
  font-size: 16px;
  font-family: Rokkitt, Rockwell;
  font-weight: bold;
  color: #1B334A;
  text-indent: 5px;
  -moz-box-shadow: 0 0 0 1px #842624, 2px 2px 5px #cccccc inset;
  -webkit-box-shadow: 0 0 0 1px #842624, 2px 2px 5px #cccccc inset;
  -o-box-shadow: 0 0 0 1px #842624, 2px 2px 5px #cccccc inset;
  box-shadow: 0 0 0 1px #842624, 2px 2px 5px #cccccc inset;
}

/* Applied when the dropdown is focused */
/* Applied whenever the dropdown is open */
/* line 73, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_open {
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
}

/* The outer container of the options */
/* line 85, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_options {
  position: relative;
  z-index: 1;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  background: white;
  width: 99.9%;
  display: block;
  -moz-box-shadow: 0 1px 2px #666666;
  -webkit-box-shadow: 0 1px 2px #666666;
  -o-box-shadow: 0 1px 2px #666666;
  box-shadow: 0 1px 2px #666666;
  padding-top: 4px;
  font-size: 16px;
  font-family: Rokkitt, Rockwell;
  font-weight: bold;
  color: #1B334A;
}

/* line 99, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_options a {
  padding: 10px 13px;
}

/* line 102, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_options li:last-child a {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* line 106, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_options a:hover,
.dk_option_current a {
  background: #eee;
}

/* Inner container for options, this is what makes the scrollbar possible. */
/* line 111, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_options_inner {
  max-height: 250px;
}

/* Set a max-height on the options inner */
/* line 117, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}

/****** End Theme ******/
/***** Critical to the continued enjoyment of working dropdowns ******/
/* line 125, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_container {
  float: left;
  position: relative;
}

/* line 129, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_container a {
  outline: 0;
}

/* line 133, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_toggle {
  display: block;
  position: relative;
  zoom: 1;
  width: 94%;
}

/* line 140, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_open {
  position: relative;
}

/* line 143, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_open .dk_options {
  display: block;
}

/* line 146, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_open .dk_label {
  color: inherit;
}

/* line 150, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  left: 0;
}

/* line 158, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_options a,
.dk_options a:link,
.dk_options a:visited {
  display: block;
}

/* line 161, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_options_inner {
  overflow: auto;
  position: relative;
}

/* line 166, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_touch .dk_options {
  overflow: hidden;
}

/* line 170, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

/* line 175, ../../../app/stylesheets/shared/dropkick_selects.scss */
.dk_fouc.dk select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

/* line 182, ../../../app/stylesheets/shared/dropkick_selects.scss */
a.dk_toggle span.dk_arrow {
  float: right;
  height: 13px;
  line-height: 27px;
  font-size: 13px;
  display: block;
  cursor: pointer;
  background: #1B334A;
  text-align: center;
  color: white;
  font-family: Rokkitt, Rockwell;
  line-height: 1em;
  border: none;
  text-indent: 5px;
  font-weight: bold;
  padding: 10px 13px 11px 9px;
  margin: -10px -3.5% 0 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #294d6f), color-stop(50%, #1b334a));
  background-image: -webkit-linear-gradient(#294d6f 0%, #1b334a 50%);
  background-image: -moz-linear-gradient(#294d6f 0%, #1b334a 50%);
  background-image: -o-linear-gradient(#294d6f 0%, #1b334a 50%);
  background-image: -ms-linear-gradient(#294d6f 0%, #1b334a 50%);
  background-image: linear-gradient(#294d6f 0%, #1b334a 50%);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  -moz-box-shadow: 0 0 0 1px #254564 inset, 0 0 0 1px #112130, 0 5px 6px -4px #070c12;
  -webkit-box-shadow: 0 0 0 1px #254564 inset, 0 0 0 1px #112130, 0 5px 6px -4px #070c12;
  -o-box-shadow: 0 0 0 1px #254564 inset, 0 0 0 1px #112130, 0 5px 6px -4px #070c12;
  box-shadow: 0 0 0 1px #254564 inset, 0 0 0 1px #112130, 0 5px 6px -4px #070c12;
}

/** Critical to the continued enjoyment of working dropdowns ******/
