/* line 1, ../../../app/stylesheets/shared/feature_switching.css.sass */
#feature-switching {
  position: absolute;
  z-index: 10;
  right: 0;
  font-family: Helvetica;
}
/* line 6, ../../../app/stylesheets/shared/feature_switching.css.sass */
#feature-switching a.feature-panel-toggle {
  background-color: white;
  padding: 5px 5px 5px 20px;
  display: block;
  background-image: url('/images/blue-arrow-up.png');
  background-position: 5px center;
  background-repeat: no-repeat;
}
/* line 14, ../../../app/stylesheets/shared/feature_switching.css.sass */
#feature-switching a.feature-panel-toggle.shown {
  background-image: url('/images/blue-arrow-down.png');
}
/* line 17, ../../../app/stylesheets/shared/feature_switching.css.sass */
#feature-switching div.feature-panel {
  border-top: 1px solid #fafafa;
  display: none;
  background-color: white;
  padding-bottom: 5px;
}
/* line 23, ../../../app/stylesheets/shared/feature_switching.css.sass */
#feature-switching div.feature-panel li {
  padding: 10px 0;
}
/* line 26, ../../../app/stylesheets/shared/feature_switching.css.sass */
#feature-switching div.feature-panel button {
  display: block;
  width: 90%;
  margin: auto;
}

/* line 33, ../../../app/stylesheets/shared/feature_switching.css.sass */
body.fixedLayout #feature-switching {
  position: fixed;
  top: 65px;
}
