
- content_for :syndicate_navigation do
  - link_to new_announcement_path, 'data-remote' => true, :id => "create-entity" do
    %span
      = image_tag 'pin-icon.png'
      %span POST AN ANNOUNCEMENT
  #filters.announcements
    - winnow_button "ALL", announcements_path
    - winnow_button "YOURS", subscribed_announcements_path
    - winnow_button "YOUR SUBSCRIPTIONS", subscriptions_path
    - winnow_button "RECOMMENDED", recommended_subscriptions_path
