body {
  width: 1000px; }

footer {
  padding: 10px; }
  footer a {
    color: #EEEEEE; }

#main {
  background-color: white;
  width: 1000px;
  border: solid 1px black;
  display: table-cell;
  vertical-align: middle;
  align: center;
  padding: 15px; }

.front_page_left, .front_page_main {
  font-family: Georgia, Times, "Times New Roman", Serif;
  width: 445px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 0px; }
  .front_page_left h1, .front_page_main h1 {
    font-size: 1.6em;
    margin-bottom: 1em;
    font-weight: bold; }
  .front_page_left h2, .front_page_main h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0px; }
  .front_page_left h3, .front_page_main h3 {
    font-size: 1.2em;
    color: #777777;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0px; }
  .front_page_left p, .front_page_main p {
    margin: 10px 0px; }

.front_page_left {
  padding: 15px;
  background-color: #eeeeee; }

.front_page_main {
  padding-left: 15px;
  right: 0px; }
  .front_page_main #log_in, .front_page_main #register, .front_page_main #more {
    width: 100%;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: #888888; }

form.formtastic.user_session fieldset.inputs {
  width: 400px; }

#more_info h1 {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 1em; }

.win, .fail {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 5px 0px; }

.win {
  background-color: #4ba849; }

.fail {
  background-color: #cc2222; }

#new_user_session h2 {
  margin: 20px 125px; }
