<div class="announcement">

  <div class="corner">{{publishedAt}}{{#canEdit}} - <a href=#" class="editlink">EDIT</a>{{/canEdit}}</div>

  <img src="{{avatarUrl}}" width="50" height="50" class="avatar">

  <a href="{{url}}" class="title">{{title}}</a>

  <div class="author"><a href="{{feedUrl}}">{{author}}</a></div>

  <div class="body announcement-body">{{#markdown}}{{body}}{{/markdown}}</div>

  <div style="clear:both;"></div>
</div>

<div class="replies"></div>
