<div class="announcement">

  <div class="corner">{{publishedAt}}{{#canEdit}} - <a href=#" class="editlink">EDIT</a>{{/canEdit}}</div>

  <img src="{{avatarUrl}}" width="50" height="50" class="avatar">

  <a href="{{url}}" class="title">{{title}}</a>

  <div class="author"><a href="{{feedUrl}}">{{author}}</a></div>

  <div class="body announcement-body">{{#markdown}}{{body}}{{/markdown}}</div>

  <div style="clear:both;"></div>
</div>

<ul class="thank-share">
  <li class="reply-link">Reply</li> <span class="dot">&bull;</span>
  <li class="thank-link"> Thank {{first_name}}</li>
  <span class="dot">&bull;</span>
  <li class="share-link">Share</li>
</ul>
<p class="ts-text"><span class="thank_count">{{numThanks}}</span> people <span class="people-thanked">thanked {{first_name}}</span></o>

<div class="replies"></div>
