<div class="event">

  <div class="corner">{{publishedAt}}{{#canEdit}} - <a href="#" class="editlink">EDIT</a>{{/canEdit}}</div>

  <div class="calendar avatar">
    <div class="month">{{short_month_name}}</div>
    <div class="day-of-month">{{day_of_month}}</div>
  </div>

  {{#time}}
    <div class="event-time">
      {{time}}
    </div>
  {{/time}}

  <div class="title">{{title}}</div>

  <div class="author">
    <a {{#isFeed}}href="{{feedUrl}}"{{/isFeed}}>{{author}}</a>
  </div>

  <div class="body event-body">{{#markdown}}{{body}}{{/markdown}}</div>
  
  <table class="event-location">
    {{#venue}}<tr><th>Venue:</th><td>{{venue}}</td></tr>{{/venue}}
    {{#address}}<tr><th>Address:</th><td>{{address}}</td></tr>{{/address}}
  </table>

  <div style="clear:both;"></div>

</div>

<ul class="thank-share">
  <li class="reply-link">Reply</li>
  <span class="dot">&bull;</span>
  <li class="thank-link"> Thank {{first_name}}</li>
</ul>
<a class="ts-text" href="#"><span class="thank_count">{{numThanks}}</span> <span class="people_person">{{peoplePerson}}</span> <span class="people-thanked">thanked {{first_name}}</span></a>

<div class="replies-area"></div>
