<img src="{{avatar_url}}" width="50" height="50" class="avatar">

<h3 class="title"><a href="{{url}}">{{name}}</a></h3>

{{#isSubscribed}}
<button class="unsubscribe">You're Subscribed</button>
{{/isSubscribed}}
{{^isSubscribed}}
<button class="subscribe">Subscribe</button>
{{/isSubscribed}}

<div style="clear:both;"></div>
