<div class="wire-top" data-published-at="{{publishedAtISO}}">
</div>
<div class="post-content">
   <a href="{{author_url}}"><img class="avatar-container" src="{{avatarUrl}}" /></a>
  <h3><a class="title" href="{{share_url}}">{{title}}</a></h3>
  
  {{#markdown}}
   {{body}}
  {{/markdown}}
  <p class="post-info"><a class="author" href="{{author_url}}">{{author}}</a> posted <a href="{{share_url}}">{{publishedAt}}</a> in <a class="wire_filter" href="/{{community_slug}}/list/discussions">{{wireCategoryName}}</a></p>
</div>
<div class="post-action clear">
  <ul class="actions">
    <li class="reply-link default">
      <i class="icon"></i>
      <span>Reply</span>
    </li>
    <li class="message-link">
      <i class="icon"></i>
      <span>Message {{first_name}}</span>
    </li>
    <li class="share-link">
      <i class="icon"></i>
      <span>Share</span>
    </li>
    <li class="thank-link">
      <i class="icon"></i>
      <span>Thank</span>
    </li>
    <li class="flag-link">
      <i class="icon"></i>
      <span>Flag</span>
    </li>
    {{#canEdit}}
    <span class="editlink"><a href="#">
    <li class="edit-link">
      <i class="icon"></i>
     <span>Edit Post</span>
    </li>
    </a></span>
    {{/canEdit}}
   </ul>
</div>
<div class="post-interaction">
  <div class="interaction">
    {{#numThank}}
    <p class="thanked">
    <span class="blue">{{numThank}} {{peoplePerson}}</span> thanked this post:
    {{#thanks}}
    <span class="blue">{{thanker}} </span>
    {{/thanks}}
    </p>
    {{/numThank}}
    {{#num_shares}}
    <!--
    <p class="publicized">
    <span class="blue">{{num_shares}} {{share_people}}</span> shared this post:
    {{#shares}}
    <span class="blue">{{sharer}}</span>
    {{/shares}}
    </p>
    -->
    {{/num_shares}}
  </div>
</div>

<div class="replies-area"></div>

<div class="clear">
</div>
