<div class="group-post">

  <img src="{{avatarUrl}}" width="50" height="50" class="avatar">

  <div class="corner">{{publishedAt}}{{#canEdit}} - <a href="#" class="editlink">EDIT</a>{{/canEdit}}</div>

  <div class="reply-count">{{replyCount}}</div>

  <a href="{{url}}" class="title">{{title}}</a>

  <div class="author">{{author}}</div>

  <div class="body">{{#markdown}}{{body}}{{/markdown}}{{#isMore}}... <a class="moreBody" href="#">More</a>{{/isMore}}</div>

  <div style="clear:both;"></div>
</div>

<div class="replies"></div>
