<img class="avatar-container" src="{{avatarUrl}}" />
<div class="reply-info">
  <div class="reply-text">
    <span class="author"><a href="{{author_url}}">{{author}}</a></span>
    <div class="body reply-body">
      {{#markdown}}{{body}}{{/markdown}}
      <span class="controls">
        <span class="time">{{publishedAt}}</span>
        {{#hasThanks}}<span class="thank-divider">&#9734;</span><span class="thanks-count">{{numThanks}} {{peoplePerson}} thanked {{first_name}}</span>{{/hasThanks}}
        {{#canThank}}
          {{#hasThanked}}<span class="thanked-reply">THANKED!</span>{{/hasThanked}}
          {{^hasThanked}}<a href="#" class="thank-reply">Thank</a>{{/hasThanked}}
        {{/canThank}}
        <a href="#" class="reply-message-link">Send Message</a>
        {{#canEdit}}<a href="#" class="delete-reply">DELETE</a>{{/canEdit}}
      </span>
    </div>

  </div>

</div>

<div style="clear: both;"></div>
