<li class="reply-item">
  <img class="avatar" src="{{authorAvatarUrl}}" height="30" width="30">
  <div class="reply-info">
    <div class="reply-text">
      <span class="author">{{author}}</span>
      <div class="body">{{#markdown}}{{body}}{{/markdown}}</div>
    </div>

    <span class="time">{{time}}</span>
  </div>


  <div style="clear: both;"></div>
</li>
