<img src="{{avatar_url}}" width="50" height="50" class="avatar">

<div class="title"><a href="{{url}}">{{first_name}} {{last_name}}</a></div>

<button class="message-user">Send {{first_name}} a message</button>

<div style="clear:both;"></div>