<img src="{{avatar_url}}" width="50" height="50" class="avatar">

<div class="title">{{first_name}} {{last_name}}</div>

<button class="message-user">Send {{first_name}} a message</button>

<div style="clear:both;"></div>
