<a class="author" href="{{author_url}}"><img src="{{avatar_url}}" width="50" height="50" class="avatar"></a>

<h3 class="title"><a class="author"  href="{{author_url}}">{{first_name}} {{last_name}}</a></h3>

<a class="message-user" href="#">Send Message</a>

<div style="clear:both;"></div>
