<div id="find_my_neighbors">
  <h1>Find Your Friends In Town</h1>

  <div class="registration_information">
    <ul>
      <li>Click the names of people you know</li>
      <li>Check your Facebook friends:</li>
      <li class="buttons">
        <a class="facebook">Facebook</a>
      </li>

    </ul>
  </div>

  <form>
    <div class="neighbor_finder">
      <table></table>
    </div>
    
    <div class="can_contact">
      <input type="checkbox" name="can_contact">
      <label for="can_contact">I want CommonPlace to contact these people as part of its community organization efforts:</label>
    </div>
    
    <input type="submit" class="grey-button continue" value="Continue...">
  </form>
</div>
