<input type="checkbox" name="neighbors_list" value="{{first_name}} {{last_name}}">
<img src="{{avatar_url}}" width="50" height="50">
<p class="fName">{{first_name}}</p>
<p class="lName">{{last_name}}</p>
