<div class="spacing">
  <div class="profile-main">
    <h3>{{fullName}}</h3>
    <img src="{{avatarUrl}}" width="122" />
    <div class="image-overlay">
    </div>
    <div class="profile-top">
      <p>
        <span class="profile-number">{{post_count}}</span><br />
        <span class="profile-title">Posts</span><br />
      </p>
      <p>
        <span class="profile-number">{{reply_count}}</span><br />
        <span class="profile-title">Replies</span><br />
      </p>
      <p>

      <div class="box-links">
        <a href="{{editUrl}}" class="gray-button edit">Edit My Profile</a>
      </div>
    </div>

  </div>
  <div class="profile-data">
    {{#hasAbout}}
      <div>
        <h4>About</h4>
        <div class="about">{{#markdown}}{{about}}{{/markdown}}</div>
      </div>
    {{/hasAbout}}
    {{#hasInterests}}
      <div>
        <h4>Interests</h4>
        <ul>
          {{#interests}}
            <li class="interest">
              {{.}}
            </li>
          {{/interests}}
        </ul>
      </div>
    {{/hasInterests}}
    {{#hasSkills}}
      <div>
        <h4>Skills</h4>
        <ul>
          {{#skills}}
            <li class="interest">
              {{.}}
            </li>
          {{/skills}}
        </ul>
      </div>
    {{/hasSkills}}
    {{#hasGoods}}
      <div>
        <h4>Goods</h4>
        <ul>
          {{#goods}}
            <li class="interest">
              {{.}}
            </li>
          {{/goods}}
        </ul>
      </div>
    {{/hasGoods}}
    <div class="profile-history">
    </div>
  </div>
</div>
