<label class="select required" for="announcement_owner">
  Post as:
  <select name="feed">
    {{#feeds}}
      <option value="{{id}}" selected="{{selected}}">{{name}}</option>
    {{/feeds}}
  </select>
</label>

<input name="title" type="text" placeholder="Title">

<textarea name="body" placeholder="Your Message"></textarea>

<label>Label this post?</label>
<ul class="post-label-selector">
  {{#groups}}
    <li>
      <label>
        <img src="{{avatar_url}}" height="25" width="25">
        {{name}}
        <input name="groups" value="{{id}}" type="checkbox">
      </label>
    </li>
  {{/groups}}
</ul>


<button>Post Now</button>
