<div class="sub-navigation">
  <h2><a href="/{{community_slug}}/list/announcements" class="current" data-remote>
    {{#isRecent}}{{#t}}recent-announcements.a{{/t}}{{/isRecent}}
    {{^isRecent}}{{#t}}announcements.a{{/t}}
  </a>
  &sdot;
  <a href="/{{community_slug}}/list/feeds" data-remote>{{#t}}feeds.a{{/t}}{{/isRecent}}
  </a></h2>
  <div style="clear:both;"></div>
</div>
<div class="no-results"><p>There were no results</p></div>
<div class="announcements wire">{{>wires.wire}}</div>
