<div class="sub-navigation">
  <a href="#announcements" class="current">Recent Community Announcements</a>
  &sdot;
  <a href="#feeds">Community Feeds</a>
</div>

<div class="announcements wire"></div>