<input class="post-search" type="text" value="{{query}}" placeholder="Search posts…"/>
<input class="directory-search" type="text" value="{{query}}" placeholder="Search community…"/>
<div class="cancel"></div>
