<div class="post-search search-switch"><input type="text" placeholder="Search posts…"/></div>
<div class="directory-search search-switch"><input type="text" placeholder="Search community…"/></div>
<div class="cancel"></div>
