<div class="navigation">
  <a
    href="/list/posts"
    data-remote
    class="tab-button posts">
    {{#t}}posts.a{{/t}}
  </a>

  <a
    href="/list/events"
    data-remote
    class="tab-button events">
    {{#t}}events.a{{/t}}
  </a>

  <a
    href="/list/announcements"
    data-remote
    class="tab-button announcements">
    {{#t}}announcements.a{{/t}}
  </a>

  <a
    href="/list/groupPosts"
    data-remote
    class="tab-button groupPosts">
    {{#t}}groupPosts.a{{/t}}
  </a>

  <a
    href="/list/users"
    data-remote
    class="tab-button users feeds groups">
    {{#t}}users.a{{/t}}
  </a>

  <div class="nav-under"></div>

</div>

<div class="sticky-header"></div>

<div class="resources">
</div>
