<div class="navigation">
    <a href="#/posts" class="tab-button posts">
      {{#t}}posts.a{{/t}}
    </a>

    <a href="#/events" class="tab-button events">
      {{#t}}events.a{{/t}}
    </a>

    <a href="#/announcements" class="tab-button announcements">
      {{#t}}announcements.a{{/t}}
    </a>

    <a href="#/group_posts" class="tab-button groupPosts">
      {{#t}}groupPosts.a{{/t}}
    </a>

    <a href="#/users" class="tab-button users feeds groups">
      {{#t}}users.a{{/t}}
    </a>

  <div class="nav-under"></div>

</div>

<div class="sticky-header"></div>

<div class="resources">
</div>
