
<div class="navigation">
  <a href="#posts" class="tab-button posts">
    Neighborhood<br> Posts
  </a>

  <a href="#events" class="tab-button events">
    Community<br> Events
  </a>

  <a href="#announcements" class="tab-button announcements">
    Community<br> Announcements
  </a>

  <a href="#groupPosts" class="tab-button groupPosts">
    Discussion<br> Posts
  </a>

  <a href="#users" class="tab-button users">
    Directory
  </a>

  <div class="nav-under"></div>

</div>

<div class="resources">
</div>