  <hr class="staple">

  <h1>Confirm Deletion</h1>

  This action can not be undone. Please confirm that you would like to delete your content.

  <div id="delete_confirmation" style="text-align:center;">
    <input class="delete_cancel" name="commit" type="submit" value="Cancel">

    <input class="delete_continue" name="commit" type="submit" value="Delete">
  </div>
