<div class="sub-navigation">
  {{#isSearchEnabled}}
    <form class="search">
      <input type="text" value="{{query}}" placeholder="Search"/>
      <div class="cancel"></div>
    </form>
  {{/isSearchEnabled}}
  <h2>
    <a href="/list/users" data-remote>{{#t}}users.a{{/t}}</a>
    &sdot;
    <a href="/list/feeds" data-remote>{{#t}}feeds.a{{/t}}</a>
    &sdot;
    <a href="/list/groups" data-remote>{{#t}}groups.a{{/t}}</a>
  </h2>
</div>
<div class="no-results"><p>There were no results</p></div>
<div class="users wire">{{>wires.wire}}</div>
