<div class="sub-navigation">
  <h2>
    <a href="/{{community_slug}}/list/users" data-remote>{{#t}}users.a{{/t}}</a>
    &sdot;
    <a href="/{{community_slug}}/list/feeds" data-remote>{{#t}}feeds.a{{/t}}</a>
    &sdot;
    <a href="/{{community_slug}}/list/groups" data-remote>{{#t}}groups.a{{/t}}</a>
  </h2>
</div>
<div class="no-results"><p>There were no results</p></div>
<div class="users wire">{{>wires.wire}}</div>
