<div class="sub-navigation">
  <h2>
    <a href="#/users" class="{{usersLinkClass}}">{{#t}}users.a{{/t}}</a>
    &sdot;
    <a href="#/feeds" class="{{feedsLinkClass}}">{{#t}}feeds.a{{/t}}</a>
    &sdot;
    <a href="#/groups" class="{{groupsLinkClass}}">{{#t}}groups.a{{/t}}</a>
  </h2>
</div>

<div class="users wire">{{>wires.wire}}</div>
