<div class="populated">
  <div class="wire events"></div>
</div>

<div class="empty">
  <div class="neighborhoodPosts wire"></div>
  <div class="offerPosts wire"></div>
  <div class="helpPosts wire"></div>
  <div class="publicityPosts wire"></div>
  <div class="otherPosts wire"></div>
  <div class="groupPosts wire"></div>
  <div class="announcements wire"></div>
</div>

<div class="wire chrono"></div>
