<div class="sub-navigation">
  {{#isSearchEnabled}}
    <form class="search">
      <input type="text" value="{{query}}" placeholder="Search"/>
      <div class="cancel"></div>
    </form>
  {{/isSearchEnabled}}
  <h2><a href="#/events" class="current">
    {{^isRecent}}{{#t}}events.a{{/t}}{{/isRecent}}
    {{#isRecent}}{{#t}}recent-events.a{{/t}}{{/isRecent}}
  </a></h2>
  <div style="clear:both;"></div>
</div>
<div class="no-results"><p>There were no results</p></div>
<div class="events wire">{{>wires.wire}}</div>
