<div class="incomplete">Please fill in the <span class="incomplete-fields"></span>.</div>

<input name="title" type="text" placeholder="Event name">

<textarea name="about" placeholder="Event description" rows="4"></textarea>

<input class="date" type="text" name="date" placeholder="Event date">

<fieldset class="event-times">

  <label for="start" class="time">
    <select name="start" class="time dk">
      <option value="">Starts at</option>
      {{#time_values}}
        <option value="{{.}}">{{.}}</option>
      {{/time_values}}
    </select>
  </label>
  <label for="end" class="time">
    <select name="end" class="time dk">
      <option value="">Ends at</option>
      {{#time_values}}
        <option value="{{.}}">{{.}}</option>
      {{/time_values}}
    </select>
  </label>
  <div style="clear: both;"></div>
</fieldset>

<input name="venue" type="text" placeholder="Venue">

<input name="address" type="text" placeholder="Event address">

<label>Label this post?</label>
<ul class="post-label-selector">
  {{#groups}}
    <li>
      <label>
        <img src="{{avatar_url}}" height="25" width="25">
        {{name}}
        <input name="groups" value="{{id}}" type="checkbox">
      </label>
    </li>
  {{/groups}}
</ul>

<button>Post your Event</button>
