<div class="sub-navigation">
  <h2><a href="/{{community_slug}}/list/events" class="current" data-remote>
    {{^isRecent}}{{#t}}events.a{{/t}}{{/isRecent}}
    {{#isRecent}}{{#t}}recent-events.a{{/t}}{{/isRecent}}
  </a></h2>
  <div style="clear:both;"></div>
</div>
<div class="no-results"><p>There were no results</p></div>
<div class="events wire">{{>wires.wire}}</div>
