<div class="sub-navigation">
  <a href="#users">Your Neighbors</a>
  &sdot;
  <a href="#feeds">Community Feeds</a>
  &sdot;
  <a href="#groups" class="current">Discussion Groups</a>
</div>

<div class="groups wire"></div>
