<div class="sub-navigation">
  <h2><a href="/{{community_slug}}/list/group_posts" class="current" data-remote>
    {{^isRecent}}{{#t}}group-posts.a{{/t}}{{/isRecent}}
    {{#isRecent}}{{#t}}recent-group-posts.a{{/t}}{{/isRecent}}
  </a>
  &sdot;
  <a href="/{{community_slug}}/list/groups" data-remote>{{#t}}groups.a{{/t}}</a></h2>
  <div style="clear:both;"></div>
</div>

<div class="no-results"><p>There were no results</p></div>
<div class="groupPosts wire group_posts">{{>wires.wire}}</div>
