<div class="sub-navigation">
  <a href="#/users">{{#t}}users.a{{/t}}</a>
  &sdot;
  <a href="#/feeds">{{#t}}feeds.a{{/t}}</a>
  &sdot;
  <a href="#/groups" class="current">{{#t}}groups.a{{/t}}</a>
</div>

<div class="groups wire"></div>
