
<ul class="group-select">

  {{#groups}}
    <li>
      <a class="{{class}}" href="#{{id}}">
        <img src="{{avatar_url}}" width="50" height="50">
        <span>{{name}}</span>
      </a>
    </li>
  {{/groups}}

</ul>


<div class="group-post-inputs">
  <label class="group-name"></label>
  <input name="group" type="hidden">
  <input name="title" type="text" placeholder="Post Title">

  <textarea name="body" placeholder="Your Message"></textarea>

  <button>Post Now</button>
</div>
