
<ul class="group-select">

  {{#groups}}
    <li>
      <a class="{{class}}" href="/groups/{{slug}}">
        <img src="{{avatar_url}}" width="50" height="50">
        <span>{{name}}</span>
      </a>
    </li>
  {{/groups}}

</ul>

