
<div id="zones" class="nav">
  <a href="#/posts" class="posts">{{#t}}posts-tab{{/t}}<div id="border_hack"></div></a>

  <a href="#/events" class="events">{{#t}}events-tab{{/t}}<div id="border_hack"></div></a>

  <a href="#/announcements" class="announcements">{{#t}}announcements-tab{{/t}}<div id="border_hack"></div></a>

  <a href="#/group_posts" class="group_posts">{{#t}}group-posts-tab{{/t}}<div id="border_hack"></div></a>
  <a href="#/users" class="users">{{#t}}directory-tab{{/t}}<div id="border_hack"></div></a>

</div>
