<ul class="filter">
  <li>Show Me:</li>
  <li><a href="#users" class="filter-tab users-filter">Neighbors</a></li>
  <li><a href="#feeds" class="filter-tab feeds-filter">Organizations</a></li>
  <li><a href="#groups" class="filter-tab groups-filter">Groups</a></li>
  <li><a href="#account" class="filter-tab account-filter">My Profile</a></li>
</ul>
<div id="info-upper">
  <div id="info-list-area">
    <div class="remove-search">query</div>
    <div class="none">Sorry, we couldn't find anything.</div>
    <ul id="info-list">
    </ul>
    <input type="text" class="search" placeholder="Search..."/>
  </div>
  <div id="profile-area">
    <div id="profile"></div>
    <div class="none">No search results.</div>
  </div>
</div>
