
<h2></h2>
<div id="info-upper">
  <div id="info-list-area">
    <div class="remove-search">query</div>
    <ul id="info-list">
    </ul>
  </div>
  <div id="profile"></div>
</div>
<ul class="filter">
  <li>Show Me:</li>
  <li><a href="#users" class="filter-tab users-filter">Neighbors</a></li>
  <li><a href="#feeds" class="filter-tab feeds-filter">Organizations</a></li>
  <li><a href="#groups" class="filter-tab groups-filter">Groups</a></li>
  <li><a href="#account" class="filter-tab account-filter">My Profile</a></li>
</ul>
<form>
  <input type="text" class="search" placeholder="Search the community..."/>
  <a href="invite" class="gray-button icon invite"><span>Invite Neighbors</span></a>
</form>
