<div class="sub-navigation">
  <a href="#posts">Recent Neighborhood Posts</a>
</div>

<div class="wire posts"></div>

<div class="sub-navigation">
  <a href="#events">Upcoming Events</a>
</div>

<div class="wire events"></div>

<div class="sub-navigation">
  <a href="#announcements">Recent Community Announcements</a>
</div>

<div class="wire announcements"></div>

<div class="sub-navigation">
  <a href="#groupPosts">Recent Discussion Group Posts</a>
</div>

<div class="wire groupPosts"></div>

