<div class="sub-navigation">
  <a href="#posts">{{#t}}posts.a{{/t}}</a>
</div>

<div class="wire posts"></div>

<div class="sub-navigation">
  <a href="#events">{{#t}}events.a{{/t}}</a>
</div>

<div class="wire events"></div>

<div class="sub-navigation">
  <a href="#announcements">{{#t}}announcements.a{{/t}}</a>
</div>

<div class="wire announcements"></div>

<div class="sub-navigation">
  <a href="#groupPosts">{{#t}}groupPosts.a{{/t}}</a>
</div>

<div class="wire groupPosts"></div>

