<div id="left-column">
  <div id="post-box"></div>

  <div id="info-box"></div>
</div>

<div id="right-column">
  <div id="wire-navigation></div>
  <div id="wire"></div>
</div>

<div style="clear: both;"></div>
