<div id="sidebar"></div>

<div id="right-column">
  <!--<div id="community-resources-spacer"></div>-->
  <div id="community-resources"></div>
</div>
<div id="wire-overlay"></div>
<div style="clear: both;"></div>
