<div class="error"></div>

<input name="title" type="text" placeholder="Post Title">

<textarea name="body" placeholder="Post a message to your neighbors"></textarea>

<div class="on-focus">
  <label class="category">
    What type of post is this?
    <select name="category" class="category dk">
      <option value="neighborhood">Sharing neighborhood info</option>
      <option value="offers">Offering something</option>
      <option value="help">Looking for help</option>
      <option value="publicity">Publicizing a business or organization</option>
      <optgroup label="Discussion topic">
        {{#groups}}
          <option value="discussion" data-group-id="{{id}}">{{name}}</option>
        {{/groups}}
      </optgroup>
      <option value="other">Other</option>
    </select>
  </label>

  <button>Post Now</button>
  <div class="spinner"></div>

  <div style="clear: both"></div>
</div>
