<div class="sub-navigation other">
  <h2><a href="#/posts" class="current">
    {{#t}}other-posts.a{{/t}}
  </a></h2>
  <div style="clear:both;"></div>
</div>

<div class="posts wire">{{>wires.wire}}</div>
