<div class="wrapper">
  <h1></h1>

  <div class="navigation">

    <a href="#create-neighborhood-post"
      class="create-neighborhood-post tab-button">
      Post to Your<br> Neighborhood
    </a>

    <a href="#create-announcement" class="create-announcement tab-button">

      Publicize an<br> Announcement
    </a>

    <a href="#create-event" class="create-event tab-button">
      Post an<br> Event
    </a>

    <a href="#create-group-post" class="create-group-post tab-button">
      Discussion<br> Groups
    </a>

  </div>

  <div class="form-container">
  </div>

  <div style="clear: both;"></div>
</div>