<div class="wrapper">
  <h1></h1>

  <div class="navigation">

    <a href="#/new-neighborhood-post"
      class="create-neighborhood-post tab-button">
      <img src="<%= asset_path "main_page/neighborhood-post-tab-icon.png" %>">
      {{#t}}create-neighborhood-post.a{{/t}}
    </a>

    {{#accountHasFeeds}}
      <a href="{{firstFeedUrl}}" class="create-announcement tab-button">
        <img src="<%= asset_path "main_page/announcement-tab-icon.png" %>">
        {{#t}}create-announcement.a{{/t}}
      </a>
    {{/accountHasFeeds}}

    <a href="#/new-event" class="create-event tab-button">
      <img src="<%= asset_path "main_page/event-tab-icon.png" %>">
      {{#t}}create-event.a{{/t}}
    </a>

    <a href="#/new-group-post" class="create-group-post tab-button">
      <img src="<%= asset_path "main_page/group-post-tab-icon.png" %>">
      {{#t}}create-group-post.a{{/t}}
    </a>

  </div>

  <div class="form-container">
  </div>

  <div style="clear: both;"></div>
</div>
