<div class="error"></div>

<input name="title" type="text" placeholder="Post Title">

<textarea name="body" placeholder="Your Message"></textarea>

<div class="on-focus">
  <label>{{#t}}publicity.label{{/t}}</label>

  <label class="radio">
    <input type="radio" name="commercial" value="yes">
    Yes
  </label>

  <label class="radio">
    <input type="radio" name="commercial" value="no" checked="yes">
    No
  </label>

  <p class="warning">{{#t}}publicity.warning{{/t}}</p>

  <button>Post Now</button>
  <div class="spinner"></div>

  <div style="clear: both"></div>
</div>
