<div class="wrapper">

  <div class="navigation">

    <!--<a
      href="/{{community_slug}}/share/post"
      data-remote
      class="create-neighborhood-post tab-button post">
      <div class="icon"></div>
      {{#t}}create-neighborhood-post.a{{/t}}
    </a>

    {{#accountHasFeeds}}
      <a
        href="{{firstFeedUrl}}"
        class="create-announcement tab-button announcement">
        <div class="icon"></div>
        {{#t}}create-announcement.a{{/t}}
      </a>
    {{/accountHasFeeds}}

    <a
      href="/{{community_slug}}/share/event"
      class="create-event tab-button event"
      data-remote>
      <div class="icon"></div>
      {{#t}}create-event.a{{/t}}
    </a>

    <a
      href="/{{community_slug}}/share/group_post"
      class="create-group-post tab-button groupPost group_post"
      data-remote>
      <div class="icon"></div>
      {{#t}}create-group-post.a{{/t}}
    </a>-->
    
    <ul>
      <li class="nothing"></li>
      <li class="post">Share Neighborly News</li>
      <li class="publicity">Publicize a Business or Service</li>
      <li class="event">Post an Event</li>
      <li class="group">Group Post</li>
      <li class="help">Make A Request</li>
      <li class="offers">Sell Something</li>
      <li class="other">Other</li>
    </ul>

  </div>

  <div class="form-container">
    <form></form>
  </div>

  <div style="clear: both;"></div>
</div>
