<div class="sub-navigation post">
  <h2 {{^isNotInAllWire}}class="smaller"{{/isNotInAllWire}}>
  {{#isNotInAllWire}}
    <a href="/{{community_slug}}/list/posts" class="current" data-remote>
      {{^isRecent}}{{#t}}posts.a{{/t}}{{/isRecent}}
      {{#isRecent}}{{#t}}recent-posts.a{{/t}}{{/isRecent}}
    </a>
  {{/isNotInAllWire}}
  {{^isNotInAllWire}}
    <a href="/{{community_slug}}/list/neighborhood" data-remote>{{#t}}neighborhood.a{{/t}}</a>
    &sdot;
    <a href="/{{community_slug}}/list/help" data-remote>{{#t}}help.a{{/t}}</a>
    &sdot;
    <a href="/{{community_slug}}/list/offers" data-remote>{{#t}}offers.a{{/t}}</a>
    &sdot;
    <a href="/{{community_slug}}/list/publicity" data-remote>{{#t}}publicity.a{{/t}}</a>
    &sdot;
    <a href="/{{community_slug}}/list/meetup" data-remote>{{#t}}meetup.a{{/t}}</a>
    &sdot;
    <a href="/{{community_slug}}/list/other" data-remote>{{#t}}other.a{{/t}}</a>
  {{/isNotInAllWire}}
  </h2>
  <div style="clear:both;"></div>
</div>
<div class="no-results"><p>There were no results</p></div>
<div class="posts wire">{{>wires.wire}}</div>
