<div class="sub-navigation">
  {{#isSearchEnabled}}
    <form class="search">
      <input type="text" value="{{query}}" placeholder="Search"/>
    </form>
  {{/isSearchEnabled}}
  <h2><a href="#/posts" class="current">
    {{#t}}help-posts.a{{/t}}
  </a></h2>
  <div style="clear:both;"></div>
</div>

<div class="posts wire">{{>wires.wire}}</div>
