<div class="sub-navigation">
  <h2><a href="/list/posts" class="current" data-remote>
    {{^isRecent}}{{#t}}posts.a{{/t}}{{/isRecent}}
    {{#isRecent}}{{#t}}recent-posts.a{{/t}}{{/isRecent}}
  </a></h2>
  <div style="clear:both;"></div>
</div>
<div class="no-results"><p>There were no results</p></div>
<div class="posts wire">{{>wires.wire}}</div>
