<div class="sub-navigation offers">
  <h2><a href="/{{community_slug}}/list/posts" class="current" data-remote>
    {{#t}}offer-posts.a{{/t}}
  </a></h2>
  <div style="clear:both;"></div>
</div>

<div class="posts wire">{{>wires.wire}}</div>
