
<div class="filters">
  <div class="label">DIRECTORY:</div>
  <a href="#users" class="filter-tab users-filter">Neighbors</a>
  <a href="#feeds" class="filter-tab feeds-filter">Organizations</a>
  <a href="#groups" class="filter-tab groups-filter">Groups</a>
  <a href="#account" class="filter-tab account-filter">My Profile</a>
</div>

<div id="profile-box-lists">
  <div id="profile-box-search">
    <input type="text" class="search" placeholder="Search&hellip;">
  </div>

  <div id="profile-box-failed-search">
    Sorry, we couldn't find anything
  </div>

  <div id="profile-box-results">
    <ul></ul>
  </div>
</div>

<div id="profile-box-profile">
</div>

