<div class="sub-navigation">
  <a href="#users" class="current">Your Neighbors</a>
  &sdot;
  <a href="#feeds">Community Feeds</a>
  &sdot;
  <a href="#groups">Discussion Groups</a>
</div>

<div class="users wire"></div>
