<div class="sub-navigation">
  <a href="#/users" class="current">{{#t}}users.a{{/t}}</a>
  &sdot;
  <a href="#/feeds">{{#t}}feeds.a{{/t}}</a>
  &sdot;
  <a href="#/groups">{{#t}}groups.a{{/t}}</a>
</div>

<div class="users wire">{{>wires.wire}}</div>
