<div class="your-neighbors">
  <!--<input type="text" id="search" class="neighbors_search" placeholder="Search your town or neighbors…">	-->
  <div id="your-neighbors-links" class="list">
  </div>
</div>
