<ul class="your-town-links">
  <li>
  	<a id="questions" class="wire_filter" href="/{{community_slug}}/list/questions">
  		<i class="icon"></i>
  		<span>Town Questions</span>
  	</a>
  </li>
  
  <li>
  	<a id="transactions" class="wire_filter" href="/{{community_slug}}/list/transactions">
  		<i class="icon"></i>
  		<span>Marketplace</span>
  	</a>
  </li>
  
  <li>
  	<a id="events" class="wire_filter" href="/{{community_slug}}/list/events">
  		<i class="icon"></i>
  		<span>Events & Meetups</span>
  	</a>
  </li>
  
  <li>
  	<a id="discussions" class="wire_filter" href="/{{community_slug}}/list/discussions">
    	<i class="icon"></i>
    	<span>Town Discussions</span>
  	</a>
  </li>
  
  <li>
  	<a id="announcements" class="wire_filter" href="/{{community_slug}}/list/announcements">
    	<i class="icon"></i>
    	<span>Announcements</span>
    </a>
  </li>
</ul>
