@import "core" ;
body.application.feeds.edit_owner, body.application.feeds.update_owner {
    form.feed {
        margin: auto ;
        @include lightbox ;
        width: 600px;
        margin-top: 80px;
        margin-bottom: 70px;

        p { font-size: 18px ; line-height: 24px ; color: #3B6085 }
        p.error { color: #B53F3C; }
        
        .buttons { display: block ; margin: 50px 0 ; text-align: center }
    }

}