<div class="nominate-after">
<h2>Nominate a Hero</h2>
<h3>Thank you for your nominating [Full Name]</h3>
<p>The more nominations your nominee gets, the better chance they have in being selected as a {{community_slug}} Civic Hero!</p>
<p>Now tell your friends to nominate [Full Name]:</p>
<a class="facebook" href="http://www.facebook.com/sharer.php?u=http://{{community_slug}}/about/nominate"></a>
<p>Now that you've nominated someone, we'd love you to join <a href="http://{{community_slug}}.ourcommonplace.com">{{community_slug}}.OurCommonPlace.com.<p>
<button class="next-button">Join OurCommonplace!</button>
</div>
