<div class="nominate-after">
  {{#nominating}}
    <h2>Thanks for Nominating!</h2>
    <p>We hope {{nominee_name}} wins a Civic Hero award!</p>
    <p>The more nominations a nominee gets, the better they’ll do.  Tell your friends to nominate {{nominee_first_name}} as well:</p>
    <a class="facebook" href="http://www.facebook.com/sharer.php?u=http://{{community_slug}}.ourcommonplace.com/about/nominate"></a>
    <p>Now that you've nominated someone, we hope you can check out <a href="http://{{community_slug}}.ourcommonplace.com" target="_blank">{{community_slug}}.OurCommonPlace.com</a>, {{community_name}}'s newest community-building web platform.<p>
    <a href="http://{{community_slug}}.ourcommonplace.com"><button class="register-button">Find Out More!</button></a>
  {{/nominating}}
  {{#applying}}
    <h2>Thanks for Applying!</h2>
    <p>We'll get in touch with you soon.</p>
    <button class="register-button bottom">Join OurCommonplace!</button>
  {{/applying}}
</div>
