<h3>Fill out an application to be</h3>
<h2>A Civic Hero</h2>
<form class="registration">
  <input class="name" type="text" name="name" placeholder="Your Full Name" /><br />
  <input class="email" type="email" name="email" placeholder="Your Email Address" /><br />
  <textarea id="why" class="why-nominate" name="application_reason" placeholder="Tell us why you'd like to be a {{community_name}} civic leader." ></textarea>
  <button class="next-button">Apply!</button>
  <div class="facebook">
    <p>Or you can:</p>
    <span id="nominate-btn">nominate a civic leader</span>
  </div>
</form>
