<div class="nominate-after">
  {{#nominating}}
    <h2>Thanks for Nominating!</h2>
    <p>We hope your pick wins a Civic Hero award!</p>
    <p>The more nominations they get, the better they'll do. </p>
    <a class="facebook" href="http://www.facebook.com/sharer.php?u=http://{{community_slug}}.ourcommonplace.com/about/nominate"></a>
    <p>Now that you've nominated someone, we'd love you to join <a href="http://{{community_slug}}.ourcommonplace.com">{{community_slug}}.OurCommonPlace.com.<p>
    <button class="register-button">Join OurCommonplace!</button>
  {{/nominating}}
  {{#applying}}
    <h2>Thanks for Applying!</h2>
    <p>We'll get in touch with you soon.</p>
    <button class="register-button bottom">Join OurCommonplace!</button>
  {{/applying}}
</div>
