<h1>You are now connected through Facebook</h1>

<div class="registration_information">
  <ul>
    {{#isRealEmail}}
      <li>To complete your registration, fill out your street address so we can verify you live in town. </li>
      <li>If you want, feel free to adjust your display name and contact email as well.</li>
    {{/isRealEmail}}
    {{^isRealEmail}}
      <li>To complete your registration, fill out your email so we can contact you...</li>
      <li>...and fill out your street address so we can verify you live in town.
      <li>If you want, feel free to adjust your display name as well.</li>
    {{/isRealEmail}}
  </ul>
</div>

<form class="user_facebook">
  {{#isRealEmail}}<h4>Add your street address</h4>{{/isRealEmail}}
  {{^isRealEmail}}<h4>Add your email and street address</h4>{{/isRealEmail}}
  <ul>
    <li>
      <input type="text" name="full_name" placeholder="Full name">
      <span class="error full_name"></span>
    </li>
    <li>
      <input type="text" name="email" placeholder="Email address">
      <span class="error email"></span>
    </li>
    <li>
      <input type="text" name="street_address" class="has_hint" placeholder="Street address">
      <div class="error address"></div>
    </li>
  </ul>
  
  <input type="submit" class="grey-button sign_up" value="SIGN ME UP!">
</form>

<div style="clear: both;"></div>
