<h1>Fill out your community profile</h1>

<div class="registration_information">
  <ul>
    <li>Thanks for signing up, {{user_name}}!</li>
    <li>CommonPlace makes it easy for you to share needs, announcements, and events with folks who live in {{community_name}}.</li>
    <li>Use CommonPlace whenever you want to get local recommendations, borrow things from your neighbors, or plan your next big town initiative.</li>
    <li>Before you start, take a moment to fill out your community profile.</li>
  </ul>
</div>

<form class="user_profile">
  <ul>
    <li class="facebook_avatar">
      <img src="{{avatar_url}}">
    </li>
    <li class="text">
      <label for="about">Tell your neighbors a bit about yourself:</label>
      <textarea name="about" rows="3"></textarea>
    </li>
    <li>
      <label for="interests">My interests</label>
      <select name="interests" class="list" multiple="true" data-placeholder="Select some interests">
        {{#interests}} <option value="{{.}}">{{.}}</option> {{/interests}}
      </select>
    </li>
    <li>
      <label for="skills">My skills</label>
      <select name="skills" class="list" multiple="true" data-placeholder="Select some skills">
        {{#skills}} <option value="{{.}}">{{.}}</option> {{/skills}}
      </select>
    </li>
    <li>
      <label for="goods">My goods</label>
      <select name="goods" class="list" multiple="true" data-placeholder="Select some goods">
        {{#goods}} <option value="{{.}}">{{.}}</option> {{/goods}}
      </select>
    </li>
    <li>
      <label for="referral_source">How did you find out about CommonPlace?</label>
      <select name="referral_source">
        {{#referrers}}
          <option value="{{.}}">{{.}}</option>
        {{/referrers}}
      </select>
    </li>
    <li class="referral_metadata_li text">
      <label for="referral_metadata"></label>
      <input type="text" name="referral_metadata">
    </li>
  </ul>
  
  <input type="submit" class="grey-button continue" value="Continue...">
</form>
