<h1>Stay in the Loop!</h1>

<div class="registration_information">
  <ul>
    <li>Community leaders use CommonPlace to share events and announcements with people who live in {{community_name}}.</li>
    <li>Subscribe to some local community feeds in order to get notified whenever they send out updates.</li>
  </ul>
</div>

<form class="add_feeds">
  <h2>Subscribe to some community feeds:</h2>
  
  <ul class="feeds_container"></ul>
  
  <input type="submit" class="grey-button continue" value="Continue...">
</form>
