<h1>Get Connected!</h1>

<div class="registration_information">
  <ul>
    <li>CommonPlace Groups help you connect with people in your community who share similar interests.</li>
    <li>Subscribe to groups to send and receive information about specific community topics that you care about.</li>
    <li>Feel free to join as many as you want!</li>
  </ul>
</div>

<form class="add_groups">
  <h2>Subscribe to some groups:</h2>
  
  <ul class="groups_container"></ul>
  
  <input type="image" src="/assets/buttons/continue3.png" class="continue">
</form>
