<input type="checkbox"
{{#isGroup}}name="groups_list"{{/isGroup}}
{{^isGroup}}name="feeds_list"{{/isGroup}}
value="{{grouplike_id}}">
<div class="check"></div>
<img src="{{avatar_url}}" width="30" height="30">
<h3>{{grouplike_name}}</h3>
{{#isGroup}}<p>{{about}}</p>{{/isGroup}}
