<div class="registration1">
  <div class="left">
    <div class="tab-content">
      <div class="tab-pane" id="home">
        <h1>Welcome Home!</h1>
        <div class="tab-description">
         <p class="first">Harvard Neighbors Network is the easiest way to share</p><br/>
         <p>and connect with your Harvard Neighbors.</p>
          <p></p> -->
        </div>
      </div>
      <div class="tab-pane" id="story">
        <h1>Our Story</h1>
        <div class="tab-description">
          <p class="first">OurCommonPlace began with a story about bowling.</p><br/>
          <p>In 2009, two freshman-year roommates at Harvard</p><br/>
          <p>read the book <em>Bowling Alone</em> by Robert Putnam.</p><br/>
          <p>The book was a revelation. <a href="{{community_slug}}/our-story" class="learn-more">Learn More</a></p>
        </div>
      </div>
      <div class="tab-pane" id="platform">
        <h1>Technology</h1>
        <div class="tab-description">
          <p class="first">Our goal is to empower neighbors and community leaders</p><br/>
          <p>to share information with the people around them and</p><br/>
          <p>build awesome things for their communities.</p><br/>
          <p style="margin-left:-3px;"><a href="{{community_slug}}/our-platform" class="learn-more">Learn More</a></p>
        </div>
      </div>
      <div class="tab-pane" id="press">
        <h1>Supporters</h1>
        <div class="tab-description">
          <p class="first">{{community_user_count}} of your neighbors and {{community_feed_count}} great {{community_name}}</p><br/>
          <p>organizations have already registered. Join them now!</p><br/>
          <p style="margin-left:-3px;"><a href="{{community_slug}}/press" class="learn-more">Learn More</a></p><br/>
        </div>
      </div>
      <div class="tab-pane" id="awards">
        <h1>Civic Hero Awards</h1>
        <div class="tab-description">
          <p class="first">OurCommonPlace runs a national community awards</p><br/>
          <p>program dedicated to spotlighting and celebrating local</p><br/>
          <p>leaders in towns and cities across the country.</p><br/>
          <p style="margin-left:-3px;"><a href="{{community_slug}}/nominate" class="learn-more">Learn More</a></p>
        </div>
      </div>
    </div>
    <div class="navbar">
      <ul class="nav nav-tabs" id="scroller">
        <li><a href="#home" class="mission selected">Our Mission</a></li>
        <li><a href="#platform" class="story">Technology</a></li>
        <li><a href="#press" class="platform">Supporters</a></li>
        <li><a href="#story" class="press">Our Story</a></li>
        <li><a href="#awards" class="awards">Civic Hero Awards</a></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div id="redbox">
      <figure class="front">
        <h2>Become a Neighbor</h2>
        <form class="registration" id="registration1">
          <div id="full_name">
            <input name="full_name" class="name" type="text" placeholder="Full Name" />
            <span class="error full_name"></span>
          </div>
          <br />
          <div id="email">
            <input class="email" type="email" name="email" placeholder="Email Address" />
            <span class="error email"></span>
          </div>
          <br />
          <div id="password">
            <input class="password" type="password" name="password" placeholder="Create Password" /><br />
            <span class="error password"></span>
          </div>
          <button class="next-button">Register Now!</button></form>
          <div class="facebook">
            <p>Or you can:</p>
            <a href="#">Facebook</a>
          </div>
        </form>
      </figure>
    </div>
  </div>
</div>
