<h1>Who do you know in town?</h1>

<div class="registration_information">
  <ul>
    <li>Select your neighbors who you know.</li>
    <li>Connect your Facebook and email to help us find your friends in town:</li>

  </ul>
</div>

<form class="find_neighbors">
  <div class="neighbor_finder">
  <table>
    <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>
      <td>
        <img src="block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
    </tr>
    
    <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>
    </tr>
      <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>
    </tr>
      <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>
    </tr>
        <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
    </tr>
        <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
    </tr>
            <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
    </tr>
  </table>
  </div>
</form>
