<h1>Find Your Friends In Town</h1>

<div class="registration_information">
  <ul>
    <li>Click people you know</li>
    <li>Get names from Facebook or your email list here:</li>
    <li class="buttons">
      <a class="facebook">Facebook</a>
      <a class="email">Email</a>
    </li>

  </ul>
</div>

<form class="find_neighbors">
  <div class="neighbor_finder">
  <table>
    <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>

    </tr>
    
    <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>

    </tr>
      <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>

    </tr>
      <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>

    </tr>
        <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>

    </tr>
        <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>

    </tr>
            <tr>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
      </td>
      <td>
        <img src="/assets/block.png">
        <p class="fName">Josh</p>
        <p class="lName">Lewis</p>
        <p class="oC">On CommonPlace</p>
      </td>

    </tr>
  </table>
  </div>
</form>
