<h1>Plug Into the {{community_name}} Community</h1>

<div class="registration_information">
  <ul class="infolist">
    <li>The {{community_name}} CommonPlace is a safe online bulletin board for {{community_name}} residents.  It's the very best way to connect with your real life community.</li>
    <li>Register once to start receiving short updates from your neighborhood, the police, the Marquette government, and great local businesses in town.</li>
    <li>Since January 2011, 343 neighbors and 44 {{community_name}} organizations have shared 234 updates with the community.  Don't miss anything!</li>
  </ul>
  <ul class="link_item">
    <a href="{{learn_more}}" class="learn-more">
      <img src="assets/buttons/learnmore.png" alt="Learn more">
    </a>
  </ul>
</div>

<form class="new_user">
  <h4>
    <input type="image" class="facebook" src="/assets/facebookconnect.png" href="{{faceboook}}">
    Register Now <span class="or">or</span>
  </h4>
  <ul>
    <li>
      <input type="text" name="full_name" placeholder="Full name">
      <span class="error full_name"></span>
    </li>
    <li>
      <input type="text" name="email" placeholder="Email address">
      <span class="error email"></span>
    </li>
    <li>
      <input type="text" name="street_address" class="has_hint" placeholder="Street address">
      <div class="error address"></div>
    </li>
  </ul>
  
  <input type="submit" class="grey-button sign_up" value="SIGN ME UP!">
</form>

<div style="clear: both;"></div>
