<div class="registration1">
  <div class="left">
    <div class="tab-content">
      <div class="tab-pane" id="home">
        <h1>Welcome Home!</h1>
        <div class="tab-description">
          <p class="first">The {{community_name}} CommonPlace is the easiest way</p><br/>
          <p>to share with your neighbors and keep up with what's</p><br/>
          <p>happening in {{community_name}}. <span class="learn-more"><a href="{{community_slug}}/about" class="learn-more">Learn More</a></span></p>
        </div>
      </div>
      <div class="tab-pane" id="story">
        <h1>Our Story</h1>
        <div class="tab-description">
          <p>OurCommonPlace began with a story about</p><br/>
          <p>bowling. In 2009, two freshman-year roommates</p><br/>
          <p>at Harvard read the book <em>Bowling Alone</em> by Robert</p><br/>
          <p>Putnam. The book was a revelation. <span class="learn-more"><a href="{{community_slug}}/our-story" class="learn-more">Learn More</a></span></p>
        </div>
      </div>
      <div class="tab-pane" id="platform">
        <h1>Technology</h1>
        <div class="tab-description">
          <p class="first">Our goal is to help neighbors and community</p><br/>
          <p>leaders to share information with the people around</p><br/>
          <p>them and empower them to build awesome things</p><br/>
          <p>for their communities. <span class="learn-more"><a href="{{community_slug}}/our-platform" class="learn-more">Learn More</a></span></p>
        </div>
      </div>
      <div class="tab-pane" id="press">
        <h1>Supporters</h1>
        <div class="tab-description">
          <p class="first">Need copy! <span class="learn-more"><a href="{{community_slug}}/press" class="learn-more">Learn More</a></span></p>
        </div>
      </div>
      <div class="tab-pane" id="awards">
        <h1>Civic Hero Awards</h1>
        <div class="tab-description">
          <p class="first">OurCommonPlace runs a national community</p><br/>
          <p>awards program dedicated to spotlighting and</p><br/>
          <p>celebrating local leaders in towns and cities across</p><br/>
          <p>the country.<span class="learn-more"><a href="{{community_slug}}/nominate" class="learn-more">Learn More</a></span></p>
        </div>
      </div>
    </div>
    <div class="navbar">
      <ul class="nav nav-tabs" id="scroller">
        <li><a href="#home" class="mission selected">Our Mission</a></li>
        <li><a href="#platform" class="story">Technology</a></li>
        <li><a href="#press" class="platform">Supporters</a></li>
        <li><a href="#story" class="press">Our Story</a></li>
        <li><a href="#awards" class="awards">Civic Hero Awards</a></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div id="redbox">
      <figure class="front">
        <h2>Sign Up</h2>
        <form class="registration" id="registration1">
          <div id="full_name">
            <input name="full_name" class="name" type="text" placeholder="Full Name" />
            <span class="error full_name"></span>
          </div>
          <br />
          <div id="email">
            <input class="email" type="email" name="email" placeholder="Email Address" />
            <span class="error email"></span>
          </div>
          <br />
          <div id="password">
            <input class="password" type="password" name="password" placeholder="Create Password" /><br />
            <span class="error password"></span>
          </div>
          <button class="next-button">Register Now!</button></form>
          <div class="facebook">
            <p>Or you can:</p>
            <a href="#">Facebook</a>
          </div>
        </form>
      </figure>
    </div>
  </div>
</div>
