<style>
.input_wrapper {
  position: relative;
}
</style>

<h3>To join {{community_name}}.OurCommonPlace</h3>
<h2>Sign Up Here</h2>
<form class="registration">
  <div id="full_name" class="input_wrapper">
    <input id="full-name" class="full_name" name="full_name" type="text" placeholder="Full Name" />
    <span class="error full_name"></span>
  </div>
  <div id="email" class="input_wrapper">
    <input class="email" type="email" name="email" placeholder="Your Email" />
    <span class="error email"></span>
  </div>
  <div id="address" class="input_wrapper">
    <input class="street_address" type="text" placeholder="Street Address" name="street_address"/>
    <span class="error street_address"></span>
  </div>
  <button class="next-button">Register Now!</button>
  <!--
  <div class="facebook">
    <p>Or you can:</p>
    <a href="#">Facebook</a>
  </div>
  -->
</form>

