<h2>Nominate A Hero</h2>
<form class="registration">
  <input id="their-full-name" class="their-name" name="nominee_name" type="text" placeholder="Their Full Name" /><br />
  <input id="their-email" class="their-email" type="email" name="nominee_email" placeholder="Their Email Address" /><br />
  <textarea id="why" class="why-nominate" name="nomination_reason" placeholder="Tell us why you are nominating this perosn." ></textarea>
  <input id="full-name" class="your-name" name="nominator_name" placeholder="Your Full Name"/>
  <input id="email" class="your-email" name="nominator_email" placeholder="Your Email Address" />
  <button class="next-button">Nominate this person!</button>
  <div class="facebook">
    <p>Or you can:</p>
    <span id="apply-btn">Be a civic leader</span>
  </div>
</form>
