<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<h2>Nominate a Hero</h2>
<form class="registration">
  <input id="their-full-name" class="their-name" name="nominee_name" type="text" placeholder="Their Full Name" /><br />
  <input id="their-email" class="their-email" type="email" name="nominee_email" placeholder="Their Email Address" /><br />
  <textarea id="why" class="why-nominate" name="nomination_reason" placeholder="Tell us why you are nominating this person." ></textarea>
  <input id="full-name" class="your-name" name="nominator_name" placeholder="Your Full Name"/>
  <input id="email" class="your-email" name="nominator_email" placeholder="Your Email Address" />
  <button class="next-button">Nominate this person!</button>
  <div class="leader-button">
    <p>Or apply for the:</p>
    <span id="apply-btn">Civic Heroes Leadership Program</span>
  </div>
</form>
