<h1>Fill out your community profile</h1>

<div class="registration_information">
  <ul>
    <li>Thanks for signing up, {{user_name}}!</li>
    <li>CommonPlace makes it easy for you to share needs, announcements, and events with folks who live in {{community_name}}.</li>
    <li>Use CommonPlace whenever you want to get local recommendations, borrow things from your neighbors, or plan your next big town initiative.</li>
    <li>Before you start, take a moment to fill out your community profile.</li>
  </ul>
</div>

<form class="user_profile">
  <ul>
    <li class="text">
      <div class="to-facebook">
        <h4>Or use your profile photo and password from Facebook</h4>
        <img class="facebook" src="/assets/buttons/facebookconnect.png" alt="Connect with Facebook">
      </div>
      <div class="not-facebook">
        <div>
          <label for="password">Create a password:</label>
          <input type="password" name="password">
          <div class="error"></div>
        </div>
        <div>
          <label class="add-photo" for="photo">Add a profile photo:</label>
          <a href="#" class="avatar_file_browse">Upload Photo</a>
        </div>
      </div>
    </li>
    <li class="text">
      <label for="about">Tell your neighbors a bit about yourself:</label>
      <textarea name="about" rows="3"></textarea>
    </li>
    <li class="text">
      <label for="organizations">What town organizations are you a member of?</label>
      <textarea name="organizations" rows="3"></textarea>
    </li>
    <li>
      <label for="interests">Share interests with my neighborhood:</label>
      <select name="interests" class="list" multiple="true" data-placeholder="Select some interests">
        {{#interests}} <option value="{{.}}">{{.}}</option> {{/interests}}
      </select>
    </li>
    <li>
      <label for="skills">Share skills with my neighborhood:</label>
      <select name="skills" class="list" multiple="true" data-placeholder="Select some skills">
        {{#skills}} <option value="{{.}}">{{.}}</option> {{/skills}}
      </select>
    </li>
    <li>
      <label for="goods">Share goods with my neighborhood:</label>
      <select name="goods" class="list" multiple="true" data-placeholder="Select some goods">
        {{#goods}} <option value="{{.}}">{{.}}</option> {{/goods}}
      </select>
    </li>
    <li>
      <label for="referral_source">How did you find out about CommonPlace?</label>
      <select name="referral_source">
        {{#referrers}}
          <option value="{{.}}">{{.}}</option>
        {{/referrers}}
      </select>
    </li>
    <li class="referral_metadata_li text">
      <label for="referral_metadata"></label>
      <input type="text" name="referral_metadata">
    </li>
  </ul>
  
  <input type="submit" class="grey-button continue" value="Continue...">
</form>

{{#isWatertown}}
  <!-- Google Code for Watertown HTTPS register Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 978921053;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "c30GCJPJ-gMQ3czk0gM";
  var google_conversion_value = 0;
  /* ]]> */
  </script>
  <script type="text/javascript"
  src="https://www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt=""
  src="https://www.googleadservices.com/pagead/conversion/978921053/?value=0&amp;label=c30GCJPJ-gMQ3czk0gM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>
{{/isWatertown}}
