#info_img
  = image_tag "about.jpg", :id => 'about_img', :alt => "About the CommonPlace Initiative", :size=>"400x400"
  
.info
  :textile
    h1. About The CommonPlace Initiative

    CommonPlace is a Massachusetts-based internet and community organizing company dedicated to the mission of creating a new online information infrastructure for local communities. The CommonPlace platform is designed to help towns and cities organize local community information online, to help neighbors get more from the people and organizations around, and to help revitalized local community in America.

    CommonPlace was co-founded in the summer of 2009 by two Harvard students, Max Novendstern and Peter Davis. The team has advisers at the top of their fields in sociology, business and internet technology, and substantial early support from civic leaders in the City of Boston. As a social entrepreneurship venture, CommonPlace dedicated to creating real value for communities, and to pursuing its mission with responsibility, creativity and passion. After our first neighborhood in Boston, we plan to expand to communities across America. 
  