#info_img
  = image_tag "about.jpg", :id => 'about_img', :alt => "About the CommonPlace Initiative", :size=>"400x400"
  
.info.about
  :textile
    h1. About the platform

    CommonPlace is a web platform for neighborhoods and local communities. This iteration of the CommonPlace platform allows you to:
    * *Post messages to your neighborhood* ("Anyone have a ladder I could borrow tomorrow?" "I am available for babysitting." "I saw a downed electrical wire on Pine Street." "Open house this Sunday, 6PM.")
    * *Reply to your neighbors' posts* ("I have a ladder. Come by anytime tomorrow to pick it up.")
    * *Maintain a profile for your neighbors to view* 
    * *Browse a directory of your neighbors' profiles* 
    * *Privately message any of your neighbors* without sharing your email address

    If you are interested in bringing this platform to your neighborhood, email "Pete@CommonPlace.in":mailto:pete@commonplace.in.
    
    h2. About CommonPlace
    
    The CommonPlace Initiative is a Massachusetts-based social enterprise dedicated to creating a next-generation information sharing infrastructure for local communities.  Over the coming year, CommonPlace aims to develop and perfect the CommonPlace web platform -- a tool designed to empower users to connect with the people and organizations that make up their local communities.  This powerful tool is built on a big idea: that our communities *can be better*, and that the tools our communities use to connect *can be smarter*, *more efficient*, and *more convenient*.  By rethinking the relationship between civic institutions, neighborhoods and the internet, we aim to help revitalize local community in America.
    
    CommonPlace was founded in the summer of 2009 by Harvard students Max Novendstern and Peter Davis. The team has advisers at the top of their fields in sociology, business and internet technology, and has received substantial early support from civic leaders in the City of	Boston.

    For more information, email "Pete@CommonPlace.in":mailto:pete@commonplace.in.