#info_img
  = image_tag "terms.jpg", :id => 'info_img', :alt => "Terms of Service", :size=>"400x400"
  
.info.dmca
  :textile
    h1. Digital Millennium Copyright Act Notice and Counter Notice

    h2. Copyright Infringement Notification

    If you believe that content available on or through this site (“Website”) infringes one or more of your copyrights, please send our Copyright Agent by mail, email, or fax a notification (“Notification”) providing the information described below. A copy of your Notification will be sent to the person who posted the material addressed in the Notification.

    Pursuant to federal law you may be held liable for damages and attorneys’ fees if you make any material misrepresentations in a Notification. Thus, if you are not sure whether content located on or accessible via a link from the Website infringes your copyright, you should contact an attorney.

    All Notifications should include the following:

    # A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
    # Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site.
    # Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material.
    # Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and an email address at which the complaining party may be contacted.
    # A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
    # A statement that the information in the Notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
    Notifications should be sent to:

    Max Novendstern

    CommonPlace Initiative

    1033 Massachusetts Ave
    Cambridge, MA 02138

    Email: "dmca@commonplace.in":mailto:dmca@commonplace.in

    h2. Counter Notification

    If you believe that material that you posted to the site has been wrongfully removed in response to a Copyright Infringement Notification submitted by a copyright owner pursuant to the Digital Millennium Copyright Act, you may send us a counter notification (“Counter Notification”) asking that the material be restored (if you are eligible to have the material restored as outlined below). Pursuant to federal law you may be held liable for damages and attorneys' fees if you make any material misrepresentations in a Counter Notification. Please note that we are required to send a copy of your Counter Notification to the person who submitted the original Copyright Infringement Notification and that in response to a Counter Notification that person may file a lawsuit against you seeking a determination of its rights with respect to the material.

    To be effective your Counter Notification must be a written communication provided to CPI’s designated agent that includes substantially the following information:

    # Your physical or electronic signature.
    # Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled.
    # A statement under penalty of perjury that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification or the material to be removed or disabled.
    # Your name, address, telephone number, and a statement that you consent to the jurisdiction of the Federal District Court for the judicial district where you live and that you will accept service of process from the person who submitted the Notification (or an agent for that person).
    Counter Notifications should be sent to:

    Max Novendstern

    CommonPlace Initiative

    1033 Massachusetts Ave
    Cambridge, MA 02138

    Email: "dmca@commonplace.in":mailto:dmca@commonplace.in