#submission
  - semantic_form_for @post do |f|

    - f.inputs "Submit a post!"  do
      = f.input :body, :label => 'A request, offer, announcement, or invite (ex. "Anyone have a ladder I can borrow?")', :input_html => { :class => 'autogrow', :rows => 4}, :label_html => { :class => 'in-field', :style=>"display: table" }

    = f.buttons      