#x
  #actions
    .right
      %input{"data-label" => "Search for anything..."}
      %button Search
      %br
      %p Texty.
    .left
      %textarea{"data-label" => "Write a message to your neighbors. It can be about something you need or an announcement."}
      %br
      %input{:type => "radio"}
      %label Ask
      %input{:type => "radio"}
      %label Tell
      %input{:type => "radio"}
      %label Other
      %button Post
  #filters
    %ul
      %li{:style => "background: #BFE2F3;"} All
      %li{:style => "background: #FFE4C6;"} Peo
      %li{:style => "background: #C5CBF5;"} Eve
      %li{:style => "background: #FFEFC6;"} Org
      %li{:style => "background: #BEF6D6;"} Not
      %li{:style => "background: #FFEFC5;"} Pla
      %li{:style => "background: #FFD1C5;"} Not
      %li{:style => "background: #D5C3F5;"} Pla
#xs
  .right
    derp right
  .left
    #{render "wires/wire"}