#comm_right
  #infobox
    %span.wire 
      %h2 The Wire
      %p.instruction Use the Wire to post to your neighborhood.
    %span.index
      %h2 The Inbox
    %span.directory 
      %h2 The Directory
      %p.instruction Use the directory to find people, organizations, events, or businesses in your community.
  #map

#comm_left
  #toggles
    #wireButton{'data-data' => '#w'} Wire
    #inboxButton{'data-data' => '#i'} Inbox
    #directoryButton{'data-data' => '#d'} Directory
    
  %span(id="stuff")
    
    #w{:style => "display: none;" }
      .intro
        #submission
          - semantic_form_for @post do |f|

            - f.inputs do
              = f.input :body, :label => 'A request, offer, announcement, or invite (ex. "Anyone have a ladder I can borrow?")', :input_html => { :rows => 4 }, :label_html => { :class => 'in-field', :style => "display: block;" }

            - f.buttons do
              = f.commit_button
      #wresults
        %ul
          - @wire_posts.each do |post|
            #{render post}
    
    #i
      .intro.top
        #compose
      
      #iresults
        %ul
          %li Hello
          %li Derp
    
    #d{:style => "display: none;" }
      .intro
        %input#that
        /%label{:for => "that"} Search for something...
        /{:type => "search"}
        %ul#narrow.kinds
          %li#all{:class => "selected", "data-choice" => "all"} All
          %li#people{"data-choice" => "people"} People
          %li#organizations{"data-choice" => "organizations"} Organizations
          %li#events{"data-choice" => "events"} Events
          %li#businesses{"data-choice" => "businesses"} Businesses
      
      #dresults
    .clear