#comm_right
  #infobox
    %span.wire 
      %h2 The Wire
      %p.instruction Use the Wire to post to your neighborhood.
    %span.directory 
      %h2 The Directory
      %p.instruction Use the directory to find people, organizations, events, or businesses in your community.
  #map

#comm_left
  #toggles
    #wireButton Wire
    #directoryButton Directory
    
  %span(id="stuff")
    
    #w{:style => "display: none;" }
      .intro
        /%p Post to your neighborhood...
        #submission
          - semantic_form_for @post do |f|

            - f.inputs do
              = f.input :body, :label => 'A request, offer, announcement, or invite (ex. "Anyone have a ladder I can borrow?")', :input_html => { :rows => 4 }, :label_html => { :class => 'in-field', :style => "display: block;" }

            - f.buttons do
              = f.commit_button
      #wresults
        %ul
          - @wire_posts.each do |post|
            #{render post}
          
    #d{:style => "display: none;" }
      .intro
        /%p Use the directory to find people, organizations, events, or businesses in your community.
        %input#that
        /%label{:for => "that"} Search for something...
        /{:type => "search"}
        %ul#narrow.kinds
          %li.selected.all{"data-choice" => "all"} All
          %li{"data-choice" => "people"} People
          %li{"data-choice" => "organizations"} Organizations
          %li{"data-choice" => "events"} Events
          %li{"data-choice" => "businesses"} Businesses
        %ul.alphabeta.selected{:style => "display: none;"}
          // TODO: This needs to update which ones are allowed over time, as results come back.
          %li.disabled
            %a{:href => "#A"} A
          %li
            %a{:href => "#B"} B
          %li
            %a{:href => "#C"} C
          %li
            %a{:href => "#D"} D
          %li
            %a{:href => "#E"} E
          %li
            %a{:href => "#F"} F
          %li
            %a{:href => "#G"} G
          %li
            %a{:href => "#H"} H
          %li
            %a{:href => "#I"} I
          %li
            %a{:href => "#J"} J
          %li
            %a{:href => "#K"} K
          %li
            %a{:href => "#L"} L
          %li
            %a{:href => "#M"} M
          %li
            %a{:href => "#N"} N
          %li
            %a{:href => "#O"} O
          %li
            %a{:href => "#P"} P
          %li
            %a{:href => "#Q"} Q
          %li
            %a{:href => "#R"} R
          %li
            %a{:href => "#S"} S
          %li
            %a{:href => "#T"} T
          %li
            %a{:href => "#U"} U
          %li
            %a{:href => "#V"} V
          %li
            %a{:href => "#W"} W
          %li
            %a{:href => "#X"} X
          %li
            %a{:href => "#Y"} Y
          %li
            %a{:href => "#Z"} Z
      
      #dresults
    .clear