
#main_left
  %h1 Welcome to CommonPlace
  
  %p CommonPlace helps you connect with your neighbors.
  
  %p CommonPlace aims to create the first web platform specifically designed to help individuals connect to the people and institutions that make up their local communities. We want to apply new-school media technology to old-school, neighborhood-based information networks.
  
.front_page_main
  #log_in
    %h2 Log in
    = render "user_sessions/new", :user_session => UserSession.new
  
  %h3 or
  
  #register

    - form_tag new_account_path, :method => :get, :id => 'code' do
      = label_tag :account_code, "Enter your registration code:"
      = text_field_tag 'account[code]'

  %h3 or
  
  #more
    %h2 Get involved
    %p To find out more about CommonPlace, or sign up your community, contact #{link_to "Pete Davis", 'mailto:pete@commonplace.in'}.


