<!DOCTYPE html>
<html>
  <head>
    <title>OurCommonPlace</title>
    <meta name="description" content="CommonPlace helps you share and connect with your neighbors.">

  <link href="https://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" type="text/css">
  <link href="/assets/favicon.png" rel="icon" type="image/png">
  <link href="/assets/registration.sass" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header"></div>

      <div id="main">
        <div id="fb-root"></div>
        <div id="registration-modal">
          <div class="registration1">
            <div class="left">
              <div class="tab-content">
                <div class="tab-pane" id="home">
                  <h1>Welcome Home!</h1>
                  <div class="tab-description">
                    <p class="first">OurCommonPlace is the easiest way to share with</p><br/>
                    <p>your neighbors and keep up with what's happening</p><br/>
                    <p>in your town. <span class="learn-more"><a href="about" class="learn-more">Learn More</a></span></p>
                  </div>
                </div>
                <div class="tab-pane" id="story">
                  <h1>Our Story</h1>
                  <div class="tab-description">
                    <p>OurCommonPlace began with a story about</p><br/>
                    <p>bowling. In 2009, two freshman-year roommates</p><br/>
                    <p>at Harvard read the book <em>Bowling Alone</em> by Robert</p><br/>
                    <p>Putnam. The book was a revelation. <span class="learn-more"><a href="our-story" class="learn-more">Learn More</a></span></p>
                  </div>
                </div>
                <div class="tab-pane" id="platform">
                  <h1>The Platform</h1>
                  <div class="tab-description">
                    <p class="first">Our goal is to help neighbors and community</p><br/>
                    <p>leaders to share information with the people around</p><br/>
                    <p>them and empower them to build awesome things</p><br/>
                    <p>for their communities. <span class="learn-more"><a href="our-platform" class="learn-more">Learn More</a></span></p>
                  </div>
                </div>
                <div class="tab-pane" id="press">
                  <h1>Supporters</h1>
                  <div class="tab-description">
                    <p class="first">Need copy! <span class="learn-more"><a href="press" class="learn-more">Learn More</a></span></p>
                  </div>
                </div>
                <div class="tab-pane" id="awards">
                  <h1>Civic Hero Awards</h1>
                  <div class="tab-description">
                    <p class="first">OurCommonPlace runs a national community</p><br/>
                    <p>awards program dedicated to spotlighting and</p><br/>
                    <p>celebrating local leaders in towns and cities across</p><br/>
                    <p>the country.<span class="learn-more"><a href="nominate" class="learn-more">Learn More</a></span></p>
                  </div>
                </div>
              </div>
              <div class="navbar">
                <ul class="nav nav-tabs" id="scroller">
                  <li><a href="#home" class="mission selected">Our Mission</a></li>
                  <li><a href="#story" class="story">Our Story</a></li>
                  <li><a href="#platform" class="platform">The Platform</a></li>
                  <li><a href="#press" class="press">Supporters</a></li>
                  <li><a href="#awards" class="awards">Civic Hero Awards</a></li>
                </ul>
              </div>
            </div>
            <div class="right default">
              <div id="redbox">
                <figure class="front">
                  <h2>Find Your Community</h2>
                  <form class="registration">
                    <div id="community">
                      <input name="comm" id="community" placeholder="Start typing a community..." />
                    </div>
                    <br />
                    <button class="next-button">Go There Now!</button></form>
                  </form>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div id="wrapper-footer"></div>
    </div>
    <script type="text/javascript" src="/assets/registration.js"></script>
    <script type="text/javascript">
      CommonPlace.account = new Account({});
      var header = new CommonPlace.shared.HeaderView({el: $("#header")});
      header.render();
      var communitySlug = window.location.pathname.split("/")[1];
      this.$("input#community").autocomplete({
          source: "/api/communities/lexington/comm_complete",
          minLength: 0
      });

      tabs = this.$("ul.nav-tabs > a");
      $(".tab-content > div").hide().filter("#home").fadeIn("500", "linear");
      $("ul.nav-tabs a").each(function() {
        if (this.pathname === window.location.pathname) {
          return tabs.push(this);
        }
      });
      this.$(tabs).click(function() {
        $(".tab-content > div").hide().filter(this.hash).fadeIn("500", "linear");
        $(tabs).removeClass("selected");
        $(this).addClass("selected");
        return false;
      });
    </script>
  </body>
</html>
