<!DOCTYPE html>
<html>
  <head>
    <title>OurCommonPlace</title>
    <meta name="description" content="CommonPlace helps you share and connect with your neighbors.">
    <% if ENV['TINFOIL_VERIFICATION'].present? %>
      <meta name="tinfoil-site-verification" content="<%= ENV['TINFOIL_VERIFICATION'] %>">
    <% end %>

  <link href="//fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" type="text/css">
  <link href="/assets/favicon.png" rel="icon" type="image/png">
  <link href="/assets/application.css" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
           <link rel="stylesheet" type="text/css" href="/assets/ie.css" />
   <![endif]-->
   <!--[if lt IE 8]>
            <link rel="stylesheet" type="text/css" href="/assets/IE8-loggedOut.css" />
    <![endif]-->
    <style type="text/css" media="screen">
       body {
           background: url('/assets/shared/redesign/backgrounds/Driveway.jpg') no-repeat center center fixed;
           background-color: #CEE7FE;
           background-size: cover;
           -webkit-background-size: cover;
           -webkit-font-smoothing: antialiased;
           text-rendering: optimizeLegibility;
          }
       .choose_town_container {
          display: none;
       }
       .registration_right {
           width: 220px !important;
        }
     </style>
  </head>
  <body>
       <img src="/assets/shared/redesign/welcomebg.png" style="display:none;">
       <img src="/assets/shared/redesign/logo3.png" style="display:none;">
       <img src="/assets/shared/redesign/tan-bg.png" style="display:none;">
       <img src="/assets/shared/redesign/red-bg.png" style="display:none;">
       <img src="/assets/shared/redesign/blue-bg.png" style="display:none;">
       <img src="/assets/shared/redesign/star-red.png" style="display:none;">
       <img src="/assets/shared/redesign/welcome-divider.png" style="display:none;">
       <img src="/assets/shared/redesign/norms-1.png" style="display:none;">
       <img src="/assets/shared/redesign/norms-2.png" style="display:none;">
       <img src="/assets/shared/redesign/norms-3.png" style="display:none;">
       <img src="/assets/shared/redesign/error-bg.png" style="display:none;">
       <img src="/assets/shared/redesign/about-stars.png" style="display:none;">
       <img src="/assets/shared/redesign/arrow.png" style="display:none;">
       <img src="/assets/shared/redesign/fbreg.png" style="display:none;">
       <img src="/assets/use_facebook.png" style="display:none;">
       <img src="/avatars/missing.png" style="display:none;">
       <img src="/assets/loading.gif" style="display:none;">
    <div id="wrapper">
      <div id="header" class="about"></div>

      <div id="about">
        <div id="fb-root"></div>
        <div id="registration-modal">
          <div class="registration1">
            <div class="left">
              <div class="tab-content">
                <div class="tab-pane" id="home">
                  <h1>Welcome Home!</h1>
                  <div class="tab-description">
                    <p class="first">OurCommonPlace is the easiest way to share with your</p><br/>
                    <p>neighbors and keep up with what's happening in</p><br/>
                    <p>your town. <a href="about" class="learn-more">Learn More</a></p>
                  </div>
                </div>
                <div class="tab-pane" id="story">
                  <h1>Our Story</h1>
                  <div class="tab-description">
                    <p class="first">OurCommonPlace began with a story about bowling.</p><br/>
                    <p>In 2009, two freshman-year roommates at Harvard</p><br/>
                    <p>read the book <em>Bowling Alone</em> by Robert Putnam.</p><br/>
                    <p>The book was a revelation. <a href="about" class="learn-more">Learn More</a></p>
                  </div>
                </div>
                <div class="tab-pane" id="platform">
                  <h1>Technology</h1>
                  <div class="tab-description">
                    <p class="first">Our goal is to empower neighbors and community leaders</p><br/>
                    <p>to share information with the people around them and</p><br/>
                    <p>build awesome things for their communities.</p><br/>
                    <p style="margin-left:-3px;"><a href="about" class="learn-more">Learn More</a></p>
                  </div>
                </div>
                <div class="tab-pane" id="press">
                  <h1>Supporters</h1>
                  <div class="tab-description">
                    <p class="first">Tens of thousands of residents and hundreds of great</p><br/>
                    <p>organizations across America have already joined</p><br/>
                    <p>OurCommonPlace. Join them now! <a href="about" class="learn-more" style="margin-left: 0px;">Learn More</a></p>
                  </div>
                </div>
                <div class="tab-pane" id="awards">
                  <h1>Civic Hero Awards</h1>
                  <div class="tab-description">
                    <p class="first">OurCommonPlace runs a national community awards</p><br/>
                    <p>program dedicated to spotlighting and celebrating local</p><br/>
                    <p>leaders in towns and cities across the country.</p><br/>
                    <p style="margin-left:-3px;"><a href="about" class="learn-more">Learn More</a></p>
                  </div>
                </div>
              </div>
              <div class="navbar">
                <ul class="nav nav-tabs" id="scroller">
                  <li><a href="#home" class="mission selected">Our Mission</a></li>
                  <li><a href="#platform" class="platform">Technology</a></li>
                  <li><a href="#press" class="press">Supporters</a></li>
                  <li><a href="#story" class="story">Our Story</a></li>
                  <li><a href="#awards" class="awards">Civic Hero Awards</a></li>
                </ul>
              </div>
            </div>
            <div class="right default">
              <div id="redbox">
                <figure class="front">
                  <h2>Find Your Community</h2>
                  <form class="registration">
                    <div id="community">
                      <input name="comm" id="community" placeholder="Start typing a community..." />
                    </div>
                    <br />
                    <button class="next-button">Go There Now!</button></form>
                  </form>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div id="wrapper-footer"></div>
    </div>
    <script type="text/javascript" src="/assets/registration.js"></script>
    <script type="text/javascript">
      CommonPlace.account = new Account({});
      var header = new CommonPlace.shared.HeaderView({el: $("#header")});
      header.render();
      var communitySlug = window.location.pathname.split("/")[1];
      this.$("input#community").autocomplete({
          source: "/api/communities/lexington/comm_complete",
          minLength: 0
      });
      this.$("input#community").click(function() {
        this.autocomplete("search", "");
      });

      tabs = this.$("ul.nav-tabs > a");
      $(".tab-content > div").hide().filter("#home").fadeIn("500", "linear");
      $("ul.nav-tabs a").each(function() {
        return tabs.push(this);
      });
      this.$(tabs).click(function() {
        $(".tab-content > div").hide().filter(this.hash).fadeIn("500", "linear");
        $(tabs).removeClass("selected");
        $(this).addClass("selected");
        return false;
      });
      $('input[placeholder], textarea[placeholder]').placeholder()
    </script>
  </body>
</html>
