<!DOCTYPE html>
<html>
  <head>
    <title>CommonPlace</title>
    <meta name="description" content="CommonPlace helps you share and connect with your neighbors.">

  <link href="https://webfonts.fontslive.com/css/0a25c9dc-bb5a-4ea9-88b2-1c7a8802e172.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:400,700" rel="stylesheet" type="text/css">
  <link href="/assets/favicon.png" rel="icon" type="image/png">
  <link href="/assets/registration.sass" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header"></div>

      <div id="main">
        <div id="fb-root"></div>
        <div id="registration-modal">
          <div class="registration1">
            <div class="left">
              <div class="tab-content">
                <div class="tab-pane" id="home">
                  <h1>Welcome Home!</h1>
                  <div class="tab-description">
                    <p class="first">CommonPlace is the easiest way</p><br/>
                    <p>to share with your neighors and keep up with what's</p><br/>
                    <p>happening in your town. <span class="learn-more"><a href="about" class="learn-more">Learn More</a></span></p>
                  </div>
                </div>
                <div class="tab-pane" id="story">
                  <h1>Our Story</h1>
                  <div class="tab-description">
                    <p>OurCommonPlace began with a story about</p><br/>
                    <p>bowling. In 2009, two freshman-year roommates</p><br/>
                    <p>at Harvard read the book <em>Bowling Alone</em> by Robert</p><br/>
                    <p>Putnam. The book was a revelation. <span class="learn-more"><a href="our-story" class="learn-more">Learn More</a></span></p>
                  </div>
                </div>
                <div class="tab-pane" id="platform">
                  <h1>The Platform</h1>
                  <div class="tab-description">
                    <p class="first">Our goal is to help neighbors and community</p><br/>
                    <p>leaders to share information with the people around</p><br/>
                    <p>them and empower them to build awesome things</p><br/>
                    <p>for their communities. <span class="learn-more"><a href="our-platform" class="learn-more">Learn More</a></span></p>
                  </div>
                </div>
                <div class="tab-pane" id="press">
                  <h1>Supporters</h1>
                  <div class="tab-description">
                    <p class="first">Need copy! <span class="learn-more"><a href="press" class="learn-more">Learn More</a></span></p>
                  </div>
                </div>
                <div class="tab-pane" id="awards">
                  <h1>Civic Hero Awards</h1>
                  <div class="tab-description">
                    <p class="first">OurCommonPlace runs a national community</p><br/>
                    <p>awards program dedicated to spotlighting and</p><br/>
                    <p>celebrating local leaders in towns and cities across</p><br/>
                    <p>the country.<span class="learn-more"><a href="nominate" class="learn-more">Learn More</a></span></p>
                  </div>
                </div>
              </div>
              <div class="navbar">
                <ul class="nav nav-tabs" id="scroller">
                  <li><a href="#home" class="mission selected">Our Mission</a></li>
                  <li><a href="#story" class="story">Our Story</a></li>
                  <li><a href="#platform" class="platform">The Platform</a></li>
                  <li><a href="#press" class="press">Supporters</a></li>
                  <li><a href="#awards" class="awards">Civic Hero Awards</a></li>
                </ul>
              </div>
            </div>
            <div class="right">
              <div id="redbox">
                <figure class="front">
                  <h2>Sign Up</h2>
                  <form class="registration">
                    <div id="community">
                      <input name="comm" id="community" placeholder="Community">
                    </div>
                    <br />
                    <div id="full_name">
                      <input name="full_name" class="name" type="text" placeholder="Full Name" />
                      <span class="error full_name"></span>
                    </div>
                    <br />
                    <div id="email">
                      <input class="email" type="email" name="email" placeholder="Your Email" />
                      <span class="error email"></span>
                    </div>
                    <br />
                    <div id="password">
                      <input class="password" type="password" name="password" placeholder="New Password" /><br />
                      <span class="error password"></span>
                    </div>
                    <button class="next-button">Register Now!</button></form>
                  </form>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div id="wrapper-footer"></div>
    </div>
    <script type="text/javascript" src="/assets/registration.js"></script>
    <script>
      if (typeof(Number.prototype.toRad) === "undefined") {
        Number.prototype.toRad = function() {
          return this * Math.PI / 180;
        }
      }
      function distance(lat1, lon1, lat2, lon2) {
        var R = 6371; // km
        var dLat = (lat2-lat1).toRad();
        var dLon = (lon2-lon1).toRad();
        var lat1 = lat1.toRad();
        var lat2 = lat2.toRad();

        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
        Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
        var d = R * c;
        return d;
      }
      $.collect = function(c, f) {
        var a = [];
        $.each(c, function(k, v) {
          a.push(f(k, v));
        });
        return a;
      };

      function sortByDistance(a, b) {
        var aDistance = a.distance;
        var bDistance = b.distance;
        return ((aDistance < bDistance) ? -1 : ((aDistance > bDistance) ? 1 : 0));
      }
      $.location = {
        // window.geolocation_provider is useful for testing purposes, not used in
        // development/staging/production envs.
        geolocation_provider: window.geolocation_provider || navigator.geolocation
      }
      function getLocation() {
        $.ajax({
          url: "/api/communities/locations"
          }).done(function(community_locations) {
          if (navigator.geolocation) {
            $.location.geolocation_provider.getCurrentPosition(function(position) {
              var latitude = position.coords.latitude;
              var longitude = position.coords.longitude;
              distances = $.collect(community_locations, function(index, coords) {
                return {
                  slug: coords[0],
                  distance: distance(parseInt(coords[1]), parseInt(coords[2]), latitude, longitude)
                }
              });
              distances = distances.sort(sortByDistance);
              coordinate_pair = distances[0];
              window.location.href = "/" + coordinate_pair.slug + "/about";
            });
            } else {
          }
        });
      }
      $(document).ready(function() {
        getLocation();
      });
    </script>
    <script type="text/javascript">
      CommonPlace.account = new Account({});
      var header = new CommonPlace.shared.HeaderView({el: $("#header")});
      header.render();
      var communitySlug = window.location.pathname.split("/")[1];

      this.$(".next-button").click(function() {
        var community, error, input, params;
        var data = {};
        community = this.$("input[name=community]").val();
        data.full_name = this.$("input[name=full_name]").val();
        data.email = this.$("input[name=email]").val();
        data.password = this.$("input[name=password]").val();
        if (data.password === "") {
          input = this.$("input[name=password]");
          error = this.$(".error.password");
          input.addClass("input_error");
          error.text("Password can't be empty");
          error.show();
        } else if (data.community === "") {
          input = this.$("input[name=community]");
          error = this.$(".error.community");
          input.addClass("input_error");
          error.text("Please tell us what community you live in.");
          error.show();
        }
      });
      tabs = this.$("ul.nav-tabs > a");
      $(".tab-content > div").hide().filter("#home").fadeIn("500", "linear");
      $("ul.nav-tabs a").each(function() {
        if (this.pathname === window.location.pathname) {
          return tabs.push(this);
        }
      });
      this.$(tabs).click(function() {
        $(".tab-content > div").hide().filter(this.hash).fadeIn("500", "linear");
        $(tabs).removeClass("selected");
        $(this).addClass("selected");
        return false;
      });
    </script>
  </body>
</html>
