- render :layout => 'shared/info_modal' do

  .info.privacy
    :textile
      _This policy refers to the current iteration and features of the CommonPlace platform as well as planned iterations and features to be implemented in the near future._
    
      h1. Privacy Policy

      CommonPlace (“CP”) respects your privacy and values being transparent regarding how its website (“Website”) works. This Privacy Policy is intended to inform you, as a user of the Website, about the types of information that CP may gather about or collect from you in connection with your use of the Website. It is also intended to explain the conditions under which CP uses and discloses that information, and your rights in relation to that information.

      The Privacy Policy may change as described below. Each time you use the Website the current version of the Privacy Policy will apply. You should check the date of the current Privacy Policy regularly and inform yourself regarding any changes. The date of this Privacy Policy is displayed at the end of this document.

      h2. Use of this Website is restricted to United States Residents

      The Website is hosted on servers located in the United States of America and is intended for use by United States residents. You may not use this Website if you are not a United States resident.

      h2. Children

      The Website is not intended for children under 18 years of age. CP does not knowingly collect personal information from anyone under 18.

      h2. Definitions

      *“Non-Personally-Identifying Information”* is information that, without the aid of additional information, cannot be directly associated with a specific person.
    
      *“Personally-Identifying Information”* is information such as a name or email address that, without more, can be directly associated with a specific person.
    
      *“Neighborhood”* is a set of users defined based on their residence within a fixed geographical area.
    
      *“Community”* is a set of users defined based on their residence within a small number of identified Neighborhoods.
    
      *“Have”* is an item that you possess and are willing to lend to those in your Neighborhood.

      *“Met”* is another user that has offered a Met request that you accepted or has accepted a Met request that you offered. A Met relationship is intended to represent interaction beyond mere shared residence within a Neighborhood or Community.

      *“Wire”* is a collection of needs, events, announcements, discussions, and activities within a given Neighborhood or Community.

      h2. Information CP receives

      h3. Information you provide to CP

      Upon registering with CP you provide CP with your name, email address, home address, gender, and birthday.  After registering with the site you may update your profile with other information or content at your discretion such as information about your contact information, family, interests, or employer. You have the option of supplementing your profile with your interests, skills, and Haves.

      As a CP user you will have opportunities to post content to the Website. This content may be posted to your profile, on another user’s profile, or to the Wire.

      h3. Information CP gathers about you

      Like most website operators, CP gathers, from users of the Website, Non-Personally-Identifying Information of the sort that web browsers, depending on their settings, may make available. That information includes the user’s internet protocol (“IP”) address, operating system, and browser type, and the location of web pages that the user views right before arriving at, while navigating, and immediately after leaving the Website.

      h4. Web Cookies

      A web cookie (“Cookie”) is a string of information that a website stores on a user’s computer, and that a user’s browser provides to the website each time the user submits a query to the site. CP, or a third party commissioned by CP,  uses Cookies to track pages that users visit during each Website session, both to help the CP improve user’s experiences and to help CP understand how the Website is being used.

      Users who do not wish to have Cookies placed on their computers should set their browsers to refuse Cookies before accessing the Website. However, certain features of the Website may not function properly without the aid of Cookies. Website users who refuse Cookies assume all responsibility for any resulting loss of functionality.

      h4. Web Beacons

      A web beacon (“Beacon”) is an object that is embedded in a web page that is usually invisible to the user and allows website operators to check whether a user has viewed a particular web page. CP, or a third party commissioned by CP, may use Beacons on the Website to count users who have visited particular pages and to deliver other services. Beacons are not used to access users’  Personally-Identifying Information; they are a technique used to compile aggregate statistics about Website usage. Beacon’s are used to collect only a limited set of information including a Cookie number, time and date of a page view, and a description of the page on which the Beacon resides.

      You may not decline Beacons; however, they can be rendered ineffective by declining all Cookies.

      h4. Other Information

      CP keeps track of information related to your actions on the Website. This information includes, but is not limited to your interactions with other users of the site, content you post to the website, and your network of Mets.

      h2. How CP Uses Your Information

      CP uses information it collects about you in managing the Website. CP, or a third party commissioned by CP, may analyze Non-Personally-Identifying Information gathered from users of the Website (including information gathered from Cookies and Beacons as described above) to better understand how the Website is being used. By identifying patterns and trends in usage, CP is able to better design the Website to improve users’ experiences, both in terms of content and ease of use. From time to time, CP may also release the Non-Personally-Identifying Information gathered from Website users in the aggregate.

      CP may also use your information to facilitate interactions among users of the Website. For example, CP may suggest that you Met a Neighbor or that a Neighbor Met you when you possess interests, needs, skills, or Haves that are complementary. As another example, CP may suggest future events that are consistent with your stated interests or that are similar to events you attended in the future. CP may suggest to a member of your Neighborhood that he or she make an introduction between you and a third member of you Neighborhood when you have both Met the intermediary and share complementary interests, skills, Haves, or needs.

      CP may also use your contact information to contact you regarding service related announcements. This may include announcements related to changes in the Website or new events that may be of interest.

      h2. How You Share Your Information

      The Website is intended to promote interactions among residents of its Neighborhoods and Communities and is specifically intended to promote sharing of information among residents of a given Neighborhood. Accordingly, you should use discretion in posting content to the site. Your name and address, as well as your listed interests, skills, haves and your directory of Mets, will be viewable members of your Neighborhood. In addition, content you post to the Wire will be available to members of your Neighborhood.

      You will have the option of making certain content available to the larger Community. Responses to content that is made available to the Community will also be available to the Community.

      Information regarding certain actions you take on the Website will be available through either your profile or the Wire. Such actions include registering for events or Metting other users. Information about searches you make or profiles you view is not made available to other users of the Website.

      h2. How CP Shares Your Information

      CP does not sell, rent, or otherwise provide Personally-Identifying Information to third parties for marketing purposes.

      CP may partner with scholars or researchers who are interested in the sociology of neighborhoods and communities. Any such partners must comply with this Privacy Policy and are prohibited from publicly releasing Personally-Identifying Information about a user without that user’s express consent.