- render :layout => 'shared/modal' do

  .info.terms
    :textile
      h1. Terms of Use

      CommonPlace (“CP”) is an internet based website (the “Website”) designed specifically to connect people to their local communities. Residents of neighborhoods with a CommonPlace will be able to use the Website to share information about events, needs, and announcements with their neighbors and connect to the people and institutions nearby. To provide this service responsibly, we have set out some ground rules for using the service in this document (the "Terms"). These Terms constitute a legally binding agreement between you, whether personally or on behalf of an entity, (“you”) and CP concerning your use and access to the Website. By accessing, using, or contributing to the Website you agree to abide by the Terms in full. If you disagree with any part of the Terms do not use the Website.

      CP may change the Terms from time to time, at the CP's sole discretion. Your continued use of the Website following the posting of such changes will constitute your assent to all such changes. Please periodically visit this section of the Website to review the current version of the Terms.

      h2. 1. Eligibility

      You must be at least eighteen (18) years of age to register as a member of the Website or use the Website. By using the Website, you represent and warrant you are 18 years of age or older and that you have the right, authority and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement.

      h2. 2. Intellectual Property Rights

      Unless otherwise stated, we or our licensors own the intellectual property rights in the Website and material on the Website. You may view, download for caching purposes only, and print pages from the Website for your own personal use. Otherwise, all these intellectual property rights are reserved.

      h2. 3. Content

      You own all content that you post to the Website. By posting content to the Website you grant CP a license to display the content on the website or otherwise use the content in conjunction with the operation of the Website.

      You are responsible for all content that you post to the website. By posting content to the Website you represent and warrant that:

      # the creation, distribution, transmission, public display and performance, accessing, downloading and copying of your contribution does not and will not infringe any proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights of any third party;
      # your contribution is not obscene, lewd, lascivious, filthy, excessively violent, harassing or otherwise objectionable, libelous or slanderous, does not incite, or threaten immediate physical harm against another, does not violate any applicable law, regulation, or rule, and does not violate the privacy or publicity rights of any third party; or
      # any factual information that you post to your account is accurate to the best of your knowledge.
    
      CP does not screen content you post to the Website. CP does maintain the right (though not the obligation) to refuse, delete, or move content.

      h2. 4. Copyright Policy

      Repeated posting of content that infringes another’s copyright will lead to termination of your account. If you are a copyright owner, or the legal agent of a copyright owner, and you believe that any user submission or content on the Website infringes upon your copyrights, you may submit a notice pursuant to the #{link_to "CP Digital Millennium Copyright Act (“DMCA”) Notice", dmca_url}.
  
      h2. 5. Third Party Interactions

      Your interactions with third parties found on or through the Website, including payment and delivery or exchange of goods or services, are solely between you and such third parties. You should exercise appropriate care before proceeding with interactions with third parties.

      You agree that CP shall not be responsible or liable for any loss or damage of any sort that is incurred as the result of any such interactions. You understand and agree that CP is under no obligation to intervene in any dispute between participants on this site, or between users and any third party. In the event that you have a dispute with one or more other users, you hereby release CP, its officers, employees, and agents from any claims arising out of or in any way related to such disputes.

      h2. 6. Privacy and Information disclosure

      CP has established a Privacy Policy to explain to users how their information is collected and used, which is located at the following web address:

      #{ link_to privacy_url, privacy_url }
  
      Please take the time to read and understand this policy. Your use of the Website signifies acknowledgement of, and agreement to, our Privacy Policy.

      h2. 7. Conduct

      The Website is intended to foster positive interactions among residents of certain neighborhoods. In using the website please show the respect and courtesy that you would want to receive from your neighbors. CP may, in its sole discretion, terminate or otherwise restrict access to the Website for users who consistently violate common rules of etiquette or who engage in prohibited activities absent express prior agreement with CP. Prohibited activities include but are not limited to:

      # criminal or tortious activity, including child pornography, fraud, trafficking in obscene material, drug dealing, gambling, harassment, stalking, or spamming;
      # transmitting chain letters or junk mail to other users;
      # engaging in any automated use of the Website, such as using scripts to add friends or send comments or messages;
      # interfering with, disrupting, or creating an undue burden on the Website or the networks or services connected to the Website;
      # attempting to impersonate another person;
      # using the username of another user;
      # selling or otherwise transferring your profile;
      # using any information obtained from the Website in order to harass, abuse, or harm another person; and
      # using the website in a manner inconsistent with any and all applicable laws and regulations.
    
      h2. 8. Termination of Service

      You agree that CP, in its sole discretion, has the right (but not the obligation) to delete or deactivate your account, block your email or IP address, or otherwise terminate your access to or use of the Website (or any part thereof), immediately and without notice, and remove and discard any content within the Website, for any reason, including, without limitation, if CP believes that you have acted inconsistently with the letter or spirit of the Terms. You agree that CP shall not be liable to you or any third-party for any termination of your access to the Service.

      You may terminate your use or participation at any time by following the instructions on the My Account page of your profile.

      Sections 3, 4, 5, 6, 8, 9, 10, and 11 shall survive termination of service.

      h2. 9. Disclaimer of Warranties

      YOU AGREE THAT YOUR USE OF THE WEBSITE WILL BE AT YOUR SOLE RISK. THE WEBSITE IS PROVIDED ON AN "AS IS" OR "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND. TO THE FULLEST EXTENT PERMITTED BY LAW, CP, ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES EXPRESS OR IMPLIED, IN CONNECTION WITH THE WEBSITE AND YOUR USE THEREOF. CP MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE WEBSITE’S CONTENT OR THE CONTENT OF ANY WEBSITES LINKED TO THIS WEBSITE AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (A)ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (B) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO OR USE OF THE WEBSITE, ==(C)== ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL AND/OR FINANCIAL INFORMATION STORED THEREIN, (D) ANY INTERRUPRION OR CESSATION OF TRANSMISSIONS TO OR FROM THE WEBSITE, (E) ANY BUGS, VIRUSES, TOJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE WEBSITE BY ANY THIRD PARTY, AND/OR (F) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE WEBSITE. CP DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE WEBSITE OR ANY HYPERLINKED WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND CP WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THRID-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.

      h2. 10. Limitations of Liability

      IN ORDER TO PROVIDE YOU WITH THIS FREE SERVICE, WE ARE UNABLE TO ACCEPT LIABILITY FOR ANY CONDUCT, ACTS, OR OMISSIONS OCCURRING AT THIS WEBSITE. IN NO EVENT SHALL CP BE LIABLE TO YOU OR ANY THIRD PARTY FOR DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, OR EXEMPLARY DAMAGES, INCLUDING LOST PROFIT DAMAGES, ARISING FROM YOUR USE OF THE WEBSITE, EVEN IF CP HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, CP’S LIABILITY.

      h2. 11. Choice of Law and Jurisdiction

      These Terms and any disputes arising between you and CP will be governed by and construed in accordance with Massachusetts law and shall be subject to the exclusive jurisdiction of Massachusetts state or federal courts.