
= image_tag post.user.avatar.url, :width => 50, :height => 50, :class => 'graphic'
.body
  %h3 Post title here
  %p= post.body
  .expand
    - if post.replies.size > 0
      #{pluralize(post.replies.size, 'reply')}
    - else
      no replies yet


