- update_content "#syndicate" do
  #syndicate
    %h3= t "syndicate.posts.title"
    = render 'shared/items', :items => @items

- update_content "#say-something form" do
  = render 'form', :post => Post.new