
- content_for :syndicate_navigation do
  - link_to new_post_path, 'data-remote' => true, :id => "create-entity" do 
    %span
      = image_tag 'pin-icon.png'
      %span POST TO YOUR NEIGHBORS

  #filters
    - winnow_button "POSTS", posts_path
    - winnow_button "NEIGHBORS", neighborhood_people_path
