#modal
  - link_to "close", :id => "modal-close", 'data-remote' => true do
    = image_tag 'modal-close.png'

  - semantic_form_for post, :html => { :class => "standard_form"} do |f|
  
    %h1 Write a post to your neighbors
    - f.inputs do
      = f.input :subject
      = f.input :body
    - f.buttons do
      = f.commit_button "Submit Post"
