@import "compass/reset"
@import base.sass

body
  background: image-url("shared/redesign/backgrounds/Vienna.jpg") repeat center center fixed
  background-color: #cae4f7
  background-size: cover
  -webkit-background-size: cover

.registration1
  margin: 16% auto 0px auto

.welcome
  background: url("shared/redesign/welcomebg.png") center top no-repeat
  width: 525px
  padding: 0 32px
  margin: 100px auto 0px auto
  height: 670px
  .inside 
    position: relative
    top: 125px
    width: 495px
    left: 15px
  h4
    font-family: $Yellowtail
    color: white
    font-size: 30px 
    margin: 0
    position: relative
    top: 10px
    text-align: center
  h3
    font-family: $Rokkitt
    font-size: 80px
    text-align: center
    letter-spacing: 1px
    text-shadow: 6px 5px 0px #1B334A
    color: white
    margin: 0
    text-transform: capitalize
  .white-box
    width: 400px
    margin: 0 auto
      top: 20px
    padding: 15px
      top: 20px
      bottom: 20px
    border-radius: 5px
    background: white
    text-align: center
    p 
      margin: 0
      font-family: $Rokkitt
      color: $blue
      font-size: 23px 
  .bottom
    width: 430px
    font-size: 18px
    margin: 0 auto
      top: 20px 
    color: white 
    font-family: $Rokkitt
  ul 
    font-family: $Rokkitt
    padding-left: 15px
    margin: 0 auto
      top: 15px
    li 
      color: white
      margin-bottom: 6px
      list-style-image: url(../images/bullet_star.png)
      line-height: 30px

  input[type=button]
    -webkit-appearance: none
    background: $blue
    @include background(linear-gradient(top center, #2e5274, #1b334a))
    width: 230px
    text-transform: uppercase
    padding: 10px 0
    letter-spacing: 1px
    font-family: $Ultra
    font-size: 20px
    border: 1px solid #151f28
    color: white
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255,255,255,.3)
    text-shadow: 1px 2px 3px rgba(0,0,0,.5)
    cursor: pointer
    margin: 26px 0 0 95px

#registration_modal
  //margin-left: -300px

#header #nav_wrapper div.community-name
  width: auto
  border: 0px none
  box-shadow: none
  padding-top: 12px
  img.cp_logo
    float: left
    margin: 0px
    padding: 0px

#header #user_sign_in div.top-bar
  width: auto
  margin-right: -20px
  border: 0px none
  box-shadow: none
  
#header #nav_wrapper div.community-name a h1
  float: left

#header #nav_wrapper div.community-name a span.community
  float: left
  margin-top: 6px
  color: $red
  font-family: $heading
  font-size: 24px
  font-weight: bold
  margin-left: 8px
  text-shadow: 1px 1px 1px black