
%li.profile_field{:id => dom_id("field", profile_field)}
  - form_for [:management, feed, profile_field], :html => { } do |f|
    %h3
      = f.text_field :subject, :size => 15
      %span.admin
        = f.submit "Save"
        &sdot;
        = f.submit "Cancel"
    =f.text_area :body, :rows => 3, :cols => 40

  