- content_for :navigation do
  = render 'management/feeds/navigation'
 
#edit_profile
  %h3.management_field Manage profile fields
  %p.form-hint These Profile Fields will be shown on the your feed profile page. You can change their order, add new ones, and edit them.
  = render 'profile_fields/index_form'

  = button_to "New Profile Field", new_feed_profile_field_path(@feed), :method => :get

  = button_to "Save order", order_feed_profile_fields_path(@feed), :method => :put


  

