<form accept-charset="UTF-8" action="/events/{{id}}/info" class="new_entity formtastic edit" data-remote="true" id="edit_post" method="post">
  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" type="hidden" value="X3HjlzXCNZLbRAV+a3zdB7rlE2/nYB9QGnsDGteB1mU=">
  </div>

  <hr class="staple">

  <h1>Edit your Announcement</h1>

  <fieldset class="inputs">
    <ol>
      <li class="string required" id="announcement_title_input">
        <label for="announcement_title">Title</label>
        <input id="announcement_title" maxlength="255" name="post_title" size="25" type="text" value="{{title}}">
      </li>
      <li class="text required" id="announcement_body_input">
        <label for="announcement_body">Body</label>
        <textarea id="announcement_body" name="post_body" rows="5">{{body}}</textarea>
      </li>
    </ol>
  </fieldset>

  <fieldset class="buttons">
    <ol>
      <div id="submit_wrapper">
        <li class="commit">
          <input class="create" id="announcement_submit" name="commit" type="submit" value="Submit">
        </li>
      </div>
    </ol>
  </fieldset>
</form>

