
<h2>{{#t}}h2{{/t}}</h2>

  <div class="wrap">

  {{> say_something_nav }}

  <form accept-charset="UTF-8" action="/events" class="formtastic event" data-remote="true" id="new_event" method="post"><div style="margin:0;padding:0;display:inline">
    <input name="authenticity_token" type="hidden" value="{{auth_token}}"></div>
  <fieldset class="inputs"><ol><li>

    <label class="select required" for="event_feed">
      Post as:

    </label>

    <select id="event_owner" name="event[owner]">
      {{#owners}}
        <option value="{{value}}" selected="{{selected}}">{{name}}</option>
      {{/owners}}
    </select>
  </li>

  <li class="string required" id="event_name_input">
    <label for="event_name">Event name:</label>

    <input id="event_name" maxlength="255" name="event[name]" size="25" type="text"></li>

    <li class="text required" id="event_description_input">
      <label for="event_description">Event description:</label>
      <textarea cols="21" id="event_description" name="event[description]" rows="5"></textarea></li>

      <li class="string required" id="event_date_input">
      <label for="event_date">Date</label><input class="date" id="event_date" name="event[date]" size="25" type="text" autocomplete="off"></li>
  <li class="select required" id="event_start_time_input"><label for="event_start_time">Start time</label><select id="event_start_time" name="event[start_time]"><option value="05:00 AM">05:00 AM</option>
  <option value="05:30 AM">05:30 AM</option>
  <option value="06:00 AM">06:00 AM</option>
  <option value="06:30 AM">06:30 AM</option>
  <option value="07:00 AM">07:00 AM</option>
  <option value="07:30 AM">07:30 AM</option>
  <option value="08:00 AM">08:00 AM</option>
  <option value="08:30 AM">08:30 AM</option>
  <option value="09:00 AM">09:00 AM</option>
  <option value="09:30 AM">09:30 AM</option>
  <option value="10:00 AM">10:00 AM</option>
  <option value="10:30 AM">10:30 AM</option>
  <option value="11:00 AM">11:00 AM</option>
  <option value="11:30 AM">11:30 AM</option>
  <option value="12:00 PM">12:00 PM</option>
  <option value="12:30 PM">12:30 PM</option>
  <option value="01:00 PM">01:00 PM</option>
  <option value="01:30 PM">01:30 PM</option>
  <option value="02:00 PM">02:00 PM</option>
  <option value="02:30 PM">02:30 PM</option>
  <option value="03:00 PM">03:00 PM</option>
  <option value="03:30 PM">03:30 PM</option>
  <option value="04:00 PM">04:00 PM</option>
  <option value="04:30 PM">04:30 PM</option>
  <option value="05:00 PM">05:00 PM</option>
  <option value="05:30 PM">05:30 PM</option>
  <option value="06:00 PM">06:00 PM</option>
  <option value="06:30 PM">06:30 PM</option>
  <option value="07:00 PM">07:00 PM</option>
  <option value="07:30 PM">07:30 PM</option>
  <option value="08:00 PM">08:00 PM</option>
  <option value="08:30 PM">08:30 PM</option>
  <option value="09:00 PM">09:00 PM</option>
  <option value="09:30 PM">09:30 PM</option>
  <option value="10:00 PM">10:00 PM</option>
  <option value="10:30 PM">10:30 PM</option>
  <option value="11:00 PM">11:00 PM</option>
  <option value="11:30 PM">11:30 PM</option>
  <option value="12:00 AM">12:00 AM</option>
  <option value="12:30 AM">12:30 AM</option>
  <option value="01:00 AM">01:00 AM</option>
  <option value="01:30 AM">01:30 AM</option>
  <option value="02:00 AM">02:00 AM</option>
  <option value="02:30 AM">02:30 AM</option>
  <option value="03:00 AM">03:00 AM</option>
  <option value="03:30 AM">03:30 AM</option>
  <option value="04:00 AM">04:00 AM</option>
  <option value="04:30 AM">04:30 AM</option></select></li>
  <li class="select required" id="event_end_time_input"><label for="event_end_time">End time</label><select id="event_end_time" name="event[end_time]"><option value="05:00 AM">05:00 AM</option>
  <option value="05:30 AM">05:30 AM</option>
  <option value="06:00 AM">06:00 AM</option>
  <option value="06:30 AM">06:30 AM</option>
  <option value="07:00 AM">07:00 AM</option>
  <option value="07:30 AM">07:30 AM</option>
  <option value="08:00 AM">08:00 AM</option>
  <option value="08:30 AM">08:30 AM</option>
  <option value="09:00 AM">09:00 AM</option>
  <option value="09:30 AM">09:30 AM</option>
  <option value="10:00 AM">10:00 AM</option>
  <option value="10:30 AM">10:30 AM</option>
  <option value="11:00 AM">11:00 AM</option>
  <option value="11:30 AM">11:30 AM</option>
  <option value="12:00 PM">12:00 PM</option>
  <option value="12:30 PM">12:30 PM</option>
  <option value="01:00 PM">01:00 PM</option>
  <option value="01:30 PM">01:30 PM</option>
  <option value="02:00 PM">02:00 PM</option>
  <option value="02:30 PM">02:30 PM</option>
  <option value="03:00 PM">03:00 PM</option>
  <option value="03:30 PM">03:30 PM</option>
  <option value="04:00 PM">04:00 PM</option>
  <option value="04:30 PM">04:30 PM</option>
  <option value="05:00 PM">05:00 PM</option>
  <option value="05:30 PM">05:30 PM</option>
  <option value="06:00 PM">06:00 PM</option>
  <option value="06:30 PM">06:30 PM</option>
  <option value="07:00 PM">07:00 PM</option>
  <option value="07:30 PM">07:30 PM</option>
  <option value="08:00 PM">08:00 PM</option>
  <option value="08:30 PM">08:30 PM</option>
  <option value="09:00 PM">09:00 PM</option>
  <option value="09:30 PM">09:30 PM</option>
  <option value="10:00 PM">10:00 PM</option>
  <option value="10:30 PM">10:30 PM</option>
  <option value="11:00 PM">11:00 PM</option>
  <option value="11:30 PM">11:30 PM</option>
  <option value="12:00 AM">12:00 AM</option>
  <option value="12:30 AM">12:30 AM</option>
  <option value="01:00 AM">01:00 AM</option>
  <option value="01:30 AM">01:30 AM</option>
  <option value="02:00 AM">02:00 AM</option>
  <option value="02:30 AM">02:30 AM</option>
  <option value="03:00 AM">03:00 AM</option>
  <option value="03:30 AM">03:30 AM</option>
  <option value="04:00 AM">04:00 AM</option>
  <option value="04:30 AM">04:30 AM</option></select></li>
  <li class="string optional" id="event_venue_input"><label for="event_venue">Venue</label><input id="event_venue" maxlength="255" name="event[venue]" size="25" type="text"></li>
  <li class="string optional" id="event_address_input"><label for="event_address">Address</label><input id="event_address" maxlength="255" name="event[address]" size="25" type="text"></li>
  <li class="string optional" id="event_tag_list_input"><label for="event_tag_list">Tag list</label><input id="event_tag_list" name="event[tag_list]" size="25" type="text"></li>
  </ol></fieldset><fieldset>
    <ol>
      <li class="check_boxes">
        <label for="event_pledge">I pledge that this is a public, face-to-face event.</label>
        <input name="event[pledge]" type="hidden" value="0"><input id="event_pledge" label="I pledge..." name="event[pledge]" type="checkbox" value="1">
      </li>
    </ol>
  </fieldset>
  <fieldset class="buttons"><ol><li class="commit"><input class="create" id="event_submit" name="commit" src="/images/buttons/post-now.png" type="image" value="Create Event"></li>
  </ol></fieldset></form>

</div>