
<div id="zones" class="nav">
  <a href="#/posts" class="posts">{{#t}}posts{{/t}}<div id="border_hack"></div></a>

  <a href="#/events" class="events">{{#t}}events{{/t}}<div id="border_hack"></div></a>

  <a href="#/announcements" class="announcements">{{#t}}announcements{{/t}}<div id="border_hack"></div></a>

  <a href="#/group_posts" class="group_posts">{{#t}}group_posts{{/t}}<div id="border_hack"></div></a>
  <a href="#/users" class="users">{{#t}}directory{{/t}}<div id="border_hack"></div></a>

</div>
