 <hr class="staple">

  <h1>Please Confirm your Neighborhood Post</h1>
    <div id="main">
      <div id="whats-happening">
        <div id="syndicate">
          <ul class="items posts">
            <li class="item">
              <div class="post" id="post-{{id}}-item">
                <img src="{{avatar_url}}" class="avatar">
                <div class="published">0 minutes ago</div>
                <div class="reply-count">0 replies</div>
                <a class="title">{{title}}</a>
                <div class="author">{{author}}</div>
                <div class="body">{{{body}}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <input type="checkbox" name="commercial" id="commercial">
  <label for="commercial">
  	Is this publicity for a business, product, service or organization?
  </label>
  <img src="/images/buttons/post-now.png" class="submit" />
