<h2>{{#t}}h2{{/t}}</h2>

  <div class="wrap">

  {{> say_something_nav }}

  <form  action="posts" class="formtastic post"  id="new_post" method="post">

    <div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="{{auth_token}}"></div>

<fieldset class="inputs">
<ol>

<li class="string required" id="post_subject_input">

              <input id="post_subject" maxlength="255" name="title" size="25" type="text" placeholder = "Post Title">

          </li>

          <li class="text required" id="post_body_input">

      <textarea id="post_body" name="body" rows="5" placeholder = "Your Message" ></textarea>
      <br>
      <p style="margin-top:5px; margin-bottom:5px;"> Is this publicity relating to a business, organization, or event?</p>
      <input style="margin-left: 5px" type="radio" name="commercial" id="commercialyes" value = "Yes" onChange="if(document.getElementById('hidden_text').style.display == 'none'){ document.getElementById('hidden_text').style.display = 'block'; }else{ document.getElementById('hidden_text').style.display = 'none'; }"> Yes
       <input type="radio" name="commercial" id="commercialno" value = "No" onChange="if(document.getElementById('hidden_text').style.display == 'block'){ document.getElementById('hidden_text').style.display = 'none'; }else{ document.getElementById('hidden_text').style.display = 'none'; }"> No
      <div ID="hidden_text" style="display:none; margin-top:5px; margin-bottom:5px;">Your post is more appropriate as an announcement. We are moving it for you.</div>
    </li>
  </ol>
</fieldset>

<fieldset class="buttons">

  <ol>

    <li class="commit">
      <input class="wymupdate create" id="post_submit" name="commit" src="/images/buttons/post-now2.png" type="image" value="Create Post">
    </li>

  </ol>

</fieldset>

</form>
</div>
