
<div class="welcome-to"></div>

<div class="community-name">{{community_name}}</div>

<div class="thanks">Thanks for signing up, {{first_name}}!</div>

<h3>You can use CommonPlace to:</h3>

<ul>
  <li>{{#t}}use1{{/t}}</li>
  <li>{{#t}}use2{{/t}}</li>
  <li>{{#t}}use3{{/t}}</li>
</ul>

<a class="wire-tour"></a>
<br>
<a class="end-tour">No thanks, skip this step.</a>
