
<div class="welcome-to"></div>

<div class="community-name">{{community_name}}</div>

<div class="thanks">Thanks for signing up, {{first_name}}!</div>

<h3>You can use CommonPlace to:</h3>

<ul>
  <li>Share needs, announcements and events with the town</li>
  <li>Meet your neighbors and find great local organizations</li>
  <li>Discover ways to get involved in the community</li>
</ul>

<a class="wire-tour"></a>
<br>
<a class="end-tour">No thanks, skip this step.</a>
