
{{> index_nav}}

<div id="syndicate">
  <h3><a href="/posts">Recent Neighborhood Posts</a></h3>
  <ul class="items posts"></ul>

  <h3><a href="/events">Upcoming Events</a></h3>
  <ul class="items events"></ul>

  <h3><a href="/announcements">Recent Community Announcements</a></h3>
  <ul class="items announcements"></ul>

  <h3><a href="/group_posts">Recent Discussion Group Posts</a></h3>
  <ul class="items group_posts"></ul>
</div>