%h2 CSV Data Exports
%ul
  - @communities.each do |community|
    %li <a href='/admin/#{community.slug}/export_csv'>#{community.name}</a>

%h3 Download Summaries
%ul
  %li <a href="/admin/network_health_stats/weekly">Weekly Health Stats</a>
  %li <a href="/admin/network_health_stats/monthly">Monthly Health Stats</a>
-# %a{:href => '/admin/generate_csvs'} Regenerate

