%h1 The requested statistical generation has been initiated

%h1 Full Statistics

%form{action: "/admin/request_stats/full", method: "post"}
  %input{type: "submit", name: "request_full_stats", value: "Request"}
