%li.organization{"data-info" => render("organizations/organization_info_box", :organization => organization), 'data-marker' => '{"info_html": "-71!!!", "lat": 40, "lng": -71}'}
  /= image_tag organization.avatar.url, :width => 60, :height => 60
  %p #{organization.name}