- item_tag(organization) do
  - link_to organization, :class => 'item_body', 'data-remote' => true do
    .author
      = image_tag organization.avatar.url, :size => "50x50"
    %h3
      = organization.name
    %p
      = truncate organization.about, :length => 160
