
- item_tag(organization) do

  - link_to organization, 'data-remote' => true, :class => "item_body" do
    = image_tag organization.avatar.url, :width => 20, :height => 20, :class => 'graphix'
    = organization.name