- render :layout => 'shared/modal' do

  %hr.staple
    
  %h1 Fill out your #{@organization.category}'s information
  %p.hint Feel free to add to or edit any information listed here.
  = render 'form'