#list
  %h3 Results
  %ul#wire
    - @results.each do |organization|
      %li.styled_box
        - link_to url_for(organization), 'data-remote' => true, :class => "item_body" do
          = image_tag organization.avatar_url(:thumb), :width => 20, :height => 20, :class => 'graphix'
          = organization.name

#info