<a data-tab="showAnnouncements"
  href="#announcements"
  class="{{#classIfCurrent}}showAnnouncements{{/classIfCurrent}}">Announcements
</a>

<a data-tab="showEvents"
  href="#events"
  class="{{#classIfCurrent}}showEvents{{/classIfCurrent}}">Events
</a>

<a data-tab="showSubscribers"
  href="#subscribers"
  class="{{#classIfCurrent}}showSubscribers{{/classIfCurrent}}">Subscribers
</a>
