
<div class="feed-announcements tab {{#classIfCurrent}}showAnnouncements{{/classIfCurrent}}">
  <h1>Announcements from {{feedName}}</h1>

  <div class="wire">
  </div>
</div>

<div class="feed-events tab {{#classIfCurrent}}showEvents{{/classIfCurrent}}">
  <h1>Events from {{feedName}}</h1>

  <div class="wire">
  </div>
</div>

<div class="feed-subscribers tab {{#classIfCurrent}}showSubscribers{{/classIfCurrent}}">
  <h1>Subscribers to {{feedName}}</h1>

  <div class="wire">
  </div>
</div>
