<h1>Organization Information</h1>

<img src="{{avatarSrc}}" class="avatar" width="200" height="200">

<dl class="contact-info">
  {{#address}}
  <dt>ADDRESS</dt>
  <dd>{{address}}</dd>
  {{/address}}
  {{#phone}}
  <dt>PHONE</dt>
  <dd>{{phone}}</dd>
  {{/phone}}
  {{#website}}
  <dt>WEBSITE</dt>
  <dd><a href="{{websiteURL}}" target="_blank">{{website}}</a></dd>
  {{/website}}
</dl>

<a class="send-message button" href="#">Send Us a Message</a>
{{#isOwner}}<div class="feed-owners button"><a href="#">Add Feed Owners</a></div>{{/isOwner}}

<div style="clear: left"></div>
