<div id="feed-admin-bar"></div>
<div id="feed-header"></div>
<div id="left-column">
  <div id="feed-profile"></div>
  <div id="feed-nav"></div>
</div>

<div id="center-column">
  {{#isOwner}}
    <div id="feed-actions"></div>
  {{/isOwner}}
  <div id="feed-about"></div>
  <div id="feed-subresources"></div>
</div>
