
<% content_for :greeting do %>
  <div style="margin-bottom:10px;">Hi <name>,</div>    
  <% link_to url(user_path(@reply.user)) do %>
    <font color="#b53f3c">
      <%= @reply.user.full_name %>
    </font>
  <% end %>

  just posted a new reply to an event: 
  <% link_to url(event_path(@event)) do %>
    <font color="#b53f3c">
      <em><%= @event.name %></em>
    </font>
  <% end %>

<% end %>

<% content_for :subject, @event.name %>

<% content_for :body, markdown(@reply.body) %>

<% content_for :avatar, 
   image_tag(url(@reply.user.avatar.url(:thumb)), :width => 49, :height => 48, :vspace => 0, :border => 0, :align => "top") %>

<% content_for :reply_with do %>
  <div style="font-family:Arial, Helvetica, sans-serif;color:#4a7eb0;font-size:11px;font-weight:bold;background-color:#b53f3c;padding:5px 8px;display:inline-block;border:1px solid #923532;text-align:center;text-transform:none!important;margin-top:10px;">
    <% link_to url(event_path(@event)), :style => "text-decoration:none;" do %>
      <font color="#FFEEEE">
        Reply to <%= @reply.user.first_name %>
      </font>
    <% end %>
  </div>
  <div style="margin-top:10px;">
    <span style="font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#888888;">
      <% link_to url(new_user_message_path(@reply.user)) do %>
        <font color="#b53f3c">
          Send <%= @reply.user.first_name %> a private message
        </font>
      <% end %>
    </span>
  </div>
<% end %>
  
