
<% content_for :greeting do %>
  <div style="margin-bottom:10px;">Hi <%= @user.first_name %>,</div>
<% end %>

<% content_for :subject do %>
  The neighborhood post that you recently emailed in to <%= @community.slug %> was successfully posted. You can view it at <%= link_to @post %>.

<% end %>

<% content_for :signature do %>
  Thanks for being a great neighbor,
<% end %>

<% content_for :byline do %>
  <%= @community.slug %> CommonPlace
<% end %>

