
<% content_for :greeting do %>
  <div style="margin-bottom:10px;">Howdy Neighbor,</div>
  We could not verify you as a CommonPlace user, thus could not post your e-mail. If you have not used CommonPlace, please feel free to sign up, or make sure you are using the e-mail address you signed up with.
<% end %>
