
<% content_for :greeting do %>
  <div style="margin-bottom:10px;">Hi. You just posted to your neighborhood board on CommonPlace via e-mail!. This post will remain unpublished for 10 minutes.</div>
<% end %>

<% content_for :subject, @post.subject %>

<% content_for :body, markdown(@post.body) %>

<% content_for :avatar, 
   image_tag(root_url(:subdomain => @community.slug) + @post.user.avatar_url(:thumb), :width => 49, :height => 48, :vspace => 0, :border => 0, :align => "top") 
%>

