
<% content_for :greeting do %>
  <div style="margin-bottom:10px;">Hi <name>,</div>
  <% link_to user_url(@user, :subdomain => @user.community.slug) do %>
    <font color="#b53f3c"><%= @user.full_name %></font>
  <% end %>
  . You have some unpublished posts on CommonPlace. These posts will be published within 10 minutes unless you specify otherwise.
<% end %>

<% @posts.each do |post| %>

  <% content_for :subject, post.subject %>

  <% content_for :body, markdown(post.body) %>

<% end %>

