<div class="form-container modal-border pie-element">
  <h1>Delete Your Account?</h1>
  <span class="divider"></span>
  <p>If you delete your account everything will be removed, including your posts and replies. If you're absolutely sure you want to remove your account, press the following button.</p>
  <div class="controls wide">
    <button class="delete pie-element">Fully remove my account</button>
    <a class="cancel" href="#">Cancel</a>
    <div class="spinner"><img src='/assets/loading-post.gif' /></div>
  </div>
</div>
<div class="close">x</div>