<p>If you delete your account everything will be removed, including your posts and replies. If you're absolutely sure you want to remove your account, press the following button.</p>

<div class="controls">
  <button class="delete">Fully remove my account from CommonPlace</button>
</div>
