<div id="group-header"></div>
<div id="left-column">
  <div id="group-profile"></div>
  <div id="group-nav"></div>
</div>

<div id="center-column">
  <div id="new-post"></div>
  <div id="group-subresources"></div>
</div>
