@mixin sans
  font-family: Helvetica, Arial, Verdana, sans-serif

@mixin serif
  font-family: Georgia, Times, serif

@mixin museo
  font-family: 'MuseoSlab500', Georgia, Times, serif  
  
@mixin headline_font
  font-family: 'Rockwell', 'AdelleBasicBold', Georgia, Times, serif
  word-spacing: 2px