
- content_for :syndicate_navigation do
  - link_to new_post_path, 'data-remote' => true, :id => "create-entity", :class => 'tooltip', 'data-title' => 'Write a new post to your neighbors.' do 
    %span
      = image_tag 'pin-icon.png'
      %span POST TO YOUR NEIGHBORS