#syndicate
  - link_to_add(new_post_path, 'data-remote' => true) do
    = "&#x271a;"
    %span.add_text= "Post to your neighbors".upcase
  #list
    = render 'list'

#info
  - if !current_user_session
    #registration
      %h2 Register:
      = render 'accounts/form', :user => User.new
    
