= link_to_add("&#x271a; Post to your neighbors".upcase, new_post_path, 'data-remote' => true)

#list
  = render 'list'

#info
  - if !current_user_session
    #registration
      %h2 Register:
      = render 'accounts/form', :user => User.new
  - else
    = render 'right'
    
