
#community-resources
  .navigation
    height: auto
    width: 490px

    a.tab-button
      position: relative
      text-decoration: none
      display: block
      float: left
      color: #fff
      text-align: center
      padding: 5px 0 7px
      line-height: 1.2em
      padding: 6px 2px 6px 3px
      font-weight: bold
      font-family: Helvetica, Arial, sans-serif
      +text-shadow(black 1px 1px 0)
      font-size: 12px
      background: #ac322f
      +box-shadow(0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 #ac322f inset, 0 2px 1px rgba(255, 255, 255, 0.2) inset)
      margin-top: 7px
      +border-radius(4px 4px 0 0)
    
      &:first-child
        margin-left: 0
        +border-radius(4px 4px 0 0)
      
      &.posts
        width: 111px

      &.events
        width: 90px
        padding-top: 13px
        padding-bottom: 13px
        
      &.events.current, &.events:hover
        padding: 15px 3px 15px 2px

      &.announcements
        width: 113px

      &.groupPosts
        width: 83px
        
      &.allPosts
        width: 88px
        height: 15px
        padding: 13px 0 12px 0
        
      &.allPosts.current, &.allPosts:hover
        padding: 15px 0 14px 0

      &.users
        width: 73px
        height: 15px
        padding: 13px 0 12px 0
        +border-radius(4px 4px 0 0)
      
      &.users.current, &.users:hover
        padding: 15px 0 14px 0

      &.current, &:hover
        color: #172739
        +text-shadow(#d7d7d7 1px 1px 0)
        background-color: #f3f3f3
        +box-shadow(0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 2px 1px rgba(255, 255, 255, 0.2) inset)
        z-index: 20
        +border-radius(4px 4px 0 0)
        margin-top: 3px
        text-shadow: none
        padding-bottom: 8px
        padding-top: 8px
      
        
    .nav-under
      clear: both
      height: 1px
      top: -1px
      position: relative
      background-color: #bebebe
      z-index: 10
      margin-bottom: -1px

.oldIE
  #community-resources
    .navigation
      a.tab-button
        &:first-child
          border-left: 0
        border-left: 1px solid #8D3330

        &.events
          width: 88px
        &.announcements
          width: 112px
        &.groupPosts
          width: 82px
        &.users
          width: 72px
        &:hover, &.current
          border-left-width: 0
          padding-left: 4px
          &.events
            padding-left: 3px
          &.users
            padding-left: 0px
          &:first-child
            padding-left: 0