@import "mail_base" ; 

#header table { 
    border-bottom: 1px solid #d0d0d0 ; 
    td { padding-bottom: 10px ; } 
}


h3 { font-family: $serifs ; color: #3b6085 ; font-size: 26px ; margin: 20px 0px 5px ; }

p.subhead { margin-top: 0px ; }

hr.post { border: 1px solid #b6085 ; } 

table.post { 
    width: 610px ; 
    margin-bottom: 40px ;
    td { vertical-align: top ; }
    .avatar { width: 60px ; }
    .title { 
        font-size: 20px ;
        a { @include colored-a(#252525) ; }
    }
    .posted-at { text-align: right ; color: #3b6085 ; }
    .author { color: #af142f ; font-family: $serifs}
    .body {
        padding-bottom: 10px ;
        p { color: #656565 ; font-size: 16px ; font-family: $body-serifs ; line-height: 1.4 ; }
    }

    .replies { 
        hr.reply { border-top: 1px solid #d0d0d0 ; border-bottom: 0px ; }
        .reply {
            width: 100% ;
            border-spacing: 0px 5px ;
            .avatar { width: 35px ; }
            .author { }
            .posted-at { text-align: right ; }
            .body { line-height: 1.4 ; font-size: 16px ; padding-bottom: 5px ; font-family: $body-serifs ; }
        }
    }

    .actions { 
        .more-replies { 
            a { text-decoration: none ; }
            padding-bottom: 5px ;
        }

        text-align: right ; 
        .reply-button { 
            float: right ;
            @include red-button ; 
        }
        
    }
}

.calendar {
    width: 50px ; text-align: center ;
    .short-month { border: 1px solid #b55f58 ; border-bottom-width: 0px ; background-color: #b35750 ; color: #ecd5d4 }
    .day { border: 1px solid #cfcfcf ; border-top-width: 0px ; background-color: #f2f2f2 ; height: 30px ; line-height: 30px ; color: #666666 ; }
}


table.event .date-time { 
    vertical-align: top ; width: 60px ; 
    .time { font-size: 12px ; font-family: $serifs ; color: #3b6085 ; padding-top: 5px ; text-align: center ; }
}

table.event, table.announcement {
    width: $main-width ; 
    border-top: 1px solid #3b6085 ; 
    padding: 10px 0px; 

    .event-field { color: #b53f3c ; font-family: $serifs ; }
    
    .body p, p.body { padding-bottom: 5px ; }

    .posted-at { vertical-align: top ; text-align: right ; color: #3b6085 ; }
    .name, .name a { color: #252525 ; font-size: 20px ; text-decoration: none ; }
    .posted-by { color: #af412f ; font-family: $serifs ; }
    .reply { border-top: 1px solid #dadada ; width: 540px ; }
    .reply p { line-height: 1.2 ; margin-top: 5px ; margin-bottom: 5px ; }
    .reply p.body { margin-top: 0px ; }
    .reply .avatar { 
        vertical-align: top ; width: 35px ; 
        img { margin-top: 5px ; } 
    }
    .reply .posted-at { padding-top: 5px ; }
}

.event-reply, .announcement-reply {
    margin-left: 410px ; 
    margin-top: 10px ; 
    a { @include red-button ; font-size: 13px ; font-family: $serifs ; text-align: center ; }
}

.action-section {
    h4 { color: #3b6085 ; font-size: 18px ; font-family: $serifs ; margin-bottom: 5px ; }
    p { font-family: $body-serifs ; color: #676767 ; font-size: 14px ; line-height: 1.2 ; }
}

#footer { 
    padding-top: 40px ; 
    
    #footer-buttons {
        width: $main-width ; border-spacing: 10px ; 
        td.link { width: 155px ; background-color: #b53f3c ; text-align: center ; border: 1px solid #82312f ; padding: 5px }
        
        td a { @include colored-a(#fff) ; text-decoration: none ; font-family: $serifs ; font-size: 11px ; width: 155px ; }
    }
    
}