a:hover {
  text-decoration: underline !important;
}
h1 {
  font: 24px Helvetica, sans-serif;
  color: #A9211D;
}
h3 {
  font-size: 18px;
  margin: 18px 0 0;
}
.intro p {
  font: 13px/22px Helvetica, sans-serif;
  color: #4c4c4c;
}
.contentblock {
  padding-bottom: 20px;
  padding-left: 16px;
  padding-top: 22px;
  padding-right: 19px;
}
.month {
  width: 80px;
  text-align: center;
  color: #fffeff;
  text-transform: uppercase;
  background-color: #aa211d;
  font: 20px Helvetica, sans-serif;
  font-weight: bold;
  height: 28px;
}
.view_post_td {
  width: 79px;
}
.day {
  width: 80px;
  text-align: center;
  color: #1a1918;
  text-transform: uppercase;
  background-color: #fefffe;
  font-weight: bold;
  font-size: 50px;
}
.contentblock h4 {
  color:#444444 !important;
  font-size:16px;
  line-height:24px;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-top:0;
  margin-bottom:10px;
  padding-top:0;
  padding-bottom:0;
  font-weight:normal;
}
.contentblock h4 a {
  color:#444444;
  text-decoration:none;
}
.contentblock p { 
    color:#888888;
  font-size:13px;
  line-height:19px;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-top:0;
  margin-bottom:12px;
  padding-top:0;
  padding-bottom:0;
  font-weight:normal;
}
.contentblock p a { 
    color:#3ca7dd;
  text-decoration:none;
}
.viewpost {
  padding: 5px 12px;
    background-color: #aa2a27;
    color: #fffeff;
    text-decoration: none;
    font: 12px Helvetica;
    border-radius: 5px;
}
.avatar {
  padding-right: 10px;
  width: 50px;
  height: 50px;
}
.footershow p {
  font: 12px Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
}
.email_settings {
  color: #1b334a;
  text-align: center;
}
.email_settings a {
  color: #a9211d;
  text-decoration: none;
}
.copyright {
  color: #a2a19e;
  text-align: center;
}
.copyright a {
  color: #a2a19e;
  text-decoration: none;
}
.website a {
  font-weight: bold;
  color: #a9211d;
  text-decoration: none;
  text-align: center;
}
.section_header {
  color: #A9211D;
  font: 19px Helvetica;
  font-weight: bold;
}
.viewall {
  text-transform: uppercase;
  font: 10px Helvetica, sans-serif;
  color: #aaa79d;
  font-weight: bold;
}	


.post {
    .avatar {
        padding:0px 10px 0px 0px; width: 50px ; height: 50px ;
    }
    .author { 
      font: 13px/20px Helvetica, sans-serif;
      font-weight: bold;
      color: #1b334a;
      margin-top: 0px;
    }

    .title { 
      font: 18px/26px Helvetica, sans-serif;
      font-weight: bold;
      color: #1b334a;
      margin: 0px;	
    }
    
    .body {
        font: 13px/22px Helvetica, sans-serif;
        color: #4c4c4c;
        margin-top: -10px;
        margin-bottom: 18px;
    }

    .info { color: #a6352c ; 
            font-family: Rockwell, Georgia, Times New Roman, serif ; 
          }

    &.event {
        .avatar {
            .calendar {
                width: 50px ; text-align: center ;
                .short-month { 
                    height: 20px;
                    border: 1px solid #b55f58 ; border-bottom-width: 0px ; 
                    background-color: #a6352c ; color: #ecd5d4 ;
                }
                .day { border: 1px solid #cfcfcf ; border-top-width: 0px ; 
                       background-color: #f2f2f2 ;
                       font-size: 18px; 
                       line-height: 24px ; color: #1d443c ; 
                       font-family:  Rockwell, Georgia, Times New Roman, serif ;
                     }
            }
            
            .time { font-size: 12px ; 
                    font-family:  Rockwell, Georgia, Times New Roman, serif ;    
                    color: #1b334a ; padding-top: 5px ; 
                    text-align: center ; 
                  }
        }
    }
}

.post_content {
  padding-top: 0px;
  position: relative;
  bottom: 5px;
  padding-bottom: 6px;
}
.section_icon {
  position: relative;
  top: 9px;
}
.contentblock table {
  margin-bottom: -5px;
  margin-left: 6px;
}

.post-separator {
    margin-top: 10px ; padding-bottom: 10px ;
}

.reply-separator {
    margin-top: 10px ; 
}

.reply {
    width: 100%;
    margin: 15px 0 0px;
    .avatar { width: 30px ; padding: 0 ;}
    .author { font-family: Rockwell, Helvetica, Arial; font-size: 14px; color: #a6352c; line-height: 15px ; }
}

@media only screen and (max-device-width: 480px) {
     div[class="header"] {
          font-size: 16px !important;
     }
     table[class="table"], td[class="cell"] {
          width: 300px !important;
     }
  table[class="promotable"], td[class="promocell"] {
          width: 325px !important;
     }
  td[class="footershow"] {
          width: 300px !important;
     }
  table[class="hide"], img[class="hide"], td[class="hide"] {
          display: none !important;
     }
     img[class="divider"] {
        height: 1px !important;
   }
   td[class="logocell"] {
    padding-top: 15px !important; 
    padding-left: 15px !important;
    width: 300px !important;
   }
     img[id="screenshot"] {
          width: 325px !important;
          height: 127px !important;
     }
  img[class="galleryimage"] {
      width: 53px !important;
          height: 53px !important;
  }
  p[class="reminder"] {
    font-size: 11px !important;
  }
  h4[class="secondary"] {
    line-height: 22px !important;
    margin-bottom: 15px !important;
    font-size: 18px !important;
  }
  td.view_post_td {
    width: 179px !important;
  }
  td.viewalltd {
    width: 279px !important;
  }
  table.promotable {
    width: 540px !important;
  }
  table.table {
    width: 540px !important;
  }
  table.links {
    width: 430px !important;
  }
}
