html {
   background-color: #F5F4E8;
   -webkit-font-smoothing: antialiased;
}
                            
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1px;
    text-align: left;
    background-color: #F5F4E8;
    margin: 0px;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    padding: 0;
    border-collapse: collapse;
}

td {
    padding: 0;
}

a { text-decoration: none }
a span { color: #AD312F ; text-decoration: none}

div.p {
   margin: 0 0 8px 0;
   line-height: 20px;
   font-size: 14px;
   font-family: Helvetica, Arial, sans-serif;
}

img { border: 0 }

#page-wrapper {
    text-align: center;
    background-color: #F5F4E8;

}

#email-wrapper {
    text-align: left;
    width: 650px;
    background-color: #F5F4E8;
    margin: 0px;
}

#header {
    background-color: #1B334A;
    width: 100%;
    color: #fff;
    border-bottom: 4px solid #D1D1C6;
}

#header td { 
    vertical-align: bottom; 
    font-family: Rockwell, Helvetica, Arial, sans-serif;
    padding: 15px 20px 13px 20px;
    font-size: 20px;
}

#header td img { 
    vertical-align: bottom; 
    font-family: Rockwell, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #fff;
} 

#email-title {
    padding: 5px 0 20px 55px; 
    color:#6b7a89; 
    font-size: 20px;
    font-family: Rockwell, Helvetica, Arial, sans-serif;
}

#date {
    text-align: right; 
    padding: 5px 70px 20px 0; 
    color: #6b7a89; 
    font-size: 17px; 
    font-weight: bold;
}

#content-td {
   padding: 16px 20px;
}
#content {
    width: 100%;
}

#greeting td { padding-bottom: 13px; color: #333; }

#email-message-body { background-color: #fff; border-bottom: 1px solid #D9D8CB; }
#email-message-body-td { padding: 22px 25px 0px 25px; }

#email-author-avatar-td { vertical-align: top ; padding: 25px 0 20px 25px; width: 50px; }

#email-author-avatar-td.not-present { width: 0 ; img { display: none ; } width: 5px; }

#email-message-body div.p { font-size: 14px; line-height: 18px; margin-bottom: 10px; }

.message-title { font-family: Helvetica, Arial, sans-serif; font-size: 18px; color: #333; font-weight: bold; margin: 0px 0px 7px 0px; }
.message-body { color: #333 ; }
.message-body a { color: #333 text-decoration: none; }

#email-reply-methods-td { padding: 3px 25px 25px 25px; }

#reply-button-td { width: 90px; padding: 0px 7px 0px 0px; color: #AD312F; font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 13px; }
a.reply-now img { vertical-align: text-top; color: #AD312F; font-weight: bold; font-family: Helvetica, Arial, sans-serif; font-size: 13px; }
#reply-or-td { font-size: 13px; padding-top: 0px; font-family: Helvetica, Arial, sans-serif; }

#reminder { width: 100% ; }
#reminder td { padding-top: 20px ; }
#reminder div.p { color: #333 ; text-align: center ; font-size: 14px; margin: 0px; }

#footer { background-color: #F5F4E8; }
#footer td {width: 100%; padding: 0px; }
#footer div.p { padding: 0px ; font-size: 13px ; text-align: center ; color: #19334A ; margin: 0px; }

#footer a span { color: #AD312F; }
    
#legal-footer { background-color: #F5F4E8;  width: 100%; }
#legal-footer { 
    a, a span { text-decoration: underline ; font-weight: bold ; color: #AD312F;}
}
#legal-footer td { padding: 0px 0px 25px 0px; }

#legal-footer div.p { padding: 0 10px ; font-size: 13px ; text-align: center ; color: #AD312F ; margin: 7px 0px 0px 0px; }
#legal-footer div.p.copy { padding: 0 10px ; font-size: 13px ; text-align: center ; color: #19334A ; margin: 7px 0px 0px 0px; }

