:javascript
  $(document).ready(function() {
    $("select").dropkick({
      change: function(value) {
        $("h1.notice").hide();
        $("h2.notice").html("Please wait...");
        $("#main form").css("height", "0px");
        window.location.pathname = value;
      }
    });
    $(".dk_arrow.button.blue").click()
  });
#main
  = semantic_form_for(:user, :url => "#") do |f|
    - if flash[:notice].present?
      %h1.notice= flash[:notice]
    %h2.notice Please select your community
    %br
    %select{:name => 'start', :class => "default dk"}
      - for community in @communities
        %option{:value => community.slug}= community.name

