<div class="spacing">
  <div class="profile-main">
    <img src="{{avatarUrl}}" width="122" />
    <div class="profile-top">
      <h3>{{fullName}}</h3>
      <a href="{{editLink}}" class="gray-button edit">Edit Profile</a>
      <a href="/invite" class="gray-button icon invite">Invite</a>
    </div>
  </div>
  <ul class="profile-data">
  {{#hasAbout}}<li>
    <h4>About</h4>
    <div class="about">{{#markdown}}{{about}}{{/markdown}}</div>
  </li>{{/hasAbout}}
  {{#hasInterests}}<li>
    <h4>Interests</h4>
    <ul> {{#interests}}<li class="interest">{{.}}</li>{{/interests}} </ul>
  </li>{{/hasInterests}}
  {{#hasSkills}}<li>
    <h4>Skills</h4>
    <ul> {{#skills}}<li class="interest">{{.}}</li>{{/skills}} </ul>
  </li>{{/hasSkills}}
  {{#hasGoods}}<li>
    <h4>Goods</h4>
    <ul> {{#goods}}<li class="interest">{{.}}</li>{{/goods}} </ul>
  </li>{{/hasGoods}}
  </ul>
</div>
