<div class="spacing"> 
  <div class="profile-main">
    <h3>{{fullName}}</h3>
    <img src="{{avatarUrl}}" width="122" /> 
    <div class="profile-top"> 
      <a href="#" class="gray-button message">Send a Message</a> 
      {{^isSubscribed}}<a href="#" class="gray-button subscribe">Subscribe</a>{{/isSubscribed}} 
      {{#isSubscribed}}<a href="#" class="gray-button unsubscribe">Unsubscribe</a>{{/isSubscribed}} 
    </div> 
  </div> 
  <h4>About</h4> 
  <div class="about">{{#markdown}}{{about}}{{/markdown}}</div>
</div> 
