<div class="spacing">
  <div class="profile-main">
    <a href="{{url}}"><h3>{{fullName}}</h3></a>
    <img src="{{avatarUrl}}" width="122" />
    <div class="profile-top">
      <a href="{{url}}" class="gray-button">View Feed Page</a>
      {{^isOwner}}<a href="#" class="gray-button message">Send a Message</a>{{/isOwner}}
      {{#isOwner}}<a href="#" class="gray-button edit-feed">Edit Feed Profile</a>{{/isOwner}}
      {{^isSubscribed}}<a href="#" class="gray-button subscribe">Subscribe</a>{{/isSubscribed}}
      {{#isSubscribed}}<a href="#" class="gray-button unsubscribe">Unsubscribe</a>{{/isSubscribed}}
    </div>
  </div>
  {{#about}}
    <h4>About</h4>
    <div class="about">{{#markdown}}{{about}}{{/markdown}}</div>
  {{/about}}
</div>
