<div class="spacing"> 
  <div class="profile-main"> 
    <h3>{{fullName}}</h3> 
    <img src="{{avatarUrl}}" width="122" /> 
    <div class="profile-top"> 
      <p class="mini-description">Mini-description text or status goes here.</p> 
    </div> 
  </div> 
  <h4>About</h4> 
  <div class="about">{{#markdown}}{{about}}{{/markdown}}</div>
</div> 
