<div class="spacing">
  <div class="profile-main">
    <h3>No Search Results</h3>
  </div>
  <div class="about">No groups were found matching <strong>{{query}}</strong>.</div>
  <a href="mailto:{{email}}" class="gray-button">Message your Community Organizers</a>
</div>
