<div class="spacing">
  <div class="profile-main">
    <h3>No Search Results</h3>
  </div>
  <div class="about">No directory results were found matching <strong>{{query}}</strong>.</div>
  <a href="/invite" class="gray-button">Invite New Neighbors</a>
  <a href="/feed_registrations/new" class="gray-button">Register a New Feed</a>
</div>
