#both_columns
  #left_col
    %h3 Write a new announcement
    = render 'form', :announcement => @announcement

  #right_col
    %h3 Your announcements
    %ul#wire
      - @announcements.each do |announcement|
        = render announcement

      