= render "layouts/top_html", :title => 'CommonPlace', :stylesheets => 'application'

%body
  #wrap
    #top
    = render 'shared/header'
    #main
      #both_columns
        = yield(:content) or yield

  = render :partial => "layouts/bottom_html"
        