= render 'layouts/top_html', :title => 'CommonPlace', :stylesheets => ['application', 'profile']

%body
  #wrap
    #top
    = render 'shared/header'
    #main
      = yield(:content) or yield

  = render 'layouts/bottom_html'
        