
- inside_layout 'application' do

  #actions
    #new 
      = link_to "Post to your neighbors", new_post_path, 'data-remote' => true
    = render 'shared/search'
  = render 'shared/filters'
  = yield