!!! 5
%html{}
  %head
    = render :partial => 'layouts/common_head', :locals => { :javascripts => ["registration_page"], :stylesheets => ["registration_page"] }

  %body

    = render 'layouts/registration_header'

    #main
      = yield



  = render "layouts/footer"
