- semantic_form_for user, :url => account_path, :html => {:class => "new_entity"} do |f|
  = f.inputs :first_name, :last_name, :email, :password, :password_confirmation, :address, :privacy_policy
  - f.buttons do
    = f.commit_button "Continue"