#feeds_box
  #tool_tip
    %p= t ".p1"
  #feeds_wrapper
    %h2
      Subscribe to a community feed:
    #feeds_container
      -@feeds.each do |feed|
        .feed
          =image_tag(feed.avatar_url)
          .unchecked
          %h3= feed.name
          %input{:class=>"feedId", :value=> "#{feed.id}", :type=>"hidden"}
    #continue_button{:onClick=>"post_feed_ids()"}
    %br{:class=>"cleared"}