#feeds_box
  #tool_tip
    %h2 Stay in the loop!
    %p= t ".p1"
  #feeds_wrapper
    %h2
      Subscribe to some community feeds:
    - form_tag "/account/subscribe_to_feeds" do
      #feeds_container
        - @feeds.each do |feed|
          .feed
            =image_tag(feed.avatar_url)
            .unchecked
            %h3= feed.name
            %input{:class =>"feedId", :name => "feed_ids[]", :value => feed.id.to_s, :type =>"checkbox"}
      %input{:type => "image", :src => "/images/buttons/continue.png"}

    %br{:class=>"cleared"}

#fb-root
