
#main
  %h1
    =t(".h1")
  = form_for current_user, :url => update_crop_account_path, :method => :put, :html => { :class => "crop" } do |f|
    = image_tag current_user.avatar.url(:original), :id => "cropbox"


    - [:crop_x, :crop_y, :crop_w, :crop_h].each do |attribute|
      = f.hidden_field attribute, :id => attribute

    = f.submit :type => "image", :src => asset_path("buttons/continue2.png")

- if Rails.env.production?
  :javascript
    mpmetrics.track('Cropping Avatar');
