- content_for :navigation do
  = link_to "New Organization", new_management_organization_path

- semantic_form_for current_user, :url => account_path, :html => {:multipart => true} do |f|
  = f.inputs :avatar, :first_name, :last_name, :email, :skill_list, :about, :password, :password_confirmation
  = f.buttons
  
  

