#groups_box
  #tool_tip
    %h2 Invite your Neighbors!
    %p Improve CommonPlace by inviting people you know.
  #groups_wrapper
    %h2
      Subscribe to some groups:
      %ul
        %li
          #step_one Hi

    %br{:class=>"cleared"}

#fb-root
