.redbox
  padding: 15px
  background: url("shared/redesign/tan-bg.png") repeat
  background-color: $tan
  width: 610px
  margin: 0px auto
  border-radius: 5px
  box-shadow: 0px 2px 1px black
  border: 1px solid white
  height: 402px

//.registration_border
  display: inline-block
  padding: 30px
  border: 3px solid #CFCCC1
  border-radius: 5px
  box-shadow: 1px 1px 0px white, inset 1px 1px 0px white

.address_verif
  #address
    width: auto
    margin: 0px auto
  div#find_button
    margin-top: 20px
    float: right
    width: 200px !important
    text-align: center
    a.next-button
      width: 100% !important
      float: right !important
  .error
    clear: both
    font-family: $body
    font-size: 11px
    font-weight: bold
    color: $red
    text-transform: uppercase
    margin-top: 6px
    float: left
    display: none
  //h2 
    font-size: 46px
    //background: url("shared/redesign/stars-address.png") no-repeat 7px 10px
    text-align: center
    font-family: $Yellowtail
    text-shadow: 0px 2px 0px #fff
    color: $red
    margin: -10px 0px 0px 0px
    padding-bottom: 0px
  //p 
    color: $black
    font-family: $Rokkitt
    font-size: 18px
    margin: 0 0 20px 0
    line-height: 1.2em
    text-shadow: 1px 1px 0px #fff
  input.address
    -webkit-font-smoothing: antialiased
    font-size: 18px
    border: 1px solid #C9C4B4
    box-shadow: inset #DDD 0px 0px 3px 2px, rgba(255, 255, 255, 1.0) 0px 1px 1px
    font-family: $Rokkitt
    width: 382px
    padding: 8px
    margin: 0px 0px 5px 0px
  input.address::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder
    color: #555
  input.referral_metadata
    -webkit-font-smoothing: antialiased
    font-size: 18px
    border: 1px solid #C9C4B4
    box-shadow: inset #DDD 0px 0px 3px 2px, rgba(255, 255, 255, 1.0) 0px 1px 1px
    font-family: $Rokkitt
    width: 382px
    padding: 8px
    margin: 15px 0px 0px 0px
  input.referral_metadata::-webkit-input-placeholder
    color: #555
  img 
    border: 1px solid #821916
    margin-top: -5px
  p.caption
    font-size: 14px
    float: right
    margin: 5px 0 20px 0 
    font-family: $Rokkitt
    text-align: right
  input[type=button]
    -webkit-appearance: none
    background: $blue
    @include background(linear-gradient(top, $darkModerateBlue, $cp-blue))
    width: 100%
    padding: 10px 0
    letter-spacing: 1px
    font-family: $Ultra
    font-size: 20px
    border: 1px solid #151f28
    color: white
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), inset 0px 1px 0px rgba(255,255,255,.3)
    text-shadow: 1px 2px 3px rgba(0,0,0,.5)
    cursor: pointer
  select
    width: 450px
    
//.address span.divider
  //background: url("shared/redesign/divider.png") no-repeat top
  //background-size: 95%
  float: left
  width: 100%
  height: 3px
  margin: 20px auto
  background-color: #CFCCC1
  border-bottom: 1px solid #fff

#registration1 div.redbox.address div#find_button a.blue-button.next-button
  text-align: center

#dk_container_hear 
  //width: 455px
  //z-index: 10 !important
  float: left
  margin-bottom: 0px
  font-family: $heading
  a.dk_toggle 
    height: 18px !important
    margin-bottom: 15px
    font-weight: normal
    text-indent: 0px
    padding: 8px
    border: 1px solid #C9C4B4
    box-shadow: inset #DDD 0px 0px 3px 2px, rgba(255, 255, 255, 1.0) 0px 1px 1px
    width: 382px !important
    color: $black
    border-radius: 4px 0px 0px 4px
    span.dk_arrow.button.blue 
      border-radius: 0px 4px 4px 0px
      border: 1px solid #0F1E2C
      height: 13px
      padding: 12px 13px 9px 9px !important
      margin: 0px !important
      box-shadow: inset 0 1px 0px rgba(255,255,255,.25)
      right: -1px
      top: -1px
      position: absolute
      &:hover
        +linear-gradient(to top, #3e6b96, $cp-blue)
        box-shadow: inset 0 1px 0px rgba(255,255,255,.25)
      &:active
        color: rgba(255,255,255,0.4) !important
    span.dk_label 
      width: 350px
      color: #555
      font-size: 18px
      font-weight: normal
      font-family: $heading
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      display: inline-block
  .dk_options
    border-radius: 0px !important
    left: 1px
    margin-top: -2px
    width: 100%
    li
      color: #555
      &:hover
        color: $black !important
      a
        font-family: $heading !important
        border-bottom: 1px dotted #ccc !important
        line-height: 24px !important
        font-size: 18px !important
        display: block
        font-weight: normal
        padding: 8px !important
        &:hover
          background-color: #eee
          color: $red
        &:last-child
          border: 0px none
          
.dk_options_inner, .dk_touch .dk_options
  max-height: 200px !important
  
ul.ui-autocomplete
  background: white
  width: 366px
  border: 1px solid #C9C4B4
  overflow: auto
  max-height: 250px
  z-index: 9999 !important

li.ui-menu-item
  border-bottom: 1px dotted #ccc
  line-height: 44px
  font-family: $heading
  padding: 0px 8px
  font-size: 18px
  color: $black
  -webkit-font-smoothing: antialiased
  &:hover
    background-color: #eee
  &:last-child
    border: 0px none
  a
    display: block
    &:hover
      color: $red
      cursor: pointer
      
#address_verification
  color: $black
  font-family: $Rokkitt
  font-size: 18px
  margin: 15px 0px 10px 0px
  text-shadow: 1px 1px 0px #fff

#address_verification input.address_verify_radio
  width: 15px
  height: 15px
  margin-top: 15px
  margin-left: 0px
  margin-right: 5px

#suggested_address
  margin-left: 24px
  font-weight: bold
  line-height: 21px
  font-size: 18px
  
#map_canvas
  border: 1px solid #C9C4B4
  box-shadow: inset #DDD 0px 0px 3px 2px, rgba(255, 255, 255, 1.0) 0px 1px 1px
  width: 100% !important
  
a
  outline: none
  border: 0px none
