#list
  %ul#inbox
    - current_user.notifications.each do |notification|
      %li
        - link_to notification.notifiable do
          %h3= notification.notifiable.subject
          %p= notification.notifiable.body

#info
  - semantic_form_for Invite.new do |f|
    %h3 Invite someone to CommonPlace
    - f.inputs do 
      = f.input :email
    - f.buttons do
      = f.commit_button
